  <div class='image-wrapper'>
    <div class="product-images">
      {% for url in image_urls %}
      <div>
        <div class="image-imitation">
          <img src="{{ url }}"/>
        </div>
      </div>
      {% endfor %}

      {% if label_url %}
      <div>
        <div class="image-imitation">
          <embed alt="image" class="img-fluid" src="{{ label_url }}" type='application/pdf' height="500px" width="100%" />
        </div>
      </div>
      {% endif %}

    </div>

    <div class="row m-t">
      <div class="col-md-5 col-md-offset-1 m-t">
        <a href="{{ label_template_url }}" class="btn btn-primary">Download Template</a>
      </div>
      <div class="col-md-5 col-md-offset-1 m-t">
        <a href="" data-toggle="modal" data-target="#modal-mockup-images" data-backdrop="static" class="btn btn-primary">Customize</a>
      </div>
    </div>

    <div class='alert label-info-box'>
      Submitting a new label will restart the review process.
    </div>

  </div>
