  <div class='image-wrapper'>
    <div class="product-images">
      {% for url in image_urls %}
      <div>
        <div class="image-imitation">
          <img src="{{ url }}"/>
        </div>
      </div>
      {% endfor %}

      {% if label_url %}
      <div>
        <div class="image-imitation">
          <embed alt="image" class="img-fluid" src="{{ label_url }}" type='application/pdf' height="500px" width="100%" />
        </div>
      </div>
      {% endif %}

    </div>

    <a href="{{ label_template_url }}" class="btn btn-primary">Download Template</a>

    {{ form.upload.errors }}

    <div class="row" style="margin: 0;">
      <div class="col-md-2 m-t custom-file">
        <input id="upload-ajax-label" type="file" name="upload" class="custom-file-input">
        <label for="upload-ajax-label" class="custom-file-label" data-placeholder="Choose file...">
          Choose file...
        </label>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <span id="mockup-link"></span>
      </div>
    </div>

    <div class='alert label-info-box'>
      Submitting a new label will restart the review process.
    </div>

  </div>
