{% load widget_tweaks %}

<div class="ibox ">
  <div class="ibox-title">
    <h5>Comments</h5>
  </div>
  <div class="ibox-content">
    <div>
      <div class="feed-activity-list">

        {% for comment in comments %}
        <div class="feed-element">
          <div class="media-body ">
            <small class="text-muted float-right">{{ comment.created_at|date:"m.d.Y h:iA" }}</small>
            {% if comment.sets_new_status %}

            <p>{{ comment.text|safe }}</p>

            {% else %}

            <strong>{{ comment.user.get_full_name }}</strong> wrote. <br>
            <div class="well {% if comment.is_private %} bg-private{% endif %}">
              {{ comment.text|safe }}
            </div>

            {% endif %}
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
