{% load widget_tweaks %}


<div class="col-sm-3">
  <div class="form-group {% if form.status.errors %}has-error{% endif %}">
    <label class="control-label">Label Status:</label>
    {{ form.status|add_class:"form-control" }}
    {% for error in form.status.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group {% if form.sku.errors %}has-error{% endif %}">
    <label class="control-label">Label SKU:</label>
    {{ form.sku|add_class:"form-control" }}
    {% for error in form.sku.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
</div>

<div class="col-sm-3">
  <div class="form-group">
    <label class="control-label">Label Updated Date Range:</label>
    <div id="date" class="form-control">
      <i class="fa fa-calendar m-r-xs"></i>
      <span>All Time</span>
      <b class="caret pull-right" style="position:relative;right:-7px;top:8px;"></b>
    </div>
    <input type="hidden" type="text" name="date" value="{{ date_range|default:'' }}" />
  </div>
</div>
