<div class="panel panel-info label-banner">
  <div class="panel-heading label-banner">
    <h3>Label Requirements<br><small style="color: #fff;">EXTREMELY IMPORTANT, PLEASE REVIEW</small></h3>
  </div>
  <div class="panel-body">
    <p>
    Before you upload your label please read our guidelines to learn how to
    present your design and ensure it is approved.
    You can learn more about what you can include in our support portal.
   </p>
   <p><a href="https://help.dropified.com/en/articles/3824485-supplement-label-guidelines" target="_blank" role="button" class="btn btn-primary btn-md">Read Guidelines</a></p>
  </div>
</div>
