{% load widget_tweaks %}

<div class="ibox ">
  <div class="ibox-title">
    <h5>Comments</h5>
  </div>
  <div class="ibox-content">
    <div>
      <div class="feed-activity-list">

        {% for comment in comments %}
        <div class="feed-element">
          <div class="media-body ">
            <small class="text-muted float-right">{{ comment.created_at|date:"m.d.Y h:iA" }}</small>
            {% if comment.sets_new_status %}

            <p>{{ comment.text|safe }}</p>

            {% else %}

            <strong>{{ comment.user.get_full_name }}</strong> wrote. <br>
            <div class="well {% if comment.is_private %} bg-private{% endif %}">
              {{ comment.text|safe }}
            </div>

            {% endif %}
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

<div class="ibox ">
  <div class="ibox-title">
    <h5>Reply</h5>
  </div>
  <div class="ibox-content">
    <form id="comment_form" method="POST" role="form">

      {% if form.errors %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error }}</strong>
      </div>
      {% endfor %}
      {% endif %}
      <label id="private-note" class="onoffswitch">
        <input type="checkbox" name="is_private">
        &nbsp;Leave private note
      </label>
      <input type='hidden' name='action' value='comment' />
      {{ form.upload_url }}
      {{ form.image_data_url }}
      {{ form.mockup_slug }}
      {{ form.label_presets }}
      <canvas id='canvas'></canvas>
      <div class='form-group row'>
        {{ form.comment.errors }}
        {{ form.comment|add_class:"form-control" }}
      </div>
      <div class="hr-line-dashed"></div>

      <!-- No spaces between tags for :empty selector -->
      <div id="mockup-thumbnails"></div>

      <div class='form-group row label-comment-action'>
        <div class="col-sm-4">

          <div class="custom-file label-detail">
            <input type="file" accept=".pdf" class="form-control" id="single-label-upload">
          </div>

        </div>

        <div class='col-sm-4'>
          <a href=""
             data-toggle="modal"
             data-target="#modal-mockup-images"
             data-backdrop="static"
             class="btn btn-success">
            Customize Label
          </a>

          <button class='btn btn-primary'
                  type="submit"
                  data-loading-text="Please wait...">
            <i class='fa fa-reply'></i> Submit
          </button>
        </div>
        <div class='col-sm-2 col-sm-offset-2'>
          <input class='btn btn-default btn-outline'
                  type='reset' value="Discard" />
        </div>
      </div>

    </form>
  </div>
</div>
