<div id="limit-reached-modal" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ title }} Limit Reached</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <p class="m-b">
                            {% if total_allowed >= 0 %}
                            "Woohoo! 🎉. You are growing and you've hit your product limit for this month. Upgrade your plan to keep creating custom products this month"..<br>
                            {% else %}
                            Woohoo! 🎉. You are growing and you've hit your label upload limit for this month. Upgrade your plan to keep uploading labels this month.<br>
                            {% endif %}
                            Please <a href="/user/profile#plan">upgrade your plan</a> to add more.</h3>
                        </p>

                        {% if label_total_allowed >= 0 %}
                        <p class="existing-label hidden">You can cancel and edit your existing label</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-primary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/user/profile#plan">Upgrade Account Plan</a>
            </div>
        </div>
    </div>
</div>
