<div id="modal-make-payment" class="modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Order Detail</h4>
      </div>
      <div class="modal-body">
        <table class='table dataTables'>
          <thead>
            <th>Order Number</th>
            <th>Title</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Amount</th>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div>
          <br>
          <label for="pay_supplement_taxes">Pay Duties & Taxes</label>
          <input type="checkbox" name="pay_supplement_taxes" id="pay_supplement_taxes"
                 {% if user.profile.get_config.pay_supplement_taxes_duties %}checked="checked"{% endif %}>
        </div>
      </div>
      <div class="modal-footer">
        <button id="id-calculate-taxes" class="btn btn-primary"
          data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Sending">Calculate Taxes</button>
        <button id="id-make-payment-confirm" class="btn btn-primary"
          data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Sending">Make Payment</button>
      </div>
    </div>
  </div>
</div>


<script type="application/javascript">
  var storePriceFormat="{% verbatim %}${{amount}}{% endverbatim %}";
</script>

{% verbatim %}
<script id="id-make-payment-template" type="text/x-handlebars-template">
  {{#each items}}
  <tr class="supplement-item-payment">
    <td>{{ this.orderNumber }}</td>
    <td>{{ this.title }}</td>
    <td>{{ this.unitPrice }}</td>
    <td>{{ this.quantity }}</td>
    <td>{{ this.amount }}</td>
  </tr>
  {{/each}}
  <tr>
    <td colspan="4"><strong>Shipping</strong><span id="pls-shipping-weight-total"> ({{ total_weight }} lb)</span></td>
    <td class="shipping-cost">{{ currency_total_shipping_cost }}</td>
  </tr>
  <tr>
    <td colspan="4"><strong>Taxes</strong></td>
    <td id="tax-amount" data-supplement-taxes="">-</td>
  </tr>
  <tr>
    <td colspan="4"><strong>Duties</strong></td>
    <td id="duty-amount" data-supplement-duties="">-</td>
  </tr>
  <tr>
    <td colspan="4"><strong>Total</strong></td>
    <td class="total-cost" id="total-supplement-cost" data-total-cost="{{ total }}">{{ currency_total }}</td>
  </tr>
</script>

<script id="shipping-services-template" type="text/x-handlebars-template">
  {{#each shippings}}
  <div class="radio-inline shipping-service">
    <label>
      <input type="radio"
             data-service-id="{{this.service_id}}"
             name="shipping_service"
             value="{{this.service.service_code}}"
             data-shipping-cost="{{ shipping_cost }}"
             {{#unless @index}}checked{{/unless}}>
        {{this.service.service_name}} ({{this.currency_shipping_cost}})
    </label>
  </div>
  {{/each}}
</script>
{% endverbatim %}
