{% load widget_tweaks %}

<form role="form" autocomplete="off">
  <div class="row">

    <div class="col-sm-4">
      <div class="form-group">
        {{ form.order_number.errors }}
        <label class="control-label">Order ID:</label>
        {{ form.order_number|add_class:"form-control" }}
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Date Range:</label>
        <div id="date" class="form-control">
          <i class="fa fa-calendar m-r-xs"></i>
          <span>All Time</span>
          <b class="caret pull-right" style="position:relative;right:-7px;top:8px;"></b>
        </div>
        <input type="hidden" type="text" name="date" value="{{ date_range|default:'' }}" />
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        {{ form.transaction_id.errors }}
        <label class="control-label">Payment ID:</label>
        {{ form.transaction_id|add_class:"form-control" }}
      </div>
    </div>

  </div>

  <input type="submit" class="btn btn-primary" value="Filter" />
  <input type="hidden" name="csv_page" value="{{ request.GET.page }}">
  <input type="submit" class="btn btn-success" name="export" value="Export as CSV" />
  <input type="button" class="btn btn-default pls-reset-btn" value="Clear" />
</form>
