{% if is_paginated %}
<div class="text-center">
  <div class="btn-group">

    {% if page_obj.has_previous %}
    <a class="btn btn-white"
      href="{{ paging_path }}page={{ page_obj.previous_page_number }}">
      <i class="fa fa-chevron-left"></i>
    </a>
    {% endif %}

    {% for page in page_range %}
    <a
      {% if page == page_obj.number %}
         class="btn btn-white active"
      {% else %}
         class="btn btn-white"
      {% endif %}
      href="{{ paging_path }}page={{ page }}">
      {{ page }}
    </a>
    {% endfor %}


    {% if page_obj.has_next %}
    <a class="btn btn-white"
      href="{{ paging_path }}page={{ page_obj.next_page_number }}">
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}

  </div>
</div>
{% endif %}
