{% load perms_helper %}

{% with pls_admin=request.user|can:'pls_admin.use' pls_staff=request.user|can:'pls_staff.use' %}
<div class="ibox">
  <div class="ibox-content product-box" product-id="{{item.id}}" product-title="{{item.title}}">
    <div class="product-imitation pls">
      {% if item.avg_rating %}
        <a class="product-review"
          avg-rating="{{item.avg_rating}}"
          reviews="{{item.supplement_reviews}}"
          pq-rating="{{item.product_quality_rating}}"
          lq-rating="{{item.label_quality_rating}}"
          dl-rating="{{item.delivery_rating}}"
          count="{{item.count}}"
          >
          <span class='label review-label label-warning'>
            <span class="dropified-icons di-star-1">
              <span class="path1"></span>
            </span>
            <span>{{ item.avg_rating }}
            </span>
          </span>
        </a>
      {% endif %}
      <a href="{{ item.get_url }}" class="limit-reached">
        <img src="{{ item.thumbnail }}">
      </a>
    </div>
    <div class="product-desc">
      <span class="product-price">${{ item.cost_price }}</span>
      <small class="text-muted">{{ item.category }}</small>
      <a href="{{ item.get_url }}" class="product-name limit-reached">{{ item.title }}</a>
      <div class="small m-t-xs truncate">{{ item.description }}</div>
        {% if item.is_discontinued %}
          <span class='label tile-label'>Discontinued</span>
        {% elif item.on_sale %}
          <span class='label tile-label label-warning'>Sale</span>
        {% elif item.is_new %}
          <span class='label tile-label label-primary'>New</span>
        {% elif item.inventory == 0 %}
          <span class='label tile-label label-danger'>Out of Stock</span>
        {% elif item.inventory < 50 %}
          <span class='label tile-label label-warning'>Low Stock</span>
        {% endif %}
      <div class="m-t row">
        <div class="col-md-6">
          <a href="{{ item.get_url }}" class="btn btn-xs btn-outline btn-primary limit-reached"> Customize <i class="fa fa-long-arrow-right"></i> </a>
        </div>
        {% if pls_admin or request.user|supplies:item %}
          {% if item.shipstation_account == request.user.profile.warehouse_account or request.user.profile.warehouse_account is None  %}
            <div class="col-md-6 text-right">
              <a href="{% url 'pls:product_edit' item.id %}" class="btn btn-xs btn-outline btn-default"> Admin Edit <i class="fa fa-edit"></i> </a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endwith %}
