<div id="modal-supplier_profile" class="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Supplier Details</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div id="logo_div" class="col-xs-5 col-sm-3 col-md-2">
            {% if supplier.logo_url %}
              <img src="{{ supplier.logo_url }}"/>
            {% endif %}
          </div>
          <div class="col-xs-6">
            <h3>{{ supplier }}</h3>
          </div>
        </div>

        <div class="row">
          <div class="tabs-container">
            <ul class="nav nav-tabs">
              <li class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#about">About Us</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active m-t" id="about">
                <div class="panel-body" style="white-space: break-spaces;">{{ supplier.description }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
