{% load perms_helper %}

<div class="col-xs-12 col-md-3">
  <div class="ibox">
    <div class="ibox-content product-box" product-id="{{item.id}}" product-title="{{item.title}}">
      <div class="product-imitation pls">
        <a href="{{ item.get_url }}">
          <img src="{{ item.thumbnail }}">
        </a>
        <button class="btn btn-xs btn-danger delete-product-btn"><i class="fa fa-times"></i></button>
      </div>
      <div class="product-desc">
        <span class="product-price">${{ item.price }}</span>
        <small class="text-muted">{{ item.category }}</small>
        <a href="{{ item.get_url }}" class="product-name">{{ item.title }}</a>
        <div class="small m-t-xs">{{ item.description_short }}</div>
        <span class='label tile-label
            {% if item.current_label.status == "approved" %}
            label-primary
            {% elif item.current_label.status == "awaiting" %}
            label-warning
            {% elif item.current_label.status == "rejected" %}
            label-danger
            {% endif %}'>
              {% if item.current_label.status %}
              {{ item.current_label.status_string }}
              {% else %}
              Draft
              {% endif %}
        </span>
        <div class="m-t row">
          <div class="col-md-4">
            <a href="{{ item.get_url }}" class="btn btn-xs btn-outline btn-primary"> Edit <i class="fa fa-long-arrow-right"></i> </a>
          </div>
          {% if request.user|can:'supplements_basket.use' and item.current_label.status == "approved"   %}
           <div class="col-md-8 text-right">
            <a href="#" class="btn-info btn-xs btn-outline btn-primary pls-add-basket" data-product-id="{{item.id}}"> Add to Basket <i class="fa fa-shopping-basket"></i> </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
