.onboarding-container {
    font-family: 'Inter', sans-serif;
}

.onboarding-primary-btn {
    background-color: #0085FF;
    border-radius: 8px;
    padding: 12px 16px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border: none;
}

.onboarding-primary-btn:hover, .onboarding-primary-btn:focus {
    color: white;
}

.congratulation-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #585757;
    margin-bottom: 24px;
    text-align: center;
}

.congratulation-title {
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #1C1C1C;
    margin-bottom: 24px;
}

.congratulation-img {
    height: 160px;
    margin-bottom: 40px;
}

.congratulation-hr {
    width: 200px;
    border-color: #E8E8E8;
    margin-top: 16px;
    margin-bottom: 24px;
}

.congratulation-share-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0085FF;
}

.onboarding-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.onboarding-body {
    width: 100%;
}

.task {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1C1C1C;
}

.onboarding-title {
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 44px;
    color: #1C1C1C;
}

.onboarding-header img {
    margin: auto;
    display: block;
    height: 120px;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.steps span {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #969696;
}

.step {
    height: 12px;
    width: 44px;
    background: #F7F7F7;
    border-radius: 8px;
    margin-right: 8px;
}

.step.completed {
    background: #6BAA55;
}

.onboarding-hr {
    width: 100%;
    border-color: #E8E8E8;
    margin-top: 24px;
    margin-bottom: 24px;
}

.task img {
    cursor: pointer;
    margin-bottom: 12px;
    height: 120px;
}

.task .uncompleted img {
    filter: opacity(0.7);
}

/*.onboarding-body .task .uncompleted img:hover {*/
/*    filter: opacity(0.7) drop-shadow(0px 11px 15px rgba(0, 0, 0, 0.1)) drop-shadow(0px 9px 46px rgba(0, 0, 0, 0.06)) drop-shadow(0px 24px 38px rgba(0, 0, 0, 0.04));*/
/*}*/

.task .uncompleted img:active {
    filter: opacity(1);
}

#task-modal .modal-header {
    height: 50px;
    border: none;
}

#task-modal .modal-header .close {
    font-size: 25px;
    color: #585757;
    opacity: 1;
}

#task-modal .modal-body .task img {
    cursor: default;
    height: 200px;
    margin-bottom: 24px;
}

#task-modal .modal-body .task .uncompleted img {
    filter: opacity(0.7);
}

#task-modal .modal-body {
    padding: 24px;
}

#task-modal .modal-body .task p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
}

#task-modal .modal-body .task .info {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #969696;
}

.task-primary-btn {
    background-color: #0085FF;
    border-radius: 8px;
    padding: 8px 12px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border: none;
}

.task-primary-btn:hover, .task-primary-btn:focus {
    color: white;
}

.task-outline-btn {
    background-color: white;
    border-radius: 8px;
    padding: 8px 12px;
    color: #1C1C1C;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid #E8E8E8;
}

.task-outline-btn:hover, .task-outline-btn:focus {
    color: #1C1C1C;
}

.task-outline-btn:focus-visible, .task-primary-btn:focus-visible,.onboarding-primary-btn:focus-visible  {
    outline: none;
}

#task-modal .modal-body .task .task-outline-btn i {
    margin-left: 10px;
    color: #969696;
}

#task-modal .explore-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0085FF;
}

#task-modal .partners-btn-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

#task-modal .partners-btn-group .btn {
    margin-bottom: 16px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-modal .partners-btn-group .btn:last-child {
    margin-bottom: 0;
}

#task-modal .partners-btn-group .btn img {
    height: 20px;
    margin-bottom: 0;
    margin-right: 10px;
}

.onboarding-main-header {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.onboarding-main-header p.title {
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 30px;
    color: #1C1C1C;
}

.onboarding-main-header p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #585757;
}

.task-counter {
    padding: 8px 16px;
    background: #F7F7F7;
    border-radius: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #969696;
    display: flex;
    align-items: center;
}

.task-counter .completed {
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #1C1C1C;
    font-family: 'Archivo', sans-serif;
    padding-right: 5px;
}

.task-counter .divider {
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #969696;
    font-family: 'Archivo', sans-serif;
    padding-right: 5px;
}