{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Dropified{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    {% block extracss %}{% endblock %}

  </head>
  <body>
    {% block main-nav %}
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button data-target="#bs-example-navbar-collapse-6" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand">Dropified</a>
        </div>

        <div id="bs-example-navbar-collapse-6" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'django.contrib.auth.views.logout'%}?next={% url 'login' %}" id="logoutButton">Log out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" id="logoutButton">Log in</a></li>
            {% endif %}
          </ul>

        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    {% endblock %}

  <div class="container-fluid">
    {% block main-container %}{% endblock %}
  </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extrajs %}{% endblock %}

  </body>
</html>
