{% load static %}
{% load hijack_tags %}
{% load perms_helper %}
{% load url_tools %}
{% load template_helper %}
{% load compress %}
{% load cache %}

<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">

    {% if request.user.is_authenticated %}
        {% if not request.session.is_hijacked_user or request.GET.ext_login %}
        <meta name="user_id" content="{{request.user.id}}">
        {% endif %}
    {% endif %}

    <link rel="shortcut icon"  href="{% static 'favicon.png' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" >

    <title>
        {% block title %}
            {% for item in breadcrumbs %}

                {% if not forloop.first %} &middot; {% endif %}

                {% if item.url %}
                    {{item.title|truncatewords:10|safe}}
                {% else %}
                    {{item|truncatewords:10|safe}}
                {% endif %}
            {% endfor %}

            {% if breadcrumbs %} | {% endif %}

            Dropified

        {% endblock %}
    </title>

    <style name="FontAwesome">
        @font-face {
          font-family: 'FontAwesome';
          src: url('{% static "font-awesome/fonts/fontawesome-webfont.eot" %}');
          src: url('{% static "font-awesome/fonts/fontawesome-webfont.eot" %}') format('embedded-opentype'),
               url('{% static "font-awesome/fonts/fontawesome-webfont.woff2" %}') format('woff2'),
               url('{% static "font-awesome/fonts/fontawesome-webfont.woff" %}') format('woff'),
               url('{% static "font-awesome/fonts/fontawesome-webfont.ttf" %}') format('truetype'),
               url('{% static "font-awesome/fonts/fontawesome-webfont.svg" %}') format('svg');
          font-weight: normal;
          font-style: normal;
        }
    </style>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i|Roboto+Slab:400,700|Inter:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="//fast.appcues.com/widget.css" rel="stylesheet">

    {% compress css %}
    <link href="{% static 'dropified-icons/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'libs/iCheck/skins/square/blue.css' %}" rel="stylesheet">
    <link href="{% static 'libs/scrolling-tabs/jquery.scrolling-tabs.css' %}" rel="stylesheet">
    <link href="{% static 'libs/sweetalert/sweetalert.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/jquery-contextmenu/jquery.contextMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bower_components/qtip2/jquery.qtip.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-tour.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/extra.css' %}" rel="stylesheet">
    <link href="{% static 'shopified/css/side_navigation.css' %}" rel="stylesheet">
    <link href="{% static 'css/style2.css' %}" rel="stylesheet">
    {% endcompress %}

    {% block extracss %}{% endblock %}

    {% include "partial/custom_tags.html" %}

  </head>
  <body class="fixed-sidebar">
    {% for event in analytic_events %}
        {{ event.fire|safe }}
    {% endfor %}

    <div id="wrapper">
    {{ request|hijackNotification }}

    {% if tos_update and not user.is_subuser %}
        <div class="tos-update">
            Dropified has updated our Terms of Service.
            You can view them by clicking the link in the Dropified footer or by
            <a href="/pages/terms-of-service" target="_blank">clicking here</a>.

            <a href="#" type="button" class="close-btn" data-dismiss="alert">×</a>
        </div>
    {% endif %}

    {% if dropified_challenge and not user.is_subuser %}
        <div class="dropified-challenge">
            Sign up now for the FREE Dropified 60 Day Challenge.
            <a href="https://challenge.dropified.com" target="_blank" class="btn btn-white btn-xs dropified-challenge-open">Learn More</a>

            <a href="#" type="button" class="close-btn itooltip" data-placement="left" data-dismiss="alert" title="Close">×</a>
        </div>
    {% endif %}

    {% block main-nav %}
      {% include 'side_navigation.html' %}
    {% endblock %}

   <div {% block page-wrapper-div %}id="page-wrapper" class="gray-bg"{% endblock %}>
        {% block nav %}
        <div class="row border-bottom page-search-nav">
            <nav class="navbar navbar-static-top white-bg lifetime-ui" role="navigation" style="margin-bottom: 0;">
                <div class="navbar-header">
                    {% if request.user.is_authenticated %}
                        {% if request.user.profile.plan.description %}
                            <a class="pull-left btn btn-default btn-outline btn-plan old-layout-hidden" href="/user/profile#plan">
                                {% if request.user.profile.plan.badge_image %}
                                    <img style="height: 35px; margin-right: 10px;" src="{{ request.user.profile.plan.badge_image }}" alt=""
                                        {% if 'tooltip' in request.user.profile.plan.badge_image %}
                                        qtip-tooltip="<img style='width: 100%' src='{{ request.user.profile.plan.large_badge_image }}'>"

                                        qtip-my="top right"
                                        qtip-at="bottom left"
                                        {% endif %}
                                    />
                                {% endif %}
                                {{request.user.profile.plan.description}}
                            </a>
                        {% endif %}
                    {% endif %}

                    {% block search-form %}
                        {% include 'partial/search_form.html' %}
                    {% endblock search-form %}

                    <ul class="nav navbar-top-links navbar-right" style="padding: 15px 0;">
                        {% if lifetime_menus %}
                        <li class="p-r-m border-right">
                            <a href="#" id="open-applications-menu" class="neutral-color {% if open_application_menu and lifetime_menus %}active{% endif %}">
                                Applications <img src="{% static 'img/applications.svg' %}" style="margin-left:8px; margin-top: -3px;">
                            </a>
                        </li>
                        {% endif %}

                        {% if request.user|can:"switch_theme.use" and page_name == 'orders' %}
                            {% if not store_type or store_type == 'shopify' or store_type == 'woo' %}
                            <li class="m-l" style="border-color: #dbdbdb;">
                                <a href="{% url_replace 'theme' 'old' %}" style="btn btn-block btn-sm">Switch to old view</a>
                            </li>
                            {% endif %}
                        {% endif %}

                        <li class="m-l" style="border-color: #dbdbdb;">
                            <a href="{% url 'settings' %}">
                                <img src="{% static 'img/gear.svg' %}">
                            </a>
                        </li>
                        <li class="pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="line-height:18px;margin-top:2px;">
                                <i class="fa fa-user neutral-color" style="font-size:20px;margin-left:6px;"></i>
                                <span class="dropified-icons di-arrow-down" style="color: #62809D;"></span>
                            </a>
                            <ul id="accounts-menu" class="dropdown-menu pull-right">
                                <li>Account</li>
                                <li>
                                    <a href="{% url 'user_profile' %}#profile" data-href="#tab-1">
                                        <img src="{% static 'img/applications_menu/profile-settings.svg' %}">
                                        Profile Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'user_profile' %}#email" data-href="#tab-2">
                                        <img src="{% static 'img/applications_menu/email-and-password.svg' %}">
                                        E-mail & Password
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'user_profile' %}#plan" data-href="#tab-3">
                                        <img src="{% static 'img/applications_menu/plan-and-subscription.svg' %}">
                                        Plan & Subscription
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'user_profile' %}#billing" data-href="#tab-4">
                                        <img src="{% static 'img/applications_menu/billing.svg' %}">
                                        Billing
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'user_profile' %}#invoices" data-href="#tab-5">
                                        <img src="{% static 'img/applications_menu/invoices.svg' %}">
                                        Invoices
                                    </a>
                                </li>
                                {% if request.user|can:"sales_fee.use" %}
                                <li>
                                    <a href="{% url 'user_profile' %}#salesfees" data-href="#tab-salesfees">
                                        <img src="{% static 'img/applications_menu/fulfillment-fees.svg' %}">
                                        Fulfillment Fees
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'subusers' %}">
                                        <img src="{% static 'img/applications_menu/sub-users.svg' %}">
                                        Sub Users
                                    </a>
                                </li>
                                {% if user.models_user.profile.plan.support_addons %}
                                <li>
                                    <a href="{% url 'addons.list_view' %}">
                                        <img src="{% static 'img/applications_menu/addons.svg' %}">
                                        Addon Store
                                    </a>
                                </li>
                                {% endif %}
                                {% if user|can:'pls.use' or user.profile.private_label or request.session.shopify_api == 'private-label' %}
                                <li>
                                    <a href="https://plod.dropified.com/">
                                        <i class="fa fa-question-circle" style="color:#6BAA55;margin:0 10px 0 2px;"></i>
                                        Private Label Help
                                    </a>
                                </li>
                                {% if user.is_staff %}
                                <li>
                                    <a href="https://learn.dropified.com/">
                                        <i class="fa fa-question-circle" style="color:#6BAA55;margin:0 10px 0 2px;"></i>
                                        Learning Center
                                    </a>
                                </li>
                                {% endif %}
                                {% else %}
                                <li>
                                    <a href="https://learn.dropified.com/">
                                        <i class="fa fa-question-circle" style="color:#6BAA55;margin:0 10px 0 2px;"></i>
                                        Learning Center
                                    </a>
                                </li>
                                {% endif %}
                                <li class="divider" style="margin:16px 0;"></li>
                                <li>
                                    <a href="{% url 'leadgalaxy.views.logout' %}">
                                        <img src="{% static 'img/applications_menu/logout.svg' %}">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row {% if open_application_menu and lifetime_menus %}active{% endif %}" id="applications-menu">
            <h3>Applications</h3>
            <div class="tabs-container">
                <ul class="nav nav-pills">
                    {% for menu in lifetime_menus %}
                    <li class="
                        {% if application_menu not in lifetime_menu_slugs and forloop.first %}
                        active
                        {% elif application_menu == menu.slug %}
                        active
                        {% endif %}
                        ">
                        <a data-toggle="tab" href="#{{ menu.slug }}">{{ menu.title }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for menu in lifetime_menus %}
                    <div id="{{ menu.slug }}"
                         class="
                            tab-pane
                            {% if application_menu not in lifetime_menu_slugs and forloop.first %}
                            active
                            {% elif application_menu == menu.slug %}
                            active
                            {% endif %}
                        ">
                            <div class="row">
                                {% for item in menu.plan_items %}
                                <a class="col-md-4" href="{{ item.link }}" {% if item.new_tab %}target="_blank"{% endif %}>
                                        <img src="{{ item.icon }}">
                                    <div>
                                        <label>{{ item.title }}</label>
                                        <span>{{ item.description }}</span>
                                    </div>
                                </a>
                                {% if forloop.counter|divisibleby:"3" %}</div><div class="row">{% endif %}
                                {% endfor %}
                            </div>
                    </div>
                    {% endfor %}


                    <div style="width: 100%;text-align: right;display: inline-block;">
                        <a style="font-size: 16px;padding: 5px 20px 20px;display: inline-block;" href="https://www.dropified.com/dropified-apps/"  target="_blank">View All Applications</a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock nav %}

        {% block breadcrumb-area %}
        <div class="row breadcrumbs-container wrapper border-bottom white-bg">
            <div class="col-sm-12 page-heading">
                <ol class="breadcrumb" style="display: flex; justify-content: flex-start;">
                {% if breadcrumbs %}
                    {% for item in breadcrumbs %}
                        {% if item.url %}
                        <li class="{% if forloop.last%}no-text-overflow active{% endif %}"><a href="{{item.url}}">{{item.title|safe}}</a></li>
                        {% else %}
                        <li class="{% if forloop.last%}no-text-overflow active{% endif %}">{{item|safe}}</li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                    <div style="margin-left:auto;">
                        <li class="pull-right">{% block breadcrumb-right %}{% endblock %}</li>
                    </div>
                </ol>
            </div>
        </div>
        {% endblock breadcrumb-area %}

      <div class="wrapper wrapper-content">
        {% if messages %}
            {% for message in messages %}
            <div class="alert
                {% if message.tags %}
                    {% if message.tags == 'error' %}
                        alert-danger
                    {% else %}
                        alert-{{ message.tags }}
                    {% endif %}
                {% endif %}
                alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ message|safe }}
            </div>
            {% endfor %}
        {% endif %}

        {% block main-container %}{% endblock %}
      </div>
        {% block submain-container %}{% endblock %}

        <div class="footer">
            <div class="pull-right" style="margin-right:30px">
                <span class="extension-version" data-version="{{extension_release}}" data-extension-version="{{extension_release}}" style="color:#008c06" {% if extension_required %}data-required="true"{% endif %}>
                   New Extension Version Available!
                   <a class="btn btn-outline btn-xs btn-success" href="/pages/view/how-to-update-the-extension-to-the-latest-version">Update</a>
                </span>
            </div>

            <div>
                Dropified &copy; {% now "Y" %} -
                <a href="{% app_link 'pages/terms-of-service' %}" target="_blank">
                    Terms Of Service
                </a>
                -
                <a href="https://www.dropified.com/privacy-policy/" target="_blank">
                    Privacy Policy
                </a>
                -
                <a href="https://www.dropified.com/shipping-refund-policy/" target="_blank">
                    Shipping &amp; Refund Policy
                </a>
                <img src="//cdn.dropified.com/static/visa-mastercard-logo.png" alt="VISA & MasterCard" style="margin-left:10px;height:20px;">
            </div>
        </div>
    </div>

  </div>

{% block modal-board-add %}
<div id="modal-board-add" class="modal fade" aria-hidden="true" store-type="{{ store_type|default:'shopify' }}">
    <div class="modal-dialog modal-sm" style="width: 350px;">
        <div class="modal-content">
            <form id="new-board-add-form" role="form">
                <div class="m-t-none modal-header no-border-bottom">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="padding-left: 20px;padding-right: 20px;">
                    <div class="text-center">
                        <img src="{% static 'img/file.png' %}" style="margin: 0 auto;">
                        <h4 class="modal-title">Add New Board</h4>
                        <p style="padding-top: 5px;">Organize your products with Boards</p>
                    </div>
                    <br>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-sm-12">
                            <div class="form-group m-b-none">
                                <label for="">Board Title</label>
                                <input type="text" name="title" placeholder="New Board Name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-border-top">
                    <button type="submit" class="btn btn-primary" style="width: 100%;"><i class="fa fa-plus"></i> Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock modal-board-add %}
<div class="main-ordering-div" style="display: none;">
    <div class="bulk-ordering-app order-content-list-iframe">
        <div class="bulk-order-header">
            <h2>Quick Order</h2>
            <button id="bulk-order-close">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 0.757943C10.925 0.432943 10.4 0.432943 10.075 0.757943L5.99998 4.82461L1.92498 0.749609C1.59998 0.424609 1.07498 0.424609 0.749976 0.749609C0.424976 1.07461 0.424976 1.59961 0.749976 1.92461L4.82498 5.99961L0.749976 10.0746C0.424976 10.3996 0.424976 10.9246 0.749976 11.2496C1.07498 11.5746 1.59998 11.5746 1.92498 11.2496L5.99998 7.17461L10.075 11.2496C10.4 11.5746 10.925 11.5746 11.25 11.2496C11.575 10.9246 11.575 10.3996 11.25 10.0746L7.17497 5.99961L11.25 1.92461C11.5666 1.60794 11.5666 1.07461 11.25 0.757943Z" fill="#969696"/> </svg>
            </button>
        </div>
        <hr>
        <iframe
            id="orders-aliexpress-frm"
            src="{% app_setting 'DROPIFIED_ORDERS_URL' %}/?token={{ user.get_jwt_access_token }}"
            style=" width:100%; padding: 0; margin: 0; border: 0px solid #655858cc;">
        </iframe>
    </div>
</div> <!-- /order-content-list-iframe -->

{% if '/orders' in request.path  %}
<!-- Bulk Order Place holder div-->
<div id="bulk-ordering-app-launcher">
    <div class="bulk-ordering-app-launcher-icon">
        <div class="quick-order-div-launcher">
            <div class="launcher-container">
                <div class="cart-items-icon">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                </div>
                <div class="quick-pending-orders">
                   <span>Quick Queue</span>
                </div>
                <div class="quick-view-orders">
                    <span id="pending-orders-count">
                    0
                </span>
                <span id="pending-orders-text">
                    Order(s) | <i class="fa fa-caret-down" aria-hidden="true"></i>
                </span></div>
            </div>
        </div>

    </div>
</div>
<!-- END -->
{% endif %}
    {# Mainly scripts #}

    <script type="text/javascript">
        window.app_base_link = '{% app_link %}';
        window.app_base_api = '{% app_link "api" %}';
    </script>


    {% compress js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/raven-js/dist/raven.min.js' %}"></script>
    {% endcompress %}

    {% block extrajs-before %}{% endblock %}

    {% compress js %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.unveil.js' %}"></script>

    <script src="{% static 'libs/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'libs/jquery-contextmenu/jquery.contextMenu.min.js' %}"></script>
    <script src="{% static 'libs/jquery-contextmenu/jquery.ui.position.min.js' %}"></script>
    <script src="{% static 'libs/scrolling-tabs/jquery.scrolling-tabs.js' %}"></script>

    <script src="{% static 'libs/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'libs/jquery-autocomplete/jquery.autocomplete.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/qtip2/jquery.qtip.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-tour.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/js-cookie/src/js.cookie.js' %}"></script>
    <script src="{% static 'libs/bower_components/bluebird/js/browser/bluebird.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}?v=6"></script>
    {% endcompress %}

    {% block extrajs %}{% endblock %}

    {% if tos_accept %}
        {% include 'partial/accept_tos.html' %}
    {% endif %}

    {% if stores_limit_reached %}
        {% include 'partial/stores_limit_reached.html' %}
    {% endif %}

    {% if subusers_limit_reached %}
        {% include 'partial/subusers_limit_reached.html' %}
    {% endif %}

    {% include "partial/hubspot_loader.html" %}

  </body>
</html>
