{% extends base_template %}
{% load static %}

{% block nav %}
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-center">
                    <img id="dashboard-logo" src="{% static 'dropified-logo.png' %}" alt="dashboard-logo" />
                </p>
                <h4 id="dashboard-welcome-message" class="text-center">
                    {% if user.first_name %}
                        Welcome back to Dropified {{ user.first_name }}!
                    {% else %}
                        Welcome back to Dropified!
                    {% endif %}
                </h4>
            </div>
            <div class="col-md-3">
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="{% url 'leadgalaxy.views.logout' %}">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock nav %}

{% block welcome-area %}
    {% if user.profile.on_trial %}
        <div id="trial_days_left" class="row wrapper border-bottom white-bg">
            <p></p>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>
                            You are on the Dropified {{ user.profile.plan }}.
                            {% if user.profile.plan.dashboard_description %}
                                <br />{{ user.profile.plan.dashboard_description }}
                            {% endif %}
                        </strong>
                    </p>
                    <h2 class="text-center">
                        <strong>
                            You are currently on trial.
                        </strong>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4 class="text-center dropified-green">
                        ({{ user.profile.trial_days_left }} Days Remaining)
                    </h4>
                </div>
                <div class="col-md-3">
                    <div class="text-right">
                        <button type="button" class="big-btn btn btn-primary m-b">
                            CLOSE&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock welcome-area %}

{% block breadcrumb-area %}
{% endblock breadcrumb-area %}

{% block main-container %}
    {% for user_goal in user_goals %}
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox-tools">
                            <a class="close-link">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x close-circle-gray"></i>
                                    <i class="fa fa-times fa-stack-1x"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            <strong>
                                Goal {{ forloop.counter }}: {{ user_goal.goal.title }}
                            </strong>
                        </h3>
                        <small>
                            {{ user_goal.goal.description }}
                        </small>
                        <br />
                        <small class="dropified-green">
                            Tip: {{ user_goal.goal.tip }}
                        </small>
                    </div>
                    <div class="col-md-6 text-right">
                        <span class="simple_tag">
                            <h3>
                                <span>
                                    {% for step in user_goal.goal.steps.all %}
                                        {% if step in user_goal.user.completed_steps.all %}
                                            <i class="fa fa-circle dropified-green {{ step.slug }}-circle"></i>
                                        {% else %}
                                            <i class="fa fa-circle disabled-gray {{ step.slug }}-circle"></i>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <span class="dropified-green">
                                    <strong>
                                        <span class="total-steps-completed">{{ user_goal.total_steps_completed }}</span>/{{ user_goal.goal.steps.count }} completed
                                    </strong>
                                </span>
                            </h3>
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    {% for step in user_goal.goal.steps.all %}
                        <div class="col-md-4">
                            <div class="ibox">
                                <div class="ibox-content product-box">
                                    <div class="product-desc">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <small class="text-muted">
                                                    Step {{ forloop.counter }}
                                                </small>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <i class="fa fa-circle {% if step in user_goal.user.completed_steps.all %}dropified-green{% else %}disabled-gray{% endif %} {{ step.slug }}-circle">

                                                </i>
                                            </div>
                                        </div>
                                        <a href="#" class="product-name">
                                            {{ step.title }}
                                        </a>
                                        <div class="small m-t-xs step-description">
                                            {{ step.description }}
                                        </div>
                                        <div class="m-t">
                                            <a href="{{ step.show_me_how_url }}" class="step-link">
                                                Show me how
                                            </a>
                                        </div>
                                        <div class="m-t">
                                            <a href="{{ step.action_url }}" class="btn btn-default btn-outline btn-rounded dropified-green">
                                                <img src="{{ step.icon_src }}" class="step-icon" alt="step-icon" />
                                                <span class="step-label">
                                                    {{ step.action_title }}
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row" style="padding: 0 40px;">
            <div class="col-md-6">
                <h3>
                    <strong>
                        Start Automating Your Life Back
                    </strong>
                </h3>
                <small>
                    Dropified saves time, makes running your business simple and gives you your life back.
                </small>
            </div>
            <div class="col-md-6 text-right">
                <a href="https://academy.dropified.com/training/" target="_blank" id="view-all-training" class="btn btn-primary btn-rounded">View All Training</a>
            </div>
        </div>
        <br>
        <div id="training-videos" class="row">
            {% for video in videos %}
            <div class="col-md-6 training-video">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ video.url }}"></iframe>
                    </div>
                    <h3>
                        <strong>{{ video.title }}</strong><br>
                    </h3>
                    <small>{{ video.description }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main-container %}

{% block extracss %}
    <link href="{% static 'shopified/css/dashboard.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block extrajs %}
    <script src="{% static 'shopified/js/dashboard.js' %}"></script>
{% endblock extrajs %}
