{% extends "base.html" %}

{% load static %}
{% load perms_helper %}
{% load compress %}

{% block main-container %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Shopify Stores<small></small></h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
            <table class="table table-condensed table-hover table-bordered">
              <thead>
                <tr>
                  <th style="">Title</th>
                  <th class="hidden-sm hidden-xs" style="width:55%">API URL</th>
                  <th style="width:90px">Products</th>
                  <th style="">Options</th>
                </tr>
              </thead>
              <tbody>
                    {% for item in stores %}
                    <tr store-id="{{item.id}}">
                      <td><a class="edit-store" store-id="{{item.id}}" store-url="{{item.api_url}}" store-name="{{item.title}}" href="#">{{item.title}}</a></td>
                      <td>
                        <span class="api-url" style="display:none">{{item.api_url}}</span>
                        <a href="#" class="show-api-url btn btn-default btn-outline btn-xs">Show</a>
                      </td>
                      <td>{{item.shopifyproduct_set.count}}</td>
                      <td>
                        <a class="visit-store btn btn-xs btn-success" href="{{item.get_link}}" target="_blank"> Visit Store</a>
                        <button class="delete-store btn btn-xs btn-danger" store-id="{{item.id}}" store-url="{{item.api_url}}"> Delete</button>
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="3" class="text-center">No store found.</td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>

            <a class="add-store-btn btn btn-primary" href="#">Add Store</a>
                </div>
            </div>

        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Settings<small></small></h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <form id="config-form" class="form-horizontal" role="form">
                        {% if user|can:'auto_margin.use' %}
                        <div class="form-group">
                            <label for="auto_margin" class="col-sm-2 control-label">Price Markup</label>
                            <div class="col-sm-1">
                                <input style="padding:5px 2px;text-align:center" type="text" class="form-control col-sm-2" id="auto_margin" name="auto_margin" value="{{config.auto_margin}}">
                            </div>
                            <span class="help-block ">(For example: If you set Price Markup to <b>50%</b>, a product that costs $10.00 will be set to $15.00)</span>
                        </div>
                        <div class="form-group">
                            <label for="auto_margin_cents" class="col-sm-2 control-label">Price Cents Value</label>
                            <div class="col-sm-1">
                                <input style="padding:5px 2px;text-align:center" type="text" class="form-control col-sm-2" id="auto_margin_cents" name="auto_margin_cents" value="{{config.auto_margin_cents}}">
                            </div>
                            <span class="help-block ">(For example: If you set Price Cents Value to <b>95</b>, product price will end always by .95)</span>
                        </div>
                        <div class="col-sm-offset-2"><hr /></div>


                        <div class="form-group">
                            <label for="auto_compare_at" class="col-sm-2 control-label">Compare At Price Markup</label>
                            <div class="col-sm-1">
                                <input style="padding:5px 2px;text-align:center" type="text" class="form-control col-sm-2" id="auto_compare_at" name="auto_compare_at" value="{{config.auto_compare_at}}">
                            </div>
                            <span class="help-block ">(For example: If set to <b>50%</b>, a product that costs <i>(after Auto Margin)</i> $10.00 will be compared to $15.00)</span>
                        </div>
                        <div class="form-group">
                            <label for="auto_compare_at_cents" class="col-sm-2 control-label">Compare At Price Cents Value</label>
                            <div class="col-sm-1">
                                <input style="padding:5px 2px;text-align:center" type="text" class="form-control col-sm-2" id="auto_compare_at_cents" name="auto_compare_at_cents" value="{{config.auto_compare_at_cents}}">
                            </div>
                            <span class="help-block ">(For example: If you set Compare At Price Cents Value to <b>95</b>, product compare price will end always by .95)</span>
                        </div>

                        <div class="col-sm-offset-2"><hr /></div>
                        {% endif %}

                        <div class="form-group">
                            <label for="default_weight_unit" class="col-sm-2 control-label">Default Weight Unit</label>
                            <div class="col-sm-2">
                                <select id="default_weight_unit" name="default_weight_unit" class="form-control">
                                    <option value="g" {% if config.default_weight_unit == 'g' %}selected="selected"{% endif %}>g</option>
                                    <option value="kg" {% if config.default_weight_unit == 'kg' %}selected="selected"{% endif %}>kg</option>
                                    <option value="oz" {% if config.default_weight_unit == 'oz' %}selected="selected"{% endif %}>oz</option>
                                    <option value="lb" {% if config.default_weight_unit == 'lb' %}selected="selected"{% endif %}>lb</option>
                                </select>
                            </div>
                            <span class="help-block "></span>
                        </div>
                        <div class="form-group">
                            <label for="default_weight_number" class="col-sm-2 control-label">Fixed Weight</label>
                            <div class="col-sm-2">
                                <input style="width:80px" type="text" class="form-control col-sm-2" id="default_weight_number" name="default_weight_number" value="{{config.default_weight_number}}">
                            </div>
                            <span class="help-block "></span>
                        </div>

                        <div class="col-sm-offset-2"><hr /></div>

                        <div class="form-group">
                            <label for="description_mode" class="col-sm-2 control-label">Default Product Description</label>
                            <div class="col-sm-2">
                                <select id="description_mode" name="description_mode" class="form-control">
                                    <option value="empty" {% if config.description_mode == 'empty' %}selected="selected"{% endif %}>Empty</option>
                                    <option value="original" {% if config.description_mode == 'original' %}selected="selected"{% endif %}>Original</option>
                                    <option value="simplified" {% if config.description_mode == 'simplified' %}selected="selected"{% endif %}>Simplified</option>
                                    <option value="custom" {% if config.description_mode == 'custom' %}selected="selected"{% endif %}>Custom</option>
                                </select>
                            </div>
                            <span class="help-block desc-select-help"></span>
                        </div>
                        <div id="desc-div" class="form-group" {% if config.description_mode != 'custom' %} style="display:none" {% endif %}>
                            <label for="default_desc" class="col-sm-2 control-label">Default Description</label>
                            <div class="col-sm-10">
                                <textarea name="default_desc" id="default_desc" cols="30" rows="10" class="form-control">{{config.default_desc}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="make_visisble" class="col-sm-2 control-label">Make Products Visible</label>
                            <div class="col-sm-10">
                                <input type="checkbox" class="form-control icheck" id="make_visisble" name="make_visisble"{% if config.make_visisble %}checked="checked"{% endif %}>
                            </div>
                        </div>

                        {% if user|can:'auto_order.view' %}
                        {% with can_use=user|can:'auto_order.use' %}
                        <div class="col-sm-offset-2"><hr /></div>
                        <div class="form-group">
                            <label for="order_phone_number" class="col-sm-2 control-label">Order Phone Number</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control col-sm-2" {% if can_use %}id="order_phone_number" name="order_phone_number" value="{{config.order_phone_number}}"{% endif %}>
                            </div>
                            <span class="help-block">The phone number to be used with Auto Order from Aliexpress</span>
                        </div>

                        <div class="form-group">
                            <label for="order_custom_note" class="col-sm-2 control-label">Custom Note To The Supplier</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control col-sm-2" {% if can_use %}id="order_custom_note" name="order_custom_note" value="{{config.order_custom_note}}"{% endif %}>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="form-group">
                            <label for="epacket_shipping" class="col-sm-2 control-label">Select ePacket when available</label>
                            <div class="col-sm-10">
                                <input type="checkbox" class="form-control icheck" id="epacket_shipping" name="epacket_shipping"{% if config.epacket_shipping %}checked="checked"{% endif %}>
                            </div>
                        </div>
                        {% endwith %}
                        {% endif %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button data-toggle="modal" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Add Shopify Store</h3>

                        <form role="form">
                            <div class="form-group">
                                <label>Name</label> <input type="text" id="store-name" placeholder="Enter Store Name" class="form-control"></div>
                            <div class="form-group"><label>API URL</label> <input type="text" id="store-url" placeholder="Copy/Past Example URL" class="form-control"></div>
                            <div>
                                <button id="add-store" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Add store</strong></button>
                                <button id="update-store" style="display:none" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Update store</strong></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6"><h4>Need Help?</h4>
                <p class="xwell">
                    How To Connect Your Shopify Store:
                    <ol>
                        <li>Create a "Shopify Private App"</li>
                        <li>Give a Friendly Store Name and paste the <b>Example URL</b> from your Private App.</li>
                    </ol>

                    <a href="http://www.shopifiedapp.com/start#page-block-voz06qvsbuaqbyb9" target="_blank">Watch Video Instructions</a>
                </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div id="modal-store-move" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Delete Store</h3>
                        <p>Where to move the linked products in this store?</p>

                        <label for="">Select Store:</label>
                        <select class="form-control" name="" id="move-select-store" style="display: inline-block; width: 191px; ">
                            {% for item in stores %}
                            <option value="{{item.id}}">{{item.title}}</option>
                            {% endfor %}
                        </select>

                        <button id="store-move-btn" class="btn btn-primary" style="margin-bottom: 5px; margin-left: 25px;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
{% compress js %}
    <script type="text/javascript" src="{% static 'shopified/js/index.js' %}"></script>
{% endcompress %}
{% endblock %}
