{% extends "base.html" %}

{% load static %}
{% load perms_helper %}
{% load compress %}

{% block main-container %}

    {% if intro_video %}
    <div class="ibox float-e-margins welcome-intro">
        <div class="ibox-title">
            <h5>WELCOME TO SHOPIFIED APP!</h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                <a class="welcome-intro-btn"><i class="fa fa-times"></i></a>
            </div>
        </div>

        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if user.profile.plan.slug == 'jvzoo-free-gift' or request.GET.freegif %}
                    <iframe src="https://player.vimeo.com/video/160189263" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    {% else %}
                    <iframe src="https://player.vimeo.com/video/160160753" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Shopify Stores<small></small></h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
            <table class="table table-condensed table-hover table-bordered">
              <thead>
                <tr>
                  {% if not user.is_subuser %}
                  <th style="width:15%">Title</th>
                  <th class="hidden-sm hidden-xs" style="width:40%">API URL</th>
                  {% else %}
                  <th style="width:70%">Title</th>
                  {% endif %}

                  <th style="width:200px">Products</th>
                  <th style="">Options</th>
                </tr>
              </thead>
              <tbody>
                    {% for item in stores %}
                    <tr store-id="{{item.id}}">
                    {% if not user.is_subuser %}
                      <td><a href="{% url 'product' %}?store={{item.id}}">{{item.title}}</a></td>
                      <td class="hidden-sm hidden-xs">
                        <span class="api-url" style="display:none">{{item.get_api_url}}</span>
                        <button class="show-api-url btn btn-default btn-outline btn-xs">Show</button>
                        <button store-id="{{item.id}}" class="verify-api-url btn btn-primary btn-xs"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Verifying">
                            <i class="fa fa-check-circle-o"></i> Verify
                        </button>
                      </td>
                      <td>
                        {% with connected=item.connected_count saved=item.saved_count %}
                            {% if connected or saved %}
                                {% if saved %}
                                    <a href="/product?store=n&in={{item.id}}" class="btn btn-outline btn-xs btn-default">{{saved}} Saved</a>
                                {% endif %}

                                {% if connected %}
                                    <a href="/product?store={{item.id}}" class="btn btn-outline btn-xs btn-default">{{connected}} Connected</a>
                                {% endif %}
                            {% else %}
                                <a href="#" class="btn btn-outline btn-xs btn-default">Empty</a>
                            {% endif %}
                        {% endwith %}
                      </td>
                      <td>
                        <a class="visit-store btn btn-xs btn-success" href="{{item.get_link}}/admin" target="_blank">
                            <i class="fa fa-external-link"></i> Visit Store
                        </a>

                        <button class="edit-store btn btn-xs btn-primary" store-id="{{item.id}}" store-url="{{item.get_api_url}}" store-name="{{item.title}}">
                            <i class="fa fa-edit"></i> Edit
                        </button>

                        <button class="delete-store btn btn-xs btn-danger" store-id="{{item.id}}" store-url="{{item.get_api_url}}">
                            <i class="fa fa-times"></i> Delete
                        </button>
                      </td>
                    {% else %}
                      <td><a href="{% url 'product' %}?store={{item.id}}">{{item.title}}</a></td>
                      <td>{{item.shopifyproduct_set.count}}</td>
                      <td>
                        <a class="visit-store btn btn-xs btn-success" href="{{item.get_link}}/admin" target="_blank"> Visit Store</a>
                      </td>
                    {% endif %}
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="4" class="text-center">No store found.</td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>

        {% if not user.is_subuser %}
            <a class="add-store-btn btn btn-primary" href="#" data-plan="{{user.profile.plan.title}}">Add Store</a>

            Need a new Shopify store?  <a href="http://bit.ly/sashopifyspecial" class="itooltip" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="21 day free trial with 10% off Shopify for Life">Get your Free Trial here</a>
        {% endif %}

            <a href="https://chrome.google.com/webstore/detail/shopified-app/aogkkekoinpipjlolpcicigndjlcpdcn"
               class="btn btn-default btn-outline btn-xs pull-right extension-link" target="_blank">Install Chrome Extension</a>

                </div>
            </div>

        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Settings<small></small></h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <form id="config-form" class="form-horizontal" role="form">
                        <input type="hidden" name="from" value="webapp">
                        {% if user|can:'auto_margin.use' %}
                        <div class="form-group">
                            <label for="auto_margin" class="col-sm-2 control-label">Price Markup</label>
                            <div class="col-sm-1">
                                <input style="padding:5px 2px;text-align:center" type="text" class="form-control col-sm-2" id="auto_margin" name="auto_margin" value="{% if config.auto_margin != '%' %}{{config.auto_margin}}{% endif %}">
                            </div>
                            <span class="help-block ">(For example: If you set Price Markup to <b>50%</b>, a product that costs $10.00 will be set to $15.00)</span>
                        </div>
                        <div class="form-group">
                            <label for="auto_margin_cents" class="col-sm-2 control-label">Price Cents Value</label>
                            <div class="col-sm-1">
                                <input style="padding:5px 2px;text-align:center" type="text" class="form-control col-sm-2" id="auto_margin_cents" name="auto_margin_cents" value="{{config.auto_margin_cents}}">
                            </div>
                            <span class="help-block ">(For example: If you set Price Cents Value to <b>95</b>, product price will end always by .95)</span>
                        </div>
                        <div class="col-sm-offset-2"><hr /></div>


                        <div class="form-group">
                            <label for="auto_compare_at" class="col-sm-2 control-label">Compare At Price Markup</label>
                            <div class="col-sm-1">
                                <input style="padding:5px 2px;text-align:center" type="text" class="form-control col-sm-2" id="auto_compare_at" name="auto_compare_at" value="{% if config.auto_compare_at != '%' %}{{config.auto_compare_at}}{% endif %}">
                            </div>
                            <span class="help-block ">(For example: If set to <b>50%</b>, a product that costs <i>(after Auto Margin)</i> $10.00 will be compared to $15.00)</span>
                        </div>
                        <div class="form-group">
                            <label for="auto_compare_at_cents" class="col-sm-2 control-label">Compare At Price Cents Value</label>
                            <div class="col-sm-1">
                                <input style="padding:5px 2px;text-align:center" type="text" class="form-control col-sm-2" id="auto_compare_at_cents" name="auto_compare_at_cents" value="{{config.auto_compare_at_cents}}">
                            </div>
                            <span class="help-block ">(For example: If you set Compare At Price Cents Value to <b>95</b>, product compare price will end always by .95)</span>
                        </div>

                        <div class="col-sm-offset-2"><hr /></div>
                        {% endif %}

                        <div class="form-group">
                            <label for="default_weight_unit" class="col-sm-2 control-label">Default Weight Unit</label>
                            <div class="col-sm-2">
                                <select id="default_weight_unit" name="default_weight_unit" class="form-control">
                                    <option value="g" {% if config.default_weight_unit == 'g' %}selected="selected"{% endif %}>g</option>
                                    <option value="kg" {% if config.default_weight_unit == 'kg' %}selected="selected"{% endif %}>kg</option>
                                    <option value="oz" {% if config.default_weight_unit == 'oz' %}selected="selected"{% endif %}>oz</option>
                                    <option value="lb" {% if config.default_weight_unit == 'lb' %}selected="selected"{% endif %}>lb</option>
                                </select>
                            </div>
                            <span class="help-block "></span>
                        </div>
                        <div class="form-group">
                            <label for="default_weight_number" class="col-sm-2 control-label">Fixed Weight</label>
                            <div class="col-sm-2">
                                <input style="width:80px" type="text" class="form-control col-sm-2" id="default_weight_number" name="default_weight_number" value="{{config.default_weight_number}}">
                            </div>
                            <span class="help-block "></span>
                        </div>

                        <div class="col-sm-offset-2"><hr /></div>

                        <div class="form-group">
                            <label for="description_mode" class="col-sm-2 control-label">Default Product Description</label>
                            <div class="col-sm-2">
                                <select id="description_mode" name="description_mode" class="form-control">
                                    <option value="empty" {% if config.description_mode == 'empty' %}selected="selected"{% endif %}>Empty</option>
                                    <option value="original" {% if config.description_mode == 'original' %}selected="selected"{% endif %}>Original</option>
                                    <option value="simplified" {% if config.description_mode == 'simplified' %}selected="selected"{% endif %}>Simplified</option>
                                    <option value="custom" {% if config.description_mode == 'custom' %}selected="selected"{% endif %}>Custom</option>
                                </select>
                            </div>
                            <span class="help-block desc-select-help"></span>
                        </div>
                        <div id="desc-div" class="form-group" {% if config.description_mode != 'custom' %} style="display:none" {% endif %}>
                            <label for="default_desc" class="col-sm-2 control-label">Default Description</label>
                            <div class="col-sm-10">
                                <textarea name="default_desc" id="default_desc" cols="30" rows="10" class="form-control">{{config.default_desc}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="make_visisble" class="col-sm-2 control-label">Make Products Visible</label>
                            <div class="col-sm-10">
                                <input type="checkbox" class="icheck" id="make_visisble" name="make_visisble"{% if config.make_visisble %}checked="checked"{% endif %}>
                            </div>
                        </div>

                        {% if user|can:'auto_order.view' %}
                        {% with can_use=user|can:'auto_order.use' %}
                        <div class="col-sm-offset-2"><hr /></div>
                        <div class="col-sm-offset-2">
                            <h3>1-Click Order</h3>
                        </div>

                        <div class="form-group">
                            <label for="order_phone_number" class="col-sm-2 control-label">Order Phone Number</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control col-sm-2" {% if can_use %}id="order_phone_number" name="order_phone_number" value="{{config.order_phone_number}}"{% endif %}>
                            </div>
                            <span class="help-block">The phone number to be used with Auto Order from Aliexpress</span>
                            <div id="phone-invalid" class="pull-left col-sm-offset-2 col-sm-6 has-error" style="clear:left;padding-bottom:15px;display:none">
                                <span class="help-block m-b-none">Invalid Phone number, Aliexpress allow only numbers and hyphens.</span>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">
                                <label for="" class="control-label">
                                    <input type="radio" id="order_default_phone" name="order_default_phone"
                                    value="seller" class="icheck"
                                    {% if config.order_default_phone != 'customer' %}checked="checked"{% endif %}>
                                    Override the customer’s phone number with the <b>Default Order Phone Number</b>
                                </label>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                <label for="" class="control-label" style="text-align:left">
                                    <input type="radio" id="order_default_phone" name="order_default_phone"
                                    value="customer" class="icheck"
                                    {% if config.order_default_phone == 'customer' %}checked="checked"{% endif %} >
                                    Use the Customer’s Phone Number if present. Only use the <b>Default Order Phone Number</b> if Customer Phone Number isn’t present.
                                </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="order_custom_note" class="col-sm-2 control-label">Custom Note To The Supplier</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control col-sm-2" {% if can_use %}id="order_custom_note" name="order_custom_note" value="{{config.order_custom_note}}"{% endif %}>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="form-group">
                            <label for="epacket_shipping" class="col-sm-2 control-label">Select ePacket when available</label>
                            <div class="col-sm-10">
                                <input type="checkbox" class="icheck" id="epacket_shipping" name="epacket_shipping" {% if config.epacket_shipping %}checked="checked"{% endif %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="auto_ordered_mark" class="col-sm-2 control-label">Automatically Mark as Ordered</label>
                            <div class="col-sm-10">
                                <input type="checkbox" class="icheck" id="auto_ordered_mark" name="auto_ordered_mark" {% if config.auto_ordered_mark %}checked="checked"{% endif %}>
                            </div>
                            <span class="help-block col-sm-9" style="margin-left:50px">
                                After you click on "Place Order" button, the order will be marked as Ordered and linked with Aliexpress Order ID.
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="auto_shopify_fulfill" class="col-sm-2 control-label">Automatically Fulfill (in Shopify)</label>
                            <div class="col-sm-2">
                                <select id="auto_shopify_fulfill" name="auto_shopify_fulfill" class="form-control">
                                    <option value="disable" {% if not config.auto_shopify_fulfill or config.auto_shopify_fulfill == 'disable' %}selected="selected"{% endif %}>Disable</option>
                                    <option value="hourly" {% if config.auto_shopify_fulfill == 'hourly' %}selected="selected"{% endif %}>Hourly</option>
                                    <option value="daily" {% if config.auto_shopify_fulfill == 'daily' %}selected="selected"{% endif %}>Daily</option>
                                </select>
                            </div>

                            <span class="help-block col-sm-7" style="margin-top: 0px;">
                                Tracked Orders will be fulfilled in Shopify if the Application detect a tracking number.
                            </span>
                        </div>

                        <div class="form-group shiping-confirmation">
                            <label for="send_shipping_confirmation" class="col-sm-2 control-label">Send Shipping Confirmation</label>
                            <div class="col-sm-2">
                                <select id="send_shipping_confirmation" name="send_shipping_confirmation" class="form-control">
                                    <option value="default" {% if not config.send_shipping_confirmation or config.send_shipping_confirmation == 'default' %}selected="selected"{% endif %}>Default</option>
                                    <option value="yes" {% if config.send_shipping_confirmation == 'yes' %}selected="selected"{% endif %}>Always</option>
                                    <option value="no" {% if config.send_shipping_confirmation == 'no' %}selected="selected"{% endif %}>Never</option>
                                </select>
                            </div>

                            <span class="help-block col-sm-7">
                                Select "Default" to notify the customer if all items in his order have been shipped.
                            </span>
                        </div>

                        <div class="form-group shiping-confirmation">
                            <div class="col-sm-1 col-sm-offset-2">
                                <input type="checkbox" class="icheck" id="validate_tracking_number" name="validate_tracking_number"
                                {% if config.validate_tracking_number or 'validate_tracking_number' not in config %}
                                    checked="checked"
                                {% endif %}>
                            </div>
                            <label for="validate_tracking_number" class="col-sm-4 control-label" style="text-align:left;padding-left:0;margin-left:-40px">
                                Only send confirmation if Tracking Number is valid
                            </label>
                        </div>

                        {% endwith %}
                        {% endif %}

                        {% if user|can:'aliexpress_affiliate.use' and not user.is_superuser %}
                        <div class="col-sm-offset-2"><hr /></div>

                        <div class="col-sm-offset-2">
                            <h3>Aliexpress Affiliate Program</h3>
                        </div>
                        <div class="form-group">
                            <label for="aliexpress_affiliate_key" class="col-sm-2 control-label">API Key</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control col-sm-2" id="aliexpress_affiliate_key" name="aliexpress_affiliate_key" value="{{config.aliexpress_affiliate_key}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="aliexpress_affiliate_tracking" class="col-sm-2 control-label">Tracking ID</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control col-sm-2" id="aliexpress_affiliate_tracking" name="aliexpress_affiliate_tracking" value="{{config.aliexpress_affiliate_tracking}}">
                            </div>
                        </div>

                        {% endif %}

                        {% if user|can:'aliexpress_captcha.use' %}
                        <div class="col-sm-offset-1"><hr /></div>

                        <div class="col-sm-offset-1">
                            <h3>Aliexpress Captcha</h3>
                        </div>
                        <div class="col-sm-offset-2">
                            <input id="aliexpress_captcha" name="aliexpress_captcha" type="checkbox" class="js-switch all-variants-switch" {% if config.aliexpress_captcha %}checked{% endif %} />
                            <label for="aliexpress_captcha" class="col-sm-4 control-label" style="float:initial;text-align:left">
                                Enable Auto Captcha Solving
                            </label>
                        </div>

                        <div class="col-sm-offset-1"><hr /></div>
                        {% endif %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button data-toggle="modal" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div id="modal-add-store-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Add Shopify Store</h3>

                        <form role="form">
                            <div class="form-group">
                                <label>Name</label> <input type="text" id="store-name" placeholder="Store Name (optional)" class="form-control"></div>
                            <div class="form-group"><label>API URL</label> <input type="text" id="store-url" placeholder="Copy/Past Example URL" class="form-control"></div>
                            <div>
                                <button id="add-store" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Add store</strong></button>
                                <button id="update-store" style="display:none" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Update store</strong></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6"><h4>Need Help?</h4>
                <p class="xwell">
                    How To Connect Your Shopify Store:
                    <ol>
                        <li>Create a "Shopify Private App"</li>
                        <li>Give a Friendly Store Name and paste the <b>Example URL</b> from your Private App.</li>
                    </ol>

                    <a href="http://www.shopifiedapp.com/start#page-block-voz06qvsbuaqbyb9" target="_blank">Watch Video Instructions</a>
                </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extracss %}
{% compress css %}
    <link href="{% static 'libs/bower_components/switchery/dist/switchery.min.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}

{% block extrajs %}
{% compress js %}
    <script src="{% static 'libs/bower_components/switchery/dist/switchery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shopified/js/index.js' %}"></script>
{% endcompress %}

{% if first_visit %}
<script type="text/javascript">
    $(function() {
        var tour = new Tour({
            name: 'tour-intro',
            steps: [{
                element: '.add-store-btn',
                title: 'Step One: Connect your store',
                content: 'The first thing you’ll need to do is connect your Shopify Store to Shopified App.' + '<br />' +
                        'If you don’t have a Shopify store yet, get your <a href="http://bit.ly/sashopifyspecial">21 day free trial with 10% off Shopify for Life</a>.' + '<br />' +
                        'To connect your store, watch the videos on the <a href="http://www.shopifiedapp.com/start">Getting Started</a> page.'
            }, {
                element: '.extension-link',
                title: 'Step Two: Chrome Extension',
                content: 'Install the Shopified App Chrome Extension to start importing products to your stores.',
                placement: 'left',
            }, {
                element: '.profile-options',
                title: 'Your Profile',
                content: 'Edit your email, password and other settings here.',
            }, {
                element: '.current-plan',
                title: 'Plan & Bundles',
                content: 'Click here to view your current Plan and Feature Bundles',
                placement: 'bottom',
            }, ]
        });
        tour.init();
        tour.start();
    });

</script>
{% endif %}

{% if intro_video %}
<script type="text/javascript">
    $('.welcome-intro-btn').click(function () {
        $('.welcome-intro').hide('fade');
    });

</script>
{% endif %}

{% endblock %}
