{% extends "base.html" %}

{% load static %}
{% load template_helper %}
{% load compress %}

{% block main-container %}

<div class="row">
    <div class="tabs-container col-md-offset-1 col-md-10">
       <ul class="nav nav-tabs">
            <li>
                <a href="{% url 'product_mapping' product.id %}"><i class="fa fa-chain"></i> Variants</a>
            </li>

            <li class="active">
                <a data-toggle="tab" href="#tab-1"><i class="fa fa-truck"></i> Suppliers &amp; Shipping</a>
            </li>
       </ul>
       <div class="tab-content">
           <div id="tab-1" class="tab-pane active">
               <div class="panel-body">
                <form id="mapping-form">
                    <table class="table table-borderd table-compact">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Shopify</th>
                                <th style="width:150px;">Supplier</th>
                                <th>Aliexpress Variants</th>
                                <th>Shipping Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for variant in shopify_product.variants %}
                            <tr data-variant="{{variant.id}}">
                                <td style="vertical-align:middle">
                                    {% if variant.image %}
                                        <img class="unveil" src="{% static 'img/blank.gif' %}" data-src="{% shopify_image_thumb variant.image 'thumb' %}" style="width: 50px" />
                                    {% elif shopify_product.image %}
                                        <img class="unveil" src="{% static 'img/blank.gif' %}" data-src="{% shopify_image_thumb shopify_product.image.src 'thumb' %}" style="width: 50px" />
                                    {% else %}
                                        <span style="width: 50px; height:50px"></span>
                                    {% endif %}
                                </td>
                                <td style="vertical-align:middle">{{variant.title}}</td>
                                <td style="vertical-align:middle">
                                    <select class="supplier-select form-control" data-variant="{{variant.id}}">
                                    {% for key, item in product_suppliers.items %}
                                        <option value="{{item.id}}" {% if variant.supplier == item.id %}selected{% endif %}>{{item.name}}</option>
                                    {% endfor %}
                                    </select>
                                </td>

                                <td>
                                    <div style="display:flex;align-items:center">
                                        <div>
                                            <a href="#" class="select-var-mapping" style="padding:20px 10px"
                                                data-variant="{{variant.id}}" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>

                                        <div class="xcol-xs-10 var-data-display select-var-mapping" style="display:flex;align-items:center"
                                             id="var_{{variant.id}}" data-variant="{{variant.id}}"></div>
                                    </div>
                                </td>

                                <td>
                                    <div style="display:flex;align-items:center">
                                        <div>
                                            <a href="#" class="change-shipping-rules" style="padding:20px 10px"
                                               data-variant="{{variant.id}}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                       </div>

                                        <div class="shipping-rules-display change-shipping-rules" style="display:flex;align-items:center"
                                             data-variant="{{variant.id}}"></div>
                                    </div>
                               </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">
                                    Product doesn't have any variant.
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <input type="hidden" name="product" value="{{product.id}}">
                </form>

                {% if shopify_product.variants %}
                <div class="row">
                    <div class="col-md-6">
                        <button id="save-mapping" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                    </div>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-shipping-methods" class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title">Shipping Methods</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 shipping-methods-container">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-t">
                        <button class="btn btn-outline btn-default btn-xs add-shipping-rule"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                <div class="row shipping-rule-options m-t">
                    <div class="options col-xs-5 text-left">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                {# <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button> #}
                <label htmlFor="apply-for-all" class="pull-left">
                    <input name="apply-for-all" class="apply-for-all" type="checkbox"/>
                    Apply for all variants
                </label>

                <button id="save-shipping-rules" class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>


<div id="modal-variant-select" class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title">Product Variants</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 variants-container">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button id="save-var-mapping" class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>


<script id="shipping-rule-template" type="text/x-handlebars-template">
    <div class="row shipping-rule m-b">
        <div class="options col-xs-5">
            <select name="shipping-country"  class="shipping-country form-control"
                    data-placeholder="Shipping Country" style="">
               <option value=""></option>
                {% for item in countries %}
                <option value="{{item.0}}">{{item.1}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="options col-xs-1 text-center" style="padding: 6px 0 0 0;margin:0;">
            <i class="fa fa-long-arrow-right"></i>
        </div>

        <div class="options col-xs-5 text-left">

            <select name="shipping-method" class="shipping-method form-control"
                    data-placeholder="Shipping Method" style="">
               <option value=""></option>
            </select>
        </div>
    </div>
</script>

{% verbatim %}

<script id="shipping-rule-display-template" type="text/x-handlebars-template">
    <div class="row shipping-rule m-b">
        <div class="options col-xs-3">
            <span>{{country_name}}</span>
        </div>

        <div class="options col-xs-1 text-center" style="padding: 6px 0 0 0;margin:0;">
            <i class="fa fa-long-arrow-right"></i>
        </div>

        <div class="options col-xs-7 text-left">
            <span>{{method_name}}</span>
        </div>

        <div class="options col-xs-1 text-center" style="padding:0;margin:0;cursor:pointer;">
            <i class="fa fa-times remove-rule"></i>
        </div>
    </div>
</script>

<script id="supplier-option-template" type="text/x-handlebars-template">
    <div class="option-item" style="display:inline-block;margin-top: 5px;">
        <div class="option-item-select" style="padding: 2px 5px;border: 1px solid rgb(204, 204, 204);border-radius: 3px;margin-right: 10px;display: flex;align-items: center;min-height: 30px;cursor: pointer;background-color: #fff;min-width: 55px;">
            <input class="variant-select" name="{{variant.title}}" type="radio"
                   style="margin: 0 5px 0" var-data="{{var_json}}"
                   {{#if selected }}
                   checked
                   {{/if}}
                   >
            {{#if option.image}}
                <img src="{{option.image}}" style="max-width:35px;max-height:35px;display:inline-block;margin-right: 5px;">
            {{/if}}

            <span class="variant-title" style="font-weight:bold;">{{option.title}}</span>
        </div>
    </div>
</script>

<script id="extra-input-template" type="text/x-handlebars-template">
    <div class="" style="padding: 5px 0">
        <input class="extra-input form-control" type="text">
    </div>
</script>

<script id="variant-template" type="text/x-handlebars-template">
    <div class="row well variant" style="padding: 5px 10px">
        <h3>{{title}}:</h3>
        <div class="options col-xs-12"></div>
    </div>
</script>

<script id="variant-option-template" type="text/x-handlebars-template">
    <div class="option-item" style="display:inline-block;margin-top: 5px;">
        <div class="option-item-select" style="padding: 2px 5px;border: 1px solid rgb(204, 204, 204);border-radius: 3px;margin-right: 10px;display: flex;align-items: center;min-height: 30px;cursor: pointer;background-color: #fff;min-width: 55px;">
            <input class="variant-select" name="{{variant.title}}" type="radio"
                   style="margin: 0 5px 0" var-data="{{var_json}}"
                   {{#if selected }}
                   checked
                   {{/if}}
                   >
            {{#if option.image}}
                <img src="{{option.image}}" style="max-width:35px;max-height:35px;display:inline-block;margin-right: 5px;">
            {{/if}}

            <span class="variant-title" style="font-weight:bold;">{{option.title}}</span>
        </div>
    </div>
</script>

<script id="extra-input-template" type="text/x-handlebars-template">
    <div class="" style="padding: 5px 0">
        <input class="extra-input form-control" type="text">
    </div>
</script>

{% endverbatim %}
{% endblock %}

{% block extracss %}
<link href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    var bootstrapButton = $.fn.button.noConflict();
    $.fn.bootstrapBtn = bootstrapButton;

    var bootstrapTooltip = $.fn.tooltip.noConflict();
    $.fn.bootstrapTooltip = bootstrapTooltip;

    var product_id = {{product.id}};
    var product_suppliers = {% json_dumps product_suppliers %};

    var suppliers_mapping = {% json_dumps suppliers_map %};
    var shipping_mapping = {% json_dumps shipping_map %};
    var variants_mapping = {% json_dumps variants_map %};
</script>

<script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

{% compress js %}
<script type="text/javascript" src="{% static 'libs/bower_components/handlebars/handlebars.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tag-it.min.js' %}"></script>
<script type="text/javascript" src="{% static 'shopified/js/mapping_supplier.js' %}"></script>
{% endcompress %}

{% endblock %}

