{% extends "base.html" %}

{% load static %}
{% load template_helper %}
{% load url_tools %}

{% block main-container %}

    <div class="tabs-container">
        <ul class="nav nav-tabs">
            {% for item in user.profile.get_active_stores %}
                {% if store == item or item.id|stringformat:"i" == request.GET.store %}
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">{{item.title}}</a></li>
                {% else %}
                    <li class=""><a href="/orders/track?store={{item.id}}" aria-expanded="false">{{item.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-success btn-rounded btn-sm filter-btn">Filter</button>
                            {# <span class="btn btn-white btn-rounded btn-sm">Orders count: {{open_orders}}</span> #}
                        </div>
                    {% if not request.GET.hidden %}
                        <div class="col-md-2 col-md-offset-6 text-right">
                            <a href="{% url 'orders_track' %}?hidden=1" class="btn btn-default btn-rounded btn-outline btn-sm expand-btn">Archived Orders</a>
                        </div>
                    {% endif %}
                    </div>
                    <form method="get" action="{% url 'orders_track' %}" class="filter-form m-t-sm" style="display:none;">
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Query:</label>
                        </div>
                        <div class="col-md-4">
                            <input name="query" value="{{request.GET.query|default:''}}" class="form-control" style="xpadding: 6px 0px" placeholder="Order ID or Tracking number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Tracking #:</label>
                        </div>
                        <div class="col-md-2">
                            <select name="tracking" class="form-control" style="padding: 6px 0px">
                                <option {% if request.GET.tracking != '0' and  request.GET.tracking != '1' %}selected="selected"{% endif %} value="">Any</option>
                                <option {% if request.GET.tracking == '1' %}selected="selected"{% endif %} value="1">Has Tracking #</option>
                                <option {% if request.GET.tracking == '0' %}selected="selected"{% endif %} value="0">No Tracking #</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Shopify Status:</label>
                        </div>
                        <div class="col-md-2">
                            <select name="fulfillment" class="form-control" style="padding: 6px 0px">
                                <option {% if not request.GET.fulfillment  or request.GET.fulfillment = '2' %}selected="selected"{% endif %} value="2">Any</option>
                                <option {% if request.GET.fulfillment == '1' %}selected="selected"{% endif %} value="1">Fulfilled</option>
                                <option {% if request.GET.fulfillment == '0' %}selected="selected"{% endif %} value="0">Not Fulfilled</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Archived:</label>
                        </div>
                        <div class="col-md-2">
                            <select name="hidden" class="form-control" style="padding: 6px 0px">
                                <option {% if request.GET.hidden = '2' %}selected="selected"{% endif %} value="2">Any</option>
                                <option {% if not request.GET.hidden or request.GET.hidden == '0' %}selected="selected"{% endif %} value="0">Not Archived</option>
                                <option {% if request.GET.hidden == '1' %}selected="selected"{% endif %} value="1">Archived</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            {% if request.GET.store %}  <input type="hidden" name="store" value="{{ request.GET.store }}"> {% endif %}
                            {% if request.GET.sort %}   <input type="hidden" name="sort" value="{{ request.GET.sort }}"> {% endif %}

                            <button class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                    <hr >
                    </form>

                    <table class="table table-condensed xtable-hover">
                      <thead>
                        <tr>
                          <th style="width:64px"></th>
                          <th style="width:26%">
                              <a href="{% url_toggle 'sort' '-order,order' %}">Shopify Order {% sort_icon 'sort' 'order' %}</a></th>
                          <th><a href="{% url_toggle 'sort' '-source,source' %}">Aliexpress Order {% sort_icon 'sort' 'source' %}</a></th>
                          <th><a href="{% url_toggle 'sort' '-status,status' %}">Aliexpress Status {% sort_icon 'sort' 'status' %}</a></th>
                          <th><a href="{% url_toggle 'sort' '-tracking,tracking' %}">Tracking Number {% sort_icon 'sort' 'tracking' %}</a></th>
                          <th><a href="{% url_toggle 'sort' '-add,add' %}">Order Date {% sort_icon 'sort' 'add' %}</a></th>
                          <th><a href="{% url_toggle 'sort' '-update,update' %}">Updated {% sort_icon 'sort' 'update' %}</a></th>
                          <th style="width:120px"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in orders %}
                        <tr id="{{item.id}}">
                            <td>
                                <img class="lazyload" store="{{item.store_id}}" product="{{item.line.product_id}}"
                                     variant="{{item.line.variant_id}}" src="" style="width:64px;display:none" />
                            </td>
                            <td>
                                <a href="{{item.get_shopify_link}}" target="_blank">
                                    <span class="badge badge-primary">{{item.order.name}}</span>
                                    <span class="m-l-xs">{{item.line.title}}</span>
                                </a>
                            </td>
                            <td><a href="{{item.get_source_url}}" target="_blank">#{{item.source_id}}</a></td>
                            <td>{{item.get_source_status|default:'N/A'}}</td>
                            <td>
                                {% if not item.source_tracking %}
                                N/A
                                {% else %}
                                <a href="https://track.aftership.com/{{item.source_tracking}}" target="_blank">
                                    {{item.source_tracking}}
                                </a>
                                {% endif %}
                            </td>

                            <td>{{item.created_at|date:'DATETIME_FORMAT'}}</td>
                            <td>{{item.updated_at|date:'DATETIME_FORMAT'}}</td>
                            <td>
                                {% if item.order.fulfillment_status != 'fulfilled' %}
                                <button class="btn btn-success btn-xs fulfill-btn"
                                        store="{{item.store_id}}"
                                        order-id="{{item.order.id}}"
                                        line-id="{{item.line.id}}"
                                        quantity="{{item.line.quantity}}"
                                        tracking-number="{{item.source_tracking|default:''}}"
                                        >Fulfill in Shopify</button>
                                {% else %}
                                    <span class="badge badge-primary">
                                        {{item.order.fulfillment_status|default:"Unfulfilled"|title}}
                                    </span>
                                {% endif %}

                                {% if not request.GET.hidden %}
                                <button order-id="{{item.id}}" class="btn btn-info btn-xs btn-outline hide-order m-t-xs">Archive Order</button>
                                {% else %}
                                <button order-id="{{item.id}}" class="btn btn-success btn-xs btn-outline show-order m-t-xs">Un-Archive</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center" colspan="7">
                                {% if request.GET.query %}
                                    No tracked orders found for: <b>{{request.GET.query}}</b>
                                {% else %}
                                    No tracked orders found.
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>

                  {% include "partial/paginator.html" %}
                </div>
            </div>
        </div>
    </div>

{% include 'partial/fulfillment_modal.html' with notify=True only %}

{% endblock %}


{% block extrajs %}
<script type="text/javascript">

    var image_cache = {};

    $('.fulfill-btn').click(function (e) {
        $('#modal-fulfillment #fulfill-quantity').val($(this).attr('quantity'));
        $('#modal-fulfillment #fulfill-order-id').val($(this).attr('order-id'));
        $('#modal-fulfillment #fulfill-line-id').val($(this).attr('line-id'));
        $('#modal-fulfillment #fulfill-store').val($(this).attr('store'));
        $('#modal-fulfillment #fulfill-traking-number').val($(this).attr('tracking-number'));

         if ($(this).prop('fulfilled')) {
            return;
        };

        $('#modal-fulfillment').modal('show');
    });

    $('#fullfill-order-btn').click(function (e) {
        e.preventDefault();

        $(this).button('loading');
        var line_btn = $('.fulfill-btn[line-id="'+$('#modal-fulfillment #fulfill-line-id').val()+'"]');

        $.ajax({
            url: '/api/fulfill-order',
            type: 'POST',
            data:  $('#modal-fulfillment form').serialize(),
            context: {btn: $(this), line: line_btn},
            success: function (data) {
                if (data.status == 'ok') {
                    $('#modal-fulfillment').modal('hide');
                    swal('Fulfillment Status', 'Fulfillment Status changed to Fulfilled', 'success');
                    this.line.prop('fulfilled', true);
                    this.line.parents('tr').first().addClass('success');
                } else {
                    displayAjaxError('Fulfill Order', data);
                }
            },
            error: function (data) {
                displayAjaxError('Fulfill Order', data);
            },
            complete: function () {
                this.btn.button('reset');

                var btn = this.line;
                setTimeout(function() {
                    if (btn.prop('fulfilled')) {
                        btn.removeClass('btn-default');
                        btn.addClass('btn-success');
                        btn.text('Fulfilled');
                    }
                }, 100);
            }
        });
    });

    function hideOrder(order_id) {
        $.ajax({
            url: '/api/order-fullfill-hide',
            type: 'POST',
            data: {
                order: order_id,
                {% if not request.GET.hidden %}
                hide: true
                {% endif %}
            },
            context: {order_id: order_id},
            success: function (data) {
                if (data.status == 'ok') {
                    {% if not request.GET.hidden %}
                    $('tr[id="'+this.order_id+'"]').hide();

                    swal('Archive Order', 'Order has been Archived.', 'success');
                    {% else %}
                    swal('Un-Archive Order', 'Order has been Un-Archived.', 'success');
                    {% endif %}
                } else {
                    displayAjaxError('Hide Order', data);
                }
            },
            error: function (data) {
                displayAjaxError('Hide Order', data);
            }
        });
    }

    $('.hide-order').click(function (e) {
        var order_id = $(this).attr('order-id');

        swal({
            title: "Archive Order",
            text: "Do you want to Archive order?\nYou will be abale " +
                   "to view it by clicking on 'Archived Orders' button",
            type: "warning",
            animation: false,
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Archive",
            cancelButtonText: "Cancel",
            closeOnCancel: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
        function(isConfirmed) {
            if(isConfirmed) {
                hideOrder(order_id);
            }
        });
    });
    $('.show-order').click(function (e) {
        hideOrder($(this).attr('order-id'));
    });


    $('.filter-btn').click(function (e) {
        $('.filter-form').toggle('fade');
    });

    $(".filter-form").submit(function() {
        $(this).find(":input").filter(function(){
            return ((this.name == 'tracking' && this.value == '') ||
                (this.name == 'hidden' && this.value == '0') ||
                (this.name == 'fulfillment' && this.value == '2') ||
                (this.name == 'query' && this.value.trim().length === 0));
        }).attr("disabled", "disabled");
        return true; // ensure form still submits
    });

    $(function () {
        $('.lazyload').each(function (i, el) {
            setTimeout(function() {
                if (!$(el).prop('image-loaded')) {
                    var cache_name = $(el).attr('store')+'|'+$(el).attr('product')+'|'+$(el).attr('variant');

                    if (cache_name in image_cache) {
                        $(el).attr('src', image_cache[cache_name]);
                        $(el).show('fast');
                        return;
                    }

                    $.ajax({
                        url: '/api/product-variant-image',
                        type: 'GET',
                        data: {
                            store: $(el).attr('store'),
                            product: $(el).attr('product'),
                            variant: $(el).attr('variant'),
                        },
                        context: {img: $(el), cache_name: cache_name},
                        success: function (data) {
                            if (data.status == 'ok') {
                                this.img.attr('src', data.image);
                                this.img.show('fast');

                                image_cache[cache_name] = data.image;
                            }
                        },
                        error: function (data) {
                        },
                        complete: function () {
                            this.img.prop('image-loaded', true);
                        }
                    });
                }
            }, ((i+1)*1000));
        });
    });
</script>
{% endblock %}

