{% extends "base.html" %}

{% load static %}
{% load template_helper %}

{% block main-container %}

    <div class="tabs-container">
        <ul class="nav nav-tabs">
            {% for item in user.profile.get_active_stores %}
                {% if store == item or item.id|stringformat:"i" == request.GET.store %}
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">{{item.title}}</a></li>
                {% else %}
                    <li class=""><a href="/orders?store={{item.id}}" aria-expanded="false">{{item.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-success btn-rounded btn-sm filter-btn">Filter &amp; Sort</button>
                            <span class="btn btn-white btn-rounded btn-sm">Orders count: {{open_orders}}</span>
                        </div>
                        <div class="col-md-2 col-md-offset-6 text-right">
                            <button class="btn btn-default btn-rounded btn-sm expand-btn">Expand All</button>
                        </div>
                    </div>
                    <form method="get" action="/orders" class="filter-form m-t-sm" style="display:none;">
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Query:</label>
                        </div>
                        <div class="col-md-4">
                            <input name="query" value="{{query|default:''}}" class="form-control" style="xpadding: 6px 0px" placeholder="Order name or ID">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Sort:</label>
                        </div>
                        <div class="col-md-2">
                            <select name="sort" class="form-control" style="padding: 6px 0px">
                                <option {% if sort == 'asc' %}selected="selected"{% endif %}value="asc">Newst orders first</option>
                                <option {% if sort == 'desc' %}selected="selected"{% endif %}value="desc">Oldest orders first</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Status:</label>
                        </div>
                        <div class="col-md-2">
                            <select name="status" class="form-control help-select" style="padding: 6px 0px">
                                <option {% if status == 'open' %}selected="selected"{% endif %}value="open">All open orders</option>
                                <option {% if status == 'closed' %}selected="selected"{% endif %}value="closed">Show only closed orders</option>
                                <option {% if status == 'cancelled' %}selected="selected"{% endif %}value="cancelled">Show only cancelled orders</option>
                                <option {% if status == 'any' %}selected="selected"{% endif %}value="any">Any order status</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="">
                            <span class="help-block "></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Fulfillment Status:</label>
                        </div>
                        <div class="col-md-2">
                            <select name="fulfillment" class="form-control help-select" style="padding: 6px 0px">
                                <option {% if fulfillment == 'unshipped' %}selected="selected"{% endif %}value="unshipped" title="fff">Show orders that have not yet been shipped</option>
                                <option {% if fulfillment == 'shipped' %}selected="selected"{% endif %}value="shipped">Show orders that have been shipped</option>
                                <option {% if fulfillment == 'partial' %}selected="selected"{% endif %}value="partial">Show partially shipped orders</option>
                                <option {% if fulfillment == 'any' %}selected="selected"{% endif %}value="any">Show orders with any fulfillment status</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="">
                            <span class="help-block "></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Financial Status:</label>
                        </div>
                        <div class="col-md-2">
                            <select name="financial" class="form-control help-select" style="padding: 6px 0px">
                                <option value="any" {% if financial == 'any' %}selected="selected"{% endif %}>Show all authorized, pending, and paid orders</option>
                                <option value="authorized" {% if financial == 'authorized' %}selected="selected"{% endif %}>Show only authorized orders</option>
                                <option value="pending" {% if financial == 'pending' %}selected="selected"{% endif %}>Show only pending orders</option>
                                <option value="paid" {% if financial == 'paid' %}selected="selected"{% endif %}>Show only paid orders</option>
                                <option value="partially_paid" {% if financial == 'partially_paid' %}selected="selected"{% endif %}>Show only partially paid orders</option>
                                <option value="refunded" {% if financial == 'refunded' %}selected="selected"{% endif %}>Show only refunded orders</option>
                                <option value="voided" {% if financial == 'voided' %}selected="selected"{% endif %}>Show only voided orders</option>
                                <!-- <option value="partially_refunded" {% if financial == 'partially_refunded' %}selected="selected"{% endif %}>Show only partially refunded orders</option> -->
                                <option value="unpaid" {% if financial == 'unpaid' %}selected="selected"{% endif %}>Show all authorized, or partially paid orders</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="">
                            <span class="help-block "></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            {% if request.GET.store %}
                            <input type="hidden" name="store" value="{{ request.GET.store }}">
                            {% endif %}
                        <button class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                    <hr >
                    </form>
                    <table class="table table-condensed xtable-hover">
                      <thead>
                        <tr>
                          <th>Order #</th>
                          <th>Date</th>
                          <th>Payment Status</th>
                          <th>Fulfillment Status</th>
                          <th>Customer</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="#" class="more-info"><i class="fa fa-plus" style="margin-right:10px"></i></a>
                                    <a href="{{order.order_url}}" target="_blank">
                                        {{order.name}}
                                    </a>
                                </td>
                                <td>{{order.date_str}}</td>
                                <td>{{order.financial_status|title}}</td>
                                <td class="fulfillment-status">
                                     <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle {% if not order.fulfillment_status %}btn-warning{% else %}btn-success{% endif %}" aria-expanded="false">
                                            {{order.fulfillment_status|default:"Unfulfilled"|title}}
                                            <span class="caret"></span></button>

                                        <ul class="dropdown-menu">
                                            <li><a class="add-order-note" href="#" store="{{order.store.id}}" order-id="{{order.id}}">Add notes</a></li>
                                        </ul>
                                    </div>

                                    {% if order.note %}

                                    <button
                                        class="btn btn-outline  btn-xs itooltip no-outline view-order-notes"
                                        notes="{% base64_encode order.note %}"
                                        title="Order Notes"
                                        style="padding: 0; margin: 0 3px; color: #999999">
                                        <i class="fa fa-sticky-note"></i>
                                    </button>
                                    {% endif %}
                                </td>
                                <td>
                                    <img class="itooltip" style="width: 16px" title="{{order.shipping_address.country}}" src="http://lipis.github.io/flag-icon-css/flags/4x3/{{order.shipping_address.country_code|lower}}.svg">
                                    {{order.shipping_address.first_name}} {{order.shipping_address.last_name}}
                                </td>
                                <td>
                                    <b>{% if order.currency == 'USD' %} ${% else %} {{order.currency}} {% endif %}{{order.total_price}}</b>
                                </td>
                            </tr>

                            <tr class="var-info" style="display:none">
                                <td colspan="6">
                                    <table class="table table-condensed xtable-hover xtable-bordered">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th style="width:310px"></th>
                                                <th>Variant</th>
                                                <th>Qty</th>
                                                <th>Vendor</th>
                                                <th></th>
                                                <th></th>
                                                <th style="width:200px">Shipping Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in order.line_items %}
                                            {% with image=item.image original=item.product.get_original_info %}
                                            <tr {% if item.shopify_order %}class="success"{% endif %}>
                                                <td>
                                                    <img
                                                    {% if not item.image_src %}
                                                        class="lazyload" store="{{image.store}}"
                                                        product="{{image.product}}" variant="{{image.variant}}"
                                                    {% else %}
                                                        src="{{item.image_src}}"
                                                    {% endif %}
                                                        style="width:64px" />
                                                </td>
                                                <td>
                                                    {% if item.product %}
                                                    <a href="/product/{{item.product.id}}" target="_blank">{{item.name}}</a>
                                                    {% else %}
                                                    {{item.name}}
                                                    {% endif %}
                                                </td>
                                                <td><a href="{{item.variant_link}}" target="_blank">{{item.variant_title|default:'&lt;Default&gt;'}}</a></td>
                                                <td>
                                                    <span style="{% if item.quantity > 1 %} font-weight: bolder; color: blue{% endif %}">{{item.quantity}}</span>
                                                </td>
                                                <td>{{item.vendor}}</td>
                                                <td class="text-center">
                                                    {% if original %}
                                                        <div class="btn-group">
                                                            <button data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" aria-expanded="false">
                                                                Place Order
                                                                <span class="caret"></span></button>

                                                            <ul class="dropdown-menu">
                                                                {% if item.shopify_order %}
                                                                <li><a class="placed-order-details" href="#" order-id="{{order.id}}" order-date="{{item.shopify_order.created_at|date:'N j, Y, P'}}" line-id="{{item.id}}" data="{{item.shopify_order.encoded}}">Order Details</a></li>
                                                                {% else %}
                                                                <li><a class="mark-as-ordered" href="#" store="{{order.store.id}}" order-id="{{order.id}}" line-id="{{item.id}}">Mark as Ordered</a></li>
                                                                {% endif %}

                                                                <li><a href="{{item.original_url}}" target="_blank">Manual Order</a></li>

                                                                {% if item.order_data %}
                                                                <li><a href="{{item.original_url}}?SAPlaceOrder={% encode_order item.order_data False|urlencode  %}" target="_blank">Step By Step Order</a></li>
                                                                <li><a href="{{item.original_url}}?SAPlaceOrder={% encode_order item.order_data True|urlencode  %}" target="_blank">Auto Place Order</a></li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    {% else %}
                                                    <span class="label label-warning">Not Tracked</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                {% if not item.fulfillment_status %}

                                                    <div class="btn-group">
                                                        <button data-toggle="dropdown" class="btn btn-success btn-outline btn-xs dropdown-toggle" aria-expanded="false">
                                                            Unfulfilled
                                                            <span class="caret"></span></button>

                                                            <ul class="dropdown-menu">
                                                                <li><a class="fulfill-btn" quantity="{{item.quantity}}" order-id="{{order.id}}" line-id="{{item.id}}" store="{{order.store.id}}">Fulfill in Shopify</a></li>
                                                            </ul>
                                                        </div>
                                                {% else %}
                                                    <span class="label label-success">{{item.fulfillment_status|title}}</span>
                                                {% endif %}
                                                </td>
                                                {% if forloop.counter0 == 0 %}
                                                <td rowspan="{{order.line_items|length}}" style="background-color:white;vertical-align:middle">
                                                    {{order.shipping_address.address1}}<br>
                                                    {{order.shipping_address.address2}}{% if order.shipping_address.address2 %}<br>{% endif %}
                                                    {{order.shipping_address.city}}, {{order.shipping_address.province_code|default:''}} {{order.shipping_address.zip}}
                                                    {% if order.shipping_address.country_code != 'US' %}
                                                    <br> <b>{{order.shipping_address.country}}</b>
                                                    {% endif %}
                                                    <br>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            {% endwith %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                            {% empty %}
                            <tr>
                              <td colspan="6" class="text-center">No orders found.</td>
                            </tr>
                            {% endfor %}
                      </tbody>
                    </table>

                    {% include "partial/paginator.html" %}
                </div>
            </div>
        </div>
    </div>

    {% include 'partial/fulfillment_modal.html' with notify=True only %}

{% endblock %}


{% block extrajs %}
    <script type="text/javascript" src="{% static 'shopified/js/orders.js' %}"></script>
{% endblock %}

