{% extends "base.html" %}

{% load static %}
{% load template_helper %}
{% load perms_helper %}
{% load url_tools %}
{% load compress %}

{% block main-container %}

    <div class="tabs-container">
        <ul class="nav nav-tabs">
            {% for item in user.profile.get_active_stores %}
                {% if store == item or item.id|stringformat:"i" == request.GET.store %}
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">{{item.title}}</a></li>
                {% else %}
                    <li class=""><a href="/orders?store={{item.id}}" aria-expanded="false">{{item.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body gray-panel" style="padding:20px 0 0 0;border:none">
                    <div class="row" style="padding:0px 5px">
                        <div class="col-md-4">
                            <button class="btn btn-success btn-rounded btn-sm filter-btn">Filter &amp; Sort</button>
                            <span class="btn btn-white btn-rounded btn-sm">Orders count: {{open_orders}}</span>
                        </div>
                        <div class="col-md-8 text-right">

                            {% if store_order_synced %}
                                {% if store_sync_enabled %}
                                    <a class="btn btn-outline btn-default btn-rounded btn-sm swith-implemenation itooltip"
                                        title="Switch to the Old Order page"
                                        href="{% url_replace 'old' 1 %}">Switch Orders Page</a>
                                {% else %}
                                    <a class="btn btn-outline btn-default btn-rounded btn-sm itooltip"
                                        title="Switch to the New Order page"
                                        href="{% url_replace 'old' 0 %}">Switch Orders Page</a>
                                {% endif %}
                            {% endif %}

                            {% if not store_sync_enabled %}
                            <button class="btn btn-primary btn-rounded btn-sm hide-non-connected-btn">Hide Non Connected</button>
                            {% endif %}

                            <button class="btn btn-primary btn-rounded btn-sm hide-ordered-btn">Hide Ordered</button>
                        </div>
                    </div>
                    <form method="get" action="/orders" class="filter-form m-b-sm m-t-sm"
                    {% if request.COOKIES.orders_filter != 'true' %}
                          style="display:none"
                    {% endif %}
                    >
                    {% if store_sync_enabled %}
                        <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Sort:</label>
                        </div>
                        <div class="col-md-3">
                            <select name="sort" class="form-control" style="padding: 6px 0px">
                                <option {% if sort == 'created_at' %}selected="selected"{% endif %} value="created_at">Creation Date</option>
                                <option {% if sort == 'updated_at' %}selected="selected"{% endif %} value="updated_at">Last Update</option>
                                <option {% if sort == 'total_price' %}selected="selected"{% endif %} value="total_price">Total Price</option>
                                <option {% if sort == 'country_code' %}selected="selected"{% endif %} value="country_code">Shipping Country</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="sort-desc" class="control-label">
                                <input type="checkbox" id="sort-desc" name="desc" value="true" class="icheck"
                                       {% if sort_type == 'true' %}checked{% endif %}>
                                Descending
                            </label>
                        </div>
                    </div>
                    {% endif %}
                    {% if store_sync_enabled %}
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Order:</label>
                        </div>
                        <div class="col-md-4">
                            <input name="query_order" value="{{request.GET.query_order|default:''}}" class="form-control"
                                   style="xpadding: 6px 0px" placeholder="Order Number or ID">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Customer:</label>
                        </div>
                        <div class="col-md-4">
                            <input name="query_customer" value="{{request.GET.query_customer|default:''}}" class="form-control"
                                   style="xpadding: 6px 0px" placeholder="ID, Name or Email">
                        </div>
                    </div>

                    <div class="row m-t-xs">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Country:</label>
                        </div>
                        <div class="col-md-4">
                            <select name="query_address"  class="form-control" id="country-filter"
                                    data-placeholder="Shipping Country" style="height:30px" multiple>
                               <option value=""></option>
                                {% for item in countries %}
                                <option value="{{item.0}}"
                                    {% query_active 'query_address' item.0 'selected="selected"' True %}
                                    >{{item.1}}</option>
                                {% endfor %}
                                </select>
                        </div>
                    </div>

                    {% else %}
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Query:</label>
                        </div>
                        <div class="col-md-4">
                            <input name="query" value="{{query|default:''}}" class="form-control" style="xpadding: 6px 0px" placeholder="Order name or ID">
                        </div>
                    </div>
                    {% endif %}

                    {% if not store_sync_enabled %}
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Sort:</label>
                        </div>
                        <div class="col-md-2">
                            <select name="sort" class="form-control" style="padding: 6px 0px">
                                <option {% if sort == 'asc' %}selected="selected"{% endif %} value="asc">Newest orders first</option>
                                <option {% if sort == 'desc' %}selected="selected"{% endif %} value="desc">Oldest orders first</option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row m-t-md">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Status:</label>
                        </div>
                        <div class="col-md-2" style="padding-right:7px">
                            <select name="status" class="form-control help-select" style="padding: 6px 0px">
                                <option {% if status == 'open' %}selected="selected"{% endif %} value="open">All open orders</option>
                                <option {% if status == 'closed' %}selected="selected"{% endif %} value="closed">Show only closed orders</option>
                                <option {% if status == 'cancelled' %}selected="selected"{% endif %} value="cancelled">Show only canceled orders</option>
                                <option {% if status == 'any' %}selected="selected"{% endif %} value="any">Any order status</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="">
                            <span class="help-block "></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Fulfillment Status:</label>
                        </div>
                        <div class="col-md-2" style="padding-right:7px">
                            <select name="fulfillment" class="form-control help-select" style="padding: 6px 0px">
                                <option {% if fulfillment == 'unshipped,partial' %}selected="selected"{% endif %}
                                        value="unshipped,partial" label="Unfulfilled / Partially fulfilled">Show orders that have not yet been fulfilled or partially fulfilled</option>
                                <option {% if fulfillment == 'unshipped' %}selected="selected"{% endif %}
                                        value="unshipped" label="Unfulfilled">Show orders that have not yet been fulfilled</option>
                                <option {% if fulfillment == 'partial' %}selected="selected"{% endif %}
                                        value="partial" label="Partially fulfilled">Show partially shipped orders</option>
                                <option {% if fulfillment == 'shipped' %}selected="selected"{% endif %}
                                        value="shipped" label="Fulfilled">Show orders that have been fulfilled</option>
                                <option {% if fulfillment == 'any' %}selected="selected"{% endif %}
                                        value="any">Show orders with any fulfillment status</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="">
                            <span class="help-block "></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            <label>Financial Status:</label>
                        </div>
                        <div class="col-md-2" style="padding-right:7px">
                            <select name="financial" class="form-control help-select" style="padding: 6px 0px">
                                <option value="any" {% if financial == 'any' %}selected="selected"{% endif %}>Show all authorized, pending, and paid orders</option>
                                <option value="authorized" {% if financial == 'authorized' %}selected="selected"{% endif %}>Show only authorized orders</option>
                                <option value="pending" {% if financial == 'pending' %}selected="selected"{% endif %}>Show only pending orders</option>
                                <option value="paid" {% if financial == 'paid' %}selected="selected"{% endif %}>Show only paid orders</option>
                                <option value="refunded" {% if financial == 'refunded' %}selected="selected"{% endif %}>Show only refunded orders</option>
                                <option value="partially_refunded" {% if financial == 'partially_refunded' %}selected="selected"{% endif %}>Show only partially refunded orders</option>
                                <option value="voided" {% if financial == 'voided' %}selected="selected"{% endif %}>Show only voided orders</option>
                                <option value="unpaid" {% if financial == 'unpaid' %}selected="selected"{% endif %}>Show all authorized, or partially paid orders</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="">
                            <span class="help-block "></span>
                        </div>
                    </div>

                    {% if store_sync_enabled %}
                    <div class="row m-t-xs">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                        </div>
                        <div class="col-md-8">
                            <label for="connected-orders" class="control-label">
                                <input type="checkbox" id="connected-orders" name="connected"value="true" class="icheck"
                                       {% if connected_only == 'true' %}checked{% endif %}>
                                Only Orders with Connected Products
                            </label>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-2" style="width: 150px;margin-right: 0;padding-right: 0">
                            {% if request.GET.store %}
                            <input type="hidden" name="store" value="{{ request.GET.store }}">
                            {% endif %}
                        <button class="btn btn-primary"><i class="fa fa-filter"></i> Apply</button>
                        </div>
                        <div class="col-md-6 col-md-offset-4 text-right">
                            <a href="{% url_replace save 1 %}" class="btn btn-success save-filter-btn">
                                <i class="fa fa-save"></i> Save Filter
                            </a>

                            <a href="/orders?store={{store.id}}&reset=1" class="btn btn-default reset-filter-btn">
                                <i class="fa fa-eraser"></i> Reset Filter
                            </a>
                        </div>
                    </div>
                    </form>

                    <div class="orders">
                        {% for order in orders %}
                        <div class="order" order-id="{{order.id}}" connected="{{order.connected_lines}}">
                            <div class="header">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <b>Order <a href="{{order.order_url}}" target="_blank">{{order.name}}</a></b>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge badge-default" style="background-color:#fff;color:#888;border:1px solid #ccc;border-radius: 3px;">
                                        {% date_humanize order.date %}
                                        </span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge badge-{% if order.financial_status != 'paid' %}warning{% else %}primary{% endif %}">
                                            {{order.financial_status|title}}
                                        </span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge badge-{% if not order.fulfillment_status %}warning{% else %}primary{% endif %}">
                                            {{order.fulfillment_status|default:"Unfulfilled"|title}}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        {% if order.placed_orders == 0 %}
                                            <span class="badge badge-danger primary" style="width:15px;height:15px">&nbsp;</span>
                                            No Products Ordered
                                        {% elif order.placed_orders != order.lines_count %}
                                            <span class="badge badge-warning primary" style="width:15px;height:15px">&nbsp;</span>
                                            Partially Ordered
                                        {% else %}
                                            <span class="badge badge-primary completed-order" style="width:15px;height:15px">&nbsp;</span>
                                            Order Complete
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-1 text-right">
                                        {% if user|can:'combined_order.use' %}
                                        <button class="btn btn-success btn-xs order-all"
                                                order-id="{{order.id}}" style="display:none">Order All</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="details container-fluid">
                                <div class="row shipping-info">
                                    <div class="col-md-3 col-xs-6">
                                        {{order.shipping_address.first_name}} {{order.shipping_address.last_name}}<br>
                                        {{order.shipping_address.address1}}<br>
                                        {{order.shipping_address.address2}}

                                        {% if order.shipping_address.address2 %}<br>{% endif %}

                                        {{order.shipping_address.city}},
                                            {{order.shipping_address.province_code|default:''}}
                                            {{order.shipping_address.zip}}

                                        {% if order.shipping_address.phone %}
                                        <br> {{order.shipping_address.phone}}
                                        {% endif %}



                                        <br> <b>{{order.shipping_address.country}}</b>
                                    </div>
                                    <div class="col-md-1 col-xs-1">
                                        {% if order.shipping_address.country_code %}
                                        <img class="itooltip" style="width: 16px" title="{{order.shipping_address.country}}" src="//d2kadg5e284yn4.cloudfront.net/static/flags/{{order.shipping_address.country_code|lower}}.svg">
                                        <br />
                                        {% endif %}

                                        {% if order.customer.email %}
                                        <a href="mailto:{{order.customer.email}}" class="itooltip" title="Send Email To The Customer"> <i class="fa fa-envelope-o fa-lg"></i></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        $<b>{{order.total_price}}</b>
                                    </div>
                                    <div class="col-md-3 col-md-offset-3">
                                        <div class="note-panel panel panel-default hidden-sm hidden-xs">
                                            <div class="panel-heading">
                                                Order Notes
                                            </div>
                                            <div class="panel-body">
                                                <div class="note-preview">
                                                    <span class="note-text">{{order.note|default:''|truncatewords:10 }}</span>
                                                </div>
                                                <div class="edit-note">
                                                    <textarea class="note">{{order.note|default:''}}</textarea>
                                                    <button class="btn btn-primary btn-sm note-edit-save"
                                                            style="position: absolute; bottom: 5px; right: 5px; z-index:1300"
                                                            order-id="{{order.id}}" store-id="{{store.id}}">
                                                        <i class="fa fa-save"></i> Save
                                                    </button>
                                                    <button class="btn btn-default btn-sm note-edit-cancel"
                                                            style="position: absolute; bottom: 5px; right: 70px; ">
                                                        <i class="fa fa-times"></i> Cancel
                                                    </button>
                                                </div>
                                            </div>

                                            <i class="fa fa-edit" style="position:absolute;bottom:0px;right:5px;z-index:1200"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    {% for item in order.line_items %}
                                    {% with image=item.image original=item.product.get_original_info %}

                                    <div class="line container-fluid" line-id="{{item.id}}"
                                         line-data="{{item.order_data_id|default:''}}" line-track="{{item.shopify_order.id|default:''}}">
                                        <div class="row source-order">

                                            {% with supplier=item.product.get_supplier_info %}
                                            <div class="col-xs-3">
                                                <span>Supplier:</span>
                                                {% if supplier %}
                                                    <a {% if supplier.url %}
                                                        href="{{supplier.url|default:'#'}}" target="_blank"
                                                    {% else %}
                                                        href="#"
                                                    {% endif %}

                                                    {% if user.id == 883 and item.shopify_order %}
                                                        class="order-supplier-store"
                                                        source-order-id="{{item.shopify_order.source_id}}"
                                                    {% endif %}

                                                    >{{supplier.name|truncatechars:25}}</a>
                                                {% else %}
                                                    N/A
                                                {% endif %}
                                            </div>
                                            {% endwith %}

                                            <div class="col-xs-3 line-order-id">
                                                Order ID:
                                                {% if item.shopify_order %}
                                                    <a class="placed-order-details" href="#" order-id="{{order.id}}"
                                                        source-order-id="{{item.shopify_order.source_id}}"
                                                        order-date="{{item.shopify_order.created_at|date:'N j, Y, P'}}"
                                                        line-id="{{item.id}}"
                                                        title="View Order Details">#{{item.shopify_order.source_id}}</a>
                                                {% else %}
                                                    <a class="mark-as-ordered" href="#" store="{{order.store.id}}" order-id="{{order.id}}" line-id="{{item.id}}">Add</a>
                                                {% endif %}
                                            </div>
                                            <div class="col-xs-3 line-ordered">
                                                <span class="badge badge-{% if not item.shopify_order %}danger{% else %}primary{% endif %}" style="width:15px;height:15px">&nbsp;</span>
                                                {% if item.shopify_order or item.fulfillment_status == 'fulfilled' %}
                                                    <span class="ordered-status"
                                                    {% if item.shopify_order.source_id %}
                                                        title="{{original.source|title}} Order ID: #{{item.shopify_order.source_id}}"
                                                    {% endif %}
                                                        >Order Placed

                                                        {% if item.shopify_order.created_at %}
                                                        <span class="badge badge-default" style="background-color:#fff;color:#888;border:1px solid #ccc;border-radius: 3px;">
                                                            {% date_humanize item.shopify_order.created_at %}
                                                        </span>
                                                        {% endif %}
                                                    </span>
                                                {% else %}
                                                    <span class="ordered-status">Not ordered</span>
                                                {% endif %}
                                            </div>
                                            <div class="col-xs-3 line-tracking">
                                                {% if item.shopify_order %}
                                                    <span class="badge badge-{{ item.shopify_order.get_source_status_color }}" style="width:15px;height:15px">&nbsp;</span>
                                                    {{item.shopify_order.get_source_status|default:'No Tracking Status'}}
                                                {% else %}
                                                    <span class="badge badge-default" style="width:15px;height:15px">&nbsp;</span>
                                                    Not Tracked
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="row item">
                                            <div class="col-md-12 no-padding">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="width:64px"></th>
                                                        <th style="width:30%;text-align:center">Item</th>
                                                        <th>Variant</th>
                                                        <th style="width:30px">Qty</th>
                                                        <th style="width:64px"></th>
                                                        <th style="width:64px"></th>
                                                        <th>Tracking #</th>
                                                    </tr>
                                                </thead>

                                                <thead>
                                                    <tr>
                                                        <td>
                                                            <img class="cached-img unveil"
                                                                store="{{store.id}}" product="{{image.product}}" variant="{{image.variant}}"
                                                                src="{% static 'img/blank.gif' %}"

                                                                {% if item.image_src %}
                                                                    data-src="{% shopify_image_thumb item.image_src %}"
                                                                {% else %}
                                                                    data-src="/api/product-variant-image?store={{store.id}}&product={{image.product}}&variant={{image.variant}}&redirect=1"
                                                                {% endif %}

                                                                style="width:64px" />
                                                         </td>
                                                        <td>
                                                            {% if item.product %}
                                                            <a href="/product/{{item.product.id}}" target="_blank">{{item.name}}</a>
                                                            {% else %}
                                                            {{item.name}}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <a href="{{item.variant_link}}" target="_blank">{{item.variant_title|default:'&lt;Default&gt;'}}</a>
                                                        </td>
                                                        <td>
                                                            <span style="{% if item.quantity > 1 %} font-weight: bolder; color: blue{% endif %}">
                                                                {{item.quantity}}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            {% include 'partial/place_order_btn.html' %}
                                                        </td>
                                                        <td>
                                                            {% if not item.fulfillment_status %}

                                                                <div class="btn-group">
                                                                    <button data-toggle="dropdown" class="btn btn-success btn-outline btn-xs dropdown-toggle" aria-expanded="false">
                                                                        Unfulfilled
                                                                        <span class="caret"></span></button>

                                                                        <ul class="dropdown-menu">
                                                                            <li><a class="fulfill-btn" quantity="{{item.quantity}}" order-id="{{order.id}}" line-id="{{item.id}}" store="{{order.store.id}}" tracking-number="{{item.shopify_order.source_tracking}}">Fulfill in Shopify</a></li>
                                                                        </ul>
                                                                    </div>
                                                            {% else %}
                                                                <span class="label label-success">{{item.fulfillment_status|title}}</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if item.shopify_order and item.shopify_order.source_tracking %}
                                                            <a href="https://track.aftership.com/{{item.shopify_order.source_tracking}}" target="_blank">
                                                                {{item.shopify_order.source_tracking}}
                                                            </a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </thead>
                                            </table>
                                            </div>
                                        </div>
                                    </div>

                                    {% endwith %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% empty %}

                        {% if api_error %}
                            <p class="text-center">Shopify Error: {{api_error}}</p>
                            <p class="text-center">Please Try again in a few seconds by reloading the page.</p>
                        {% else %}
                            <h3 class="text-center">
                                No orders found.
                            </h3>
                            <p class="text-center">
                                Try adjusting your <a class="filter-btn" href="#">Filters</a> or
                                <a href="{% url_multi_replace status='any' fulfillment='any' financial='any' connected='false' %}">
                                    {% if request.GET.query or request.GET.query_order or request.GET.query_customer or request.GET.query_address %}
                                        Search in
                                    {% else %}
                                        View
                                    {% endif %}
                                    all Orders
                                </a>
                            </p>
                        {% endif %}
                        {% endfor %}
                    </div>

                    {% include "partial/paginator.html" %}
                </div>
            </div>
        </div>
    </div>

    {% include 'partial/fulfillment_modal.html' with notify=True only %}

<div id="shipping-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Choose Shipping Method</h4>
            </div>
            <div class="modal-body">
                <div class="shipping-info"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extracss %}
<style type="text/css">

    .no-padding {
        padding: 0 !important;
    }
    .orders .row {
        margin: 0 !important;
    }
    .filter-form {
        background-color: rgb(243, 243, 244)
        border-radius: 5px;
        border: 1px solid rgb(215, 218, 215);
        box-shadow: rgb(215, 218, 215) 0px 0px 10px 0px;
        margin: 10px 5px 0px;
        padding: 15px 0px 20px 15px;
    }
    .orders {
        margin:  20px 5px;
    }
    .orders .order {
        border: 1px solid #ccc;
        margin: 10px 0 30px 0;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 0px rgb(204, 204, 204);
    }
    .orders .order .header {
        padding: 20px 10px;
        border-bottom: 1px solid #ccc;

    }
    .orders .order .details {
        padding: 0;
    }
    .orders .order .details .shipping-info {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    .orders .order .details .line {
        padding: 0;
        margin: 15px;
        border: 1px solid #ccc;
    }
    .orders .order .details .line .source-order {
        padding: 15px 0px;
        border-bottom: 1px solid #CCC;
    }
    .orders .order .details .line .item {
    }
    .orders .order .details .line .table{
        margin: 0px;
    }

    .orders .order .details .panel {
        margin: 0;
    }
    .orders .order .details .panel .panel-heading {
        font-weight: bold;
        padding: 2px 0px 0px 5px;
        background: none;
        border-bottom: 0;
    }
    .orders .order .details .panel .panel-body {
        padding: 0px 0px 0px 5px;
    }
    .note-panel {
        cursor: pointer !important;
        position: absolute !important;
        top: 0px !important;
        right: 0px !important;
        width: 300px !important;
        z-index: 999 !important;
        padding: 0 !important;
        margin-top: -11px !important;
        margin-right: -11px !important;
        border-bottom: 0px solid #ccc !important;
        border-radius: 0 !important;
        border-color: #ccc !important;
    }
    .note-panel .panel-body {
        border: 0px solid #ccc !important;
    }
    .note-panel .edit-note{
        display: none;
    }
    .note-panel .edit-note .note {
        width: 99%;
        height: 250px;
        margin-bottom: 40px;
    }

    .order {
        background-color: white !important;
    }
    .gray-panel {
        background-color: #f3f3f4 !important;
    }

    .icheckbox_square-blue {
        position: relative !important;
    }
    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        width: 125px !important;
        font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        color: #989898 !important;
    }
</style>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    var user_filter = {
        sort: '{{ user_filter.sort }}',
        status: '{{ user_filter.status }}',
        fulfillment: '{{ user_filter.fulfillment }}',
        financial: '{{ user_filter.financial }}',
        sort_type: "{{ user_filter.desc|default:'false'}}",
        connected: "{{ user_filter.connected|default:'false' }}",
    };
</script>

{% compress js %}
    <script src="{% static 'shopified/js/orders.js' %}" type="text/javascript"></script>
{% endcompress %}

{% endblock %}

