{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load template_helper %}

{% block title %}Alerts{% endblock %}

{% block breadcrumb-right %}
<div class="text-right">
    <div class="dropdown-container">
        <a data-toggle="dropdown" href="#" aria-expanded="false" class="btn btn-primary dropdown-toggle btn-dropdown">
          <span>Archive Alerts</span>
          <img src="{% static 'img/archive.svg' %}"></a>
        <ul class="dropdown-menu archive-dropdown">
            <li>
                <a store-id="{{store.id}}" id="archive-all-alerts" href="#">Archive All Alerts</a>
            </li>
            <li>
                <a store-id="{{store.id}}" id="delete-all-alerts" href="#">Delete All Alerts</a>
            </li>
            <li>
              {% if show_hidden %}
                  <a href="{% url 'product_alerts' %}?store={{ request.GET.store }}">View All Alerts</a>
              {% else %}
                  <a href="{% url 'product_alerts' %}?hidden=1&store={{ request.GET.store }}">View Archived Alerts</a>
              {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block main-container %}
<div class="tabs-container">
  {% include 'home/partial/tabs/product_alerts.html' %}
  {% include 'home/partial/product_alerts_filter.html' %}

  <div class="tab-content">
      <div id="tab-1" class="tab-pane active">
        <div class="panel-body alerts-body">
          {% if upsell %}
          {% if request.user.profile.plan.support_addons %}
          {% include "common/partial/upsell.html" with addon_id=20 message="Add Alerts to your Plan" only %}
          {% else %}
          {% include "common/partial/upsell.html" with addon_id='' message="Please upgrade your Plan to add Alerts" only %}
          {% endif %}
          {% endif %}
          <table class="table alert-table">
            <tbody>              <tr class="header" alert-id="{{item.id}}">
                <td class="category details-toggle">Availability</td>
                <td class="alert-details">
                  {% if not change.new_value %}
                  Product
                  <a href="{{item.qelem.product_link}}" target="_blank" class="itooltip" title="{{item.qelem.product.title}}">{{item.qelem.product.title|truncatewords:5}}</a>
                  Is now <b style="color:green">Online</b>
                  {% else %}
                  Product
                  <a href="{{item.qelem.product_link}}" target="_blank" class="itooltip" title="{{item.qelem.product.title}}">{{item.qelem.product.title|truncatewords:5}}</a>
                  Is now <b style="color:red">Offline</b>
                  {% endif %}
                </td>
                <td class="alert-date details-toggle">{{item.qelem.updated_at|date}}</td>
                <td class="text-right alert-actions">
                  <a data-toggle="dropdown" href="#" aria-expanded="false" class="dropdown-toggle btn small">
                    <span>Actions</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu action-dropdown">
                    <li>
                      <a class="view-details" href="#">View Details</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-original-link="{{item.original_link}}" data-key="original" href="#">Original Product</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-shopify-link="{{item.shopify_link|default:''}}" data-key="shopify" href="#">Open in Shopify</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-product-id="{{item.product.id}}" data-key="shopified" href="#">Open in Dropified</a>
                    </li>
                    <li>
                      <a class="open-orders-btn" href="{% url 'orders' %}" data-product="{{ item.qelem.product.pk }}" data-orders="{{orders}}">
                        Find Orders
                      </a>
                    </li>
                    {% if not request.GET.hidden %}
                    <li>
                      <a class="archive-alert" alert-id="{{item.id}}" href="#">Archive</a>
                    </li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
              {% for item in product_changes %}
              {% for change in item.changes.product.offline %}
              {% if forloop.first %}
              <tr class="header" alert-id="{{item.id}}">
                <td class="category details-toggle">Availability</td>
                <td class="alert-details">
                  {% if not change.new_value %}
                  Product
                  <a href="{{item.qelem.product_link}}" target="_blank" class="itooltip" title="{{item.qelem.product.title}}">{{item.qelem.product.title|truncatewords:5}}</a>
                  Is now <b style="color:green">Online</b>
                  {% else %}
                  Product
                  <a href="{{item.qelem.product_link}}" target="_blank" class="itooltip" title="{{item.qelem.product.title}}">{{item.qelem.product.title|truncatewords:5}}</a>
                  Is now <b style="color:red">Offline</b>
                  {% endif %}
                </td>
                <td class="alert-date details-toggle">{{item.qelem.updated_at|date}}</td>
                <td class="text-right alert-actions">
                  <a data-toggle="dropdown" href="#" aria-expanded="false" class="dropdown-toggle btn small">
                    <span>Actions</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu action-dropdown">
                    <li>
                      <a class="view-details" href="#">View Details</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-original-link="{{item.original_link}}" data-key="original" href="#">Original Product</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-shopify-link="{{item.shopify_link|default:''}}" data-key="shopify" href="#">Open in Shopify</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-product-id="{{item.product.id}}" data-key="shopified" href="#">Open in Dropified</a>
                    </li>
                    <li>
                      <a class="open-orders-btn" href="{% url 'orders' %}" data-product="{{ item.qelem.product.pk }}" data-orders="{{orders}}">
                        Find Orders
                      </a>
                    </li>
                    {% if not request.GET.hidden %}
                    <li>
                      <a class="archive-alert" alert-id="{{item.id}}" href="#">Archive</a>
                    </li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
              <tr class="details" alert-id="{{item.id}}">
                {% endif %}
                {% if forloop.last %}
              </tr>
              {% endif %}
              {% endfor %}

              {% for change in item.changes.variants.price %}
              {% if forloop.first %}
              <tr class="header" alert-id="{{item.id}}" >
                <td class="category details-toggle">Price</td>
                <td class="alert-details">The <b>Price</b> of one or more Variants of <a href="{{item.qelem.product_link}}" target="_blank" class="itooltip" title="{{item.qelem.product.title}}">{{item.qelem.product.title|truncatewords:5}}</a> has changed</td>
                <td class="alert-date details-toggle">{{item.qelem.updated_at|date}}</td>
                <td class="text-right alert-actions">
                  <a data-toggle="dropdown" href="#" aria-expanded="false" class="dropdown-toggle btn small">
                    <span>Actions</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu action-dropdown">
                    <li>
                      <a class="view-details" href="#">View Details</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-original-link="{{item.original_link}}" data-key="original" href="#">Original Product</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-shopify-link="{{item.shopify_link|default:''}}" data-key="shopify" href="#">Open in Shopify</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-product-id="{{item.product.id}}" data-key="shopified" href="#">Open in Dropified</a>
                    </li>
                    <li>
                      <a class="open-orders-btn" href="{% url 'orders' %}" data-product="{{ item.qelem.product.pk }}" data-orders="{{orders}}">
                        Find Orders
                      </a>
                    </li>
                    {% if not request.GET.hidden %}
                    <li>
                      <a class="archive-alert" alert-id="{{item.id}}" href="#">Archive</a>
                    </li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
              <tr class="details" alert-id="{{item.id}}">
                <td class="well" colspan="4" style="background: #F6F8F9;">
                  <div class="row alert-row-header">
                    <div class="col-md-offset-1 col-md-3 text-right">Variant</div>
                    <div class="col-md-2">Rate</div>
                    <div class="col-md-2">Old Price</div>
                    <div class="col-md-2">New Price</div>
                    <div class="col-md-2">Shopify</div>
                  </div>

                  {% endif %}
                  <div class="row alert-row-detail">
                    <div class="col-md-offset-1 col-md-3 text-right">{{change.sku_readable}}</div>
                    <div class="col-md-2"> {% price_diff change.old_value change.new_value %}</div>
                    <div class="col-md-2">{% money_format change.old_value store %}</div>
                    <div class="col-md-2">{% money_format change.new_value store %}</div>
                    <div class="col-md-2">
                      {% if change.shopify_value_label %}
                      {{ change.shopify_value_label }}
                      {% else %}
                      {% money_format change.shopify_value store %}
                      {% endif %}
                    </div>
                  </div>
                  {% if forloop.last %}
                </td>
              </tr>
              {% endif %}
              {% endfor %}

              {% for change in item.changes.variants.quantity %}
              {% if forloop.first %}
              <tr class="header" alert-id="{{item.id}}" >
                <td class="category details-toggle">Quantity</td>
                <td class="alert-details">The <b>Quantity</b> of one or more Variants of <a href="{{item.qelem.product_link}}" target="_blank" class="itooltip" title="{{item.qelem.product.title}}">{{item.qelem.product.title|truncatewords:5}}</a> has changed</td>
                <td class="alert-date details-toggle">{{item.qelem.updated_at|date}}</td>
                <td class="text-right alert-actions">
                  <a data-toggle="dropdown" href="#" aria-expanded="false" class="dropdown-toggle btn small">
                    <span>Actions</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu action-dropdown">
                    <li>
                      <a class="view-details" href="#">View Details</a>
                    </li>
                    <li>
                      <a class="open-product-in"  data-original-link="{{item.original_link}}" data-key="original" href="#">Original Product</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-shopify-link="{{item.shopify_link|default:''}}" data-key="shopify" href="#">Open in Shopify</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-product-id="{{item.product.id}}" data-key="shopified" href="#">Open in Dropified</a>
                    </li>
                    <li>
                      <a class="open-orders-btn" href="{% url 'orders' %}" data-product="{{ item.qelem.product.pk }}" data-orders="{{orders}}">
                        Find Orders
                      </a>
                    </li>
                    {% if not request.GET.hidden %}
                    <li>
                      <a class="archive-alert" alert-id="{{item.id}}" href="#">Archive</a>
                    </li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
              <tr class="details" alert-id="{{item.id}}">
                <td class="well" colspan="4" style="background: #F6F8F9;">
                  <div class="row alert-row-header">
                    <div class="col-md-offset-1 col-md-3 text-right">Variant</div>
                    <div class="col-md-2">Rate</div>
                    <div class="col-md-2">Old Quantity</div>
                    <div class="col-md-2">New Quantity</div>
                    <div class="col-md-2">Shopify</div>
                  </div>

                  {% endif %}
                  <div class="row alert-row-detail">
                    <div class="col-md-offset-1 col-md-3 text-right">{{change.sku_readable}}</div>
                    <div class="col-md-2">{% price_diff change.old_value change.new_value True %}</div>
                    <div class="col-md-2">{{change.old_value}}</div>
                    <div class="col-md-2">{{change.new_value}}</div>
                    <div class="col-md-2">{{change.shopify_value}}</div>
                  </div>
                  {% if forloop.last %}
                </td>
              </tr>
              {% endif %}
              {% endfor %}

              {# New Variants #}
              {% for change in item.changes.variants.var_added %}
              {% if forloop.first %}
              <tr class="header" alert-id="{{item.id}}" >
                <td class="category details-toggle">New Variant</td>
                <td class="alert-details">A <b>new variant</b> has been added to <a href="{{item.qelem.product_link}}" target="_blank" class="itooltip" title="{{item.qelem.product.title}}">{{item.qelem.product.title|truncatewords:5}}</a></td>
                <td class="alert-date details-toggle">{{item.qelem.updated_at|date}}</td>
                <td class="text-right alert-actions">
                  <a data-toggle="dropdown" href="#" aria-expanded="false" class="dropdown-toggle btn small">
                    <span>Actions</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu action-dropdown">
                    <li>
                      <a class="view-details" href="#">View Details</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-original-link="{{item.original_link}}" data-key="original" href="#">Original Product</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-shopify-link="{{item.shopify_link|default:''}}" data-key="shopify" href="#">Open in Shopify</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-product-id="{{item.product.id}}" data-key="shopified" href="#">Open in Dropified</a>
                    </li>
                    <li>
                      <a class="open-orders-btn" href="{% url 'orders' %}" data-product="{{ item.qelem.product.pk }}" data-orders="{{orders}}">
                        Find Orders
                      </a>
                    </li>
                    {% if not request.GET.hidden %}
                    <li>
                      <a class="archive-alert" alert-id="{{item.id}}" href="#">Archive</a>
                    </li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
              <tr class="details" alert-id="{{item.id}}">
                <td class="well" colspan="4" style="background: #F6F8F9;">
                  <div class="row alert-row-header">
                    <div class="col-md-offset-1 col-md-3 text-right">Variant</div>
                    <div class="col-md-2"></div>
                  </div>

                  {% endif %}
                  <div class="row alert-row-detail">
                    <div class="col-md-offset-1 col-md-3 text-right" style="color:green">
                      {{change.sku_readable}}
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                  {% if forloop.last %}
                </td>
              </tr>
              {% endif %}
              {% endfor %}

              {# Removed Product Variants #}
              {% for change in item.changes.variants.var_removed %}
              {% if forloop.first %}
              <tr class="header" alert-id="{{item.id}}" >
                <td class="category details-toggle">Removed Variant</td>
                <td class="alert-details">A variant has been removed from <a href="{{item.qelem.product_link}}" target="_blank" class="itooltip" title="{{item.qelem.product.title}}">{{item.qelem.product.title|truncatewords:5}}</a></td>
                <td class="alert-date details-toggle">{{item.qelem.updated_at|date}}</td>
                <td class="text-right alert-actions">
                  <a data-toggle="dropdown" href="#" aria-expanded="false" class="dropdown-toggle btn small">
                    <span>Actions</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu action-dropdown">
                    <li>
                      <a class="view-details" href="#">View Details</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-original-link="{{item.original_link}}" data-key="original" href="#">Original Product</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-shopify-link="{{item.shopify_link|default:''}}" data-key="shopify" href="#">Open in Shopify</a>
                    </li>
                    <li>
                      <a class="open-product-in" data-product-id="{{item.product.id}}" data-key="shopified" href="#">Open in Dropified</a>
                    </li>
                    <li>
                      <a class="open-orders-btn" href="{% url 'orders' %}" data-product="{{ item.qelem.product.pk }}" data-orders="{{orders}}">
                        Find Orders
                      </a>
                    </li>
                    {% if not request.GET.hidden %}
                    <li>
                      <a class="archive-alert" alert-id="{{item.id}}" href="#">Archive</a>
                    </li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
              <tr class="details" alert-id="{{item.id}}">
                <td class="well" colspan="4" style="background: #F6F8F9;">
                  <div class="row alert-row-header">
                    <div class="col-md-offset-1 col-md-3 text-right">Variant</div>
                    <div class="col-md-2"></div>
                  </div>

                  {% endif %}
                  <div class="row alert-row-detail">
                    <div class="col-md-offset-1 col-md-3 text-right" style="color:red">
                      {{change.sku_readable}}
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                  {% if forloop.last %}
                </td>
              </tr>
              {% endif %}

              {% endfor %}
              {% empty %}
              <tr>
                <td class="text-center no-border-bottom" colspan="4">
                  <i>No alerts to display at this time</i>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% include "partial/paginator.html" %}
        </div>
      </div>
  </div>
</div>


{% endblock %}

{% block extracss %}
{% compress css %}
<link href="{% static 'libs/bower_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endcompress %}

<style type="text/css">
    tbody tr.header {
        height: 50px !important;
        max-height: 50px !important;
    }

    tbody tr td {
        vertical-align: middle !important;
    }

    .details {
        display: none;
    }

    .select2.select2-container.select2-container--default {
        width: 420px !important;
    }
</style>
{% endblock %}

{% block extrajs %}
{% compress js %}
<script type="text/javascript" src="{% static 'libs/bower_components/handlebars/handlebars.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'shopified/js/product_alerts.js' %}"></script>
{% endcompress %}
{% endblock %}
