{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load template_helper %}

{% block title %}Alerts{% endblock %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
         <div class="tabs-container">
            <ul class="nav nav-tabs">
                {% if not show_hidden %}
                <li class="active"><a data-toggle="tab" href="#tab-1"> New Alerts</a></li>
                <li class=""><a href="{% url 'products_update' %}?hidden=1"> Archived</a></li>
                {% else %}
                <li class=""><a href="{% url 'products_update' %}"> New Alerts</a></li>
                <li class="active"><a data-toggle="tab" href="#tab-1"> Archived</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for change in product_changes.changes.product %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endfor %}

                                {% for item in product_changes %}
                                    {% for change in item.changes.product.offline %}
                                        {% if forloop.first %}
                                        <tr class="header" alert-id="{{item.id}}">
                                            <td class="category">Vendor</td>
                                            <td class="details-toggle">A vendor store has gone <b>{% if change.new_value %}Online{% else %}Offline{% endif %}</b></td>
                                            <td>{{item.qelem.updated_at|date}}</td>
                                            <td>
                                                <a class="btn btn-default btn-outline btn-xs view-details" href="#">View Details</a>
                                                <a class="btn success-default btn-xs open-product-in" product-id="{{item.product.id}}" shopify-link="{{item.shopify_link}}" original-link="{{item.original_link}}" href="#">Open Product</a>
                                                <a class="btn btn-primary btn-outline btn-xs archive-alert" alert-id="{{item.id}}" href="#">Archive</a>
                                            </td>
                                        </tr>
                                        <tr class="details" alert-id="{{item.id}}">
                                            <td class="well" colspan="4">
                                                <div class="row" style="margin-bottom: 12px; border-bottom: 1px solid rgb(230, 230, 230);">
                                                    <div class="col-md-offset-1 col-md-3 var-name"><b>Variant</b></div>
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-3"><b>Old Price</b></div>
                                                    <div class="col-md-3"><b>New Price</b></div>
                                                </div>

                                        {% endif %}
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-3 var-name">{{change.variant_desc}}</div>
                                                    <div class="col-md-2"> {% price_diff change.old_value change.new_value %}</div>
                                                    <div class="col-md-3">{{change.old_value}}</div>
                                                    <div class="col-md-3">{{change.new_value}}</div>
                                                </div>
                                        {% if forloop.last %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}

                                    {% for change in item.changes.variants.price %}
                                        {% if forloop.first %}
                                        <tr class="header" alert-id="{{item.id}}" >
                                            <td class="category">Price</td>
                                            <td class="details-toggle">The <b>Price</b> of one or more Variants of <a href="{{item.qelem.product.get_original_info.url}}" target="_blank">{{item.qelem.product.get_product|truncatewords:5}}</a> has changed</td>
                                            <td>{{item.qelem.updated_at|date}}</td>
                                            <td>
                                                <a class="btn btn-default btn-outline btn-xs view-details" href="#">View Details</a>
                                                <a class="btn btn-success btn-outline btn-xs open-product-in" product-id="{{item.product.id}}" shopify-link="{{item.shopify_link}}" original-link="{{item.original_link}}" href="#">Open Product</a>
                                                <a class="btn btn-primary btn-outline btn-xs archive-alert" alert-id="{{item.id}}" href="#">Archive</a>
                                            </td>
                                        </tr>
                                        <tr class="details" alert-id="{{item.id}}">
                                            <td class="well" colspan="4">
                                                <div class="row" style="margin-bottom: 12px; border-bottom: 1px solid rgb(230, 230, 230);">
                                                    <div class="col-md-offset-1 col-md-3 var-name"><b>Variant</b></div>
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-3"><b>Old Price</b></div>
                                                    <div class="col-md-3"><b>New Price</b></div>
                                                </div>

                                        {% endif %}
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-3 var-name">{{change.variant_desc}}</div>
                                                    <div class="col-md-2"> {% price_diff change.old_value change.new_value %}</div>
                                                    <div class="col-md-3">{{change.old_value}}</div>
                                                    <div class="col-md-3">{{change.new_value}}</div>
                                                </div>
                                        {% if forloop.last %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}

                                    {% for change in item.changes.variants.quantity %}
                                        {% if forloop.first %}
                                        <tr class="header" alert-id="{{item.id}}" >
                                            <td class="category">Availability</td>
                                            <td class="details-toggle">The <b>Availability</b> of one or more Variants of <a href="{{item.qelem.product.get_original_info.url}}" target="_blank">{{item.qelem.product.get_product|truncatewords:5}}</a> has changed</td>
                                            <td>{{item.qelem.updated_at|date}}</td>
                                            <td>
                                                <a class="btn btn-default btn-outline btn-xs view-details" href="#">View Details</a>
                                                <a class="btn btn-success btn-outline btn-xs open-product-in" product-id="{{item.product.id}}" shopify-link="{{item.shopify_link}}" original-link="{{item.original_link}}" href="#">Open Product</a>
                                                <a class="btn btn-primary btn-outline btn-xs archive-alert" alert-id="{{item.id}}" href="#">Archive</a>
                                            </td>
                                        </tr>
                                        <tr class="details" alert-id="{{item.id}}">
                                            <td class="well" colspan="4">
                                                <div class="row" style="margin-bottom: 12px; border-bottom: 1px solid rgb(230, 230, 230);">
                                                    <div class="col-md-offset-1 col-md-3 var-name"><b>Variant</b></div>
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-3"><b>Old Quantity</b></div>
                                                    <div class="col-md-3"><b>New Quantity</b></div>
                                                </div>

                                        {% endif %}
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-3 var-name">{{change.variant_desc}}</div>
                                                    <div class="col-md-2">{% price_diff change.old_value change.new_value True %}</div>
                                                    <div class="col-md-3">{{change.old_value}}</div>
                                                    <div class="col-md-3">{{change.new_value}}</div>
                                                </div>
                                        {% if forloop.last %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% empty %}
                                    <tr>
                                        <td class="text-center" colspan="4">
                                            <i>No alerts to display at this time</i>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% include "partial/paginator.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extracss %}
<style type="text/css">
    tbody tr.header {
        height: 50px !important;
    }

    tbody tr td {
        vertical-align: middle !important;
    }

    tr td.category {
        font-weight: bold;
    }

    .details {
        display: none;
    }

    .var-name {
        text-align: right;
    }

    {% if request.GET.hidden %}
    .archive-alert {
        display:none;
    }
    {% endif %}
</style>
{% endblock %}

{% block extrajs %}
{% compress js %}
<script type="text/javascript" src="{% static 'shopified/js/products_update.js' %}"></script>
{% endcompress %}
{% endblock %}
