{% extends "base.html" %}

{% load static %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Saved Products<small></small></h5>
                <div class="ibox-tools">
                    <a style="color: rgba(0, 0, 0, 0.76)" title="Table Layout"><i class="fa fa-lg fa-list"></i></a>
                    <a href="/product"  title="Grid Layout"><i class="fa fa-lg fa-th"></i></a>
                </div>

            </div>
            <div class="ibox-content">
                <table class="table table-bordered dataTables">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Tags</th>
                            <th>Date</th>
                            <!-- <th>Options</th> -->
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in products %}
                        <tr>
                            <td>
                                <ul class="media-list">
                                  <li class="media">
                                    <a class="pull-left" href="#">
                                      <img style="width: 64px; height: 64px;" class="media-object" src="{{item.images|first}}" alt="">
                                    </a>
                                    <div class="media-body">
                                      <h4 class="media-heading"><a href="/product/{{item.id}}">{{item.product.title}}</a></h4>
                                    </div>
                                  </li>
                                </ul>
                            </td>
                            <td>{{item.product.price}}</td>
                            <td>{{item.product.type}}</td>
                            <td>{{item.product.tags}}</td>
                            <td>{{item.created_at|date}}</td>
<!--                             <td>
                                <a href="/product/{{item.id}}" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                <button class="btn btn-xs btn-danger delete-store" store-id="{{item.id}}">Delete</button>
                            </td>
 -->                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <!-- <script src="http://www.appelsiini.net/projects/jeditable/jquery.jeditable.js"></script> -->

    <script type="text/javascript">
       $(document).ready(function() {
            var oTable = $('.dataTables').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/static/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf",
                    "aButtons": []
                }
            });

            /* Apply the jEditable handlers to the table */
            // oTable.$('td').editable( '/example_ajax.php', {
            //     "callback": function( sValue, y ) {
            //         var aPos = oTable.fnGetPosition( this );
            //         oTable.fnUpdate( sValue, aPos[0], aPos[1] );
            //     },
            //     "submitdata": function ( value, settings ) {
            //         return {
            //             "row_id": this.parentNode.getAttribute('id'),
            //             "column": oTable.fnGetPosition( this )[2]
            //         };
            //     },

            //     "width": "90%",
            //     "height": "100%"
            // });

        });

    $('#add-store').click(function(e) {
        var url = $('#store-url').val().match(/[^\*:/]{10,}:[^\*:]{10,}@[^\.]+\.myshopify\.com/);

        if (!url || url.length != 1) {
            alert('API URL is not correct!');
            return;
        }

        $('#add-store').button('loading');

        $.ajax({
            url: '/api/add-store',
            type: 'POST',
            data: {
                name: $('#store-name').val(),
                url: 'https://' + url[0],
            },
            success: function(data) {
                if ('error' in data) {
                    alert(data.error);
                    $('#add-store').button('reset');
                } else {
                    window.location.href = window.location.href
                }

            },
            error: function(data) {
                alert('Unknow error!');
                $('#add-store').button('reset');
            }
        });
    });

    $('.delete-store').click(function (e) {
        var btn = $(this);
        var url = $(this).attr('store-url');

        btn.button('loading');

        $.ajax({
            url: '/api/delete-store',
            type: 'POST',
            data: {
                url: url,
            },
            success: function(data) {
                if ('error' in data) {
                    alert(data.error);
                    btn.button('reset');
                } else {
                    btn.parents('tr').remove();
                }

            },
            error: function(data) {
                alert('Connection error');
                btn.button('reset');
            }
        });
    });

    $('.visit-store').click(function(e) {
        var url = $(this).attr('store-url');
        url = url.replace(/[^\/:]+:[^:]+@/, '') + '/admin';

        window.open(url, '_target');
    });

</script>
{% endblock %}

