{% extends template_config.base|default:'base.html' %}

{% load static %}
{% load url_tools %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block breadcrumb-right %}
{% include 'partial/right_breadcrumbs.html' %}
{% endblock %}

{% block main-container %}

    <div class="tabs-container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12" style="display:flex;margin-bottom:50px;">
                            <input id="product-search-input" type="text" placeholder="Search US Products Database..." class="form-control input-lg m-r">
                            <select id="product-search-cat" class="form-control input-lg m-r" style="flex-shrink:2">
                                <option value="">Any Category</option>
                                {% for cat in aliexpress_categories %}
                                <option value="{{cat.url}}">{{cat.name}}</option>
                                    {% for sub in cat.sub %}
                                    <option value="{{sub.url}}">&nbsp;&nbsp;&nbsp;&nbsp;{{sub.name}}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>

                            <select id="product-search-sort" class="form-control input-lg m-r" style="flex-shrink:2">
                                <option value="default">Best Match</option>
                                <option value="total_tranpro_desc" selected>Orders</option>
                                <option value="create_desc">Newest</option>
                                <option value="price_asc">Price - low first</option>
                                <option value="price_desc">Price - high first</option>
                            </select>

                            <button id="product-search-btn" class="btn btn-lg btn-success"><i class="fa fa-search m-r-xs"></i> Search</button>
                        </div>
                    </div>


                    <div class="category-list">
                        {% for cat in aliexpress_categories %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="cat-title"><a class="open-category" href="#" data-url="{{cat.url}}">{{cat.name}}</a></h3>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 50px">
                            {% for sub in cat.sub %}
                            <div class="col-xs-3">
                                <a class="sub-cat-title open-category" href="#" data-url="{{sub.url}}">{{sub.name}}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="products-list">
                    </div>
            </div>
        </div>
    </div>
</div>


{% include "partial/product_edit_modal.html" %}

<div id="modal-board-product" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Add to board</h3>
                        <form role="form">
                            <div class="form-group text-center">
                                <label for="selected-board">Select board</label>
                                <select class="form-control" name="selected-board" id="selected-board" style="display: inline-block; width: 191px; ">
                                    <!-- <option value=""></option> -->
                                    {% for item in request.user.get_boards %}
                                    <option value="{{item.id}}">{{item.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <button id="board-product-send" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>Apply</strong>
                                </button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% include 'partial/shopify_send_modal.html' %}

{% include 'partial/filter_modal.html' with filter_no_tag=True filter_no_visibility=True filter_product_type='Category' %}

{% verbatim %}
<script id="products-collection-product-template" type="text/x-handlebars-template">
    <div class="col-xs-12 col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box" product-id="{{item.id}}">
                <div class="product-imitation" style="padding: 0;">
                    <a href="{{ item.productDetailUrl }}" target="_blank">
                        <img class="unveil" src="{{item.lowImageUrl}}" data-src="{{item.imageUrl}}" style="width: 100%">
                    </a>
                </div>
                <div class="product-desc">
                    <span class="product-price">

                    </span>
                    <span class="product-price">
                        {{ item.price }}
                    </span>

                    <small class="text-muted" style="float:right;font-weight: bold;border: 1px solid #ccc;padding: 1px 5px;border-radius: 3px">
                        <a href="#">
                            {{ item.tradeDesc }}
                        </a>
                    </small>

                    <small class="text-muted" style="font-weight: bold;border: 1px solid #ccc;padding: 1px 5px;border-radius: 3px">
                        <a href="{{ item.store.storeUrl }}" target="_blank">
                            {{ item.store.storeName }}
                        </a>
                    </small>

                    <a href="{{ item.productDetailUrl }}" class="hidden-xs product-name" style="margin-top: 10px;" target="_blank"> {{ item.title }}</a>
                    <a href="{{ item.productDetailUrl }}" class="visible-xs product-name" style="font-size: 12px" target="_blank"> {{ item.title }}</a>

                    <div class="small m-t-xs">
                    </div>

                    <div class="m-t row">
                        <div class="col-xs-10" style="padding-right:0">
                            <i class="fa fa-truck"></i> {{ item.logisticsDesc }}
                        </div>
                        <div class="col-xs-2 text-right" style="overflow:hidden;padding-left:5px">
                            <i class="fa fa-star"></i> {{item.starRating}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}

{% endblock %}

{% block extracss %}
    <style type="text/css">
        .icheckbox_square-blue {
            position: absolute;
            margin: 0;
            background-color: #fff;
        }

        h3.cat-title {
            border-bottom: 1px solid #6793b154;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }

        .products-list {
            display: flex;
            flex-flow: wrap;
        }

        .product-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .product-price {
            background-color: #7dc4c2;
        }

        .product-desc {
            padding: 10px;
            background-color: #f5f5f5;
        }

        .product-imitation {
            min-width: 300px;
        }
    </style>
{% endblock %}

{% block extrajs %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-loading-overlay/2.1.6/loadingoverlay.min.js"
        integrity="sha256-CImtjQVvmu/mM9AW+6gYkksByF4RBCeRzXMDA9MuAso=" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-hashchange/1.3/jquery.ba-hashchange.min.js"></script>

{% compress js %}
    <script src="{% static 'libs/bower_components/handlebars/handlebars.min.js' %}" type="text/javascript" ></script>
    <script type="text/javascript" src="{% static 'shopified/js/shopify_send_modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'shopified/js/products_collections.js' %}"></script>
{% endcompress %}
{% endblock %}

