{% extends "base.html" %}

{% load static %}
{% load url_tools %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block main-container %}

    <div class="tabs-container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-8">
                        <p>
                            <i>US Products Database</i>
                        </p>
                    </div>
                    <div class="col-md-1 pull-right text-right">
                        <button class="btn btn-success btn-outline filter-btn" data-toggle="modal" data-target="#modal-filter">Filter</button>
                        {# <a href="#" style="cursor:default;color: rgba(0, 0, 0, 0.76)" title="Table Layout"><i class="fa fa-lg fa-list"></i></a> #}
                        {# <a href="/product" title="Grid Layout"><i class="fa fa-lg fa-th"></i></a> #}
                    </div>
                </div>
                <table class="table table-striped table-bordered xdataTables">
                    <thead>
                        <tr>
                            <!-- <th style="width:40px"></th> -->
                            <th style="width:64px"></th>
                            <th style="width:40%"><a href="{% url_toggle 'sort' '-title,title' %}">Title {% sort_icon 'sort' 'title' %}</a></th>
                            <th><a href="{% url_toggle 'sort' '-price,price' %}">Price {% sort_icon 'sort' 'price' %}</a></th>
                            <th><a href="{% url_toggle 'sort' '-category,category' %}">Category {% sort_icon 'sort' 'category' %}</a></th>
                            <th><a href="{% url_toggle 'sort' '-rating,rating' %}">Rating {% sort_icon 'sort' 'rating' %}</a></th>
                            <th><a href="{% url_toggle 'sort' '-orders_numbers,orders_numbers' %}">Orders {% sort_icon 'sort' 'orders_numbers' %}</a></th>
                            <th style="width: 10%;"><a href="{% url_toggle 'sort' '-created_at,created_at' %}">Date added {% sort_icon 'sort' 'created_at' %}</a></th>
                            <th style="width: 110px">Store</th>
                            {# <th>Options</th> #}
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in products %}
                        <tr product-id="{{item.id}}">
                            <!-- <td>
                                <input class="item-select icheck" style="" id="product_{{item.id}}" name="product" value="{{item.id}}" type="checkbox" />
                                <label class="pull-left" for="product_{{item.id}}"></label>
                            </td> -->
                            <td>
                                <img style="width: 64px; height: 64px;" class="media-object unveil" data-src="{{item.images|first}}" alt="">

                            </td>
                            <td>
                                <a href="http://aliexpress.com/item/-/{{item.product_id}}.html" target="_blank">{{item.title}}</a>
                            </td>
                            <td>{{item.price|money_format:None}}</td>
                            <td><a href="?f=1&type={{item.category|urlencode}}">{{item.category}}</a></td>
                            <td>{{item.rating}}</td>
                            <td>{{item.orders_numbers}}</td>
                            <td>{{item.created_at|get_datetime|date:"M d, Y"}}</td>
                            <td><a href="{{item.store.url}}" target="_blank">{{item.store.name}}</a></td>
                            {# <td> <button class="btn btn-xs btn-danger delete-product-btn" product-id="{{item.id}}"><i class="fa fa-times"></i> Delete</button> </td> #}
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="9">
                                No products found.
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include "partial/paginator.html" %}
            </div> <!-- div.ibox-content -->
        </div> <!-- div.ibox.float-e-margins -->
    </div> <!-- div.col-md-12 -->
</div> <!-- div.row -->


{% include "partial/product_edit_modal.html" %}

<div id="modal-board-product" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Add to board</h3>
                        <form role="form">
                            <div class="form-group text-center">
            <label for="selected-board">Select board</label>
            <select class="form-control" name="selected-board" id="selected-board" style="display: inline-block; width: 191px; ">
                <!-- <option value=""></option> -->
                {% for item in request.user.get_boards %}
                <option value="{{item.id}}">{{item.title}}</option>
                {% endfor %}
            </select>
                            </div>

                            <div>
                                <button id="board-product-send" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>Apply</strong>
                                </button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% include 'partial/shopify_send_modal.html' %}

{% include 'partial/filter_modal.html' with filter_no_tag=True filter_no_visibility=True filter_product_type='Category' %}

{% endblock %}

{% block extracss %}
    <style type="text/css">
        .icheckbox_square-blue {
            position: absolute;
            margin: 0;
            background-color: #fff;
        }
    </style>
{% endblock %}

{% block extrajs %}
{% compress js %}
    <script type="text/javascript" src="{% static 'shopified/js/products_table.js' %}"></script>
{% endcompress %}
{% endblock %}

