{% extends "base.html" %}

{% load static %}

{% block main-container %}

<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Saved Products<small></small></h5>
    <div class="ibox-tools">
        <a href="/product/table" title="Table Layout"><i class="fa fa-lg fa-list"></i></a>
        <a style="color: rgba(0, 0, 0, 0.76)" title="Grid Layout"><i class="fa fa-lg fa-th"></i></a>
    </div>
</div>
<div class="ibox-content">

<div class="row" style="margin-bottom: 20px">
    <div class="col-md-6">
        <label for="selected-actions">Selected Items:</label>
        <select class="form-control" name="selected-actions" id="selected-actions" style="display: inline-block; width: 191px; ">
            <option value=""></option>
            <option value="edit">Edit...</option>
            <option value="sent">Mark as Sent</option>
            <option value="unsent">Mark as Unsent</option>
            <option value="delete">Delete</option>
        </select>
        <button id="apply-btn" class="btn btn-primary">Apply</button>
    </div>
</div>

<div class="row">
    {% for item in products %}
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box" product-id="{{item.id}}">
                <div class="product-imitation" style="padding: 0;">
                    <input class="item-select icheck" style="" name="product" value="{{item.id}}" type="checkbox" />
                    <img src="{{item.images|first}}" style="width: 100%">
                </div>
                <div class="product-desc">
                    <span class="product-price">
                        {{item.price}}
                    </span>
                    <small class="text-muted">{{item.product.type}}</small>
                    <a href="/product/{{item.id}}" class="product-name"> {{item.product.title}}</a>

                    <div class="small m-t-xs">
                        Submitted at {{item.created_at|date}}
                    </div>
                    <div class="m-t text-righ">
                        <a href="/product/{{item.id}}" class="btn btn-xs btn-outline btn-primary"> Info <i class="fa fa-long-arrow-right"></i> </a>

                        <button product-id="{{item.id}}" {% if item.stat != 1 %}style="display:none"{% endif %} class="btn btn-xs btn-outline btn-success sent-btn" target="_blank"> <i class="fa fa-share"></i> <span>Sent</span></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>
</div>


{% endblock %}


{% block extrajs %}
<script type="text/javascript">

    function changeProductStat(product, stat, callback, erroback) {
        $.ajax({
            url: '/api/product-stat',
            type: 'POST',
            data: {
                product: product,
                sent: stat
            },
            success: function(data) {
                callback(data);
            },
            error: function(data) {
                erroback(data);
            }
        });
    }

    $('.sent-btn')
      .mouseenter(function() {
        $( 'span', this ).text( "Unsent" );
        $( this ).toggleClass( 'btn-success' );
        $( this ).toggleClass( 'btn-warning' );
      })
      .mouseleave(function() {
        $( 'span', this ).text( "Sent" );
        $( this ).toggleClass( 'btn-warning' );
        $( this ).toggleClass( 'btn-success' );
      })
      .click(function(e) {
        var btn = $(this);
        btn.button('loading');


        changeProductStat(btn.attr('product-id'), 0,
            function(data) {
                if ('error' in data) {
                    alert(data.error);
                    btn.button('reset');
                } else {
                    btn.hide();
                }
            }, function(data) {
                btn.button('reset');
                alert('Server side error')
        });
      });

      $('#apply-btn').click(function (e) {
            var action = $('#selected-actions').val();
            if (action == 'delete') {
                if (!confirm('Are you sure that you want to permanently delete the selected products?')) {
                    return;
                }
            }
            $('input[type=checkbox]').each(function(i, el) {
                if (el.checked) {
                    var product = $(el).parents('.product-box').attr('product-id');
                    if (action == 'unsent') {
                        var btn = $(el).parents('.product-box').find('.sent-btn');
                        btn.button('loading');

                        changeProductStat(product, 0, function(data) {
                            if (data.status == 'ok') {
                                btn.hide();
                            }
                        }, function(data) {
                            btn.button('reset');
                            alert('Server side error')
                        });
                    } else if (action == 'sent') {
                        var btn = $(el).parents('.product-box').find('.sent-btn');

                        changeProductStat(product, 1, function(data) {
                            if (data.status == 'ok') {
                                btn.show();
                            }
                        });
                    } else if (action == 'delete') {
                        $.ajax({
                            url: '/api/product-delete',
                            type: 'POST',
                            data: {
                                product: product,
                            },
                            success: function(data) {
                                $(el).parents('.col-md-3').remove();
                            },
                            error: function(data) {
                                alert('Server side error');
                            }
                        });
                    }
                }
            });
        });
</script>
{% endblock %}

