{% extends "base.html" %}

{% load static %}

{% block main-container %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="ibox collapsed border-bottom">
            <div class="ibox-title">
                <h5>Product Feeds</h5>
            </div>
            <div class="ibox-content" style="display:block">
                <p>
                    <span>Learn how to setup Facebook Dynamic Product Ads</span>
                    <a class="btn btn-default btn-outline btn-xs" href="http://app.shopifiedapp.com/pages/view/setting-up-facebook-dynamic-product-ads-with-shopify" target="_blank">READ MORE</a>
                </p>
                <ul class="list-group">
                {% for item in user.profile.get_active_stores %}
                    <li class="list-group-item">
                        <a href="{% url 'get_product_feed' store_id=item.get_short_hash %}">{{item.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
