{% extends "base.html" %}

{% load static %}
{% load url_tools %}

{% block main-container %}

{% if products %}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-md-8">
                <label for="selected-actions">Selected Items:</label>
                <select class="form-control" name="selected-actions" id="selected-actions" style="display: inline-block; width: 191px; ">
                    <option value=""></option>
                    <option value="edit">Edit...</option>
                    <option value="board">Add to Board...</option>
                    <option value="shopify-send">Send To Shopify...</option>
                    <option value="sent">Mark as Sent</option>
                    <option value="unsent">Mark as Unsent</option>
                    <option value="delete">Delete</option>
                </select>
                <button id="apply-btn" class="btn btn-primary">Apply</button>
                <button class="btn btn-default btn-outline select-all-btn">Select All</button>
                <button class="btn btn-success btn-outline filter-btn">Filter</button>
                {% if filter_products %}
                <a href="/product" class="btn btn-outline btn-default">Clear Filter</a>
                {% endif %}
            </div>
            <div class="col-md-1 pull-right text-right">
                <a href="/product/table" title="Table Layout"><i class="fa fa-lg fa-list"></i></a>
                <a href="#" style="cursor:default;color: rgba(0, 0, 0, 0.76)" title="Grid Layout"><i class="fa fa-lg fa-th"></i></a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    {% for item in products %}
    <div class="col-xs-3 col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box" product-id="{{item.id}}">
                <div class="product-imitation" style="padding: 0;">
                    <input class="item-select icheck" id="product_{{item.id}}" name="product" value="{{item.id}}" type="checkbox" />
                    <label for="product_{{item.id}}"><img src="{{item.images|first}}" style="width: 100%"></label>
                    <button class="btn btn-xs btn-danger delete-product-btn" product-id="{{item.id}}" style="position: absolute; top: 5px; right: 20px; "><i class="fa fa-times"></i></button>
                </div>
                <div class="product-desc">
                    <span class="product-price">
                        {{item.price}}
                    </span>
                    <small class="text-muted">{{item.product.type}}</small>
                    {% if item.source %}
                    <small class="text-muted" style="float:right;font-weight: bold;border: 1px solid #ccc;padding: 1px 5px;border-radius: 3px">
                        <a href="{{item.product.original_url}}" target="_blank">{{item.source}}</a>
                    </small>
                    {% endif %}
                    <a href="/product/{{item.id}}" class="hidden-xs product-name"> {{item.product.title|truncatewords:13}}</a>
                    <a href="/product/{{item.id}}" class="visible-xs product-name" style="font-size: 12px"> {{item.product.title|truncatewords:5}}</a>

                    <div class="small m-t-xs">
                        Submitted at {{item.created_at|date}}
                    </div>
                    <div class="m-t row">
                        <div class="col-md-3">
                        <a href="/product/{{item.id}}" class="btn btn-xs btn-outline btn-primary"> Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>

                        <div class="col-md-3">
                        <button product-id="{{item.id}}" {% if item.stat != 1 %}style="display:none"{% endif %} class="btn btn-xs btn-outline btn-success sent-btn" target="_blank"> <i class="fa fa-share"></i> <span>Sent</span></button>
                        </div>

                        <div class="col-md-7">
                        <button product-id="{{item.id}}" class="btn btn-xs btn-outline btn-success board-btn _pull-right" target="_blank">
                            {% if item.boards.first %}
                            Board: {{item.boards.first.title}}
                            {% else %}
                            Board
                            {% endif %}
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if forloop.counter|divisibleby:"4" %}
    </div>
<div class="row">
{% endif %}

    {% empty %}
    <h3 class="text-center">No product found.</h3>
    {% endfor %}
</div>

{% include "partial/paginator.html" %}
<!--
</div>
</div> -->

<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Edit selected products</h3>
                        <p class="m-t-none m-b">Empty fields will be ignored.</p>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" id="product-price" placeholder="Product Price" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" id="product-compare-at" placeholder="Compare at price" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" id="product-type" placeholder="Product type" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" id="product-tags" placeholder="Tags" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <label for="product-type">Weight</label>
                                        <input type="text" class="form-control" id="product-weight" placeholder="Product Weight">
                                    </div>

                                    <div class="form-group col-xs-3" style="padding-top: 24px">
                                        <select name="product-weight-unit" id="product-weight-unit" class="form-control">
                                            <option value="g">g</option>
                                            <option value="kg">kg</option>
                                            <option value="oz">oz</option>
                                            <option value="lb">lb</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button id="save-changes" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Save</strong></button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>


<div id="modal-board-product" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Add to board</h3>
                        <form role="form">
                            <div class="form-group text-center">
            <label for="selected-board">Select board</label>
            <select class="form-control" name="selected-board" id="selected-board" style="display: inline-block; width: 191px; ">
                <!-- <option value=""></option> -->
                {% for item in request.user.shopifyboard_set.all %}
                <option value="{{item.id}}">{{item.title}}</option>
                {% endfor %}
            </select>
                            </div>

                            <div>
                                <button id="board-product-send" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>Apply</strong>
                                </button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div id="modal-shopify-send" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Sending To Shopify</h3>

                        <label for="send-select-store">Select Store:</label>
                        <select class="form-control" name="selected-actions" id="send-select-store" style="display: inline-block; width: 191px; ">
                            {% for item in user.shopifystore_set.all %}
                            <option value="{{item.id}}">{{item.title}}</option>
                            {% endfor %}
                        </select>

                        <button id="shopify-send-btn" class="btn btn-primary" style="margin-bottom: 5px; margin-left: 25px;">Send</button>

                        <div class="progress progress-striped active" style="margin-top: 20px;display:none;">
                            <div style="width: 0%" class="progress-bar progress-bar-danger">
                                    <span class="sr-only">0% Complete (danger)</span>
                                </div>
                            <div style="width: 0%;" class="progress-bar progress-bar-success">
                                <span class="sr-only">0% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-filter" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!-- <h3 class="m-t-none m-b">Filter</h3> -->
                <h4 class="modal-title">Filter</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="product-filter-form" class="form-inline" method="get">
                        <input type="hidden" name="f" value="1">
                        <input type="hidden" name="ppp" value="{{request.GET.ppp}}">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">Product Title</label>
                                <input name="title" type="text" class="form-control" value="{{request.GET.title}}" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12 m-t-xs">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">Price</label>
                                <input name="price_min" type="text" class="form-control" value="{{request.GET.price_min}}" style="width: 80px;padding: 0 5px" placeholder="Min.">
                                <input name="price_max" type="text" class="form-control" value="{{request.GET.price_max}}" style="width: 80px;padding: 0 5px" placeholder="Max.">
                            </div>
                        </div>
                        <div class="col-md-12 m-t-xs">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">Product Type</label>
                                <input id="filter-type" name="type" type="text" class="form-control" value="{{request.GET.type}}" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12 m-t-xs">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">Product Tag</label>
                                <input id="filter-tag" name="tag" type="text" class="form-control" value="{{request.GET.tag}}" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12 m-t-xs">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">Product Visibility</label>
                                <select name="visibile" type="text" class="form-control">
                                    <option value=""></option>
                                    <option value="yes" {% if request.GET.visibile %}selected="selected"{% endif %}>Yes</option>
                                    <option value="no"  {% if request.GET.visibile %}selected="selected"{% endif %}>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-5 col-md-offset-8 m-t-md">
                            <button id="shopify-send-btn" class="btn btn-primary">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
<style type="text/css">
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; cursor: pointer; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
    .autocomplete-group { padding: 2px 5px; }
    .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
</style>
{% endblock %}

{% block extrajs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js"></script>

<script type="text/javascript">

    function changeProductStat(product, stat, callback, erroback) {
        $.ajax({
            url: '/api/product-stat',
            type: 'POST',
            data: {
                product: product,
                sent: stat
            },
            success: function(data) {
                callback(data);
            },
            error: function(data) {
                erroback(data);
            }
        });
    }

    $('.sent-btn')
      .mouseenter(function() {
        $( 'span', this ).text( "Unsent" );
        $( this ).toggleClass( 'btn-success' );
        $( this ).toggleClass( 'btn-warning' );
      })
      .mouseleave(function() {
        $( 'span', this ).text( "Sent" );
        $( this ).toggleClass( 'btn-warning' );
        $( this ).toggleClass( 'btn-success' );
      })
      .click(function(e) {
        var btn = $(this);
        btn.button('loading');


        changeProductStat(btn.attr('product-id'), 0,
            function(data) {
                if ('error' in data) {
                    swal("Error", data.error, "error");
                    btn.button('reset');
                } else {
                    btn.hide();
                }
            }, function(data) {
                btn.button('reset');
                swal("Error", "Server side error", "error");
        });
      });

      $('#apply-btn').click(function (e) {
            var action = $('#selected-actions').val();


            if (action.length==0) {
                swal('Please select an action first', '', "warning");
                return;
            }

            if (action == 'delete') {
                swal({
                    title: "Delete Selected Products",
                    text: "This will remove the selected products permanently. Are you sure you want to remove those products?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Remove Permanently",
                    cancelButtonText: "Cancel"
                },
                function(isConfirmed) {
                    if(isConfirmed) {
                        $('input[type=checkbox]').each(function(i, el) {
                            if (el.checked) {
                                var product = $(el).parents('.product-box').attr('product-id');
                                $.ajax({
                                    url: '/api/product-delete',
                                    type: 'POST',
                                    data: {
                                        product: product,
                                    },
                                    success: function(data) {
                                        $(el).parents('.col-md-3').remove();
                                    },
                                    error: function(data) {
                                        swal("Error", "Server side error", "error");
                                    }
                                });

                                $(el).iCheck('uncheck');
                            }
                        });
                    }
                });
            } else if (action == 'edit') {
                $('#modal-form').modal('show');
                return;
            } else if (action == 'board') {
                $('#modal-board-product').modal('show');
                return;
            } else if (action == 'shopify-send') {
                $('#modal-shopify-send').modal('show');
                return;
            }

            $('#selected-actions').val('');
            $('input[type=checkbox]').each(function(i, el) {
                if (el.checked) {
                    var product = $(el).parents('.product-box').attr('product-id');
                    if (action == 'unsent') {
                        var btn = $(el).parents('.product-box').find('.sent-btn');
                        btn.button('loading');

                        changeProductStat(product, 0, function(data) {
                            if (data.status == 'ok') {
                                btn.hide();
                            }
                        }, function(data) {
                            btn.button('reset');
                            swal("Error", "Server side error", "error");
                        });
                    } else if (action == 'sent') {
                        var btn = $(el).parents('.product-box').find('.sent-btn');

                        changeProductStat(product, 1, function(data) {
                            if (data.status == 'ok') {
                                btn.show();
                            }
                        }, function(data) {
                            swal("Error", "Server side error", "error");
                        });
                    }

                    if (action != 'delete') {
                        $(el).iCheck('uncheck');
                    }
                }
            });
        });

        $('#save-changes').click(function (e) {
            var btn = $(this);
            var products = [];

            $('input[type=checkbox]').each(function(i, el) {
                if (el.checked) {
                    products.push($(el).parents('.product-box').attr('product-id'));
                    $(el).iCheck('uncheck');
                }
            });


            var data = {
                'products': products
            };

            if ($('#product-price').val().length) {
                data['price'] = $('#product-price').val();
            }

            if ($('#product-compare-at').val().length) {
                data['compare_at'] = $('#product-compare-at').val();
            }

            if ($('#product-type').val().length) {
                data['type'] = $('#product-type').val();
            }

            if ($('#product-tags').val().length) {
                data['tags'] = $('#product-tags').val();
            }

            if ($('#product-weight').val().length) {
                data['weight'] = $('#product-weight').val();
                data['weight_unit'] = $('#product-weight-unit').val();
            }

            btn.button('loading');

            $.ajax({
                url: '/api/product-edit',
                type: 'POST',
                data: data,
                success: function(data) {
                    if ('status' in data && data.status == 'ok') {
                        window.location.href = window.location.href;
                    } else {
                        swal("Error", 'error' in data ? data.error : 'Server side error', "error");
                    }
                },
                error: function(data) {
                    swal("Error", 'error' in data ? data.error : 'Server side error', "error");
                },
                complete: function() {
                    btn.button('reset');
                }
            });
        });

        $('#board-product-send').click(function (e) {
            var btn = $(this);
            var products = [];

            if ($('#selected-board').val().length==0) {
                swal('Please select a board first', '', "warning");
                return;
            }

            $('input[type=checkbox]').each(function(i, el) {
                if (el.checked) {
                    products.push($(el).parents('.product-box').attr('product-id'));
                    $(el).iCheck('uncheck');
                }
            });

            var data = {
                'board': $('#selected-board').val(),
                'products': products
            };

            btn.button('loading');

            $.ajax({
                url: '/api/board-add-products',
                type: 'POST',
                data: data,
                success: function(data) {
                    if ('status' in data && data.status == 'ok') {
                        $('#modal-board-product').modal('hide');
                    } else {
                        swal("Error", 'error' in data ? data.error : 'Server error', "error");
                    }
                },
                error: function(data) {
                   swal("Error", 'error' in data ? data.error : 'Server error', "error");
                },
                complete: function() {
                    btn.button('reset');
                }
            });
        });

        function changeBoard(board_id, options) {
            // options.$trigger.button('loading');
            $.ajax({
                url: '/api/product-board',
                type: 'POST',
                data: {
                    'product': options.$trigger.attr("product-id"),
                    'board': board_id
                },
                success: function(data) {
                    // options.$trigger.button('reset');

                    if ('status' in data && data.status == 'ok') {
                        if ('board' in data) {
                            options.$trigger.text('Board: '+data.board.title);
                        } else {
                            options.$trigger.text('Board');
                        }
                    } else {
                        swal("Error", 'error' in data ? data.error : 'Server side error', "error");
                    }
                },
                error: function(data) {
                    options.$trigger.button('reset');
                    swal("Error", 'error' in data ? data.error : 'Server side error', "error");
                },
                complete: function() {
                    // options.$trigger.button('reset');
                }
            });
        }

        $('.delete-product-btn').click(function (e) {
            var btn = $(this);
            var product = btn.attr('product-id');

            swal({
                title: "Delete Product",
                text: "This will remove the product permanently. Are you sure you want to remove this product?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Remove Permanently",
                cancelButtonText: "Cancel"
            },
            function(isConfirmed) {
                if (isConfirmed) {
                    $.ajax({
                        url: '/api/product-delete',
                        type: 'POST',
                        data: {
                            product: product,
                        },
                        success: function(data) {
                            btn.parents('.col-md-3').remove();
                            swal("Deleted!", "The product has been deleted.", "success");
                        },
                        error: function(data) {
                            swal("Error", "Server side error", "error");
                        }
                    });
                }
            });
        });

        $('#shopify-send-btn').click(function (e) {

            $(this).button('loading');

            var products = [];
            var products_ids = [];

            $('#modal-shopify-send .progress').show();

            $('input[type=checkbox]').each(function(i, el) {
                if (el.checked) {
                    products.push({
                        product: $(el).parents('.product-box').attr('product-id'),
                        element: $(el).parents('.product-box')
                    });

                    products_ids.push($(el).parents('.product-box').attr('product-id'));
                }
            });

            if (products.length==0) {
                swal('Please select a product(s) first', '', "warning");
                return;
            }

            $('#modal-shopify-send').prop('total_sent_success', 0);
            $('#modal-shopify-send').prop('total_sent_error', 0);
            $('#modal-shopify-send').modal();

            $.ajax({
                url: '/api/products-info',
                type: 'POST',
                data: {products: products_ids},
                context: {products: products},
                success: function(data) {
                    $.each(products, function(i, el) {
                        sendProductToShopify (data[el.product], $('#send-select-store').val(), el.product,
                            function (product, data, callback_data, req_success) {
                                var total_sent_success = parseInt($('#modal-shopify-send').prop('total_sent_success'));
                                var total_sent_error   = parseInt($('#modal-shopify-send').prop('total_sent_error'));


                                if (req_success && 'product' in data) {
                                    total_sent_success += 1;
                                } else {
                                    total_sent_error += 1;
                                }

                                $('#modal-shopify-send').prop('total_sent_success', total_sent_success);
                                $('#modal-shopify-send').prop('total_sent_error', total_sent_error);

                                $('#modal-shopify-send .progress-bar-success').css('width', ((total_sent_success*100.0)/products.length)+'%');
                                $('#modal-shopify-send .progress-bar-danger').css('width', ((total_sent_error*100.0)/products.length)+'%');

                                callback_data.element.find('input[type=checkbox]').iCheck('uncheck');

                                var btn = callback_data.element.find('.sent-btn');
                                changeProductStat(callback_data.product, 1, function(data) {
                                    if (data.status == 'ok') {
                                        btn.show();
                                    }
                                }, function(data) {
                                    console.log("Set as sent error", "Server side error");
                                });

                                if ((total_sent_success+total_sent_error) == products.length) {
                                    $('#modal-shopify-send').modal('hide');
                                }
                            }, {
                                'element': el.element,
                                'product': el.product
                            }
                        );
                    });
                }
            });
        });

        var boardsMenu = {
        {% for item in request.user.shopifyboard_set.all %}
            "{{item.id}}": {name: "{{item.title}}"},
        {% endfor %}
            "sep1": "---------",
            "add": {name: "Add new board", icon: 'add'},
            "clear": {name: "Clear", icon: 'quit'}
        };

        function setupContextMenus() {
            $.contextMenu({
                selector: '.board-btn',
                trigger: 'left',
                callback: function(key, options) {
                    if (key == 'add') {
                        window.onBoardAdd = function(board) {
                            // options.$trigger.text('Board: '+board.title);
                            boardsMenu[''+board.id] = {name: board.title};
                            changeBoard(board.id, options);

                            $.contextMenu( 'destroy' );
                            setupContextMenus();
                        }

                        $('#modal-board-add').modal('show');
                    } else if (key == 'clear') {
                        changeBoard(0, options);
                    } else {
                        changeBoard(key, options);
                    }
                },
                items: boardsMenu
            });
        }

        $('.filter-btn').click(function (e) {
            $('#modal-filter').modal('show');
        });

        /*
        $('input[name="price-min"]').change(function (e) {
            var max = $('input[name="price-max"]');

            if (!max.val().length) {
                max.val($(this).val());
            }
        });
        */

        $("#product-filter-form").submit(function() {
            $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
            return true; // ensure form still submits
        });


        $(function(){
            setupContextMenus();

            $('#filter-type').autocomplete({
                serviceUrl: '/autocomplete/types',
                minChars: 1,
                onSelect: function (suggestion) {
                }
            });

            $('#filter-tag').autocomplete({
                serviceUrl: '/autocomplete/tags',
                minChars: 1,
                onSelect: function (suggestion) {
                }
            });
        });
</script>
{% endblock %}

