{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load cache %}

<nav id="side-menu" class="navbar-default sidebar navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="logo">
            <a href="{% url 'index' %}">
                {% if user.profile.is_black %}
                <img src="https://cdn.dropified.com/static/img/black/dropified_black_text_white.png"/>
                {% else %}
                <img src="{% static 'dropified-logo-white-s.png' %}"/>
                {% endif %}
            </a>
        </div>

    {% if user.is_authenticated %}
    <div class="profile">
      <div class="name">
        <a href='{% url "user_profile" %}'>
          <strong class="font-bold">{{user.get_full_name|default:'Profile'}}</strong>
        </a>
      </div>
      <div class="icon">
        <img src="{% static 'vector-profile.svg' %}"/>
      </div>
    </div>
    <div class="account {{ sidemenu.named.account.classes }}">
      <a href='{{ sidemenu.named.account.url }}'>
        {{ sidemenu.named.account.title }}
      </a>
    </div>

    {% endif %}

    <ul>
      {# header #}

      {% if request.user.is_superuser or request.user.is_staff %}
        <li class="section">
            <a class="section-header" href="{% if request.user.is_superuser %}/admin{% else %}#{% endif %}">
              <span class="fa fa-cog m-t-xs icon"></span>
              <span class="item-title" style="cursor:pointer">Admin</span>
            </a>
        </li>
        <li class="item">
            <a href="#" onclick="javascript:setTimeout(
                    function(){
                        var q=prompt('Query Dropified Users');
                        if(q.length) {
                            window.location.href='{% url 'acp_users_list' %}?q=' + encodeURIComponent(q.trim());
                        }
                    }, 10);
                    return false;">Users</a>
        </li>

        <li class="item"><a href="{% url 'acp_groups' %}">Plans</a></li>
        <li class="item"><a href="{% url 'dropified_black_users' %}">DB Users</a></li>
        {% if request.user.is_superuser %}
        <li class="item m-b"><a href="/pages/">Pages</a></li>
        {% else %}
        <li class="item m-b"></li>
        {% endif %}

      {% endif %}

      {% for section in sidemenu.header %}
      {% for item in section.items %}

      <li class="section-no-icon {{ item.classes }}">
        <a href="{{ item.url }}">{{ item.title | safe }}</a>
      </li>

      {% endfor %}
      {% endfor %}

      {# body #}
      {% for section in sidemenu.body %}
      <li class="section">
        <span class="section-header">
          <div>
            <img src="{{ section.icon }}"/>
          </div>
          <span class="item-title">{{ section.title }}</span>
        </span>
      </li>

        {% for item in section.items %}
        <li class="item {{ item.classes }}">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      {% endfor %}
    </ul>

    {# Dropified Black #}
    {% if user.profile.is_black %}
    <ul style="padding:0;margin: 0 0 0 24px">
        <li>
            <a href="https://app.dropified.com/pages/black">
                <img class="img-responsive" src="https://cdn.dropified.com/static/img/black/dropified_black_text_white3.png"/>
            </a>
        </li>
    </ul>

    <ul style="margin:0">
        <li class="item">
            <a href="{% url 'pls:index' %}">
              Supplements
            </a>
        </li>
    </ul>

    <ul style="margin:0">
        <li class="item">
            <a href="https://www.dropified.com/dropified-black-catalog/" target="_blank">
              Product Catalog
            </a>
        </li>
    </ul>

    {% else %}
      {% if not user.is_staff and not user.is_superuser %}
      <ul style="padding:0;margin: 10px 0 0 24px">
          <li>
              <a href="https://www.dropified.com/black/" target="_blank">
                  <img class="img-responsive" src="https://cdn.dropified.com/static/black-plan-waitlist.png"/>
              </a>
          </li>
      </ul>
      {% endif %}
    {% endif %}

    {# footer #}
    <ul class="navfooter {% if user.is_staff %}staff{% endif %}">
      <li class="section-no-icon">
        <a href="{{ sidemenu.named.academy.url }}" target="_blank"
            class="itooltip" data-placement="right" title="Step by Step Course">
          {{ sidemenu.named.academy.title | safe }}
        </a>
      </li>

      <li class="section-no-icon">
        <a href="{{ sidemenu.named.video_training.url }}" target="_blank">
          {{ sidemenu.named.video_training.title }}
        </a>
      </li>

      {% for section in sidemenu.footer %}
      {% for item in section.items %}

      <li class="section-no-icon {{ item.classes }}">
        <a href="{{ item.url }}">{{ item.title | safe }}</a>
      </li>

      {% endfor %}
      {% endfor %}

      <li class="section-no-icon">
        <a id="product-update-fx" href="#">
          <span class="nav-label item-title">What’s New?</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
