{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load template_helper %}
{% load compress %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">

             <div class="ibox-title">
                <h5>Manage Sub Users<small></small></h5>
            </div>

            <div class="ibox-content">
                <table class="table table-bordered dataTables">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Join Date</th>
                            <th style="width:100px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in sub_users %}
                        <tr>
                            <td>
                                <a class="edit-user-prems" user-id="{{item.id}}" href="#">
                                {% if item.get_full_name %}
                                    {{item.get_full_name}} ({{item.username}})
                                {% else %}
                                    {{item.username}}
                                {% endif %}
                                </a>
                            </td>
                            <td>{{item.email}}</td>
                            <td>{{item.date_joined|date}}</td>
                            <td>
                                <button class="btn btn-danger btn-xs delete-sub-user" user-id="{{item.id}}" user-name="{{item.username}}">
                                    <i class="fa fa-user-times"></i> Remove
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <button class="btn btn-success invite-subuser">
                    <i class="fa fa-user-plus"></i> Add User
                </button>
            </div>
        </div>
    </div>
</div>

{% if invitation.exists %}
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">

             <div class="ibox-title">
                <h5>Sent Invitations<small></small></h5>
            </div>

            <div class="ibox-content">
                <table class="table table-bordered dataTables">
                    <thead>
                        <tr>
                            <th class="no-wrap" width="99%">Email</th>
                            <th class="no-wrap">Date</th>
                            <th class="no-wrap">Status</th>
                            <th class="no-wrap">Registration Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in invitation %}
                        {% if not item.expired or not item.user.profile.subuser_stores.count or not item.user.profile.subuser_chq_stores.count %}
                        <tr>
                            <td class="no-wrap">{{item.email|urlize}}</td>
                            <td class="no-wrap">{{item.created_at|date}}</td>
                            <td class="no-wrap">
                                {% if not item.expired %}
                                     Awaiting User Registration
                                 {% else %}
                                     User Doesn't have access to any store
                                 {% endif %}
                             </td>
                            <td class="no-wrap">
                                {% if not item.expired %}
                                    <a class="btn btn-success btn-xs" href="{% app_link 'accounts/register' item.register_hash %}" target="_blank">
                                        <i class="fa fa-external-link"></i> Link</a>

                                    <a class="btn btn-primary btn-xs email-link-btn"
                                        href="mailto:{{item.email}}?subject=Invitation to join Dropified&body=Hello%2C%0D%0AYou%20can%20register%20at%20Dropified%%20using%20this%20link%3A%0D%0A{% app_link 'accounts/register' item.register_hash %}"><i class="fa fa-envelope-o"></i> Email Link</a>

                                    <button class="btn btn-danger btn-xs itooltip cancel-invitation-user"
                                            invite-id="{{item.id}}" title="Cancel This Invitation">
                                        <i class="fa fa-user-times"></i> Cancel
                                    </button>
                                {% else %}
                                    <a class="btn btn-primary btn-xs edit-user-prems" user-id="{{item.user.id}}" href="#">
                                        <i class="fa fa-unlock-alt"></i> Change Permissions</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="modal-subuser-prems" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="model-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">

    <style type="text/css">
    tbody td {
        padding: 0px;
        margin: 0px;
    }

    .user-profile-btn {
        margin-right: 5px;
    }

    #id_subuser_stores, #id_subuser_chq_stores {
        padding: 0 20px;
    }

    #id_subuser_stores li, #id_subuser_chq_stores li {
        list-style: none;
    }
    </style>
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.tableTools.min.js' %}"></script>


    {% compress js %}
    <script type="text/javascript">

        $(document).ready(function() {
            $('.dataTables').on('draw.dt', function(e) {
                $('.dataTables tr').each(function(i, el) {
                    var info = $(el).find('td');

                    if (info.length == 1) {
                        $(el).find('td').last().text('No Pending Invitations Found.').addClass('text-center');
                        return;
                    }
                });
            });

            var table = $('.dataTables').dataTable({
                responsive: true,
                dom: 'T<"clear">lfrtip',
                bLengthChange: false,
                iDisplayLength: 50,
                order: [],
                tableTools: {
                    aButtons: [],
                }
            });
        });

        $('.edit-user-prems').click(function(e) {
            e.preventDefault();

            $('#modal-subuser-prems .model-content').html('<p>Loading content...</p>')
                .load('/subusers/permissions/' + $(this).attr('user-id'),
                    function(response, status, xhr) {
                        if(status == 'error') {
                            $('#modal-subuser-prems').modal('hide');
                            displayAjaxError('User Permissions', JSON.parse(response));
                        }
                    });
            $('#modal-subuser-prems .modal-header h3').text($(this).text() + 'Permissions');
            $('#modal-subuser-prems').modal('show');
        });

        $('.delete-sub-user').click(function (e) {
            var subuser_name = $(this).attr('user-name');
            var subuser_id = $(this).attr('user-id');

            swal({
                title: "Delete " + subuser_name + " Account",
                text: "This will remove the " + subuser_name + " permanently. Are you sure you want to remove this sub user?",
                type: "warning",
                showCancelButton: true,
                closeOnCancel: true,
                closeOnConfirm: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Remove Permanently",
                cancelButtonText: "Cancel"
            },
            function(isConfirmed) {
                if (isConfirmed) {
                    $.ajax({
                        url: '/api/subuser-delete',
                        type: 'POST',
                        data: {
                            subuser: subuser_id,
                        },
                        success: function(data) {
                            swal.close();
                            toastr.success("Delete Sub User", "User has been deleted.");

                            setTimeout(function() {
                                window.location.reload();
                            }, 1000);
                        },
                        error: function(data) {
                            displayAjaxError('Delete Sub User', data);
                        }
                    });
                }
            });
        });

        $('.cancel-invitation-user').click(function (e) {
            var invite_id = $(this).attr('invite-id');

            swal({
                title: "Cancel Sub User Invitation",
                text: "This will Cancel the Invitation link. \nAre you sure you want to continue?",
                type: "warning",
                showCancelButton: true,
                closeOnCancel: true,
                closeOnConfirm: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Cancel the Invitation",
                cancelButtonText: "No, Keep the Invitation"
            },
            function(isConfirmed) {
                if (isConfirmed) {
                    $.ajax({
                        url: '/api/subuser-invite?' + $.param({invite: invite_id}),
                        type: 'DELETE',
                        success: function(data) {
                            swal.close();
                            toastr.success("Cancel Invitation", "Invitation has been Canceled.");

                            setTimeout(function() {
                                window.location.reload();
                            }, 1000);
                        },
                        error: function(data) {
                            displayAjaxError('Cancel Invitation', data);
                        }
                    });
                }
            });
        });

        $('.invite-subuser').click(function () {
            var btn = $(this);

            swal({
                title: "Add Sub User",
                text: "Add new sub user to your account",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                closeOnCancel: true,
                animation: "slide-from-top",
                inputPlaceholder: "Email address",
                showLoaderOnConfirm: true
            }, function(inputValue) {
                if (inputValue === false) {
                    return;
                }

                if (inputValue === '' || inputValue.trim() === '') {
                    swal.showInputError("Email is required");
                    return false;
                }

                $.ajax({
                    url: '/api/subuser-invite',
                    type: 'POST',
                    data: {
                        'email': inputValue
                    },
                    context: {btn: btn},
                    success: function (data) {
                        if (data.status == 'ok') {
                            var link = app_link(['accounts/register', data.hash]);
                            var msg = 'An email has been sent to the entred address with the following registration link:<br/>'+
                                      '<a href="'+link+'" style="word-wrap: break-word">'+link+'</a>';

                            swal({
                                title: 'Invitation Sent',
                                text: msg,
                                type: 'success',
                                html: true,
                            }, function(r) {
                                setTimeout(function() {
                                    window.location.reload();
                                }, 500);
                            });
                        } else {
                            displayAjaxError('Add Sub User', data);
                        }
                    },
                    error: function (data) {
                        displayAjaxError('Add Sub User', data);
                    },
                    complete: function () {
                    }
                });
            });
        });
    </script>
    {% endcompress %}
{% endblock %}

