
{% load static %}
{% load widget_tweaks %}

<h4><i>{{subuser.get_full_name|default:subuser.username}}</i> Can manage the following stores:</h4>
<div class="row">
    <div class="col-md-12">
        <form method="POST" class="m-t-xs" role="form" action="{% url 'subusers_perms' user_id=subuser.id %}">
            <div class="form-group">
                {% render_field form.subuser_stores  %}
                {{ form.subuser_stores.errors | safe }}
            </div>
            {% if form.subuser_chq_stores %}
            <h4>CommerceHQ Stores</h4>
            <div class="form-group">
                {% render_field form.subuser_chq_stores  %}
                {{ form.subuser_chq_stores.errors | safe }}
            </div>
            {% endif %}
            <p class="text-right">
                <a href="{% url 'subuser_perms_edit' subuser.id %}" class="btn btn-warning m-b">Edit Permissions</a>
                <button type="submit" class="btn btn-primary m-b">Save</button>
            </p>
        </form>
    </div>
</div>

