{% extends "base.html" %}

{% load static %}

{% block main-container %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Shopify Stores<small></small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="container-fluid hide-no-produce">
                    <div class=" row">
                        <div class="form-group col-xs-12 text-center">
                            <h3 class="product-title"></h3>
                            <h5>Number of variants: <span class="product-variants"></span></h5>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:10px">
                        <div class="col-xs-12 alert alert-info">
                            <p style="margin:0">Please follow this steps to link product's variants to the corresponding images:</p>
                            <p style="margin:0;margin-left:10px">Step 1: Select a variant of the product.</p>
                            <p style="margin:0;margin-left:10px">Step 2: Select images for your variants.</p>
                        </div>
                    </div>

                    <div class=" row">
                        <div class="form-group col-xs-12 text-center">
                            <button class="btn btn-default btn-sm btn-outline var-btn-prev"><span>&lt;</span></button>
                            <select class="form-control current-var" style="margin:0 10px;width:200px;display:inline"></select>
                            <button class="btn btn-default btn-sm btn-outline var-btn-next"><span>&gt;</span></button>
                        </div>
                    </div>

                    <div class="row  text-center" id="var-images">
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <button id="view-btn" type="button" class="btn btn-info" style="margin-top:20px">View in Shopify</button>
                        </div>
                        <!--
                        <div class="col-xs-4 col-xs-offset-4 text-right">
                            <button id="skip-btn" type="button" class="btn btn-primary" style="margin-top:20px">Close</button>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extracss %}

<link href="/static/css/jquery.loader.min.css" rel="stylesheet">

<style type="text/css">
.buttons {
    /*text-align: right;*/
    margin-top: 20px;
    margin-bottom: 25px;
}

.buttons .export, .buttons .view{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .export {
    border: 1px solid #A0E7A3;
    background-color: rgb(213, 255, 213);
}

.buttons .view {
    border: 1px solid #A0C9E7;
    background-color: rgb(213, 255, 253);
}


.var-image {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}

.var-image:hover {
    border: 1px solid #000;
}

.var-image-disabled {
    opacity: 0.3;
}

.var-image-block {
    margin-top: 15px;
}
</style>
{% endblock %}

{% block extrajs %}
<script src="/static/js/jquery.loader.min.js" type="text/javascript"></script>

<script type="text/javascript">

var api_base = '';
var product = {{product|safe}};

/* Product Variants Linking */

$('#btn-variants-img').click(function (e) {
    localStorage.current_product = JSON.stringify(document.savedProduct);
    //window.location.href='/variants.html';
});

function displayAjaxError(desc, data) {
    var error_msg = 'Server error.';
    if ('error' in data && typeof (data.error) == 'string') {
        error_msg = data.error;
    }
    $('.displayAjaxError').remove();
    $(".container-fluid").prepend($('<div>', {
        class: 'displayAjaxError row alert alert-danger',
        text: desc +': '+ error_msg
    }));
}

function updateSelectButton() {
    var current = parseInt($('.current-var').val());
    var total = $('.current-var').prop('total');

    $('.var-btn-prev').prop('disabled', current<=0);
    $('.var-btn-next').prop('disabled', current+1>=total);
}

$('.var-btn-next').click(function (e) {
    var current = parseInt($('.current-var').val());
    var total = $('.current-var').prop('total');
    var next = current + 1;

    if (next<product.variants.length) {
        $('.current-var').val(next);
    }

     updateSelectButton();
});

$('.var-btn-prev').click(function (e) {
    var current = parseInt($('.current-var').val());
    var total = $('.current-var').prop('total');
    var next = current - 1;

    if (next>=0) {
        $('.current-var').val(next);
    }

     updateSelectButton();
});

$('#view-btn').click(function (e) {
    var api_url = '{{store.api_url}}'.replace(/\/[^:]+:[^@]+@/, '/');
    window.open(api_url+'/admin/products/'+product.id,'_blank');
});

function imageClicked(e) {
    var img = $(this);
    var current = $('.current-var').val();
    var variant_id = product.variants[current].id;
    var image_id = $(this).attr('image-id');

    $('.var-btn-prev').prop('disabled', true);
    $('.var-btn-next').prop('disabled', true);

    var api_data = {
        "variant": {
            "id": variant_id,
            "image_id": image_id,
        }
    }

    var api_url = '{{store.api_url}}';

    img.parent().loader('show');

    $.ajax({
        url: '/api/variant-image',
        type: 'POST',
        data: {
            'url': '{{store.api_url}}/admin/variants/'+variant_id+'.json',
            'data': JSON.stringify(api_data)
        },
        // contentType: "application/json; charset=utf-8",
        // dataType: "json",
        context: {image: this},
        success: function (data) {
            console.dir(data);
            img.parent().find('.link-success').fadeIn();
            setTimeout(function() {
                img.parent().find('.link-success').fadeOut();
            }, 1500);
        },
        error: function (data) {
            console.dir(data);
            displayAjaxError('Image linking error', data);
        },
        complete: function() {
            img.parent().loader('hide');
        }
    });

    updateSelectButton();
};

function setupVariantsLinking() {
    // product = JSON.parse(localStorage.current_product);

    $('.product-title').text(product.title);
    $('.product-variants').text(product.variants.length);

    if (product.variants.length) {
        $('.current-var').prop('total', product.variants.length);
        // $('.current-var').text(product.variants[0].title);

        $.each(product.variants, function (i, el) {
            $('.current-var').append($('<option>', {text: product.variants[i].title, value: i}));
        });

        // $('.current-var > option').prop('selected');


        $.each(product.images, function (i, el) {
            var d = $('<div>', {class:'col-xs-3 var-image-block'});
            var img = $('<img>', {src: el.src, class: 'var-image', 'image-id': el.id});
            d.append(img);
            d.append($('<img class="link-success" src="/static/img/checked-checkbox-24.png" style="display:none;position: absolute;left: 25px;top: 5px;background-color: #fff;border-radius: 5px;">'));

            img.click(imageClicked);

            $('#var-images').append(d);

            // if (i!=0&&i%4==0) {
                // $('#var-images').append($('<div>', {class:'clearfix visible-xs-block'}));
            // }
        })
        updateSelectButton();

        $('.current-var').change(updateSelectButton);
    }
}
/* Product Variants Linking */

$(function() {
    setupVariantsLinking();
});

</script>
{% endblock %}

