@font-face {
  font-family: 'dropified-icons';
  src:
    url('fonts/dropified-icons.ttf?l6e7v5') format('truetype'),
    url('fonts/dropified-icons.woff?l6e7v5') format('woff'),
    url('fonts/dropified-icons.svg?l6e7v5#dropified-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.dropified-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dropified-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.di-star-1 .path1:before {
  content: "\e918";
  color: ;
}
.di-star-1 .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: ;
}
.di-star-1 .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: ;
}
.di-star-1 .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: ;
}
.di-star-2 .path1:before {
  content: "\e91c";
  color: ;
}
.di-star-2 .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: ;
}
.di-star-2 .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: ;
}
.di-star-2 .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: ;
}
.di-perms:before {
  content: "\e916";
}
.di-double-check:before {
  content: "\e914";
}
.di-file:before {
  content: "\e915";
}
.di-bolt:before {
  content: "\e912";
}
.di-user-check:before {
  content: "\e913";
}
.di-check:before {
  content: "\e911";
}
.di-arrow-down:before {
  content: "\e900";
}
.di-arrow-up:before {
  content: "\e901";
}
.di-erase:before {
  content: "\e902";
}
.di-folder:before {
  content: "\e903";
}
.di-gear:before {
  content: "\e904";
}
.di-heart:before {
  content: "\e905";
}
.di-heart-o:before {
  content: "\e906";
}
.di-link:before {
  content: "\e907";
}
.di-mail:before {
  content: "\e908";
}
.di-money:before {
  content: "\e909";
}
.di-pencil:before {
  content: "\e90a";
}
.di-person:before {
  content: "\e90b";
}
.di-recycle:before {
  content: "\e90c";
}
.di-save:before {
  content: "\e90d";
}
.di-search:before {
  content: "\e90e";
}
.di-trash:before {
  content: "\e90f";
}
.di-view:before {
  content: "\e910";
}
