{% extends "base.html" %}

{% load static %}

{% block title %}SEO Audit - {{project.title}}{% endblock %}


<div style="display:none">
    {% block project-nav %}
   <li {% if page == 'projects' or page == '' or not page %}class="active"{% endif %}>
    <a href="/">
        <i class="fa fa-edit"></i>
        <span class="nav-label">{{project.title}}</span>
        <span class="fa arrow"></span>
    </a>
        <ul class="nav nav-second-level collapse in" style="">
            <li class="{% if clist == 'settings' %}active{% endif %}"><a href="/project/{{project.id}}" >Settings</a></li>
            <li class="{% if clist == 'scorecard' %}active{% endif %}"><a href="/project/scorecard/{{project.id}}" >Scorecard</a></li>
            {% for item in project.categories %}
            <li class="{% if clist == item.id %}active{% endif %}">
                <a href="/category/{{item.id}}">
                    {{item.title}} Category
                    <span class="fa arrow"></span>
                </a>
                {% if clist == item.id %}
                <ul class="nav nav-third-level collapse in" style="">
                    {% for item in category.topics %}
                    <li class="{% if tlist == item.id %}active{% endif %}"><a href="/topic/{{item.id}}" >{{item.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
            <li class="{% if clist == 'templates' %}active{% endif %}"><a href="/project/templates/{{project.id}}" >Templates</a></li>
            <li class="{% if clist == 'preview' %}active{% endif %}"><a href="/project/preview/{{project.id}}" >Preview</a></li>
            <li class="{% if clist == 'pdf' %}active{% endif %}"><a href="/project/pdf/{{project.id}}" >Generate PDF</a></li>
        </ul>
    </li>
    {% endblock %}
</div>

{% block main-container %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        {% block project-main %}{% endblock %}
    </div>
</div>

{% endblock %}


