{% extends "base.html" %}
{% load template_helper %}

{% block default-css %}
    {% if pdf %}
        <!-- <link href="/static/bootstrap2.css" rel="stylesheet" /> -->
    {% else %}
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block default-js %}{% endblock %}

{% block extracss %}
<style type="text/css">
    @font-face {
      font-family: 'Edmondsans Regular';
      src: url('/static/Edmondsans_Regular.{{pdf|yesno:"ttf,otf"}}');
    }
    @font-face {
      font-family: 'ChunkFive Roman';
      src: url('/static/Chunkfive.{{pdf|yesno:"ttf,otf"}}');
    }

    {{template.report_style|safe}}
</style>
{% endblock %}

{% block main-nav %}{% endblock %}

{% block main-container %}
<div class="row" style="margin-top: 25px;">
    <div class="col-md-offset-3 col-md-7">

    {% render_project template.report_template project %}

    </div>
</div>

{% endblock %}

