
{% extends "project/base.html" %}

{% block page-title %}Scorecard{% endblock %}

{% block project-main %}

    {% for cat in project.categories %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{cat.title}} Category<small></small></h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                <!--<a class="close-link"><i class="fa fa-times"></i></a>-->
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-condensed table-hover table-bordered">
              <!-- <thead>
                <tr>
                  <th style="width: 80%;">SEO Element</th>
                  <th style="text-align:center">Score</th>
                </tr>
              </thead> -->
              <tbody>
                    {% for topic in cat.topics %}
                    <tr>
                      <td><a style="color: {{cat.color}}" href="/topic/{{topic.id}}">{{topic.title}}</a></td>
                      <td style="text-align:center" xclass="{{topic.get_bs_class}}">{{topic.score}}</td>
                    </tr>
                    {% endfor %}

                    <tr class="active">
                      <td style="font-weight: bolder; color: {{cat.color}}; padding-left: 20px;">{{cat.title}} SEO Score ({{cat.algorithm_usage}}% Algorithm)</td>
                      <td style="color: {{cat.color}}; font-weight: bolder; text-align:center">{{cat.category_score|floatformat:"0"}}%</td>
                    </tr>
              </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <h3>Overall Seo Score: {{project.overall_score|floatformat:"0"}}%</h3>
        </div>
    </div>


{% endblock %}
