{% extends "project/base.html" %}

{% block extracss %}
<style type="text/css">
    textarea, .ui-widget textarea, {
        font-family: monospace;
    }
</style>
{% endblock %}

{% block project-main %}

    <div id="tabs" style="margin-bottom: 25px;">
        <ul>
            <li><a href="#tabs-1">Report Template</a></li>
            <li><a href="#tabs-2">Report Style</a></li>
        </ul>

        <div id="tabs-1">
            <textarea style="font-family: monospace" name="report_template"  class="form-control"  rows="20">{{template.report_template}}</textarea>
        </div>
        <div id="tabs-2">
            <textarea style="font-family: monospace" name="report_style" class="form-control" rows="20">{{template.report_style}}</textarea>
        </div>
    </div>

    <div class="row" style="margin: 10px -40px 10px 0px;">
        <div class="col-md-2 col-md-offset-10">
            <button id="btn-save" class="btn btn-lg btn-primary" data-loading-text="Saving...">Save</button>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        $(function() {
            $( "#tabs" ).tabs();

            $('#btn-save').click(function() {
                var postData = {
                    template:  {{template.id}},
                    report_style: $('textarea[name="report_style"]').val(),
                    report_template: $('textarea[name="report_template"]').val(),
                };

                for (var i in CKEDITOR.instances) {
                }

                ajaxSave($(this), 'template', postData);
            });
        });
    </script>
{% endblock %}