{% extends "project/base.html" %}

{% block extracss %}
<style type="text/css">
    textarea, .ui-widget textarea, {
        font-family: monospace;
    }
</style>
{% endblock %}

{% block page-title %}Edit Project's Template{% endblock %}

{% block project-main %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Report Template</h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                <a class="close-link"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <textarea id="report_template" style="font-family: monospace" name="report_template"  class="form-control"  rows="20">{{template.report_template}}</textarea>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Report Style</h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                <a class="close-link"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <textarea id="report_style" style="font-family: monospace" name="report_style" class="form-control" rows="20">{{template.report_style}}</textarea>
        </div>
    </div>

    <div class="row" style="margin: 10px -40px 10px 0px;">
        <div class="col-md-2 col-md-offset-10">
            <button id="btn-save" class="btn btn-lg btn-primary" data-loading-text="Saving...">Save</button>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        $(function() {

            $('#btn-save').click(function() {
                var postData = {
                    template:  {{template.id}},
                    report_style: editor_report_style.getValue(),
                    report_template: editor_report_template.getValue(),
                };

                for (var i in CKEDITOR.instances) {
                }

                ajaxSave($(this), 'template', postData);
            });
        });

         $(document).ready(function(){

             editor_report_template = CodeMirror.fromTextArea(document.getElementById("report_template"), {
                 lineNumbers: true,
                 matchBrackets: true,
                 styleActiveLine: true,
                 // mode: 'html'
             });

             editor_report_style = CodeMirror.fromTextArea(document.getElementById("report_style"), {
                 lineNumbers: true,
                 matchBrackets: true,
                 styleActiveLine: true,
                 // mode: 'css'
             });

        });
    </script>
{% endblock %}