{% extends "base_bigcommerce_core.html" %}

{% load static %}
{% load compress %}

{% block breadcrumb-right %}
    <button class="btn btn-primary add-board-btn pull-right">
        <i class="fa fa-plus"></i> Add Board
    </button>
{% endblock %}

{% block main-container %}

{% include 'home/partial/candu.html' with mount_id='candu-boards-info-above' %}

<div class="tabs-container">
    {% include 'home/partial/tabs/boards.html' %}
    <ul class="actions old-layout-hidden">
        <li class="pull-right group">
            <form id="board-search-form" method="get" role="form" class="form-inline">
                <input type="text" class="form-control m-l-sm" name="search" placeholder="Search by name" value="{{ request.GET.search|default:'' }}">
                <a href="javascript:;" class="btn btn-primary btn-icon">
                    <i class="fa fa-search"></i>
                </a>
            </form>
        </li>
    </ul>

    <div class="tab-content margin-before-banner">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body row old-layout-hidden no-background">
                {% for item in boards %}
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-title">
                            <a class="color-info" board-id="{{item.id}}" href="/boards/{{item.id}}">
                                {{item.title}}
                            </a>
                            <div class="more-actions">
                                <a href="#">
                                    <i class="glyphicon glyphicon-option-horizontal"></i>
                                </a>
                                <ul class="actions">
                                    <li>
                                        <a href="#" class="board-edit" board-id="{{item.id}}">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="board-empty" board-id="{{item.id}}">
                                            <i class="fa fa-eraser"></i> Empty
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="board-delete" board-id="{{item.id}}">
                                            <i class="fa fa-times"></i> Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <br>
                            <span class="text-muted">{{item.updated_at|date}}</span>
                        </div>
                        <div class="ibox-content">
                            <a href="/boards/{{item.id}}?store=n">
                                <span class="badge">{{ item.saved|default:"0" }}</span>
                                <span>Saved</span>
                            </a>
                            <br>
                            <a href="/boards/{{item.id}}?store=c">
                                <span class="badge">{{ item.connected|default:"0" }}</span>
                                <span>Connected</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="panel-body new-layout-hidden">
                <table class="table table-bordered dataTables">
                    <thead>
                        <tr>
                            <th style="width:50%">Title</th>
                            <th>Products</th>
                            <th>Updated</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in boards %}
                        <tr id="board-row-{{item.id}}" class="board-box">
                            <td>
                                <a
                                    class="edit-user-premsc"
                                    board-id="{{item.id}}"
                                    href="{% url 'bigcommerce:board_detail' item.id %}">
                                    {{item.title}}
                                </a>
                            </td>
                            <td class="products-count">
                                <a href="{% url 'bigcommerce:board_detail' item.id %}?store=n" class="btn btn-outline btn-xs btn-default"><span class="product-count">{{ item.saved_count|default:'0' }}</span> Saved</a>
                                <a href="{% url 'bigcommerce:board_detail' item.id %}?store=c" class="btn btn-outline btn-xs btn-default"><span class="product-count">{{ item.connected_count|default:'0' }}</span> Connected</a>
                            </td>
                            <td>{{item.updated_at|date}}</td>
                            <td>
                                <button
                                    data-board-id="{{item.id}}"
                                    class="btn btn-xs btn-primary board-edit bigcommerce-edit-board-btn">
                                    <i class="fa fa-edit"></i>Edit
                                </button>
                                <button
                                    data-board-id="{{item.id}}"
                                    class="btn btn-xs btn-warning board-empty bigcommerce-empty-board-btn">
                                    <i class="fa fa-eraser"></i> Empty
                                </button>
                                <button
                                    data-board-id="{{item.id}}"
                                    class="btn btn-xs btn-danger board-delete bigcommerce-delete-board-btn">
                                    <i class="fa fa-times"></i> Delete
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <button class="btn btn-success bigcommerce-add-board-btn">
                    <i class="fa fa-plus"></i> Add Board
                </button>
            </div>
        </div>
    </div>
</div>

{% include 'home/partial/candu.html' with mount_id='candu-boards-info-below' %}

<div id="smartboard-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Edit Board</h3>
                        <form role="form">
                            <div class="form-group">
                                <label for="">Board Title:</label>
                                <input type="text" id="board-title" class="form-control">
                            </div>

                            <h3 class="m-t-none m-b">Smart Board</h3>
                            <p class="m-t-none m-b" style="padding: 0; margin: 0">Add products to this board if (separate values with comma):</p>
                            <input type="hidden" id="smartboard-board">

                            <div class="form-group">
                                <label for="">Product Title contains:</label>
                                <input type="text" id="smartboard-product-title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Product Tags contains:</label>
                                <input type="text" id="smartboard-product-tags" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Product Type contains:</label>
                                <input type="text" id="smartboard-product-type" class="form-control">
                            </div>
                            <div>
                                <button id="smartboard-save-changes" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>Save</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">

    <style type="text/css">
    tbody td {
        padding: 0px;
        margin: 0px;
    }
    </style>
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.tableTools.min.js' %}"></script>

    {% compress js %}
        <script type="text/javascript" src="{% static 'bigcommerce/js/boards.js' %}"></script>
    {% endcompress %}

{% endblock %}

{% block modal-board-add %}
    {% include 'bigcommerce/modal_board_add.html' %}
    {% include 'bigcommerce/modal_board_update.html' %}
{% endblock modal-board-add %}
