{% extends "base_bigcommerce_core.html" %}

{% load static %}

{% block main-container %}
<div class="middle-box text-center">
{% if error %}
    <h3 class="font-bold">{{error}}</h3>
{% endif %}
{% if message %}
    <h3 class="font-bold">{{message}}</h3>
{% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function () {
        if(self !== top) {
            $('#side-menu').find('a').each(function() {
                    $(this).attr('target', '_blank');
            });
        }
    });
</script>
{% endblock %}
