{% extends "base.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block welcome-area %}
    {% if user.profile.on_trial %}
        <div id="trial_days_left" class="row wrapper border-bottom white-bg">
            <p></p>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>
                            You are on the Dropified {{ user.profile.plan }}.
                            {% if user.profile.plan.dashboard_description %}
                                <br />{{ user.profile.plan.dashboard_description }}
                            {% endif %}
                        </strong>
                    </p>
                    <h2 class="text-center">
                        <strong>
                            You are currently on trial.
                        </strong>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4 class="text-center dropified-green">
                        ({{ user.profile.trial_days_left }} Days Remaining)
                    </h4>
                </div>
                <div class="col-md-3">
                    <div class="text-right">
                        <button type="button" class="big-btn btn btn-primary m-b">
                            CLOSE&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock welcome-area %}

{% block main-container %}

    <div class="tabs-container">
        <ul class="nav nav-tabs" role="tablist">
            <li {% if not settings_tab %}class="active"{% endif %}>
                <a class="nav-link {% if not settings_tab %}active{% endif %}" data-toggle="tab" href="#stores"><i class="fa fa-bars"></i> Stores</a>
            </li>
            <li {% if settings_tab %}class="active"{% endif %}>
                <a class="nav-link {% if settings_tab %}active{% endif %}" data-toggle="tab" href="#settings"><i class="fa fa-cogs"></i> Settings</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" id="stores" class="tab-pane {% if not settings_tab %}active{% endif %}">
                <div class="panel-body">
                    {% include 'home/partial/stores_list.html' %}
                </div>
            </div>
            <div role="tabpanel" id="settings" class="tab-pane {% if settings_tab %}active{% endif %}">
                <div class="panel-body">
                    {% include 'home/partial/settings.html'%}
                </div>
            </div>
        </div>
    </div>

    {% include 'home/partial/add_store_modals.html' %}
    {% include 'home/partial/update_store_modals.html' %}
    {% include 'home/partial/markup_price_modals.html' %}
    {% include 'home/partial/product_template_modals.html' %}
    {% include 'home/partial/store_config_modals.html' %}

    {% for user_goal in user_goals %}
        <div class="ibox training-section">
            <div class='ibox-title'>
                <div class='row'>
                    <div class="col-md-6">
                        <h3>
                            <strong>
                                Goal {{ forloop.counter }}: {{ user_goal.goal.title }}
                            </strong>
                        </h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <span class="simple_tag">
                            <h3>
                                <span>
                                    {% for step in user_goal.goal.steps.all %}
                                        {% if step in user_goal.user.completed_steps.all %}
                                            <i class="fa fa-check-circle dropified-green {{ step.slug }}-circle"></i>
                                        {% else %}
                                            <i class="fa fa-circle disabled-gray {{ step.slug }}-circle"></i>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <span class="dropified-green">
                                    <strong>
                                        <span id="total-steps-completed-{{ user_goal.goal.id }}">{{ user_goal.total_steps_completed }}</span>/{{ user_goal.goal.steps.count }} completed
                                    </strong>
                                </span>
                            </h3>
                        </span>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                              <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            {{ user_goal.goal.description }}
                        </p>
                        <p class="dropified-green">
                            Tip: {{ user_goal.goal.tip }}
                        </p>
                    </div>
                </div>
                <br />
                <div class="row">
                    {% for step in user_goal.goal.steps.all %}
                        <div class="col-md-4">
                            <div class="ibox">
                                <div class="ibox-content product-box">
                                    <div class="product-desc">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="text-muted">
                                                    Step {{ forloop.counter }}
                                                </p>
                                            </div>
                                            <div class="col-md-6 text-right">
                                              <i data-step-slug="{{ step.slug }}"
                                                 data-goal-id="{{ user_goal.id }}"
                                                 class="goal-step fa-lg fa
                                                 {% if step in user_goal.user.completed_steps.all %}dropified-green fa-check-circle{% else %}fa-circle clickable{% endif %}">
                                                </i>
                                            </div>
                                        </div>
                                        <a href="#" class="product-name">
                                            {{ step.title }}
                                        </a>
                                        <div class="m-t-xs step-description">
                                            {{ step.description }}
                                        </div>
                                        <div class="m-t">
                                            <a href="{{ step.show_me_how_url }}" class="step-link" target="_blank">
                                                Show me how
                                            </a>
                                        </div>
                                        <div class="m-t">
                                            {% include "home/partial/step_action.html" with action=step %}
                                            {% for extra_action in step.extra_actions.all %}
                                              {% include "home/partial/step_action.html" with action=extra_action %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="ibox training-section">
        <div class="ibox-content">
            <div class="row padded-row">
                <div class="col-md-6">
                    <h3>
                        <strong>
                            Start Automating Your Life Back
                        </strong>
                    </h3>
                    <p>
                        Dropified saves time, makes running your business simple and gives you your life back.
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <a href="https://academy.dropified.com/training/" target="_blank" id="view-all-training" class="btn btn-primary btn-rounded">View All Training</a>
                </div>
            </div>
            <br>
            <div id="training-videos" class="row">
                {% for video in videos %}
                <div class="col-md-6 training-video">
                    <div class="thumbnail">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{ video.url }}"></iframe>
                        </div>
                        <h3>
                            <strong>{{ video.title }}</strong><br>
                        </h3>
                        <p>{{ video.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extracss %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">

{% compress css %}
    <link href="{% static 'libs/bower_components/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bower_components/dragula.js/dist/dragula.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.tagit.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/index.css' %}" rel="stylesheet" />
{% endcompress %}

<style type="text/css">
    label {
        text-align: left !important;
    }
    .setting-section {
        margin-top: 15px;
        border-left: 2px #eee solid;
        padding-top: 5px;
        margin-left: 20px;
        margin-bottom: 15px;
        padding-bottom: 5px;
        background-color: rgb(250, 250, 250);
        padding-left: 15px;
    }
    h3.setting-title {
        padding: 0;
        margin: 5px 0;
    }
    .table-ligthborder {
        border:1px solid #eee;
    }
    .table-ligthborder > thead > tr > th {
        background-color: #fafafa;
    }

    table .label {
        border-radius: 3px;
        background-color: #f7f7f8;
        color: #564c4c;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 500;
    }
    table .label:hover {
        background-color: #dbdbdb;
    }
    table a.label:focus, a.label:hover {
        color: #564c4c;
    }
    table .label .num {
        font-weight: 600;
    }
    table .label-danger {
        background-color: #ed5565 !important;
        color: #FFFFFF !important;
    }
    table .label-danger[href]:focus,
    table .label-danger[href]:hover {
        background-color: #c9302c !important;
    }
    table td:first-child {
        width: 100%;
    }
    .table > tbody > tr > td {
        vertical-align: middle;
    }
    .table > tbody > tr > td > .btn {
        margin-bottom: 0;
    }
    .v-center {
        display: flex !important;
        align-items: center !important;
    }
    .statistics-link {
        display: none;
    }
    .sync-delay-config {
        text-align: right !important;
    }
    .sync-delay-config label {
        text-align: right !important;
    }.sync-delay-config .left {
        text-align: left !important;
    }
    .btn-group .dropdown-menu .btn-success:hover {
        background-color: #1a7bb9;
    }
    .btn-group .dropdown-menu .btn-info:hover {
        background-color: #21bdbb;
    }
    .btn-group .dropdown-menu .btn-danger:hover {
        background-color: #ec4758;
    }

    {% if user.is_subuser %}
        .order-handle {
            display: none;
        }
    {% endif %}
</style>
{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        $.fn.bootstrapBtn = $.fn.button.noConflict();
        $.fn.bootstrapTooltip =  $.fn.tooltip.noConflict();

        var sub_conf = {
            key: "{% app_setting 'PUSHER_KEY' %}",
            channel: "user_{{user.id}}",
        };

        var user_statistics = {% json_dumps user_statistics %};
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/ckeditor.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pusher/3.2.4/pusher.min.js"></script>

{% compress js %}
    <script src="{% static 'libs/bower_components/switchery/dist/switchery.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/dragula.js/dist/dragula.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/jquery-form/jquery.form.js' %}"></script>
    <script src="{% static 'js/tag-it.min.js' %}"></script>
    <script src="{% static 'home/js/index.js' %}"></script>
{% endcompress %}

{% endblock %}
