{% extends "base.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block main-container %}
  <div class="row">
    <div class="col-md-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
            {% if user|can:'product_import_settings.use' %}
            <li class="active">
                <a data-toggle="tab" href="#tab-product" data-auto-hash="" aria-expanded="true">Product Import</a>
            </li>
            {% endif %}

            {% if user|can:'auto_order.view' %}
            <li class="fulfill-tab">
                <a data-toggle="tab" href="#tab-fulfill" data-auto-hash="fulfill" data-auto-click="true" aria-expanded="false">Auto Fulfill</a>
            </li>
            {% endif %}

            {% if user|can:'price_change_options.use' %}
            <li class="alerts-tab">
                <a data-toggle="tab" href="#tab-alerts" data-auto-hash="alerts" data-auto-click="true" aria-expanded="false">Alerts</a>
            </li>
            {% endif %}

            {% if user|can:'orders.use' %}
            <li class="orders-tab">
                <a data-toggle="tab" href="#tab-orders" data-auto-hash="orders" data-auto-click="true" aria-expanded="false">Orders</a>
            </li>
            {% endif %}

            {% if user|can:'aliexpress_settings.use' %}
            <li class="aliexpress-tab">
                <a data-toggle="tab" href="#tab-aliexpress" data-auto-hash="aliexpress" data-auto-click="true" aria-expanded="false">AliExpress</a>
            </li>
            {% endif %}

            {% if request.user|can:'alibaba_integration.use' %}
            <li class="alibaba-tab">
                <a data-toggle="tab" href="#alibaba-settings" data-auto-hash="alibaba" data-auto-click="true" aria-expanded="false">Alibaba</a>
            </li>
            {% endif %}

            {% if user|can:'ebay.use' and user.profile.get_sd_accounts|length and ebay_settings %}
            <li class="ebay-tab">
                <a data-toggle="tab" href="#ebay-settings" data-auto-hash="ebay" data-auto-click="true" aria-expanded="false">eBay</a>
            </li>
            {% endif %}

        </ul>
        <div class="tab-content">
            {% include 'home/partial/settings.html'%}
        </div>
    </div>
    </div>
  </div>

    {% include 'home/partial/add_store_modals.html' %}
    {% include 'home/partial/update_store_modals.html' %}
    {% include 'home/partial/markup_price_modals.html' %}
    {% include 'home/partial/product_template_modals.html' %}
    {% include 'home/partial/store_config_modals.html' %}

{% endblock %}

{% block extracss %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">

{% compress css %}
    <link href="{% static 'libs/bower_components/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bower_components/dragula.js/dist/dragula.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.tagit.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/index.css' %}" rel="stylesheet" />
{% endcompress %}

{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        $.fn.bootstrapBtn = $.fn.button.noConflict();
        $.fn.bootstrapTooltip =  $.fn.tooltip.noConflict();

        var sub_conf = {
            key: "{% app_setting 'PUSHER_KEY' %}",
            channel: "user_{{user.id}}",
        };

        var user_statistics = {% json_dumps user_statistics %};

        {% if request.user|can:'bigcommerce.use' %}
        var bigcommerce_app_id = "{% app_setting 'BIGCOMMERCE_APP_ID' %}";
        {% endif %}
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/ckeditor.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pusher/3.2.4/pusher.min.js"></script>

{% compress js %}
    <script src="{% static 'libs/bower_components/switchery/dist/switchery.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/dragula.js/dist/dragula.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/jquery-form/jquery.form.js' %}"></script>
    <script src="{% static 'js/tag-it.min.js' %}"></script>
    <script src="{% static 'home/js/index.js' %}"></script>
    <script src="{% static 'addons/js/addons-upsells.js' %}"></script>
{% endcompress %}

{% endblock %}
