[flake8]

ignore = E722, E402, W503
max-line-length = 150
exclude =
	venv*,
    app/config,
    app/data,
    app/static,
    app/templates,
    app/wsgi.py,
    node_modules,
    migrations,
    tests.py,
    scripts,
    patches
    alibaba_core/tests/mock_data.py
