[flake8]

ignore = F405,F403,E402,E722
max-line-length = 150
exclude = 
	venv*,
    app/config,
    app/data,
    app/static,
    app/templates,
    node_modules,
    migrations,
    tests,
    tests.py,
    scripts,
    patches,
    __init__.py
