amqp==1.4.9
anyjson==0.3.3
arrow==0.7.0
billiard==3.3.0.23
bleach==1.4.2
boto==2.38.0
celery==3.1.23
cffi==1.2.1
characteristic==14.3.0
cryptography==1.0
cssselect==0.9.1
dj-database-url==0.3.0
Django==1.8.11
django-appconf==1.0.1
django-compat==1.0.7
django-compressor==1.6
django-debug-toolbar==1.4
django-extensions==1.6.1
django-flat-theme==1.1.3
django-hijack==1.0.10
django-multiselectfield==0.1.3
django-postgrespool==0.3.0
django-redis==4.3.0
django-storages==1.4
django-widget-tweaks==1.3
docutils==0.12
enum34==1.0.4
gunicorn==19.3.0
html5lib==0.9999999
httplib2==0.9.1
idna==2.0
ipaddress==1.0.14
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.34
lockfile==0.10.2
lxml==3.4.4
MarkupSafe==0.23
MySQL-python==1.2.5
ndg-httpsclient==0.4.0
newrelic==2.60.0.46
oauth2client==1.4.11
Pillow==2.9.0
ply==3.8
psycopg2==2.6
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.14
pyOpenSSL==0.15.1
PyPDF2==1.25.1
python-dateutil==2.4.2
pytz==2015.7
queuelib==1.4.2
redis==2.10.5
requests==2.9.1
rsa==3.1.4
service-identity==14.0.0
simplejson==3.7.3
six==1.10.0
slimit==0.8.1
sqlparse==0.1.18
Twisted==15.4.0
Unidecode==0.4.18
uritemplate==0.6
w3lib==1.12.0
Werkzeug==0.10.4
whitenoise==1.0.6
zope.interface==4.1.2
