#markup-rules-list-modal .modal-body {
    min-height: 100px;
}

.training-section {
    margin-top: 20px;
}

.training-section .padded-row {
    padding: 0 40px;
}

#dashboard-logo {
    padding-top: 10px;
    width: 30%;
}

#dashboard-welcome-message {
    color: #999c9e;
}

h4.days-remaining {
    color: rgb(147, 196, 125);
}

.dropified-green {
    color: rgb(147, 196, 125);
}

.step-title {
    font-size: 16px;
    font-weight: 600;
    color: #676a6c;
    display: block;
    margin: 2px 0 5px 0;
}

.goal-steps:hover .step-title {
    color: rgb(147, 196, 125);
}

.step-actions {
    min-height: 35.45px;
}

.disabled-gray {
    color: #999c9e;
}

.close-circle-gray {
    color: #eee;
}

.step-link {
    height: 18px;
}

.step-link a {
    color: #007bff;
}

span.step-label {
    vertical-align: middle;
}

img.step-icon {
    vertical-align: middle;
    height: 14px;
    width: 14px;
    margin-right: 5px;
}

#view-all-training {
    margin: 0 0 24px;
}

.training-videos .thumbnail {
    padding: 15px 10px;
    margin-bottom: 0;
}

.training-videos .thumbnail p {
    text-align: center;
}

.training-videos .training-video strong {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    font-size: 30px;
}

.training-videos .training-video small {
    margin: 5px auto 0;
    display: block;
    float: none;
    width: 71%;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .training-videos {
        padding: 0;
    }

    .training-videos .training-video strong {
        font-size: 16px;
    }

    .training-videos .training-video small {
        font-size: 85%;
    }
}


.step-description {
    min-height: 50px;
}

.goal-step.clickable {
    cursor: pointer;
}

label {
    text-align: left !important;
}

.setting-section {
    margin-top: 15px;
    border-left: 2px #eee solid;
    padding-top: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    background-color: rgb(250, 250, 250);
    padding-left: 15px;
}

h3.setting-title {
    padding: 0;
    margin: 5px 0;
}

.table-ligthborder {
    border: 1px solid #eee;
}

.table-ligthborder > thead > tr > th {
    background-color: #fafafa;
}

table a.label:focus, a.label:hover {
    color: #564c4c;
}

.label .num {
    font-weight: 600;
}

.label-danger {
    background-color: #ed5565 !important;
    color: #FFFFFF !important;
}

.label-danger[href]:focus,
.label-danger[href]:hover {
    background-color: #c9302c !important;
}

table td:first-child {
    width: 100%;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > td > .btn {
    margin-bottom: 0;
}

.v-center {
    display: flex !important;
    align-items: center !important;
}

.statistics-link {
    display: none;
}

.btn-group .dropdown-menu .btn-success:hover {
    background-color: #1a7bb9;
}

.btn-group .dropdown-menu .btn-info:hover {
    background-color: #21bdbb;
}

.btn-group .dropdown-menu .btn-danger:hover {
    background-color: #ec4758;
}
