{% extends "base.html" %}
{% load static %}
{% load template_helper %}

{% block title %}{{ article.text_title }}{% endblock %}

{% if request.app == "chq" %}
    {% block main-nav %}
        {% include 'commercehq/main_nav.html' with url_name=request.resolver_match.view_name %}
    {% endblock main-nav %}
{% elif request.app == "woo" %}
    {% block main-nav %}
        {% include 'woocommerce/main_nav.html' with url_name=request.resolver_match.view_name %}
    {% endblock main-nav %}
{% endif %}

{% block main-container %}

<div class="row article">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox">
            <div class="ibox-content">
                <div class="pull-right">
                    {% for tag in article.tags.all %}
                    <a class="btn btn-white btn-xs" href="{{tag.get_link}}">{{tag.title}}</a>
                    {% endfor %}
                </div>
                <div class="text-center article-title">
                    <span class="text-muted itooltip article-updated-at" title="Last Update"><i class="fa fa-clock-o"></i> {{ article.updated_at|date }}</span>

                    {% if user.is_superuser %}
                        <p class="text-muted itooltip" title="Visible to admin only"><i class="fa fa-eye"></i> Page Views: {{ article.views }}</p>
                    {% endif %}

                    <h1>
                        {% if article.stat != 0 %}
                            [{{article.get_status|title}}]
                        {% endif %}
                        {{ article.title | safe }}
                    </h1>
                </div>

                {% if article.body_format == 'markdown' %}
                    {% render_markdown article.body %}
                {% else %}
                    {{ article.body|safe }}
                {% endif %}

                <hr />

                <div class="row">
                    <div class="col-md-6">
                        {% for tag in article.tags.all %}

                        {% if forloop.counter0 == 0 %}
                        <h5>Tags:</h5>
                        {% endif %}

                        <a class="btn btn-white btn-xs" href="{{tag.get_link}}">{{tag.title}}</a>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <div class="small text-right">
                            {% if user.is_superuser %}
                                <a class="btn btn-xs btn-success" href="{% url 'edit' article.id %}"><i class="fa fa-edit"></i> Edit</a>
                                <a class="btn btn-xs btn-danger" href="{% url 'admin:article_article_delete' article.id %}"><i class="fa fa-remove"></i> Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div>
                <span class="pull-right">
                </span>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extracss %}
<style type="text/css">
    {{ article.style|default:''|safe }}
</style>
{% endblock %}
