{% extends "project/base.html" %}
{% load url_tools %}

{% block page-title %}Project Explorer{% endblock %}

{% block project-main-row-size %}col-md-12{% endblock %}

{% block project-main %}
<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class=""><a href="/project/explorer/{{project.id}}-links">Internal Links</a></li>
                <li class=""><a href="/project/explorer/{{project.id}}-titles">Page Titles</a></li>
                <li class=""><a href="/project/explorer/{{project.id}}-description">Meta Description</a></li>
                <li class=""><a href="/project/explorer/{{project.id}}-images">Images</a></li>
                <li class="active"><a href="/project/explorer/{{project.id}}-h1">H1</a></li>
                <li class=""><a href="/project/explorer/{{project.id}}-h2">H2</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-1">
                    <div class="panel-body">
                        <table class="table table-bordered dataTables">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Tag</th>
                                    <th>Occurnce</th>
                                    <th>Text Length</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in headers %}
                                <tr>
                                    <td>{{item.header.text|default:"&lt;Blank&gt;"}}</td>
                                    <td>{{item.header.header|upper}}</td>
                                    <td>{{item.count}}</td>
                                    <td>{{item.header.text|length}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="tab-2">
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
<!-- Data Tables -->
<link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

    <script type="text/javascript">
       $(document).ready(function() {
            $('.dataTables').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/static/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
        });
    </script>
{% endblock %}

