{% load perms_helper %}
{% load static %}

<div id="modal-add-all-store-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Store</h4>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs" id="wizard-nav" style="display: none;">
                    <li><a href="#select-section" data-toggle="tab"></a></li>
                    <li><a href="#shopify-section" data-toggle="tab"></a></li>
                    <li><a href="#chq-section" data-toggle="tab"></a></li>
                    <li><a href="#woo-section" data-toggle="tab"></a></li>
                    {% if request.user|can:'ebay.use' %}
                    <li><a href="#ebay-section" data-toggle="tab"></a></li>
                    {% endif %}
                    {% if request.user|can:'allow_groovekart.use' %}
                    <li><a href="#gk-section" data-toggle="tab"></a></li>
                    <li><a href="#gk-lite-section" data-toggle="tab"></a></li>
                    {% endif %}

                    {% if request.user|can:'bigcommerce.use' %}
                    <li><a href="#bigcommerce-section" data-toggle="tab"></a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div id="select-section" class="tab-pane fade in active">
                        <div class="row">
                            <p>Select your store platform:</p>

                            <fieldset class="radio-strip m-l" id="store-types">
                                <label class="checked" style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#shopify-section" checked="" type="radio">
                                    <span class="label-text">Shopify</span>
                                </label>

                                <label style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#chq-section" type="radio">
                                    <span class="label-text">CommerceHQ</span>
                                </label>

                                <label style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#woo-section" type="radio">
                                    <span class="label-text">Woocommerce</span>
                                </label>

                               {% if request.user|can:'allow_groovekart.use' %}
                                <label style="display: block;">
                                    <input name="amt" value="#gk-section" type="radio">
                                    <span class="label-text">GrooveKart</span>
                                </label>
                                <label style="display: block;">
                                    <input name="amt" value="#gk-lite-section" type="radio">
                                    <span class="label-text">GrooveKart Lite</span>
                                </label>
                                {% endif %}

                                {% if request.user|can:'bigcommerce.use' %}
                                <label style="display: block;">
                                    <input name="amt" value="#bigcommerce-section" type="radio">
                                    <span class="label-text">BigCommerce</span>
                                </label>
                                {% endif %}

                                {% if request.user|can:'ebay.use' %}
                                <label style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#ebay-section" type="radio">
                                    <span class="label-text">eBay</span>
                                </label>
                                {% endif %}
                            </fieldset>

                            <hr style="margin:20px -15px">

                            <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                            <button id="continue-btn" class="btn btn-primary pull-right" type="button">Continue &gt;</button>
                        </div>
                    </div>

                    <!-- Shopify -->
                    <div id="shopify-section" class="tab-pane fade">
                        <div class="row">
                            <h3 class="m-t-none m-b">Add Shopify Store</h3>

                            <div class="col-sm-12">
                                <form class="install-store-form" role="form">
                                    <div class="form-group">
                                        <label for="shopify-shop-url">Enter your store's URL:</label>
                                        <input type="text" id="shopify-shop-url" placeholder="your-shop-url.myshopify.com"
                                                class="form-control" autocorrect="off" spellcheck="false">
                                    </div>
                                </form>

                                <hr style="margin:20px -30px">
                            </div>

                            <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary pull-right install-store" type="button" data-store-type="shopify">Add store</button>
                        </div>
                    </div>

                    <!-- CommerceHQ -->
                    <div id="chq-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">Add CommerceHQ Store</h3>
                                <form id="chq-store-create-form" method="post" role="form">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" id="chq_store_title" name="title" placeholder="Store name" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>API URL</label>
                                        <input type="text" id="chq_store_api_url" name="api_url" placeholder="your-shop-url.commercehq.com" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>API Key</label>
                                        <input type="text" id="chq_store_api_key" name="api_key" class="form-control" autocomplete="off"  required />
                                    </div>
                                    <div class="form-group">
                                        <label>API Password</label>
                                        <input type="password" id="chq_store_api_password" name="api_password" class="form-control" autocomplete="off"  required />
                                    </div>

                                    <hr style="margin:20px -30px">

                                    <div>
                                        <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                            Add store
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- WooCommerce -->
                    <div id="woo-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">Add WooCommerce Store</h3>
                                <form id="woo-store-create-form" method="post" role="form">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" placeholder="Store name" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Store URL</label>
                                        <input type="url" name="api_url" placeholder="https://your-shop-url.com" class="form-control" required />
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                            Add store
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% if request.user|can:'allow_groovekart.use' %}
                    <!-- GrooveKart -->
                    <div id="gk-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">Add GrooveKart Store</h3>
                                <form id="gk-store-create-form" method="post" role="form">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" placeholder="Store name" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Store URL</label>
                                        <input type="url" name="api_url" placeholder="https://your-shop-url.com" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>API Key</label>
                                        <input type="password" name="api_key" class="form-control" autocomplete="off" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Auth Token</label>
                                        <input type="text" name="api_token" class="form-control" autocomplete="off" required />
                                    </div>

                                    <hr style="margin:20px -30px">

                                    <div>
                                        <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                            Add store
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- GrooveKart Lite -->
                    <div id="gk-lite-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="gk-lite-store-create-form" method="post" role="form">
                                    <input type="hidden" name="is_lite" value="1" />
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" placeholder="Store name" class="form-control" />
                                    </div>

                                    <hr style="margin:20px -30px">

                                    <div>
                                        <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                            Create GrooveKart Lite Account
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- BigCommerce -->
                    <div id="bigcommerce-section" class="tab-pane fade">
                        <div class="row">
                            <h3 class="m-t-none m-b">Add BigCommerce Store</h3>

                            <div class="col-sm-12">
                                <form class="install-store-form" role="form">
                                    <div class="form-group">
                                        <label for="bigcommerce-shop-url">Enter your store's URL:</label>
                                        <input type="text" id="bigcommerce-shop-url" placeholder="https://your-shop-url.mybigcommerce.com/"
                                                class="form-control" autocorrect="off" spellcheck="false">
                                    </div>
                                </form>

                                <hr style="margin:20px -30px">
                            </div>

                            <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary pull-right install-store" type="button" data-store-type="bigcommerce">Add store</button>
                        </div>
                    </div>

                     <!-- eBay -->
                    <div id="ebay-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12" style="max-height: 500px; overflow-y: scroll;">
                                <h3 class="m-t-none m-b">Add eBay Store</h3>
                                <p class="m-b">
                                    <strong>Login with eBay & Grant Application Access</strong><br/>
                                    Click "Authorize eBay" below to start the authorization process.
                                    Grant application access to Dropified to enable management of your listings and orders.
                                </p>
                                {% if not user.profile.get_sd_accounts|length %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fa fa-info-circle"></i>
                                        Please note that eBay setup may take longer when adding an eBay store for the first time.
                                    </div>
                                {% endif %}

                                <img src="{% static 'img/ebay-auth-grant-access-page.png' %}"
                                     class="img-responsive center-block"
                                     style="max-width: 80%;"
                                     alt="eBay App Authorization page">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr style="margin:20px -15px">

                                <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary pull-right" id="ebay-store-create-submit-btn"
                                        {% if not user.profile.get_sd_accounts|length %}data-loading-text="Setting up eBay configurations..."{% endif %}>
                                        Add store
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
