{% load perms_helper %}
{% load static %}

{% if request.user|can:'facebook.use' %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=911185429584823&autoLogAppEvents=1"
        nonce="JLNkdJEJ"></script>
{% endif %}
{% if request.user|can:'google.use' %}
    <!-- some google JS code here -->
{% endif %}

<div id="modal-add-all-store-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Store</h4>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs" id="wizard-nav" style="display: none;">
                    <li><a href="#select-section" data-toggle="tab"></a></li>
                    <li><a href="#shopify-section" data-toggle="tab"></a></li>
                    <li><a href="#chq-section" data-toggle="tab"></a></li>
                    <li><a href="#woo-section" data-toggle="tab"></a></li>
                    {% if request.user|can:'ebay.use' %}
                    <li><a href="#ebay-section" data-toggle="tab"></a></li>
                    {% endif %}
                    {% if request.user|can:'allow_groovekart.use' %}
                    <li><a href="#gk-section" data-toggle="tab"></a></li>
                    <li><a href="#gk-lite-section" data-toggle="tab"></a></li>
                    {% endif %}

                    {% if request.user|can:'bigcommerce.use' %}
                    <li><a href="#bigcommerce-section" data-toggle="tab"></a></li>
                    {% endif %}

                    {% if request.user|can:'facebook.use' %}
                    <li><a href="#fb-section" data-toggle="tab"></a></li>
                    {% endif %}

                    {% if request.user|can:'fb_marketplace.use' %}
                    <li><a href="#fb-mp-section" data-toggle="tab"></a></li>
                    {% endif %}

                    {% if request.user|can:'google.use' %}
                    <li><a href="#google-section" data-toggle="tab"></a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div id="select-section" class="tab-pane fade in active">
                        <div class="row">
                            <p>Select your store platform:</p>

                            <fieldset class="radio-strip m-l" id="store-types">
                                <label class="checked" style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#shopify-section" checked="" type="radio">
                                    <span class="label-text">Shopify</span>
                                </label>

                                <label style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#chq-section" type="radio">
                                    <span class="label-text">CommerceHQ</span>
                                </label>

                                <label style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#woo-section" type="radio">
                                    <span class="label-text">Woocommerce</span>
                                </label>

                               {% if request.user|can:'allow_groovekart.use' %}
                                <label style="display: block;">
                                    <input name="amt" value="#gk-section" type="radio">
                                    <span class="label-text">GrooveKart</span>
                                </label>
                                <label style="display: block;">
                                    <input name="amt" value="#gk-lite-section" type="radio">
                                    <span class="label-text">GrooveKart Lite</span>
                                </label>
                                {% endif %}

                                {% if request.user|can:'bigcommerce.use' %}
                                <label style="display: block;">
                                    <input name="amt" value="#bigcommerce-section" type="radio">
                                    <span class="label-text">BigCommerce</span>
                                </label>
                                {% endif %}

                                {% if request.user|can:'ebay.use' %}
                                <label style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#ebay-section" type="radio">
                                    <span class="label-text">eBay</span>
                                </label>
                                {% endif %}

                                {% if request.user|can:'facebook.use' %}
                                <label style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#fb-section" type="radio">
                                    <span class="label-text">Facebook</span>
                                </label>
                                {% endif %}

                                {% if request.user|can:'fb_marketplace.use' %}
                                <label style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#fb-mp-section" type="radio">
                                    <span class="label-text">Facebook Marketplace</span>
                                </label>
                                {% endif %}

                                {% if request.user|can:'google.use' %}
                                <label style="display: block; margin-bottom: 5px;">
                                    <input name="amt" value="#google-section" type="radio">
                                    <span class="label-text">Google</span>
                                </label>
                                {% endif %}
                            </fieldset>

                            <hr style="margin:20px -15px">

                            <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                            <button id="continue-btn" class="btn btn-primary pull-right" type="button">Continue &gt;</button>
                        </div>
                    </div>

                    <!-- Shopify -->
                    <div id="shopify-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">Add Shopify Store</h3>

                                <form class="install-store-form" role="form">
                                    <div class="form-group">
                                        <label for="shopify-shop-url">Enter your store's URL:</label>
                                        <input type="text" id="shopify-shop-url" placeholder="your-shop-url.myshopify.com"
                                                class="form-control" autocorrect="off" spellcheck="false">
                                    </div>
                                </form>

                                <hr>

                                <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary pull-right install-store" type="button" data-store-type="shopify">Add store</button>
                            </div>
                        </div>
                    </div>

                    <!-- CommerceHQ -->
                    <div id="chq-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">Add CommerceHQ Store</h3>
                                <form id="chq-store-create-form" method="post" role="form">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" id="chq_store_title" name="title" placeholder="Store name" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>API URL</label>
                                        <input type="text" id="chq_store_api_url" name="api_url" placeholder="your-shop-url.commercehq.com" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>API Key</label>
                                        <input type="text" id="chq_store_api_key" name="api_key" class="form-control" autocomplete="off"  required />
                                    </div>
                                    <div class="form-group">
                                        <label>API Password</label>
                                        <input type="password" id="chq_store_api_password" name="api_password" class="form-control" autocomplete="off"  required />
                                    </div>

                                    <hr>

                                    <div>
                                        <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                            Add store
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- WooCommerce -->
                    <div id="woo-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">Add WooCommerce Store</h3>
                                <form id="woo-store-create-form" method="post" role="form">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" placeholder="Store name" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Store URL</label>
                                        <input type="url" name="api_url" placeholder="https://your-shop-url.com" class="form-control" required />
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                            Add store
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% if request.user|can:'allow_groovekart.use' %}
                    <!-- GrooveKart -->
                    <div id="gk-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">Add GrooveKart Store</h3>
                                <form id="gk-store-create-form" method="post" role="form">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" placeholder="Store name" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Store URL</label>
                                        <input type="url" name="api_url" placeholder="https://your-shop-url.com" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>API Key</label>
                                        <input type="password" name="api_key" class="form-control" autocomplete="off" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Auth Token</label>
                                        <input type="text" name="api_token" class="form-control" autocomplete="off" required />
                                    </div>

                                    <hr>

                                    <div>
                                        <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                            Add store
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- GrooveKart Lite -->
                    <div id="gk-lite-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="gk-lite-store-create-form" method="post" role="form">
                                    <input type="hidden" name="is_lite" value="1" />
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" placeholder="Store name" class="form-control" />
                                    </div>

                                    <hr>

                                    <div>
                                        <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                            Create GrooveKart Lite Account
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- BigCommerce -->
                    <div id="bigcommerce-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">Add BigCommerce Store</h3>

                                <form class="install-store-form" role="form">
                                    <div class="form-group">
                                        <label for="bigcommerce-shop-url">Enter your store's URL:</label>
                                        <input type="text" id="bigcommerce-shop-url" placeholder="https://your-shop-url.mybigcommerce.com/"
                                                class="form-control" autocorrect="off" spellcheck="false">
                                    </div>
                                </form>

                                <hr>

                                <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary pull-right install-store" type="button" data-store-type="bigcommerce">Add store</button>
                            </div>
                        </div>
                    </div>

                     <!-- eBay -->
                    <div id="ebay-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12" style="max-height: 500px; overflow-y: scroll;">
                                <h3 class="m-t-none m-b">Add eBay Store</h3>
                                <p class="m-b">
                                    <strong>Login with eBay & Grant Application Access</strong><br/>
                                    Click "Authorize eBay" below to start the authorization process.
                                    Grant application access to Dropified to enable management of your listings and orders.
                                </p>
                                {% if not user.profile.get_sd_accounts|length %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fa fa-info-circle"></i>
                                        Please note that eBay setup may take longer when adding an eBay store for the first time.
                                    </div>
                                {% endif %}

                                <img src="{% static 'img/ebay-auth-grant-access-page.png' %}"
                                     class="img-responsive center-block"
                                     style="max-width: 80%;"
                                     alt="eBay App Authorization page">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr>

                                <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary pull-right" id="ebay-store-create-submit-btn"
                                        {% if not user.profile.get_sd_accounts|length %}data-loading-text="Setting up eBay configurations..."{% endif %}>
                                        Add store
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Facebook -->
                    <div id="fb-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12" style="max-height: 500px; overflow-y: scroll;">
                                <h3 class="m-t-none m-b">Add Facebook Store</h3>
                                <p class="m-b">
                                    <strong>1. Login with Facebook & Verify Business User</strong><br/>
                                    Click "Continue with Facebook" below to start the authorization process. Verify that the user is connected to
                                    the Facebook business page or Instagram business account that will be associated with the Dropified product catalog.
                                </p>
                                <p class="m-b">
                                    <strong>2. Review & Grant Permissions</strong><br/>
                                    Dropified requires permissions to create & manage product catalogs, process orders,
                                    manage the Facebook page associated with the business as well as manage settings to
                                    create a secure system user for a stable business integration. All requested permissions
                                    must be allowed for the Dropified Facebook integration to operate reliably.
                                </p>
                                {% if not user.profile.get_sd_accounts|length %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fa fa-info-circle"></i>
                                        Please note that Facebook setup may take longer when adding a Facebook store for the first time.
                                    </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="{% static 'img/facebook/fb-auth-grant-access-page.png' %}"
                                             class="img-responsive center-block"
                                             alt="Facebook App Authorization page">
                                    </div>
                                    <div class="col-xs-6">
                                        <img src="{% static 'img/facebook/fb-auth-grant-permissions-page.png' %}"
                                             class="img-responsive center-block"
                                             alt="Facebook App Permission page">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr>
                                <div style="display: flex; align-items: center; justify-content: space-between">
                                    <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                                    <div id="fb-store-create-submit-btn" style="cursor:pointer;">
                                        <div class="fb-login-button" data-width="" data-size="medium"
                                             data-button-type="continue_with" data-layout="default" data-auto-logout-link="false"
                                             href="https://app.dropified.com"
                                             style="pointer-events: none !important;"
                                             data-use-continue-as="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="fb-mp-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">Add Facebook Marketplace</h3>
                                <form id="fb-mp-create-form" method="post" role="form">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" placeholder="Store name" class="form-control" />
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                            Add store
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- Google -->
                    <div id="google-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12" style="max-height: 500px; overflow-y: scroll;">
                                <h3 class="m-t-none m-b">Login with Google & Verify Business User</h3>
                                <p class="m-b">
                                    Click "Authorize Google" below to start the authorization process. Verify that the user authorizing is connected to the Google Merchant Center account that will be associated with the SureDone product catalog.
                                </p>
                                <h3 class="m-t-none m-b">2. Review & Grant Permissions</h3>
                                <p class="m-b">
                                    Dropified requires permissions to create & manage product catalogs and process orders for a stable business integration. All requested permissions must be allowed for the SureDone Google integration to operate reliably. Note that if you change your password on Google you may have to re-authorize your connection inside SureDone.
                                </p>
                                {% if not user.profile.get_sd_accounts|length %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fa fa-info-circle"></i>
                                        Please note that Google setup may take longer when adding a Google store for the first time.
                                    </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="{% static 'img/google/google-auth-grant-access-page.png' %}"
                                             class="img-responsive center-block"
                                             alt="Google App Authorization page">
                                    </div>
                                    <div class="col-xs-6">
                                        <img src="{% static 'img/google/google-auth-grant-permissions-page.png' %}"
                                             class="img-responsive center-block"
                                             alt="Google App Permission page">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr>
                                <div style="display: flex; align-items: center; justify-content: space-between">
                                    <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Cancel</button>

                                    <button type="button" class="btn pull-right" id="google-store-create-submit-btn" style="background-color: #1c73e8;color: #ffffff;padding: 6px;border-radius: 5px;box-shadow: 2px 2px #000000 .2;"
                                        {% if not user.profile.get_sd_accounts|length %}data-loading-text="Setting up configurations..."{% endif %}>
                                        <span style="background-color: #ffffff;padding: 3px;display: inline-block;margin-right: 4px;">
                                            <img style="width: 21px;margin: 4px;" alt="Google login" src="{% static 'img/google/Google__G__Logo.svg.webp' %}" /></span>
                                        Sign in with Google
                                    </button>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
