{% load perms_helper %}

<div id="product-template-modal" class="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Description Template</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form role="form" action="" method="post" id="add-template-form">
                            <input type="hidden" name="id" value="">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title" placeholder="Template title" class="form-control">
                            </div>
                            <div class="form-group">

                                <label>
                                    Description
                                    {% include 'partial/help_tooltip.html' with help="<p>Available Custom Tags:</p> <p><b>{{title}}</p></b> <p><b>{{description_full}}</p></b> <p><b>{{description_simplified}}</p></b> <p><b>{{price}}</p></b> <p><b>{{compare_at_price}}</p></b> <p><b>{{weight}}</p></b> <p><b>{{vendor}}</p></b> <p><b>{{type}}</p></b>" qtipstyle="color:#BBB" %}
                                </label>

                                <textarea name="description" placeholder="Description for template" class="form-control" autocomplete="off"></textarea>
                            </div>
                            <div class="m-t-n-xs">
                                <button type="submit" class="btn btn-sm btn-primary pull-right">Save</button>
                                <button type="button" data-dismiss="modal" class="btn btn-sm btn-default pull-left">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="product-templates-list-modal" class="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Custom Product Descriptions</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    {% if user|can:'custom_description.use' %}
                    <div class="col-sm-12">
                        <table class="table table-ligthborder" id="description-template-table">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle; min-width: 100px;">Title</th>
                                    <th style="width: 150px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-template-id="" class="hidden clone template-row">
                                    <td class="template-title"></td>
                                    <td>
                                        <a href="#" class="edit-template" title="Edit" style="padding: 8px;" data-id="" data-toggle="modal" data-target="#product-template-modal">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="delete-template" data-id="" data-toggle="tooltip" data-placement="top" title="Delete" style="padding: 8px;">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% for template in templates %}
                                <tr data-template-id="{{ template.id }}" class="template-row">
                                    <td class="template-title">{{ template.title }}</td>
                                    <td class="no-wrap">
                                        <a href="#" class="edit-template" title="Edit" style="padding: 8px;" data-id="{{ template.id }}" data-toggle="modal" data-target="#product-template-modal">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="delete-template" data-id="{{ template.id }}" data-toggle="tooltip" data-placement="top" title="Delete" style="padding: 8px;">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <a data-toggle="modal" data-target="#product-template-modal" class="btn btn-success btn-sm" style="margin: 0;">
                            <i class="fa fa-plus"></i> Add New Template
                        </a>
                    </div>
                    {% else %}
                    <div class="col-sm-12">
                        {% if user.profile.plan.support_addons %}
                            {% include "common/partial/upsell.html" with addon_id=21 message="Add Custom Product Descriptions to your Plan" only %}
                        {% else %}
                            {% include "common/partial/upsell.html" with addon_id='' message="Please upgrade your Plan to add Custom Product Description" only %}
                        {% endif %}
                        <table class="table table-ligthborder">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle; min-width: 100px;">Title</th>
                                    <th style="width: 150px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="template-row">
                                    <td class="template-title">Hot sale</td>
                                    <td>
                                        <a href="#" class="edit-template" title="Edit" style="padding: 8px;">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="delete-template" title="Delete" style="padding: 8px;">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr><tr class="template-row">
                                    <td class="template-title">Standard</td>
                                    <td>
                                        <a href="#" class="edit-template" title="Edit" style="padding: 8px;">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="delete-template" title="Delete" style="padding: 8px;">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr><tr class="template-row">
                                    <td class="template-title">Product with discount</td>
                                    <td>
                                        <a href="#" class="edit-template" title="Edit" style="padding: 8px;">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="delete-template" title="Delete" style="padding: 8px;">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <a class="btn btn-success btn-sm" style="margin: 0;">
                            <i class="fa fa-plus"></i> Add New Template
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
