{% load perms_helper %}

<div class="row">
    <div class="col-md-12">
        <form id="config-form" class="form-horizontal" role="form">
            <input type="hidden" name="from" value="webapp">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Products Import
                    {% include 'partial/help_tooltip.html' with help="Here you can configure the settings for the products that you import to your account. <br><a href='http://help.dropified.com/products/save-and-import-products/import-products-with-chrome-extension'>Click here</a> to learn how to import items." qtipstyle="color:#BBB" %}
                </div>

                <div class="panel-body">
                {% if user|can:'auto_margin.use' %}
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label for="auto_margin" class="col-sm-4 control-label">
                                Price Markup
                                {% include 'partial/help_tooltip.html' with help="For example: If you set Price Markup to <b>50%</b>, a product that costs $10.00 will be set to $15.00. For example: If set to <b>50%</b>, a product that costs <i>(after Auto Margin)</i> $10.00 will be compared to $15.00." qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-3">
                            <input style="padding:5px 2px;text-align:center" type="text"
                                class="form-control col-sm-2" id="auto_margin" name="auto_margin"
                                value="{% if config.auto_margin != '%' %}{{config.auto_margin}}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="auto_margin_cents" class="col-sm-4 control-label">
                                Price Cents Value
                               {% include 'partial/help_tooltip.html' with help="For example: If you set Price Cents Value to <b>95</b>, product price will end always by .95" qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-3">
                                <input style="padding:5px 2px;text-align:center" type="text"
                                       class="form-control col-sm-2" id="auto_margin_cents" name="auto_margin_cents"
                                       value="{{config.auto_margin_cents}}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label for="auto_compare_at" class="col-sm-4 control-label" style="padding-top:0">
                                Compare At Price Markup
                                {% include 'partial/help_tooltip.html' with help="For example: If set to <b>50%</b>, a product that costs <i>(after Auto Margin)</i> $10.00 will be compared to $15.00" qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-3">
                                <input style="padding:5px 2px;text-align:center" type="text"
                                       class="form-control col-sm-2" id="auto_compare_at" name="auto_compare_at"
                                       value="{% if config.auto_compare_at != '%' %}{{config.auto_compare_at}}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="auto_compare_at_cents" class="col-sm-4 control-label" style="padding-top:0">
                                    Compare At Price Cents Value
                                {% include 'partial/help_tooltip.html' with help="For example: If you set Compare At Price Cents Value to <b>95</b>, product compare price will end always by .95" qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-3">
                                <input style="padding:5px 2px;text-align:center" type="text" class="form-control col-sm-2" id="auto_compare_at_cents" name="auto_compare_at_cents" value="{{config.auto_compare_at_cents}}">
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label for="default_weight_unit" class="col-sm-4 control-label" style="padding-top:0">
                                Default Weight Unit
                                {% include 'partial/help_tooltip.html' with help="Set the unit of Weight to use in your Store. Weights are especially useful when creating weight based shipping rates." qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-3">
                                <select id="default_weight_unit" name="default_weight_unit" class="form-control">
                                    <option value="g" {% if config.default_weight_unit == 'g' %}selected="selected"{% endif %}>g</option>
                                    <option value="kg" {% if config.default_weight_unit == 'kg' %}selected="selected"{% endif %}>kg</option>
                                    <option value="oz" {% if config.default_weight_unit == 'oz' %}selected="selected"{% endif %}>oz</option>
                                    <option value="lb" {% if config.default_weight_unit == 'lb' %}selected="selected"{% endif %}>lb</option>
                                </select>
                            </div>
                            <span class="help-block "></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="default_weight_number" class="col-sm-4 control-label">Fixed Weight</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control text-center col-sm-2" id="default_weight_number" name="default_weight_number" value="{{config.default_weight_number}}">
                            </div>
                            <span class="help-block "></span>
                        </div>
                    </div>
                </div>

                {% if user|can:'auto_margin.use' %}
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label class="control-label">
                                <a class="edit-markup-rules-btn m-l" href="#">Advanced Markup Rules...</a>
                                {% include 'partial/help_tooltip.html' with help="Create several markup rules which are applied to to items based on their price." qtipstyle="color:#BBB" %}
                            </label>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="col-sm-offset-1"><hr /></div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="form-group v-center">
                            <label for="description_mode" class="col-sm-2 control-label" style="padding-top:0">
                                Default Product Description
                                {% include 'partial/help_tooltip.html' with help="<p><b>Empty</b>: No description will be used.</p><p><b>Original</b>: The full Supplier product description will be pre-populated.</p><p><b>Simplified</b>: The product specs portion of the Supplier description will be pre-populated.</p><p><b>Custom</b>: The custom description entered below will be pre-populated.</p>" qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-3">
                                <select id="description_mode" name="description_mode" class="form-control">
                                    <option value="empty" {% if config.description_mode == 'empty' %}selected="selected"{% endif %}>Empty</option>
                                    <option value="original" {% if config.description_mode == 'original' %}selected="selected"{% endif %}>Original</option>
                                    <option value="simplified" {% if config.description_mode == 'simplified' %}selected="selected"{% endif %}>Simplified</option>
                                    <option value="custom" {% if config.description_mode == 'custom' %}selected="selected"{% endif %}>Custom</option>
                                </select>
                            </div>
                        </div>
                        <div id="desc-div" class="form-group" {% if config.description_mode != 'custom' %} style="display:none" {% endif %}>
                            <label for="default_desc" class="col-sm-2 control-label no-wrap">
                            Default Description
                            {% include 'partial/help_tooltip.html' with help="<p>Available Custom Tags:</p> <p><b>{{title}}</p></b> <p><b>{{description_full}}</p></b> <p><b>{{description_simplified}}</p></b> <p><b>{{price}}</p></b> <p><b>{{compare_at_price}}</p></b> <p><b>{{weight}}</p></b> <p><b>{{vendor}}</p></b> <p><b>{{type}}</p></b>" qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-10">
                                <textarea name="default_desc" id="default_desc" cols="30" rows="10" class="form-control">{{config.default_desc}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="form-group">
                            <label class="col-sm-4 col-xs-8 control-label">
                                <a class="edit-custom-templates-btn" href="#">Custom Product Descriptions...</a>
                            </label>
                            <div class="col-sm-6 col-xs-4">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-offset-1"><hr /></div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="form-group">
                            <label for="make_visisble" class="col-sm-4 col-xs-8 control-label">
                                Make Products Visible
                                {% include 'partial/help_tooltip.html' with help="You'll want to enable this option to ensure products you import with Dropified are visible on your store." qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-6 col-xs-4">
                                <input type="checkbox" class="js-switch" id="make_visisble"
                                       name="make_visisble" {% if config.make_visisble %}checked="checked"{% endif %}>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="form-group">
                            <label for="initial_inventory_sync" class="col-sm-4 col-xs-8 control-label">
                                Sync Product Inventory when importing products
                                {% include 'partial/help_tooltip.html' with help="Enable this option to import the inventory quantities from AliExpress to your store." qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-6 col-xs-4">
                                <input type="checkbox" class="js-switch" id="initial_inventory_sync"
                                       name="initial_inventory_sync" {% if config.initial_inventory_sync or config.initial_inventory_sync is None %}checked="checked"{% endif %}>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="form-group">
                            <label for="supplier_change_inventory_sync" class="col-sm-4 col-xs-8 control-label">
                                Sync Product Inventory when changing Suppliers
                                {% include 'partial/help_tooltip.html' with help="When you switch suppliers enable this option to automatically sync inventory with the new supplier." qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-6 col-xs-4">
                                <input type="checkbox" class="js-switch" id="supplier_change_inventory_sync"
                                       name="supplier_change_inventory_sync" {% if config.supplier_change_inventory_sync or config.supplier_change_inventory_sync is None %}checked="checked"{% endif %}>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="form-group">
                            <label for="update_product_vendor" class="col-sm-4 col-xs-8 control-label">
                                Update Product Vendor when Default Supplier is changed
                                {% include 'partial/help_tooltip.html' with help="Enable this option to automatically update and display the supplier's name as the Vendor name in your store." qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-6 col-xs-4">
                                <input type="checkbox" class="js-switch" id="update_product_vendor"
                                       name="update_product_vendor" {% if config.update_product_vendor %}checked="checked"{% endif %}>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="form-group">
                            <label for="randomize_image_names" class="col-sm-4 col-xs-8 control-label">
                                Randomize Images file names when importing products
                            </label>
                            <div class="col-sm-6 col-xs-4">
                                <input type="checkbox" class="js-switch" id="randomize_image_names"
                                       name="randomize_image_names" {% if config.randomize_image_names %}checked="checked"{% endif %}>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>

            {% if user|can:'auto_order.view' %}
            {% with can_use=user|can:'auto_order.use' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Auto Fulfill
                    {% include 'partial/help_tooltip.html' with help="Dropified can automatically place orders with suppliers. Once suppliers dispatch your items Dropifeid can automatically fulfill those orders in your store.<br><a href='http://help.dropified.com/orders/how-do-i-automatically-fulfill-an-order-and-email-the-customer'>Click here</a> to learn more about these options." qtipstyle="color:#BBB" %}
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <label for="order_phone_number" class="col-sm-2 control-label" style="padding-top:0;padding-left:0;padding-right:25px;">
                                Order Phone Number
                                {% include 'partial/help_tooltip.html' with help="The phone number to be used with Auto Order from Suppliers" qtipstyle="color:#BBB" %}
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control col-sm-2" {% if can_use %}id="order_phone_number" name="order_phone_number" value="{{config.order_phone_number}}"{% endif %}>
                            </div>
                            <div id="phone-invalid" class="pull-left col-sm-offset-2 col-sm-6 has-error" style="clear:left;padding-bottom:15px;display:none">
                                <span class="help-block m-b-none">Invalid Phone number, Aliexpress allow only numbers and hyphens.</span>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10 m-t-sm">
                                <label for="" class="control-label">
                                    <input type="radio" name="order_default_phone" value="seller" class="icheck"
                                    {% if config.order_default_phone != 'customer' %}checked="checked"{% endif %}>
                                    Override customer’s phone number
                                    {% include 'partial/help_tooltip.html' with help="Override the customer’s phone number with the given <b>Order Phone Number</b>" qtipstyle="color:#BBB" %}
                                </label>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                <label for="" class="control-label" style="text-align:left">
                                    <input type="radio" name="order_default_phone" value="customer" class="icheck"
                                    {% if config.order_default_phone == 'customer' %}checked="checked"{% endif %} >
                                    Use the Customer’s Phone Number if present
                                    {% include 'partial/help_tooltip.html' with help="Use the Customer’s Phone Number if present. Only use the <b>Order Phone Number</b> if Customer Phone Number isn’t present." qtipstyle="color:#BBB" %}
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-t-sm">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group v-center">
                                <label for="order_custom_note" class="col-sm-2 control-label" style="padding-top:0">
                                        Custom Note To The Supplier
                                    {% include 'partial/help_tooltip.html' with help="This message will be passed to the supplier.<br>You could include a message similar to '<b>Please do not include an invoice as we are dropshipping</b>'." qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control col-sm-2" {% if can_use %}id="order_custom_note" name="order_custom_note" value="{{config.order_custom_note}}"{% endif %}>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="epacket_shipping" class="col-sm-4 col-xs-8 control-label">
                                    Select ePacket when available
                                    {% include 'partial/help_tooltip.html' with help="Automatically selects the ePacket shipping method on AliExpress for all items." qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input type="checkbox" class="js-switch" id="epacket_shipping"
                                           name="epacket_shipping" {% if config.epacket_shipping %}checked="checked"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="auto_ordered_mark" class="col-sm-4 col-xs-8 control-label">
                                    Automatically Mark as Ordered
                                    {% include 'partial/help_tooltip.html' with help="After you click on <b>'Place Order'</b> button, the order will be marked as Ordered and linked with Supplier Order ID." qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input type="checkbox" class="js-switch" id="auto_ordered_mark"
                                           name="auto_ordered_mark" {% if config.auto_ordered_mark == None or config.auto_ordered_mark %}checked="checked"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="auto_shopify_fulfill" class="col-sm-4 control-label">
                                    Automatically Fulfill
                                    {% include 'partial/help_tooltip.html' with help="Tracked orders will be fulfilled in Shopify if Dropified detects a tracking number." qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-3">
                                    <select id="auto_shopify_fulfill" name="auto_shopify_fulfill" class="form-control">
                                        <option value="disable" {% if not config.auto_shopify_fulfill or config.auto_shopify_fulfill == 'disable' %}selected="selected"{% endif %}>Disable</option>
                                        <option value="enable" {% if config.auto_shopify_fulfill == 'enable' or config.auto_shopify_fulfill == 'hourly' or config.auto_shopify_fulfill == 'daily' %}selected="selected"{% endif %}>Enable</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group shiping-confirmation">
                                <label for="send_shipping_confirmation" class="col-sm-4 control-label">
                                    Send Shipping Confirmation
                                    {% include 'partial/help_tooltip.html' with help="Select <b>Auto</b> to notify the customer if all items in his order have been shipped." qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-3">
                                    <select id="send_shipping_confirmation" name="send_shipping_confirmation" class="form-control">
                                        <option value="default" {% if not config.send_shipping_confirmation or config.send_shipping_confirmation == 'default' %}selected="selected"{% endif %}>Auto</option>
                                        <option value="yes" {% if config.send_shipping_confirmation == 'yes' %}selected="selected"{% endif %}>Always</option>
                                        <option value="no" {% if config.send_shipping_confirmation == 'no' %}selected="selected"{% endif %}>Never</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group shiping-confirmation">
                                <label for="validate_tracking_number" class="col-sm-4 col-xs-8 control-label">
                                    Only when Tracking Number is valid
                                    {% include 'partial/help_tooltip.html' with help="Send Confirmation Email only if the tracking number is valid (can be tracked using AfterShip or USPS)" qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input type="checkbox" class="js-switch" id="validate_tracking_number" name="validate_tracking_number"
                                    {% if config.validate_tracking_number %}
                                        checked="checked"
                                    {% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="display:none">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="shipping_method_filter" class="col-sm-4 col-xs-8 control-label">
                                    Shipment Method Filter
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input
                                        id="shipping_method_filter"
                                        name="shipping_method_filter"
                                        type="checkbox"
                                        class="js-switch" {% if config.shipping_method_filter %}checked disabled{% endif %}
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endif %}


            <div class="panel panel-default">
                <div class="panel-heading">
                    Aliexpress
                    {% include 'partial/help_tooltip.html' with help="To help automate ordering on AliExpress these options can: <ul> <li>Automatically solve the Captcha security codes.</li> <li>Automatically enter the customer's address in a format that AliExpress accepts.</li> </ul> We would recommend enabling them for full automation." qtipstyle="color:#BBB" %}
                </div>

                <div class="panel-body">

                    {% if user|can:'aliexpress_captcha.use' %}
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="aliexpress_captcha" class="col-sm-4 col-xs-8 control-label">
                                    Enable Auto Captcha Solving
                                    {% include 'partial/help_tooltip.html' with help="Automatically solves the Captcha codes on AliExpress. We recommend enabling this for full automation.<br>If you're on the Buidler plan you can purchase credits in <a href='https://app.dropified.com/user/profile#plan'>your account here</a>" qtipstyle="color:#BBB" %}

                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input id="aliexpress_captcha" name="aliexpress_captcha" type="checkbox"
                                           class="js-switch" {% if config.aliexpress_captcha %}checked{% endif %} />
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="fix_aliexpress_address" class="col-sm-4 col-xs-8 control-label">
                                    Fix Aliexpress Address Province Selection issues
                                    {% include 'partial/help_tooltip.html' with help="Select 'Other' in Aliexpress province if the customer entered province is not found" qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input type="checkbox" class="js-switch" id="fix_aliexpress_address"
                                           name="fix_aliexpress_address" {% if config.fix_aliexpress_address %}checked="checked"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row option-config-row" {% if not config.fix_aliexpress_address %}style="display:none"{% endif %}>
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="fix_aliexpress_city" class="col-sm-4 col-xs-8 control-label">
                                    Fix Aliexpress Address City Selection issues
                                    {% include 'partial/help_tooltip.html' with help="If the U.S. City the user entered is not found in the AliExpress dropdown, the app will select “Other” from the dropdown and add the City name to second address input (Also apply to Spain customers).<br><br>This option is only a workaround the AliExpress limitation. <b>Please enable it only if you understand the behavior and it works for you. We do not recommend or guarantee your packages will be delivered because of this.</b>" qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input type="checkbox" class="js-switch" id="fix_aliexpress_city"
                                           name="fix_aliexpress_city" {% if config.fix_aliexpress_city %}checked="checked"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row option-config-row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="aliexpress_edit_address" class="col-sm-4 col-xs-8 control-label">
                                    Edit Aliexpress Address instead of adding new one
                                    {% include 'partial/help_tooltip.html' with help="Only enable this option if you do not want Dropified to add a new address for each Aliexpress order. Not recommanded unless you have an issue with adding new address in Aliexpress." qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input type="checkbox" class="js-switch" id="aliexpress_edit_address"
                                           name="aliexpress_edit_address" {% if config.aliexpress_edit_address %}checked="checked"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if not user.is_superuser %}
                    {% if user|can:'aliexpress_affiliate.use' and not user|can:'admitad_affiliate.use' %}
                    <div class="setting-section">
                        <h3 class="setting-title">Aliexpress Affiliate Program</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="aliexpress_affiliate_key" class="col-sm-2 control-label">API Key</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control col-sm-2" id="aliexpress_affiliate_key" name="aliexpress_affiliate_key" value="{{config.aliexpress_affiliate_key}}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="aliexpress_affiliate_tracking" class="col-sm-2 control-label">Tracking ID</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control col-sm-2" id="aliexpress_affiliate_tracking" name="aliexpress_affiliate_tracking" value="{{config.aliexpress_affiliate_tracking}}">
                                </div>
                            </div>
                        </div>
                    </div>

                    {% elif user|can:'admitad_affiliate.use' %}
                    <div class="setting-section">
                        <h3 class="setting-title">Admitad Affiliate Program</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="admitad_site_id" class="col-sm-2 control-label">
                                    Site ID or Deeplink {% include 'partial/help_tooltip.html' with help="<a href='https://help.admitad.com/en/topic/21-what-is-deeplink/' target='_blank'>How to find my Deeplink?</a>" qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control col-sm-2" id="admitad_site_id" name="admitad_site_id"
                                    {% if config.admitad_site_id %}
                                        value="https://alitems.com/g/{{config.admitad_site_id}}/"
                                    {% endif %}
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}

                </div>
            </div>

            {% if user|can:'price_change_options.use' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alerts
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-5">
                            <div class="form-group">
                                <label for="alert_price_change" class="col-sm-6 control-label">When the price changes</label>
                                <div class="col-sm-4">
                                    <select id="alert_price_change" name="alert_price_change" class="form-control">
                                        <option value="notify" {% if config.alert_price_change == 'notify' %} selected="selected"{% endif %}>Notify me</option>
                                        <option value="update" {% if config.alert_price_change == 'update' %} selected="selected"{% endif %}>Update Price in Shopify</option>
                                        <option value="none" {% if config.alert_price_change == 'none' %} selected="selected"{% endif %}>Do nothing</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="alert_quantity_change" class="col-sm-6 control-label">When inventory changes</label>
                                <div class="col-sm-4">
                                    <select id="alert_quantity_change" name="alert_quantity_change" class="form-control">
                                        <option value="notify" {% if config.alert_quantity_change == 'notify' %} selected="selected"{% endif %}>Notify me</option>
                                        <option value="update" {% if config.alert_quantity_change == 'update' %} selected="selected"{% endif %}>Update automatically</option>
                                        <option value="none" {% if config.alert_quantity_change == 'none' %} selected="selected"{% endif %}>Do nothing</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-5">
                            <div class="form-group">
                                <label for="alert_product_disappears" class="col-sm-6 control-label">When a product disappears</label>
                                <div class="col-sm-4">
                                    <select id="alert_product_disappears" name="alert_product_disappears" class="form-control">
                                        <option value="notify" {% if config.alert_product_disappears == 'notify' %} selected="selected"{% endif %}>Notify me</option>
                                        <option value="unpublish" {% if config.alert_product_disappears == 'unpublish' %} selected="selected"{% endif %}>Unpublish product</option>
                                        <option value="zero_quantity" {% if config.alert_product_disappears == 'zero_quantity' %} selected="selected"{% endif %}>Set the quantity to zero</option>
                                        <option value="none" {% if config.alert_product_disappears == 'none' %} selected="selected"{% endif %}>Do nothing</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="alert_variant_disappears" class="col-sm-6 control-label">When a variant disappears</label>
                                <div class="col-sm-4">
                                    <select id="alert_variant_disappears" name="alert_variant_disappears" class="form-control">
                                        <option value="notify" {% if config.alert_variant_disappears == 'notify' %} selected="selected"{% endif %}>Notify me</option>
                                        <option value="remove" {% if config.alert_variant_disappears == 'remove' %} selected="selected"{% endif %}>Remove the variant</option>
                                        <option value="zero_quantity" {% if config.alert_variant_disappears == 'zero_quantity' %} selected="selected"{% endif %}>Set the quantity to zero</option>
                                        <option value="none" {% if config.alert_variant_disappears == 'none' %} selected="selected"{% endif %}>Do nothing</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-5">
                            <div class="form-group">
                                <label for="alert_order_cancelled" class="col-sm-6 control-label">When an order is cancelled</label>
                                <div class="col-sm-4">
                                    <select id="alert_order_cancelled" name="alert_order_cancelled" class="form-control">
                                        <option value="none" {% if config.alert_order_cancelled == 'none' %} selected="selected"{% endif %}>Do nothing</option>
                                        <option value="notify" {% if config.alert_order_cancelled == 'notify' %} selected="selected"{% endif %}>Notify me with e-mail</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="send_alerts_to_subusers" class="col-sm-4 col-xs-8 control-label">
                                    Send Alert to Sub Users too
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input type="checkbox" class="js-switch" id="send_alerts_to_subusers"
                                           name="send_alerts_to_subusers" {% if config.send_alerts_to_subusers %}checked="checked"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row price-update-option" data-value="update">
                        <div class="col-sm-offset-1 col-sm-5">
                            <div class="form-group">
                                <label for="price_update_method" class="col-sm-6 control-label">Price Update Method</label>
                                <div class="col-sm-4">
                                    <select id="price_update_method" name="price_update_method" class="form-control">
                                        <option value="global_markup" {% if config.price_update_method == 'global_markup' %} selected="selected"{% endif %}>Update with Global "Price Markup"</option>
                                        <option value="custom_markup" {% if config.price_update_method == 'custom_markup' %} selected="selected"{% endif %}>Update with Advanced Markup Rules</option>
                                        <option value="same_margin" {% if not config.price_update_method or config.price_update_method == 'same_margin' %} selected="selected"{% endif %}>Update with same margins</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="price_update_for_increase" class="col-sm-4 col-xs-8 control-label">
                                    Update only when price goes up
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input type="checkbox" class="js-switch" id="price_update_for_increase"
                                           name="price_update_for_increase" {% if config.price_update_for_increase %}checked="checked"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if user|can:'orders.use' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Orders
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="aliexpress_as_notes" class="col-sm-4 col-xs-8 control-label">
                                    Save Supplier Order ID as standard Order Notes
                                    {% include 'partial/help_tooltip.html' with help="Automatically saves the Supplier Order ID in the Notes field in your store - this may be visible to some customers." qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input id="aliexpress_as_notes" name="aliexpress_as_notes" type="checkbox"
                                           class="js-switch" {% if config.aliexpress_as_notes or config.aliexpress_as_notes == None %}checked{% endif %} />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="aliexpress_as_custom_note" class="col-sm-4 col-xs-8 control-label">
                                    Save Supplier Order ID as Additional Details
                                    {% include 'partial/help_tooltip.html' with help="Automatically saves the Supplier Order ID in the additional detauls field in Shopify - this may be visible to some customers." qtipstyle="color:#BBB" %}

                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input id="aliexpress_as_custom_note" name="aliexpress_as_custom_note" type="checkbox" class="js-switch" {% if config.aliexpress_as_custom_note %}checked{% endif %} />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="aliexpress_as_order_tag" class="col-sm-4 col-xs-8 control-label">
                                    Save Supplier Order ID as Order Tag
                                    {% include 'partial/help_tooltip.html' with help="Dropified can automatically add the Supplier Order ID as a Tag, making them searchable from within your Shopify store." qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input id="aliexpress_as_order_tag" name="aliexpress_as_order_tag" type="checkbox"
                                           class="js-switch" {% if config.aliexpress_as_order_tag %}checked{% endif %} />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group v-center">
                                <label for="aliexpress_order_tags" class="col-sm-3 col-xs-12">
                                    Tags - Order Placed
                                    {% include 'partial/help_tooltip.html' with help="Create the following tag(s) on the Shopify order when order is placed on AliExpress" qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-4 col-xs-12">
                                   <input type="text" id="aliexpress_order_tags" placeholder="Tags" name="aliexpress_order_tags" class="form-control tag-it" value="{% if config.aliexpress_order_tags %}{{config.aliexpress_order_tags}}{% endif %}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group v-center">
                                <label for="tracking_number_tags" class="col-sm-3 col-xs-12">
                                    Tags - Tracking Number Added
                                    {% include 'partial/help_tooltip.html' with help="Create the following tag(s) on the Shopify order when tracking number is added to Dropified" qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-4 col-xs-12">
                                    <input type="text" id="tracking_number_tags" placeholder="Tags" name="tracking_number_tags" class="form-control tag-it" value="{% if config.tracking_number_tags %}{{config.tracking_number_tags}}{% endif %}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="order_custom_line_attr" class="col-sm-4 col-xs-8 control-label">
                                    Send Custom Line Attributes along with the note to the seller
                                    {% include 'partial/help_tooltip.html' with help="If you sell products where the user is able to customize the item then you’ll find our Custom Line Attributes feature useful. This will send a custom note to the supplier with the product details.<br>Learn more about this <a href='http://help.dropified.com/orders/placing-orders/how-do-i-add-a-custom-message-to-each-product'>here</a>" qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input id="order_custom_line_attr" name="order_custom_line_attr" type="checkbox"
                                           class="js-switch" {% if config.order_custom_line_attr %}checked{% endif %} />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="order_risk_levels_enabled" class="col-sm-4 col-xs-8 control-label">
                                    Enable Order Risk Levels
                                    {% include 'partial/help_tooltip.html' with help="If you're using Shopify Payments, enable this option to show the Fraud risk for  transactions on your Dropified orders page. Great to spot those high risk orders before you place them!" qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input id="order_risk_levels_enabled" name="order_risk_levels_enabled" type="checkbox"
                                           class="js-switch" {% if config.order_risk_levels_enabled %}checked{% endif %} />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group">
                                <label for="sync_delay_notify_days" class="col-sm-4 col-xs-6 control-label">
                                    Enable notification(s) for delayed Tracking Number syncing
                                    {% include 'partial/help_tooltip.html' with help="Enable this option to be notified if you supplier hasn't shipped an order within X days." qtipstyle="color:#BBB" %}
                                </label>
                                <div class="col-sm-6 col-xs-4">
                                    <input id="sync_delay_notify" name="sync_delay_notify" type="checkbox"
                                           class="js-switch" {% if config.sync_delay_notify %}checked{% endif %} />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sync-delay-config" {% if not config.sync_delay_notify %}style="display:none"{% endif %}>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <label for="sync_delay_notify_days" class="col-sm-3 col-xs-6 control-label">
                                        Notify if tracking number is not found after (in days)
                                    </label>
                                    <div class="col-sm-2 col-xs-2">
                                            <input type="number" id="sync_delay_notify_days" name="sync_delay_notify_days" class="form-control text-center"
                                                   value="{% if config.sync_delay_notify_days %}{{config.sync_delay_notify_days}}{% endif %}"
                                                   style="max-width:90px;float:right;" min="1" max="30" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <div class="col-sm-3 col-xs-6">
                                        <label for="sync_delay_notify_email" class="control-label">Notify By Email</label>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <input id="sync_delay_notify_email" name="sync_delay_notify_email" type="checkbox"
                                               class="js-switch" {% if config.sync_delay_notify_email %}checked{% endif %} />

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <div class="col-sm-3 col-xs-6">
                                        <label for="sync_delay_notify_push" class="control-label">Notify By Push Notification</label>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <input id="sync_delay_notify_push" name="sync_delay_notify_push" type="checkbox"
                                               class="js-switch" {% if config.sync_delay_notify_push %}checked{% endif %} />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <div class="col-sm-3 col-xs-6">
                                        <label for="sync_delay_notify_highlight" class="control-label">Highlight Orders On Tracking Page</label>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <input id="sync_delay_notify_highlight" name="sync_delay_notify_highlight" type="checkbox"
                                               class="js-switch" {% if config.sync_delay_notify_highlight %}checked{% endif %} />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

            <div class="form-group">
                <div class="col-sm-12">
                    <button data-toggle="modal" class="btn btn-primary btn-lg">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
