<table class="table store-tables">
    <thead>
      <tr>
          <th class="text-right" colspan="6">
              <a href="#" class="label m-xs filter-store-btn">
                  <span class="num">1</span>
                  Shopify
              </a>  
              <a href="#" class="label m-xs filter-store-btn" filter-store="chq">
                  <span class="num">1</span>
                  CommerceHQ
              </a>
              <a href="#" class="label m-xs filter-store-btn" filter-store="woo">
                  <span class="num">1</span>
                  Woocommerce
              </a>  
            <a href="#" class="label m-xs filter-store-btn" filter-store="bigcommerce">
                <span class="num">1</span>
                BigCommerce
            </a>
          </th>
      </tr>
    </thead>
    <tbody id="stores-table-body">        
        <tr class="store-item">
            <td class="drag-show">
                <i class="fa fa-bars order-handle" style="color:#ccc;font-size:12px;margin-right:5px;cursor:move"></i>
                <a class="store-link" href="#">Shopify</a>
            </td>
            <td class="no-wrap text-right">
                

                <a href="#" class="label">Products</a>
            </td>
            <td>
                <a href="#" class="label">Orders</a>
            </td>
            <td>
                <a href="#" class="label">Tracking</a>
            </td>

            
            <td style="white-space:nowrap" class="hidden-sm hidden-xs">
                <div class="btn-group ">
                    <button data-toggle="dropdown" class="btn btn-default btn-outline btn-xs dropdown-toggle" aria-expanded="false">
                        <i class="fa fa-cog"></i> <span class=""></span></button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a class="visit-store " href="#" target="_blank">
                                <i class="fa fa-external-link"></i> Visit Store
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="verify-api-url btn-success btn-outline" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Verifying">
                                <i class="fa fa-check-circle-o"></i> Verify
                            </a>
                       </li>
                        <li>
                            <a class="re-install-store btn-info btn-outline">
                                <i class="fa fa-refresh"></i> Re-Install
                            </a>
                       </li>
                        <li>
                            <a class="change-tracking-url btn-success btn-outline">
                                <i class="fa fa-chain"></i> Custom Tracking URL
                            </a>
                        </li>
                        <li>
                            <a class="change-default-location btn-success btn-outline">
                                <i class="fa fa-building-o"></i> Select Primary Location
                            </a>
                        </li>
                        <li>
                            <a class="delete-store btn-danger btn-outline">
                                <i class="fa fa-times"></i> Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>            
        </tr>
        <tr id="" class="store-item">
            <td class="drag-show">
                <i class="fa fa-bars order-handle" style="color:#ccc;font-size:12px;margin-right:5px;cursor:move"></i>
                <a class="store-link" href="#">Woocommerce</a>
            </td>
            <td class="no-wrap text-right">
                <a href="#" class="label">Products</a>
            </td>
            <td>
                <a href="#" class="label">Orders</a>
            </td>
            <td>
                <a href="#" class="label">Tracking</a>
            </td>

            
            <td style="white-space:nowrap" class="hidden-sm hidden-xs">
                <div class="btn-group ">
                    <button data-toggle="dropdown" class="btn btn-default btn-outline btn-xs dropdown-toggle" aria-expanded="false">
                        <i class="fa fa-cog"></i> <span class=""></span></button>
                    <ul class="dropdown-menu pull-right">

                        <li>
                            <a class="visit-store " href="#" target="_blank">
                                <i class="fa fa-external-link"></i> Visit Store
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a class="gkart-verify-api-url btn-success btn-outline" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Verifying">
                                <i class="fa fa-check-circle-o"></i> Verify
                            </a>
                        </li>

                        <li>
                            <a class="change-currency btn-success btn-outline">
                                <i class="fa fa-dollar"></i> Store Currency Symbol
                            </a>
                        </li>

                        <li>
                            <a class="change-tracking-url btn-success btn-outline">
                                <i class="fa fa-chain"></i> Custom Tracking URL
                            </a>
                        </li>

                        <li>
                            <a class="gk-edit-store-btn">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </li>

                        <li>
                            <a class="gk-delete-store-btn btn-danger btn-outline">
                                <i class="fa fa-times"></i> Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>                    
        </tr>
        
        <tr id="" class="store-item">
            <td class="drag-show">
                <i class="fa fa-bars order-handle" style="color:#ccc;font-size:12px;margin-right:5px;cursor:move"></i>
                <a class="store-link" href="#">BigCommerce</a>
            </td>
            <td class="no-wrap text-right">
                <a href="#" class="label">Products</a>
            </td>
            <td>
                <a href="#" class="label">Orders</a>
            </td>
            <td>
                <a href="#" class="label">Tracking</a>
            </td>

            
            <td style="white-space:nowrap" class="hidden-sm hidden-xs">
                <div class="btn-group ">
                    <button data-toggle="dropdown" class="btn btn-default btn-outline btn-xs dropdown-toggle" aria-expanded="false">
                        <i class="fa fa-cog"></i> <span class=""></span></button>
                    <ul class="dropdown-menu pull-right">

                        <li>
                            <a class="visit-store " href="#" target="_blank">
                                <i class="fa fa-external-link"></i> Visit Store
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a class="gkart-verify-api-url btn-success btn-outline" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Verifying">
                                <i class="fa fa-check-circle-o"></i> Verify
                            </a>
                        </li>

                        <li>
                            <a class="change-currency btn-success btn-outline">
                                <i class="fa fa-dollar"></i> Store Currency Symbol
                            </a>
                        </li>

                        <li>
                            <a class="change-tracking-url btn-success btn-outline">
                                <i class="fa fa-chain"></i> Custom Tracking URL
                            </a>
                        </li>

                        <li>
                            <a class="gk-edit-store-btn">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </li>

                        <li>
                            <a class="gk-delete-store-btn btn-danger btn-outline">
                                <i class="fa fa-times"></i> Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>                    
        </tr>

        <tr id="" class="store-item">
            <td class="drag-show">
                <i class="fa fa-bars order-handle" style="color:#ccc;font-size:12px;margin-right:5px;cursor:move"></i>
                <a class="store-link" href="#">CommerceHQ</a>
            </td>
            <td class="no-wrap text-right">
                <a href="#" class="label">Products</a>
            </td>
            <td>
                <a href="#" class="label">Orders</a>
            </td>
            <td>
                <a href="#" class="label">Tracking</a>
            </td>

            
            <td style="white-space:nowrap" class="hidden-sm hidden-xs">
                <div class="btn-group ">
                    <button data-toggle="dropdown" class="btn btn-default btn-outline btn-xs dropdown-toggle" aria-expanded="false">
                        <i class="fa fa-cog"></i> <span class=""></span></button>
                    <ul class="dropdown-menu pull-right">

                        <li>
                            <a class="visit-store " href="#" target="_blank">
                                <i class="fa fa-external-link"></i> Visit Store
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a class="gkart-verify-api-url btn-success btn-outline" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Verifying">
                                <i class="fa fa-check-circle-o"></i> Verify
                            </a>
                        </li>

                        <li>
                            <a class="change-currency btn-success btn-outline">
                                <i class="fa fa-dollar"></i> Store Currency Symbol
                            </a>
                        </li>

                        <li>
                            <a class="change-tracking-url btn-success btn-outline">
                                <i class="fa fa-chain"></i> Custom Tracking URL
                            </a>
                        </li>

                        <li>
                            <a class="gk-edit-store-btn">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </li>

                        <li>
                            <a class="gk-delete-store-btn btn-danger btn-outline">
                                <i class="fa fa-times"></i> Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>                    
        </tr>  

  </tbody>
</table>