
<div id="modal-add-store-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Add Shopify Store</h3>
                        <form role="form">
                            <div class="form-group">
                                <label>Name</label> <input type="text" id="store-name" placeholder="Store Name (optional)" class="form-control"></div>
                            <div class="form-group"><label>API URL</label> <input type="text" id="store-url" placeholder="Copy/Past Example URL" class="form-control"></div>
                            <div>
                                <button id="add-store" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Add store</strong></button>
                                <button id="update-store" style="display:none" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Update store</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="chq-store-update-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Update CommerceHQ Store</h3>
                        <form
                            id="chq-store-update-form"
                            method="post"
                            role="form"
                            novalidate>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="woo-store-update-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Update WooCommerce Store</h3>
                        <form id="woo-store-update-form" method="post" role="form">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title" placeholder="Store name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Store URL</label>
                                <input type="url" name="api_url" placeholder="https://your-shop-url.com" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Consumer Key</label>
                                <input type="text" name="api_key" class="form-control" autocomplete="off" required />
                            </div>
                            <div class="form-group">
                                <label>Consumer Secret</label>
                                <input type="password" name="api_password" class="form-control" autocomplete="off" required />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>Update store</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="gear-store-update-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Update GearBubble Store</h3>
                        <form id="gear-store-update-form" method="post" role="form">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title" placeholder="Store name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>API Token</label>
                                <input type="password" name="api_token" class="form-control" autocomplete="off" required />
                                <input type="hidden" name="gear_store_mode" value="staging" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>Update store</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="gk-store-update-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Update GrooveKart Store</h3>
                        <form id="gk-store-update-form" method="post" role="form">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title" placeholder="Store name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Store URL</label>
                                <input type="url" name="api_url" placeholder="https://your-shop-url.com" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>API Key</label>
                                <input type="password" name="api_key" class="form-control" autocomplete="off" required />
                            </div>
                            <div class="form-group">
                                <label>Auth Token</label>
                                <input type="text" name="api_token" class="form-control" autocomplete="off" required />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>Update store</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ebay-store-update-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">eBay Store Advanced Settings</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="ebay-store-update-settings-form" method="post" role="form">
                            <div id="ebay-loading-container" class="col-sm-12 text-center m-t-lg m-b-lg">
                                <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                            </div>
                            <div id="ebay-store-settings-main-container">
                                <h4 class="m-t-none m-b">General</h4>

                                <div class="form-group">
                                    <label for="ebay_site_id">
                                        Site ID
                                        <i class="fa fa-fw fa-question-circle" qtip-tooltip="Site ID is a unique combination of eBay site, language, and territory. Please select eBay site on which exported products will be listed." style="color:#BBB" data-hasqtip="29"></i>
                                    </label>
                                    <select id="ebay_site_id" name="site_id" class="form-control">
                                        <option>Select Site ID...</option>
                                    </select>
                                </div>

                                <h4 class="m-t m-b">Business Policies</h4>
                                <input type="hidden" id="ebay_settings_store_id" name="store" />

                                <div class="form-group">
                                    <label for="ebay_payment_profile_default">
                                        Default Payment Profile
                                    </label>
                                    <select id="ebay_payment_profile_default" name="payment_profile_id" class="form-control">
                                        <option>Select Payment Profile...</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="ebay_shipment_profile_default">
                                        Default Shipping Profile
                                    </label>
                                    <select id="ebay_shipment_profile_default" name="shipping_profile_id" class="form-control">
                                        <option>Select Shipping Profile...</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="ebay_return_profile_default">
                                        Default Return Profile
                                    </label>
                                    <select id="ebay_return_profile_default" name="return_profile_id" class="form-control">
                                        <option>Select Return Profile...</option>
                                    </select>
                                </div>

                            </div>

                            <div>
                                <button type="submit" id="ebay-update-settings-modal-btn" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>Update store</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
