{% extends "base.html" %}

{% load staticfiles %}
{% load perms_helper %}
{% load compress %}
{% load template_helper %}
{% load url_tools %}

{% block main-container %}

{% if user_facebook_permission %}
<div class="ibox float-e-margins" id="facebook-insights" style="display: none;">
  <div class="ibox-title">
      <h5>Facebook Ad Costs</h5>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="alert alert-warning" style="padding: 10px 15px; margin-bottom: 10px;">For synchronizing with facebook, we need the permission to <b>read insights from your ads.</b></div>
      <div class="col-md-12" id="connect-facebook">
        <p class="pull-left" style="line-height: 28px;">For loading Ad Costs data please</p>
        <fb:login-button class="fb-login-button" scope="ads_read" onlogin="FacebookProfitDashboard.checkLoginState();" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false">
        </fb:login-button>
      </div>
      <div class="col-md-12" id="loading-facebook">
        <div class="sk-spinner sk-spinner-wave pull-left">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
        <p style="line-height: 30px;">Loading Ad Costs from facebook insights</p>
      </div>
      <div class="col-md-12" id="facebook-logged-in">
        <p class="pull-left" style="line-height: 35px;">You are logged in with facebook.</p>
        <form id="facebook-sync" method="post" action="{% url 'profit_dashboard.views.facebook_insights' %}" class="pull-left">
          <input type="hidden" name="fb_access_token" value="">
          {% if not need_setup %}
          <button type="submit" class="btn btn-primary btn-xs">Sync Again</button>
          <a href="#" id="fb-ad-setup" class="btn btn-success btn-xs m-l">Setup Another Ad Account</a>
          {% else %}
          <a href="#" id="fb-ad-setup" class="btn btn-success btn-xs m-l">Setup Ad Account</a>
          {% endif %}
        </form>
      </div>
      <br>
      <div class="col-md-12" id="facebook-logged-in">
        <h4>Accounts Synced</h4>
        {% for account in accounts %}
        <p class="facebook-account">
          {{ account.account_name }}
          <i> - last time synced at:</i>
          {{ account.last_sync|date:"m/d/Y" }}
          <a href="#" class="btn btn-danger btn-xs m-l fb-ad-remove" data-id="{{ account.pk }}">× Remove</a>
        </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="tabs-container">
  <ul class="nav nav-tabs">
    {% for item in user.profile.get_shopify_stores %}
      {% if store == item or item.id|stringformat:"i" == request.GET.store %}
        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">{{item.title}}</a></li>
      {% else %}
        <li class=""><a href="{% url 'profit_dashboard.views.index' %}?store={{item.id}}" aria-expanded="false">{{item.title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="tab-content">
    <div id="tab-1" class="tab-pane active">
      <div class="panel-body">
        <form class="form-inline" method="get">
          <input type="hidden" name="store" value="{{ store.id }}">
          <input type="hidden" class="form-control" name="start" value="{{ start }}"/>
          <input type="hidden" class="form-control" name="end" value="{{ end }}" />
          <!-- <div class="form-group" id="profit-range">
            <label>Range date</label>
            <div class="input-daterange input-group" id="datepicker" style="width: auto;">
              <input type="text" class="form-control" name="start" value="{{ start }}"/>
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end" value="{{ end }}" />
            </div>
          </div>
          <button type="submit" class="btn btn-success">Filter</button> -->

          <!-- <ul id="pagination-limit" class="top-controls pull-right">
            <li>
              <label>Items per page:</label>
            </li>
            <li{% if limit == 10 %} class="active"{% endif %}>
              <a href="?store={{ store.pk }}&start={{ start }}&end={{ end }}&limit=10">10</a>
            </li>
            <li{% if limit == 50 %} class="active"{% endif %}>
              <a href="?store={{ store.pk }}&start={{ start }}&end={{ end }}&limit=50">50</a>
            </li>
            <li{% if limit == 100 %} class="active"{% endif %}>
              <a href="?store={{ store.pk }}&start={{ start }}&end={{ end }}&limit=100">100</a>
            </li>
            <li{% if limit == 0 %} class="active"{% endif %}>
              <a href="?store={{ store.pk }}&start={{ start }}&end={{ end }}&limit=0">All</a>
            </li>
            <li>
              <input type="text" name="limit" placeholder="Type here" value="{{ limit|default:"" }}" />
            </li>
          </ul> -->

          <ul id="table-view" class="top-controls pull-right">
            <li><label>View:</label></li>
            <li><a href="#" class="btn active btn-success daily" data-time="daily">Daily</a></li>
            <li><a href="#" class="btn btn-default weekly" data-time="weekly">Weekly</a></li>
          </ul>

          <ul id="graph-view" class="top-controls pull-right hidden">
            <li><label>View:</label></li>
            <li><a href="#" class="btn btn-default daily" data-time="daily">Daily</a></li>
            <li><a href="#" class="btn btn-default weekly" data-time="weekly">Weekly</a></li>
            <!-- <li><a href="#" class="btn btn-default monthly" data-time="monthly">Monthly</a></li> -->
          </ul>
        </form>

        <div id="top-controls-menu" class="clients-list">
          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-data-table" data-top-controls="#pagination-limit, #table-view"><i class="fa fa-table"></i> Table</a></li>
              <li class=""><a data-toggle="tab" href="#tab-charts" data-top-controls="#graph-view"><i class="fa fa-line-chart"></i> Charts</a></li>
          </ul>
          <div class="tab-content">
              <div id="tab-data-table" class="tab-pane active">
                <div class="col-lg-12" style="padding-right: 0; padding-left: 0;">
                  <table class="table totals">
                    <tbody>
                      <tr>
                        <td><button type="button" class="btn btn-info m-r-sm" id="total-revenue">{% money_format totals.revenue store True %}</button>Revenue</td>
                        {% if user_facebook_permission %}
                        <td><button type="button" class="btn btn-warning m-r-sm" id="total-ad-spend">{% money_format totals.ad_spend store True %}</button>Ads Spend</td>
                        {% else %}
                        <td><button type="button" class="btn btn-warning m-r-sm">{{totals.fulfillments_count}}</button>Fulfillments</td>
                        {% endif %}
                        <td>
                          <button type="button" class="btn btn-primary m-r-sm">
                            {% money_format None store %}
                            <span id="totals-profit" data-original-amount="{{ totals.profit|default:"0"|floatformat:2 }}">
                              {% money_format totals.profit store True True %}
                            </span>
                          </button>
                          Profit
                        </td>
                      </tr>
                      <tr>
                        <td><button type="button" class="btn btn-warning m-r-sm" id="totals-fulfillment-cost">{% money_format totals.fulfillment_cost store True %}</button>Fulfillment Cost</td>
                        <td>
                          <button type="button" class="btn btn-warning m-r-sm">
                            {% money_format None store %}
                            <span id="totals-other-costs" data-original-amount="{{ totals.other_costs|default:"0"|floatformat:2 }}">
                              {% money_format totals.other_costs store True True %}
                            </span>
                          </button>
                          Other Costs
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger m-r-sm">
                            {% money_format None store %}
                            <span id="totals-total-costs" data-original-amount="{{ totals.outcome|default:"0"|floatformat:2 }}">
                              {% money_format totals.outcome store True True %}
                            </span>
                          </button>
                          Total Costs
                        </td>
                      </tr>
                      <tr>
                        <td><button type="button" class="btn btn-primary m-r-sm">{{ totals.orders_count }}</button>Orders</td>
                        <td><button type="button" class="btn btn-primary m-r-sm">{{ totals.orders_per_day }}</button>Orders Per Day</td>
                        {% if user_facebook_permission %}
                        <td><button type="button" class="btn btn-warning m-r-sm">{{totals.fulfillments_count}}</button>Fulfillments</td>
                        {% endif %}
                      </tr>
                    </tbody>
                  </table>
                </div>

                <br>
                <div id="profit-data">
                  <table id="profits" class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Revenue</th>
                        <th>Fulfillment Cost</th>
                        {% if user_facebook_permission %}
                        <th>Ads Spend</th>
                        {% endif %}
                        <th>Other Costs</th>
                        <th>Total Costs</th>
                        <th>Profit</th>
                        <th>Profit Margin</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for profit in profits %}
                      <tr id="date-{{ profit.date_as_string|slugify }}" class="profit{% if profit.empty %} empty{% endif %}"{% if profit.week_day %} data-toggle="profit-tooltip" data-placement="right" title="{{ profit.week_day }}"{% endif %}
                      {% ifchanged profit.empty %}{% else %}{% if profit.empty %} style="display: none;"{% endif %}{% endifchanged %}>
                        <td>{{ profit.date_as_string }}</td>
                        <td class="revenue" data-original-amount="{{ profit.revenue|default:"0"|floatformat:2 }}">
                          {% money_format profit.revenue store True %}
                        </td>
                        <td>{% money_format profit.fulfillment_cost store True %}</td>
                        {% if user_facebook_permission %}
                        <td>{% money_format profit.ad_spend store True %}</td>
                        {% endif %}
                        <td class="other-costs" data-original-amount="{{ profit.other_costs|default:'0'|floatformat:2 }}">
                          <span class="other-costs-value"></span>
                          <form class="form-inline other-costs-form" action="{% url 'profit_dashboard.views.save_other_costs' %}?store={{ store.id }}">
                            <div class="form-group">
                              <label class="sr-only" for="other_costs">Amount</label>
                              <div class="input-group">
                                <div class="input-group-addon">{% money_format None store %}</div>
                                <input type="text" class="form-control" name="other_costs" id="other_costs" placeholder="Amount" value="{{ profit.other_costs|default:'0'|floatformat:2 }}" size="10" autocomplete="off">
                              </div>
                            </div>
                            <div class="form-group loading hidden">
                              <div class="sk-spinner sk-spinner-wave">
                                  <div class="sk-rect1"></div>
                                  <div class="sk-rect2"></div>
                                  <div class="sk-rect3"></div>
                                  <div class="sk-rect4"></div>
                                  <div class="sk-rect5"></div>
                              </div>
                            </div>
                          </form>
                        </td>
                        <td class="total-costs">
                          {% money_format None store %}<span data-original-amount="{{ profit.outcome|default:"0"|floatformat:2 }}">{{ profit.outcome|default:"0"|floatformat:2 }}</span>
                        </td>
                        <td class="profit-amount">
                          {% money_format None store %}<span data-original-amount="{{ profit.profit|default:"0"|floatformat:2 }}">{{ profit.profit|default:"0"|floatformat:2 }}</span>
                        </td>
                        <td class="percentage">{{ profit.return_over_investment }}</td>
                        <td class="actions"></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  {% include "partial/paginator.html" %}
                </div>
              </div>
              <div id="tab-charts" class="tab-pane">
                <div>
                  <h2>Profits</h2>
                  <div class="chart">
                    <ul class="toggle-menu">
                      <li>
                        <a href="#" class="toggle-data btn btn-white" data-label="Fulfillments Count" data-key="fulfillments_count" data-y-axes="number">
                          <i class="fa fa-check-square-o"></i>
                          <i class="fa fa-square-o"></i>
                          Fulfillment Count
                        </a>
                      </li>
                      <li>
                        <a href="#" class="toggle-data btn btn-white" data-label="Fulfillment Cost" data-key="fulfillment_cost" data-y-axes="aaa">
                          <i class="fa fa-check-square-o"></i>
                          <i class="fa fa-square-o"></i>
                          Fulfillment Costs
                        </a>
                      </li>
                      {% if user_facebook_permission %}
                      <li>
                        <a href="#" class="toggle-data btn btn-white" data-label="Ads Spend" data-key="ads_spend">
                          <i class="fa fa-check-square-o"></i>
                          <i class="fa fa-square-o"></i>
                          Ads Spend
                        </a>
                      </li>
                      {% endif %}
                      <li>
                        <a href="#" class="toggle-data btn btn-white" data-label="Other Costs" data-key="other_costs">
                          <i class="fa fa-check-square-o"></i>
                          <i class="fa fa-square-o"></i>
                          Other Costs
                        </a>
                      </li>
                    </ul>
                    <canvas id="profits-chart" height="100"></canvas>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% verbatim %}
<script id="profit" type="text/x-handlebars-template">
  {{#each profits}}
  <tr id="date-{{this.date_as_slug}}" class="profit {{this.css_empty}}" data-toggle="profit-tooltip" data-placement="right" title="{{this.week_day}}">
    <td>{{this.date_as_string}}</td>
    <td class="revenue" data-original-amount="{{this.revenue}}">{{this.currency_revenue}}</td>
    <td>{{this.currency_fulfillment_cost}}</td>
    <td>{{this.currency_ad_spend}}</td>
    <td class="other-costs" data-original-amount="{{this.other_costs}}">
      <span class="other-costs-value"></span>
      <form class="form-inline other-costs-form" action="{{this.other_costs_url}}">
        <div class="form-group">
          <label class="sr-only" for="other_costs">Amount</label>
          <div class="input-group">
            <div class="input-group-addon">{{this.currency_sign}}</div>
            <input type="text" class="form-control" name="other_costs" id="other_costs" placeholder="Amount" value="{{this.other_costs}}" size="10" autocomplete="off">
          </div>
        </div>
        <div class="form-group loading hidden">
          <div class="sk-spinner sk-spinner-wave">
              <div class="sk-rect1"></div>
              <div class="sk-rect2"></div>
              <div class="sk-rect3"></div>
              <div class="sk-rect4"></div>
              <div class="sk-rect5"></div>
          </div>
        </div>
      </form>
    </td>
    <td class="total-costs">
      {{this.currency_sign}}<span data-original-amount="{{this.outcome}}">{{this.currency_outcome}}</span>
    </td>
    <td class="profit-amount">
      {{this.currency_sign}}<span data-original-amount="{{this.profit}}">{{this.currency_profit}}</span>
    </td>
    <td class="percentage">{{this.return_over_investment}}</td>
    <td class="actions"></td>
  </tr>
  {{/each}}
</script>

<script id="profit-totals" type="text/x-handlebars-template">
  <tbody>
    <tr>
      <td><button type="button" class="btn btn-info m-r-sm">{{totals.currency_revenue}}</button>Revenue</td>
      {% if user_facebook_permission %}
      <td><button type="button" class="btn btn-warning m-r-sm">{{totals.currency_ad_spend}}</button>Ads Spend</td>
      {% else %}
      <td><button type="button" class="btn btn-warning m-r-sm">{{totals.fulfillments_count}}</button>Fulfillments</td>
      {% endif %}
      <td>
        <button type="button" class="btn btn-primary m-r-sm">
          {{totals.currency_sign}}
          <span id="totals-profit" data-original-amount="{{totals.profit}}">
            {{totals.currency_profit}}
          </span>
        </button>
        Profit
      </td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-warning m-r-sm">{{totals.currency_fulfillment_cost}}</button>Fulfillment Cost</td>
      <td>
        <button type="button" class="btn btn-warning m-r-sm">
          {{totals.currency_sign}}
          <span id="totals-other-costs" data-original-amount="{{totals.other_costs}}">
            {{totals.currency_other_costs}}
          </span>
        </button>
        Other Costs
      </td>
      <td>
        <button type="button" class="btn btn-danger m-r-sm">
          {{totals.currency_sign}}
          <span id="totals-total-costs" data-original-amount="{{totals.outcome}}">
            {{totals.currency_outcome}}
          </span>
        </button>
        Total Costs
      </td>
      <tr>
        <td><button type="button" class="btn btn-primary m-r-sm">{{totals.orders_count}}</button>Orders</td>
        <td><button type="button" class="btn btn-primary m-r-sm">{{totals.orders_per_day}}</button>Orders Per Day</td>
        {% if user_facebook_permission %}
        <td><button type="button" class="btn btn-warning m-r-sm">{{totals.fulfillments_count}}</button>Fulfillments</td>
        {% endif %}
      </tr>
    </tr>
  </tbody>
</script>

<script id="fb-account-list" type="text/x-handlebars-template">
  <p>Please Select a Facebook Ad Account:</p>
  <ul class="list-group" style="overflow:auto;max-height:400px;">
    {{#each accounts}}
    <li class="list-group-item"><input type="radio" name="account" value="{{this.id}}"> {{this.name}}</li>
    {{/each}}
  </ul>
</script>

<script id="fb-campaign-list" type="text/x-handlebars-template">
  <p>Please Select Facebook Campaigns: <a href="#" class="select-all-btn pull-right">Select All</a></p>
  <select name="config" class="form-control">
    {{#each config_options}}
    <option class="form-control" value="{{this.key}}" {{this.selected}}>{{this.value}}</option>
    {{/each}}
  </select>
  <br>
  <ul class="list-group" style="overflow:auto;max-height:400px;">
    {{#each campaigns}}
    <li class="list-group-item">
      <label>
        <input type="checkbox" name="campaign" value="{{this.id}}" {{ this.checked }}>
        <span class="facebook-campaign-title">{{this.name}}</span>
        <span class="badge badge-white">{{this.created_time}}</span>
        <span class="badge badge-white">{{this.status}}</span>
      </label>
    </li>
    {{/each}}
  </ul>
</script>
{% endverbatim %}

<div id="fb-account-select-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Facebbok Ad Accounts</h4>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer" style="overflow:auto">
        <button type="button" class="btn btn-info" id="fb-account-selected">Continue</button>
      </div>
    </div>
  </div>
</div>

<div id="fb-campaign-select-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Facebbok Ad Campaigns</h4>
      </div>

      <div class="modal-body" style="overflow:auto">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="fb-campaign-selected">Continue</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extracss %}
{% compress css %}
  <link href="{% static 'libs/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
  <link href="{% static 'profit/index.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    var config = {
      facebook: {
        {% if user|can:'profit_dashboard_facebook.use' %}
        appId: "{% app_setting 'FACEBOOK_APP_ID' %}"
        {% else %}
        appId: null
        {% endif %}
      },
      sub_conf: {
        key: "{% app_setting 'PUSHER_KEY' %}",
        channel: "{{ store.pusher_channel }}",
      },
      profitOtherCostsAjaxUrl: "{% url 'profit_dashboard.views.save_other_costs' %}?store={{ store.id }}",
      currencySign: "{% money_format None store %}",
      currencyFormat: "{{ store.currency_format|default:'' }}"
    };

    var profitsData = {{ profits_json|safe }};
  </script>

  <script src="//js.pusher.com/3.2/pusher.min.js"></script>
  <script src="//connect.facebook.net/en_US/sdk.js" id="facebook-jssdk"></script>

{% compress js %}
  <script src="{% static 'libs/bower_components/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'libs/bower_components/chart.js/dist/Chart.bundle.js' %}"></script>
  <script src="{% static 'libs/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'libs/bower_components/handlebars/handlebars.min.js' %}"></script>
  <script src="{% static 'profit/index.js' %}"></script>
{% endcompress %}

{% endblock %}
