{% extends "base.html" %}

{% load static %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form method="get">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="selected-actions">Graph:</label>
                            <select class="form-control selected-actions" name="t" style="display: inline-block; width: 170px; ">
                                <option value="users" {% if request.GET.t == 'users' %}selected{% endif %}>Users</option>
                                <option value="products" {% if request.GET.t == 'products' %}selected{% endif %}>Products</option>
                                <option value="tracking" {% if request.GET.t == 'tracking' %}selected{% endif %}>Auto Fulfill</option>
                                <option value="orders" {% if request.GET.t == 'orders' %}selected{% endif %}>Orders</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="selected-actions">Range:</label>
                            <select class="form-control selected-actions" name="days" style="display: inline-block; width: 180px; ">
                                <option value="" {% if not request.GET.days %}selected{% endif %}>All time</option>
                                <option value="7" {% if request.GET.days == '7' %}selected{% endif %}>Past 7 days</option>
                                <option value="30" {% if request.GET.days == '30' %}selected{% endif %}>Past 30 days</option>
                                <option value="90" {% if request.GET.days == '90' %}selected{% endif %}>Past 90 days</option>
                                <option value="365" {% if request.GET.days == '365' %}selected{% endif %}>Past Year</option>
                            </select>

                            <button type="submit" class="btn btn-primary apply-btn m-l">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if products %}
    <div class="col-md-12">
        <div class="ibox float-e-margins">
             <div class="ibox-title">
                <h5>Shopify Products <small>[<b>{{products_count}}</b> Productss in <b>{{stores_count}}</b> Stores</small>]</h5>
            </div>

            <div class="ibox-content">
                <div id="products_graph" style="height:300px"></div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if users %}
    <div class="col-md-12">
        <div class="ibox float-e-margins">
             <div class="ibox-title">
                <h5>Users Registration <small>[{{users_count}} Users]</small></h5>
            </div>

            <div class="ibox-content">
                <div id="users_graph" style="height:300px"></div>
            </div>

        </div>
    </div>
    {% endif %}

    {% if tracking_fulfilled or tracking_auto or tracking_all %}
    <div class="col-md-12">
        <div class="ibox float-e-margins">
             <div class="ibox-title">
                <h5>Auto Order</h5>
            </div>

            <div class="ibox-content">
                <div id="tracking_graph" style="height:300px"></div>
                <p>Auto Fulfilled Orders: <b>{{tracking_count.auto}}</b><br>
                <p>Orders awaiting to be fulfilled: <b>{{tracking_count.enabled_awaiting}}</b>
                    ({{tracking_count.disabled}} Orders are disabled out of {{tracking_count.awaiting}})<br>
                <p>Fulfilled Orders: <b>{{tracking_count.fulfilled}}</b><br>
            </div>
        </div>
    </div>
    {% endif %}

    {% if shopify_orders %}
    <div class="col-md-12">
        <div class="ibox float-e-margins">
             <div class="ibox-title">
                <h5>Shopify Orders</h5>
            </div>

            <div class="ibox-content">
                <div id="shopify_orders" style="height:300px"></div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">

    <style type="text/css">
    tbody td {
        padding: 0px;
        margin: 0px;
    }
    </style>
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.tableTools.min.js' %}"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>

    <script type="text/javascript">
        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }

        $(document).ready(function() {

            {% if products %}
            var products_data = [
                {% for item in products %}
                    [gd({{item.created|date:"Y, m, d"}}), {{item.created_count}}],
                {% endfor %}
            ];
            {% endif %}

            {% if users %}
            var users_data = [
                {% for item in users %}
                    [gd({{item.created|date:"Y, m, d"}}), {{item.created_count}}],
                {% endfor %}
            ];
            {% endif %}

            var tracking_data = [];

            {% if tracking_fulfilled %}
            // Fulfilled Order
            tracking_data.push({
                label: "All Fulfilled Orders",
                data: [
                    {% for item in tracking_fulfilled %}
                    [gd({{item.updated|date:"Y, m, d"}}), {{item.updated_count}}],
                    {% endfor %}
                ]
            });
            {% endif %}

            {% if tracking_auto %}
            // Auto Fulfilled Order
            tracking_data.push({
                label: "Auto Fulfilled Orders",
                data: [
                    {% for item in tracking_auto %}
                    [gd({{item.updated|date:"Y, m, d"}}), {{item.updated_count}}],
                    {% endfor %}
                ]
            });
            {% endif %}

            {% if tracking_all %}
            // Auto Placed Orders
            tracking_data.push({
                label: "Placed Orders",
                data: [
                    {% for item in tracking_all %}
                    [gd({{item.created|date:"Y, m, d"}}), {{item.created_count}}],
                    {% endfor %}
                ]
            });
            {% endif %}

            {% if shopify_orders %}
            var shopify_orders = [
                {% for item in shopify_orders %}
                    [gd({{item.created|date:"Y, m, d"}}), {{item.created_count}}],
                {% endfor %}
            ];
            {% endif %}

            var options = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 3,
                    },
                    points: {
                        show: false
                    }
                },
                shadowSize: 0,
                grid: { hoverable: true, clickable: true },
                xaxis: {
                    mode: "time",
                    timeformat: "%Y/%m/%d",
                    minTickSize: [1, "day"]
                },
                colors: ['#D2AE40', '#6868C5', '#40AB00', '#4BACCB']
            };

            if (typeof(products_data) !== 'undefined') {
                $.plot("#products_graph",
                    [
                        {
                            label: "Shopify Saved Products",
                            data: products_data
                        },
                    ],
                    options
                );
            }

            if (typeof(users_data) !== 'undefined') {
                $.plot("#users_graph",
                    [
                        {
                            label: "New Users Per Day",
                            data: users_data
                        },
                    ],
                    options
                );
            }

            if (typeof(shopify_orders) !== 'undefined') {
                $.plot("#shopify_orders",
                    [
                        {
                            label: "Shopify Orders",
                            data: shopify_orders
                        },
                    ],
                    options
                );
            }

            if(tracking_data.length) {
                $.plot("#tracking_graph", tracking_data, options);
            }

            $("#tracking_graph, #products_graph, #users_graph, #shopify_orders").bind("plothover", function (event, pos, item) {
                if (item) {
                    var x = new Date(item.datapoint[0]).toISOString().slice(0, 10).replace(/-/g, '/'),
                        y = item.datapoint[1].toFixed(0);

                    $("#tooltip").html(/*item.series.label + ": " +*/ y + ' in ' + x)
                        .css({top: item.pageY+15, left: item.pageX-$("#tooltip").width()-15})
                        .fadeIn(200);
                } else {
                    $("#tooltip").hide();
                }
            });

            $("<div id='tooltip'></div>").css({
                position: 'absolute',
                border: '1px solid rgb(173, 172, 172)',
                padding: '2px',
                opacity: 1,
                color: 'rgb(0, 0, 0)',
                display: 'none',
                backgroundColor: 'rgb(255, 255, 255)',
                fontWeight: 'bolder',
                boxShadow: '0 0 5px 1px #555',
                borderRadius: '5px',
            }).appendTo("body");

        });

    </script>
{% endblock %}

