{% extends "base.html" %}

{% load static %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">

             <div class="ibox-title">
                <h5>Shopify Products<small></small></h5>
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>

                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <div id="products_graph" style="height:300px"></div>
                <p>Products count: <b>{{products_count}}</b> in <b>{{stores_count}}</b> Stores</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="ibox float-e-margins">

             <div class="ibox-title">
                <h5>Users Registration<small></small></h5>
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>

                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <div id="users_graph" style="height:300px"></div>
            </div>

            <div class="ibox-content">
                <div id="tracking_graph" style="height:300px"></div>
                <p>Auto Fulfilled Orders: <b>{{tracking_count.auto}}</b><br>
                <p>Orders awaiting to be fulfilled: <b>{{tracking_count.enabled_awaiting}}</b>
                    ({{tracking_count.disabled}} Orders are disabled out of {{tracking_count.awaiting}})<br>
                <p>Fulfilled Orders: <b>{{tracking_count.fulfilled}}</b><br>
            </div>

            <div class="ibox-content">
                <div id="shopify_orders" style="height:300px"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">

    <style type="text/css">
    tbody td {
        padding: 0px;
        margin: 0px;
    }
    </style>
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.tableTools.min.js' %}"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>

    <script type="text/javascript">
        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }

        $(document).ready(function() {

            var d1 = [
                {% for item in products %}
                    [gd({{item.created|date:"Y, m, d"}}), {{item.created_count}}],
                {% endfor %}
            ];

            var d2 = [
                {% for item in users %}
                    [gd({{item.created|date:"Y, m, d"}}), {{item.created_count}}],
                {% endfor %}
            ];

            // Orders awaiting to be fulfilled
            var tracking_awaiting = [
                {% for item in tracking_awaiting %}
                    [gd({{item.updated|date:"Y, m, d"}}), {{item.updated_count}}],
                {% endfor %}
            ];

            // Fulfilled Order
            var tracking_fulfilled = [
                {% for item in tracking_fulfilled %}
                    [gd({{item.updated|date:"Y, m, d"}}), {{item.updated_count}}],
                {% endfor %}
            ];

            // Auto Fulfilled Order
            var tracking_auto = [
                {% for item in tracking_auto %}
                    [gd({{item.updated|date:"Y, m, d"}}), {{item.updated_count}}],
                {% endfor %}
            ];

            // All placed orders
            var tracking_all = [
                {% for item in tracking_all %}
                    [gd({{item.created|date:"Y, m, d"}}), {{item.created_count}}],
                {% endfor %}
            ];

            var shopify_orders = [
                {% for item in shopify_orders %}
                    [gd({{item.created|date:"Y, m, d"}}), {{item.created_count}}],
                {% endfor %}
            ];

            var options = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 3,
                    },
                    points: {
                        show: false
                    }
                },
                shadowSize: 0,
                grid: { hoverable: true, clickable: true },
                xaxis: {
                    mode: "time",
                    timeformat: "%Y/%m/%d",
                    minTickSize: [1, "day"]
                },
                COLORS: ['#357EBD', '#0000FF', '#00FF00', '#FF0000']
            };

            $.plot("#products_graph",
                [
                    {
                        label: "Shopify Saved Products",
                        data: d1
                    },
                ],
                options
            );
            $.plot("#users_graph",
                [
                    {
                        label: "New Users Per Day",
                        data: d2
                    },
                ],
                options
            );

            $.plot("#tracking_graph",
                [
                    {
                        label: "Auto Fulfilled",
                        data: d2
                    },
                ],
                options
            );

            $.plot("#shopify_orders",
                [
                    {
                        label: "Shopify Orders",
                        data: shopify_orders
                    },
                ],
                options
            );

            $.plot("#tracking_graph",
                [
                    {
                        label: "Orders awaiting to be fulfilled",
                        data: tracking_awaiting
                    },{
                        label: "All Fulfilled Orders",
                        data: tracking_fulfilled
                    },{
                        label: "Auto Fulfilled Orders",
                        data: tracking_auto
                    },{
                        label: "Placed Orders",
                        data: tracking_all
                    },
                ],
                options
            );

            $("#tracking_graph, #products_graph, #users_graph, #shopify_orders").bind("plothover", function (event, pos, item) {
                if (item) {
                    var x = new Date(item.datapoint[0]).toISOString().slice(0, 10).replace(/-/g, '/'),
                        y = item.datapoint[1].toFixed(0);

                    $("#tooltip").html(/*item.series.label + ": " +*/ y + ' in ' + x)
                        .css({top: item.pageY+15, left: item.pageX-$("#tooltip").width()-15})
                        .fadeIn(200);
                } else {
                    $("#tooltip").hide();
                }
            });

            $("<div id='tooltip'></div>").css({
                position: 'absolute',
                border: '1px solid rgb(173, 172, 172)',
                padding: '2px',
                opacity: 1,
                color: 'rgb(0, 0, 0)',
                display: 'none',
                backgroundColor: 'rgb(255, 255, 255)',
                fontWeight: 'bolder',
                boxShadow: '0 0 5px 1px #555',
                borderRadius: '5px',
            }).appendTo("body");

        });

    </script>
{% endblock %}

