{% extends "base.html" %}

{% load static %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">

             <div class="ibox-title">
                <h5>Plans<small></small></h5>
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>

                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <form class="form-inline" method="POST">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">New Registrations Plan:</label>
                            <select name="default-plan" class="form-control">
                                {% for item in plans %}
                                <option value="{{item.id}}" {% if item.default_plan %}selected="selected"{% endif %}>{{item.title}}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-success btn-sm" style="margin-bottom:0">Apply</button>
                        </div>
                    </div>
                    </form>
                </div>
                <p style="margin-bottom:20px"></p>
                <table class="table table-bordered dataTables">
                    <thead>
                        <tr>
                            <th>Plan</th>
                            <th>Price Per Month</th>
                            <th>Stores</th>
                            <th>Products</th>
                            <th>Boards</th>
                            <th>Users Count</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in plans %}
                        <tr plans-id="{{item.id}}">
                            <td><b><a target="_blank" href="/admin/leadgalaxy/groupplan/{{item.id}}/">{{item.title}}</a></b></td>
                            <td>${{item.montly_price}}</td>
                            <td>{% if item.stores == -1 %}Unlimited{% else %}{{item.stores}}{% endif %}</td>
                            <td>{% if item.products == -1 %}Unlimited{% else %}{{item.products}}{% endif %}</td>
                            <td>{% if item.boards == -1 %}Unlimited{% else %}{{item.boards}}{% endif %}</td>
                            <td><a href="{% url 'acp_users_list' %}?plan={{item.id}}">{{item.userprofile_set.count}}</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="4">No product found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if request.GET.add %}
<div class="row">
    <div class="col-md-6">
        <div class="ibox float-e-margins">
             <div class="ibox-title">
                <h5>Add Permission<small></small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <form class="form-inline" method="GET">
                    <div class="form-group">
                        <div class="col-md-12 m-b-xs">
                            <label class="control-label" style="width: 100px">Name:</label>
                            <input  name="perm-name" class="form-control">
                        </div>
                        <div class="col-md-12 m-b-xs">
                            <label class="control-label" style="width: 100px">Description:</label>
                            <input  name="perm-description" class="form-control">
                        </div>
                        <div class="col-md-12 m-b-xs">
                            <label class="control-label"><input name="perm-view" value="1" type="checkbox" checked> View </label>
                            <label class="control-label"><input name="perm-use" value="1" type="checkbox" checked> Use </label>
                        </div>
                        <div class="col-md-12 m-b-xs">
                            <label class="control-label" style="width: 100px">Grant to plans:</label>
                            <select multiple name="perm-grant-to" class="form-control" style="height: 115px">
                                {% for item in plans %}
                                <option value="{{item.id}}">{{item.title}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-12 m-b-xs">
                            <button class="btn btn-success btn-sm" style="margin-bottom:0">Apply</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox float-e-margins">
             <div class="ibox-title">
                <h5>Import Permissions<small></small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <form class="form-inline" method="POST">
                    <div class="form-group">
                        <div class="col-md-12 m-b-xs">
                            <textarea name="import" class="form-control" id="" cols="50" rows="10">{{request.POST.import|default:''}}</textarea>
                        </div>

                        <div class="col-md-12 m-b-xs">
                            <button class="btn btn-success btn-sm" style="margin-bottom:0">Import</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

    <style type="text/css">
    tbody td {
        padding: 0px;
        margin: 0px;
    }
    </style>
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <script src="http://www.appelsiini.net/projects/jeditable/jquery.jeditable.js"></script>

    <script type="text/javascript">
        $('input[name="perm-description"]').change(function() {
            var t = $('input[name="perm-name"]');
            if (t.val().length==0) {
                t.val($(this).val().toLowerCase().replace(/ /g, '_'));
            }
        });
    </script>
{% endblock %}

