{% extends "base.html" %}

{% load static %}
{% load cache %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">

             <div class="ibox-title">
                <h5>Users Count: {{users_count}}<small></small></h5>
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>

                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <table class="table  dataTables">
                    {% if users_count %}
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Plan</th>
                            {% if users_count == 1 %}
                            <th>Shopify Stores</th>
                            <th>CHQ Stores</th>
                            <th>Products</th>
                            <th>Bundles</th>
                            {% endif %}
                            <th style="width:13%">Join Date</th>
                            <th style="width:13%">Last Login</th>
                            {% if users_count == 1 %}
                            <th>Last Seen</th>
                            {% endif %}
                            <th style="width:25%">Actions</th>
                        </tr>
                    </thead>
                    {% endif %}
                    <tbody>
                    {% for item in users %}
                        <tr>
                            <td>
                                {% if not user.is_superuser or users_count > 1 %}
                                    <a href="{% url 'acp_users_list' %}?user={{item.id}}">{{item.username}}</a></td>
                                {% else %}
                                    <a href="/admin/auth/user/{{item.id}}" target="_blank">{{item.username}}</a></td>
                                {% endif %}
                            <td>{{item.email}}</td>
                            {% if users_count == 1 %}
                            <td>
                                <span class="plan-title" data-plan="{{item.profile.plan_id|default:''}}"></span>

                                {% if item.is_subuser %}
                                <br><b>{{item.profile.subuser_parent.profile.plan.title}}</b><br>
                                Parent: <a href="{% url 'acp_users_list' %}?q={{item.profile.subuser_parent.email}}"
                                           target="_blank">
                                        {{item.profile.subuser_parent.username}}</a>
                                {% endif %}
                            </td>
                            <td>{{item.profile.get_shopify_stores.count}}</td>
                            <td>{{item.profile.get_chq_stores.count}}</td>
                            <td>{{item.shopifyproduct_set.count}}</td>
                            <td style=" white-space:nowrap">
                                <ul style="padding:0;margin:0">
                                    {% for bundle in item.profile.bundles.all %}
                                    <li>{{bundle.title}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% else %}
                            <td>
                                <span class="plan-title" data-plan="{{item.profile.plan_id|default:''}}"></span>
                            </td>
                            {% endif %}
                            <td>{{item.date_joined|date}}</td>
                            <td>{{item.last_login|date}}</td>
                            {% if users_count == 1 %}
                            <td style=" white-space:nowrap">{{user_last_seen}}</td>
                            {% endif %}
                            <td>
                                {% if user.is_superuser %}
                                <a href="#" class="btn btn-primary btn-outline btn-xs user-profile-btn" user-id="{{item.id}}">Profile</a>
                                <a href="/hijack/{{item.id}}/" class="btn btn-success btn-outline btn-xs m-r-xs">Login with</a>
                                {% endif %}

                                <div class="btn-group">
                                        <a class="btn btn-default btn-outline btn-xs m-l-xs dropdown-toggle" data-toggle="dropdown" href="#">
                                            Options <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            {% if user.is_superuser %}
                                            <li><a href="/admin/leadgalaxy/planregistration/?q={{item.email|urlencode}}" target="_blank">Registration Links</a></li>
                                            <li><a href="/admin/leadgalaxy/planpayment/?q={{item.email|urlencode}}" target="_blank">Payments</a></li>
                                            <li><a href="/admin/leadgalaxy/shopifystore/?q={{item.email|urlencode}}" target="_blank">Stores</a></li>
                                            <li><a href="/admin/stripe_subscription/extrastore/?q={{item.email|urlencode}}" target="_blank">Extra Stores</a></li>
                                            <li><a href="/admin/stripe_subscription/extrachqstore/?q={{item.email|urlencode}}" target="_blank">Extra CommerceHQ Stores</a></li>
                                            <li class="divider"></li>
                                            <li><a href="https://dashboard.stripe.com/search?query={{item.email|urlencode}}" target="_blank">Stripe</a></li>
                                            {% endif %}
                                            <li><a href="#" class="intercom-btn" data-email="{{item.email}}" target="_blank">Intercom</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" class="change-plan-btn" user-id="{{item.id}}">Change Plan</a></li>
                                            <li><a href="#" class="add-bundle-btn" user-id="{{item.id}}">Add Bundle</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" class="allow-trial-btn" user-id="{{item.id}}">Allow Free Trial</a></li>
                                            <li><a href="#" class="release-sub-user" user-id="{{item.id}}">Release Sub User</a></li>
                                            <li><a href="#" class="reset-auto-fulfill" user-id="{{item.id}}">Reset Auto Fulfill Limit</a></li>
                                            {% if user.is_superuser %}
                                            <li class="divider"></li>
                                            <li><a href="text-danger" class="clear-sessions btn-danger btn-outline" user-id="{{item.id}}" username="{{item.username}}">Clear Sessions</a></li>
                                            <li><a href="text-danger" class="clear-access-tokens btn-danger btn-outline" user-id="{{item.id}}" username="{{item.username}}">Clear Access Tokens</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                            </td>
                        </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center" style="border-top:none">
                            <i>No User Found</i>
                        </td>
                   </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if registrations %}
                    <hr/>
                    <h2>Lifetime Purchases</h2>
                    <table class="table  dataTables">
                        <thead>
                            <tr>
                                <th>Purchases</th>
                                <th>Date</th>
                                <th>Used</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in registrations %}
                            <tr>
                                <td>{{ i }}</td>
                                <td><span class="itooltip" title="{{i.date}}">{{ i.date_str }}</span></td>
                                <td>{{ i.expired|yesno:'Yes,No' }}</td>
                                <td>
                                    <a href="text-danger" class="btn btn-xs btn-info registration-apply-btn"
                                        user-id="{{users.0.id}}" register-id="{{i.id}}">Apply</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if subscribtions %}
                    <hr/>
                    <h2>Subscriptions</h2>
                    <table class="table  dataTables">
                        <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Status</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in subscribtions %}
                            <tr>
                                <td>{{ i.plan.name }}</td>
                                <td>{{ i.status }}</td>
                                <td>
                                    <a href="text-danger" class="btn btn-xs btn-danger cancel-subscription-btn"
                                        user-id="{{users.0.id}}" charge-id="{{i.id}}">Cancel Subscription</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if customer_ids %}
                <hr/>
                <h2>Customer ID ({{customer_ids|length}})</h2>
                <div class="row">
                    <form action="{{request.get_full_path}}">
                        {% for k, v in request.GET.items %}
                            {% if k != 'customer_id' %}
                                <input type="hidden" name="{{k}}" value="{{v}}">
                            {% endif %}
                        {% endfor %}

                        <div class="col-md-3">
                            <select class="form-control" name="customer_id" id="customer_id">
                                {% for i in customer_ids %}
                                <option value="{{i.id}}" {% if customer_id == i.id %}selected{% endif %}>{{i.email}} -- {{i.id}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success btn-sm" style="margin-top:2px">View</button>
                        </div>
                    </form>
                </div>
                {% endif %}

                {% if last_charges %}
                    <hr/>
                    <h2>Last Charges</h2>
                    <table class="table  dataTables">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Refunded</th>
                                <th>Status</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in last_charges %}
                            <tr>
                                <td><span class="itooltip" title="{{i.date}}">{{ i.date_str }}</span></td>
                                <td>{{ i.amount }}</td>
                                <td>{{ i.amount_refunded|default:'' }}</td>
                                <td>
                                    {{ i.status|title }}

                                    {% if i.failure_message %}
                                    - Reason: {{i.failure_message|title}}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="text-danger" class="btn btn-xs btn-warning refund-charge-btn" user-id="{{users.0.id}}" charge-id="{{i.id}}">Refund</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<div id="modal-plan-select" class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Change Plan</h3>

                        <label for="send-select-store">Select Plan:</label>
                        <select class="form-control" name="selected-actions" id="plan-change-select" style="display: inline-block; width: 191px; ">
                            {% for item in plans %}
                            <option value="{{item.id}}">{{item.title}}</option>
                            {% endfor %}
                        </select>

                        <button id="change-plan-apply" class="btn btn-primary" style="margin-bottom: 5px; margin-left: 25px;">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-bundle-select" class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Add Bundle</h3>

                        <label for="send-select-store">Select Plan:</label>
                        <select class="form-control" name="selected-actions"
                                id="bundle-change-select" style="display:inline-block;width:191px">
                            {% for item in bundles %}
                            <option value="{{item.id}}">{{item.title}}</option>
                            {% endfor %}
                        </select>

                        <button id="select-bundle-apply" class="btn btn-primary"
                                style="margin-bottom:5px;margin-left:25px">Add Bundle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">

    <style type="text/css">
    tbody td {
        padding: 0px;
        margin: 0px;
    }

    .user-profile-btn {
        margin-right: 5px;
    }
    </style>
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.tableTools.min.js' %}"></script>

    <script type="text/javascript">
        function changePlan(e) {
            e.preventDefault();

            $('.active-plan-change').removeClass('active-plan-change');
            $(this).parents('tr').find('.profile-plan').addClass('active-plan-change');
            $('#modal-plan-select').prop('user-id', $(this).attr('user-id'));
            $('#modal-plan-select').modal('show');
        }

        function addBundle(e) {
            e.preventDefault();

            $('#modal-bundle-select').prop('user-id', $(this).attr('user-id'));
            $('#modal-bundle-select').modal('show');
        }

        function userProfile(e) {
            e.preventDefault();

            window.open('/admin/leadgalaxy/userprofile/'+profiles[$(this).attr('user-id')]+'/', '_blank');
        }

        function clearAccessToken(e) {
            e.preventDefault();

            var user_id = $(this).attr('user-id');
            swal({
                title: "Delete Access Token",
                text: 'Delete All Access Tokens for user: ' + $(this).attr('username') + '?',
                type: "warning",
                showCancelButton: true,
                closeOnCancel: true,
                closeOnConfirm: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel"
            },
            function(isConfirmed) {
                if (isConfirmed) {

                    $.ajax({
                        type: 'DELETE',
                        url: '/api/access-token' + '?' + $.param({'user': user_id}),
                        success: function(data) {
                            swal('Access Token', 'Deleted', 'success');
                        },
                        error: function(data) {
                            displayAjaxError('Delete Access Token', data);
                        },
                    });
                }
            });
        }
        function allowFreeTrial(e) {
            e.preventDefault();

            var user_id = $(this).attr('user-id');
            swal({
                title: "Allow Free Trial",
                text: 'Allow user to have an other trial subscription?',
                type: "warning",
                showCancelButton: true,
                closeOnCancel: true,
                closeOnConfirm: false,
                confirmButtonText: "Yes",
                cancelButtonText: "Cancel"
            },
            function(isConfirmed) {
                if (isConfirmed) {

                    $.ajax({
                        type: 'POST',
                        url: '/api/change-plan',
                        data: {'user': user_id, 'allow_trial': true},
                        success: function(data) {
                            swal('Allow Free Trial', 'User can now have free trial', 'success');
                        },
                        error: function(data) {
                            displayAjaxError('Allow Free Trial', data);
                        },
                    });
                }
            });
        }

        function resetAutoFulfill(e) {
            e.preventDefault();

            var user_id = $(this).attr('user-id');
            swal({
                title: "Auto Fulfill Limit",
                text: 'Reset this month auto fulfill limit?',
                type: "warning",
                showCancelButton: true,
                closeOnCancel: true,
                closeOnConfirm: false,
                confirmButtonText: "Yes",
                cancelButtonText: "Cancel"
            },
            function(isConfirmed) {
                if (isConfirmed) {

                    $.ajax({
                        type: 'POST',
                        url: '/api/auto-fulfill-limit-reset',
                        data: {'user': user_id},
                        success: function(data) {
                            swal('Auto Fulfill Limit', 'Limit was reseted', 'success');
                        },
                        error: function(data) {
                            displayAjaxError('Auto Fulfill Limit', data);
                        },
                    });
                }
            });
        }

        function releaseSubUser(e) {
            e.preventDefault();

            var user_id = $(this).attr('user-id');
            swal({
                title: "Release Sub User",
                text: 'Release this Sub User?',
                type: "warning",
                showCancelButton: true,
                closeOnCancel: true,
                closeOnConfirm: false,
                confirmButtonText: "Yes",
                cancelButtonText: "Cancel"
            },
            function(isConfirmed) {
                if (isConfirmed) {

                    $.ajax({
                        type: 'POST',
                        url: '/api/release-subuser',
                        data: {'user': user_id},
                        success: function(data) {
                            swal('Release Sub User', 'User has been released', 'success');
                        },
                        error: function(data) {
                            displayAjaxError('Release Sub User', data);
                        },
                    });
                }
            });
        }

        var profiles = {
{% for profile in profiles  %}
    {{profile.user_id}}: {{profile.id}},
{% endfor %}
        };

        var plans = {
        {% for item in plans %}
            '{{item.id}}': '{{item.title|escapejs}}',
        {% endfor %}
        };

        $(document).ready(function() {
            function handleEvents() {
                $('.change-plan-btn').unbind('click').click(changePlan);
                $('.add-bundle-btn').unbind('click').click(addBundle);
                $('.user-profile-btn').unbind('click').click(userProfile);
                $('.clear-access-tokens').unbind('click').click(clearAccessToken);
                $('.allow-trial-btn').unbind('click').click(allowFreeTrial);
                $('.release-sub-user').unbind('click').click(releaseSubUser);
                $('.reset-auto-fulfill').unbind('click').click(resetAutoFulfill);

                $('.plan-title').each(function (i, el) {
                    if($(el).data('plan')) {
                        $(el).append($('<a>', {
                            text: plans[$(el).data('plan')],
                            href: app_link('acp/users/list', {plan: $(el).data('plan')})
                        }));
                    }
                });
            }

            {% if users_count > 1 %}
            $('.dataTables').dataTable({
                responsive: true,
                autoWidth: false,
                dom: 'T<"clear">lfrtip',
                bLengthChange: false,
                iDisplayLength: 50,
                order: [],
                tableTools: {
                    sSwfPath: '{% static 'js/plugins/dataTables/swf/copy_csv_xls_pdf.swf' %}'
                }
            });

            $('.dataTables').on('draw.dt', handleEvents);

            {% endif %}

            $('#change-plan-apply').click(function (e) {
                var btn = $(this);
                var user = $('#modal-plan-select').prop('user-id');
                var plan = $('#plan-change-select').val();

                btn.button('loading');

                $.ajax({
                    type: 'POST',
                    url: '/api/change-plan',
                    context: {},
                    data: {
                        'plan':plan,
                        'user': user
                    },
                    success: function(data) {
                        if (data.status == 'ok') {
                            $('#modal-plan-select').modal('hide');
                            $('.active-plan-change').find('b').text(data.plan.title);

                            toastr.success('User plan changed to: <b>' + data.plan.title + '</b>', 'Change Plan');
                        } else {
                            displayAjaxError('Change Plan', data);
                        }
                    },
                    error: function(data) {
                        displayAjaxError('Change Plan', data);
                    },
                    complete: function() {
                        btn.button('reset');
                    }
                });
            });

            $('#select-bundle-apply').click(function (e) {
                var btn = $(this);
                var user = $('#modal-bundle-select').prop('user-id');
                var bundle = $('#modal-bundle-select select').val();

                btn.button('loading');

                $.ajax({
                    type: 'POST',
                    url: '/api/add-bundle',
                    context: {},
                    data: {
                        'bundle': bundle,
                        'user': user
                    },
                    success: function(data) {
                        toastr.success('Bundle Added');
                        $('#modal-bundle-select').modal('hide');
                    },
                    error: function(data) {
                        displayAjaxError('Add Bundle', data);
                    },
                    complete: function() {
                        btn.button('reset');
                    }
                });
            });

            $('.intercom-btn').click(function (e) {
                e.preventDefault();

                var data = {
                    "predicates": [
                        {
                          "comparison": "eq",
                          "value": $(e.target).data('email'),
                          "attribute": "email",
                          "type": "string"
                        },
                        {
                          "type": "anonymous",
                          "comparison": "false",
                          "value": null,
                          "attribute": "anonymous"
                        }
                    ]
                };

                window.open('https://app.intercom.io/a/apps/k9cb5frr/users/segments/all:' + btoa(JSON.stringify(data)), '_blank');
            });

            $('.cancel-subscription-btn').click(function (e) {
                e.preventDefault();

                swal({
                    title: "Cancel Subscription",
                    text: "Are you sure you want to cancel this user subscription?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    showLoaderOnConfirm: true
                }, function(inputValue) {
                    if (inputValue === false || !inputValue) return false;

                    $.ajax({
                        url: '/api/stripe-cancel-subscription',
                        type: 'POST',
                        data: {
                            id: $(e.target).attr('charge-id'),
                            user: $(e.target).attr('user-id'),
                        },
                    }).done(function (data) {
                        toastr.success('Reloading page...', 'Subscription Canceled');
                        swal.close();

                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }).fail(function(data) {
                        displayAjaxError('Cancel Subscription', data);
                    });
                });
            });

            $('.registration-apply-btn').click(function (e) {
                e.preventDefault();

                swal({
                    title: "Apply Registration",
                    text: "Are you sure you want to apply this Registration?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    showLoaderOnConfirm: true
                }, function(inputValue) {
                    if (inputValue === false || !inputValue) return false;

                    $.ajax({
                        url: '/api/apply-registration',
                        type: 'POST',
                        data: {
                            id: $(e.target).attr('register-id'),
                            user: $(e.target).attr('user-id'),
                        },
                    }).done(function (data) {
                        toastr.success('Reloading page...', 'Registration Applied');
                        swal.close();

                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }).fail(function(data) {
                        displayAjaxError('Apply Registration', data);
                    });
                });
            });

            $('.refund-charge-btn').click(function (e) {
                e.preventDefault();

                swal({
                    title: "Refund Charge",
                    text: "Amount to Refund:",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Amount",
                    showLoaderOnConfirm: true
                }, function(inputValue) {
                    if (inputValue === false) return false;
                    inputValue = inputValue.trim();

                    if (inputValue === "") {
                        swal.showInputError("You need to enter an amount.");
                        return false;
                    }

                    inputValue = parseFloat(inputValue)
                    if (!inputValue) {
                        swal.showInputError("The entered amount is invalid.");
                        return false;
                    }

                    $.ajax({
                        url: '/api/stripe-refund-charge',
                        type: 'POST',
                        data: {
                            id: $(e.target).attr('charge-id'),
                            user: $(e.target).attr('user-id'),
                            amount: inputValue
                        },
                    }).done(function (data) {
                        toastr.success('$' + inputValue + ' Refunded', 'Amount Refunded');
                        swal.close();

                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }).fail(function(data) {
                        displayAjaxError('Charge Refund', data);
                    });
                });
            });

            handleEvents();
        });
    </script>
{% endblock %}

