{% extends "base.html" %}

{% load static %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">

             <div class="ibox-title">
                <h5>Users Count: {{users_count}}<small></small></h5>
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>

                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <table class="table table-bordered dataTables">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Plan</th>
                            {% if request.GET.products %}
                            <th>Stores</th>
                            <th>Products</th>
                            {% endif %}
                            <th>Join Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in users %}
                        <tr user-id="{{item.id}}">
                            <td><a target="_blank" href="/admin/auth/user/{{item.id}}/">{{item.username}}</a></td>
                            <td>{{item.email}} </td>
                            <td class="profile-plan">
                            {% if item.profile.get_plan %}
                                <b>{{item.profile.plan.title}}</b>
                            {% else %}
                                <b>None</b>
                            {% endif %}
                            </td>

                            {% if request.GET.products %}
                            <td>{{item.shopifystore_set.count}}</td>
                            <td>{{item.shopifyproduct_set.count}}</td>
                            {% endif %}

                            <td>{{item.date_joined|date}}</td>
                            <td>
                                <a href="/hijack/{{item.id}}/" class="btn btn-success btn-xs ">Login with</a>
                                <button class="btn btn-primary btn-xs change-plan-btn">Change Plan</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="4">No product found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-plan-select" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Sending To Shopify</h3>

                        <label for="send-select-store">Select Plan:</label>
                        <select class="form-control" name="selected-actions" id="plan-change-select" style="display: inline-block; width: 191px; ">
                            {% for item in plans %}
                            <option value="{{item.id}}">{{item.title}}</option>
                            {% endfor %}
                        </select>

                        <button id="change-plan-apply" class="btn btn-primary" style="margin-bottom: 5px; margin-left: 25px;">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

    <style type="text/css">
    tbody td {
        padding: 0px;
        margin: 0px;
    }
    </style>
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <script src="http://www.appelsiini.net/projects/jeditable/jquery.jeditable.js"></script>

    <script type="text/javascript">
        $('.change-plan-btn').click(function (e) {
            $('.active-plan-change').removeClass('active-plan-change');
            $(this).parents('tr').find('.profile-plan').addClass('active-plan-change');
            $('#modal-plan-select').prop('user-id', $(this).parents('tr').attr('user-id'));
            $('#modal-plan-select').modal('show');
        });

        $(document).ready(function() {
            $('.dataTables').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/static/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });



            $('#change-plan-apply').click(function (e) {
                var btn = $(this);
                var user = $('#modal-plan-select').prop('user-id');
                var plan = $('#plan-change-select').val();

                btn.button('loading');

                $.ajax({
                    type: 'POST',
                    url: '/api/change-plan',
                    context: {},
                    data: {
                        'plan':plan,
                        'user': user
                    },
                    success: function(data) {
                        if (data.status == 'ok') {
                            $('#modal-plan-select').modal('hide');
                            $('.active-plan-change').find('b').text(data.plan.title);
                        } else {
                            alert('Server Error');
                        }
                    },
                    error: function(data) {
                        alert('Server Error');
                    },
                    complete: function() {
                        btn.button('reset');
                    }
                });

            })
        });
    </script>
{% endblock %}

