{% extends "base.html" %}
{% load static %}
{% load template_helper %}
{% load compress %}
{% load url_tools %}

{% block main-container %}
<div class="tab-container separated-tabs">
    {% include "home/partial/tabs/find_products.html" with category_id=category.id %}

    <ul class="actions">
      <form method="get">
        <li class="hidden-form">
            <a href="javascript:;" class="text-default">
              Filter by
              <span class="dropified-icons di-arrow-down"></span>
            </a>

            <div class="form" style="width: 300px;">
              <input type="hidden" name="f" value="1">
              <div class="form-group">
                <label style="width: 100%;">Price</label>
                <input name="price_min" type="text" class="form-control" value="{{request.GET.price_min}}" placeholder="Min." style="width: 49%;">
                <input name="price_max" type="text" class="form-control" value="{{request.GET.price_max}}" placeholder="Max." style="width: 49%; margin-left: 2%;">
              </div>

              <button class="btn btn-primary m-t pull-right">Apply</button>
            </div>
        </li>
        <li class="hidden-form">
          <a href="javascript:;" class="text-default">
            Sort by
            <span class="dropified-icons di-arrow-down"></span>
          </a>

          <div class="form" style="width: 300px;">
            <div class="form-group">
              <select name="sort" class="form-control">
                {% if search_query %}
                <option {% if request.GET.sort == "most_relevant" or request.GET.sort == "" %} selected {% endif %} value="most_relevant">Most Relevant</option>
                <option {% if request.GET.sort == "order_count" %} selected {% endif %} value="order_count">Fewest Orders</option>
                {% else %}
                <option {% if request.GET.sort == "-order_count" or request.GET.sort == "" %} selected {% endif %} value="-order_count">Orders</option>
                <option {% if request.GET.sort == "order_count" %} selected {% endif %} value="order_count">Fewest Orders</option>
                {% endif %}
              </select>
            </div>
            <button class="btn btn-primary m-t pull-right">Apply</button>
          </div>
        </li>
        <li class="pull-right group">
            <input type="text" class="form-control m-l-sm" value="{{search_query}}"
            name="q" placeholder="Search by name">
            <button type="submit" class="btn btn-primary btn-icon">
              <i class="fa fa-search"></i>
            </button>
        </li>
      </form>
      <li class="pull-right">
        <button type="button" class="btn btn-default"
          data-toggle="modal" data-target="#modal-alibaba-import-by-url">Import from URL or ID</button>
      </li>
    </ul>

    <div class="row m-none">
        {% for cat in categories.results %}
        {% with cat.alibaba_category_id|stringformat:"i" as string_id %}
        {% with cat.title|slugify as slug %}
        {% with 'img/alibaba/categories/'|add:string_id|add:'-'|add:slug|add:'.svg' as icon %}
        <a class="col-lg-2 col-md-4 col-sm-6 col-xs-12 alibaba-category-menu
            {% if forloop.counter == 1 %}top-left-border{% endif %}
            {% if forloop.counter == 6 %}top-right-border{% endif %}
            {% if forloop.counter == 7 %}bottom-left-border{% endif %}
            {% if forloop.last %}bottom-right-border{% endif %}
            {% if cat.id == category.id %}category-selected{% endif %}"
            href="{% if cat.id == category.id %}#{% else %}{% url 'alibaba:category_products' cat.id %}{% endif %}"
        >
          <span>
            <img src="{% static icon %}" alt="">
            {{cat.title}}
          </span>
        </a>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </div>

    <div class="tab-content">
        <div class="tab-pane active">
            <div class="panel-body no-background p-none m-t">
                <div class="row">
                  <div class="col-md-6 breadcrumbs-container">
                    <ol class="breadcrumb">
                      <li><a href="{% url 'alibaba:products' %}">Find Products</a></li>
                      <li class="active">{{category.title}} ({{total_results}} items)</li>
                    </ol>
                  </div>
                </div>
                <div class="find-products-container m-t">
                  <input type="hidden" id="alibaba_product_id" name="alibaba_product_id" value="">
                  {% for item in products.results %}
                  <div class="card" product-id="{{item.alibaba_product_id}}">

                    <div class="card-image">
                      <input class="alibaba-product-select new-layout-hidden" id="product_{{item.alibaba_product_id}}" name="product" value="{{item.alibaba_product_id}}" type="checkbox"/>
                      <a href="{{ item.url }}" target="_blank">
                        <img class="no-img" src="{{item.image}}">
                      </a>
                    </div>
                    <div class="card-content">
                      <a href="{{ item.url }}" class="card-title" target="_blank"> {{item.title | safe}}</a>
                      <span class="card-price">{{ item.price_range }}</span>
                      <span class="card-reviews" data-rating="{{ item.rating }}"></span>
                      <div class="card-orders m-t-xs">
                          {% if search_query %}
                          <span>Shipping</span>
                          <div class="orders-count">
                          {{item.shipping_price}}
                          {% else %}
                          <span>Orders</span>
                          <div class="orders-count">
                          {{item.total_quantities}}
                          {% endif %}
                        </div>
                      </div>
                      {% if search_query %}
                      <div class="card-orders m-t-xs">
                        <span title="Minimum Order Quantity">MOQ</span>
                        <div class="orders-count">
                          {{item.moq}}
                        </div>
                      </div>
                      {% endif %}
                      <div class="row m-t-sm">
                        <div class="col-xs-12">
                          <span title="Shipping time (days)" ><i class="fa fa-truck"></i> 1-{{ item.shipping_time }} days </span> &nbsp;&nbsp;
                          {% if not search_query %}
                          <span title="Total Transactions" ><i class="fa fa-credit-card"></i> {{item.total_transactions}} </span>&nbsp;&nbsp;
                          <span title="Total Buyers" ><i class="fa fa-shopping-cart"></i> {{item.total_buyers}} </span>&nbsp;&nbsp;
                          {% endif %}
                        </div>
                      </div>
                      <div class="row m-t">
                        <div class="col-md-4">
                          <button class="btn btn-xs btn-primary alibaba-import-btn"
                          data-product-id="{{item.alibaba_product_id}}" data-category-id="{{category.id}}"
                          data-toggle="modal" data-target="#modal-alibaba-import-products"> Import </button>
                        </div>
                        <div class="col-md-8 text-right">
                          <a href="{{ item.url }}" class="btn btn-xs" target="_blank">
                            Details <i class="fa fa-external-link"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% empty %}
                    <h3 class="text-center">No products found yet.</h3>
                    {% if error %}
                    <br />
                    <h4 class="text-center">
                      <b>Error: {{error}}</b>
                    </h4>
                    {% endif %}
                  {% endfor %}
                </div>

                {% if paginator.show %}
                <div class="row">
                  <nav class="text-center">
                    <ul class="pagination pagination-lg">
                      {% if paginator.current_page > 2 %}
                      <li><a href="{% url_replace 'page' 1 %}"> &laquo; First </a></li>
                      {% endif %}
                      {% if paginator.previous_page > 0 %}
                      <li><a href="{% url_replace 'page' paginator.previous_page %}"> &larr; Previous </a></li>
                      {% endif %}
                      <li><a href="{% url_replace 'page' paginator.next_page %}"> Next &rarr; </a></li>
                    </ul>
                  </nav>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% include "alibaba/partials/import_products_modal.html" %}
{% include "alibaba/partials/import_by_url_modal.html" %}
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static 'alibaba/js/alibaba_products.js' %}"></script>
{% endblock %}
