{% extends "base.html" %}
{% load static %}
{% load template_helper %}
{% load url_tools %}

{% block title %}
    Find Products &middot; Alibaba | Dropified

{% endblock %}

{% block main-container %}
<div class="tab-container separated-tabs">
    {% include "home/partial/tabs/find_products.html" %}

    <ul class="actions">
      <form method="get">
        <li class="hidden-form new-layout-hidden">
            <a href="javascript:;" class="text-default">
              Filter by
              <span class="dropified-icons di-arrow-down"></span>
            </a>
        </li>
        <li class="hidden-form new-layout-hidden">
          <a href="javascript:;" class="text-default">
            Sort by
            <span class="dropified-icons di-arrow-down"></span>
          </a>
        </li>
        <li class="pull-right group">
            <input type="text" class="form-control m-l-sm" value="{{search_query}}"
            name="q" placeholder="Search by name">
            <button type="submit" class="btn btn-primary btn-icon">
              <i class="fa fa-search"></i>
            </button>
        </li>
      </form>
      <li class="pull-right">
        <button type="button" class="btn btn-default"
          data-toggle="modal" data-target="#modal-alibaba-import-by-url">Import from URL or ID</button>
      </li>
    </ul>

    <div class="row m-none">
        {% for category in categories.results %}
        {% with category.alibaba_category_id|stringformat:"i" as string_id %}
        {% with category.title|slugify as slug %}
        {% with 'img/alibaba/categories/'|add:string_id|add:'-'|add:slug|add:'.svg' as icon %}
        <a class="col-lg-2 col-md-4 col-sm-6 col-xs-12 alibaba-category-menu
            {% if forloop.counter == 1 %}top-left-border{% endif %}
            {% if forloop.counter == 6 %}top-right-border{% endif %}
            {% if forloop.counter == 7 %}bottom-left-border{% endif %}
            {% if forloop.last %}bottom-right-border{% endif %}"
            href="{% url 'alibaba:category_products' category.id %}"
        >
          <span>
            <img src="{% static icon %}" alt="">
            {{category.title}}
          </span>
        </a>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </div>

    <div class="row m-t">
      <div class="col-md-6">
        <h3 class="aliexpress-category-header">{{total_results}} items</h3>
      </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active">
            <div class="panel-body no-background p-none m-t">
                <div class="find-products-container">
                  <input type="hidden" id="alibaba_product_id" name="alibaba_product_id" value="">
                  {% for item in products.results %}
                  <div class="card" product-id="{{item.id}}">

                    <div class="card-image">
                      <input class="alibaba-product-select new-layout-hidden" id="product_{{item.id}}" name="product" value="{{item.id}}" type="checkbox"/>
                      <a href="{{ item.url }}" target="_blank">
                        <img class="no-img" src="{{item.image}}">
                      </a>
                    </div>
                    <div class="card-content">
                      <a href="{{ item.url }}" class="card-title" target="_blank"> {{item.title}}</a>
                      <span class="card-price">{{ item.price_range }}</span>
                      <span class="card-reviews" data-rating="{{ item.rating }}"></span>
                      <div class="card-orders m-t-xs">
                        <span>Orders</span>
                        <div class="orders-count"> {{item.total_quantities}}</div>
                      </div>
                      <div class="row m-t-sm">
                        <div class="col-xs-12">
                          <span title="Shipping time (days)" ><i class="fa fa-truck"></i> {{ item.shipping_time }} </span> &nbsp;&nbsp;
                          <span title="Total Transactions" ><i class="fa fa-credit-card"></i> {{item.total_transactions}} </span>&nbsp;&nbsp;
                          <span title="Total Buyers" ><i class="fa fa-shopping-cart"></i> {{item.total_buyers}} </span>&nbsp;&nbsp;
                        </div>
                      </div>
                      <div class="row m-t">
                        <div class="col-md-4">
                          <button class="btn btn-xs btn-primary alibaba-import-btn"
                          data-product-id="{{item.alibaba_product_id}}" data-category-id="{{item.category.id}}"
                          data-toggle="modal" data-target="#modal-alibaba-import-products"> Import </button>
                        </div>
                        <div class="col-md-8 text-right">
                          <a href="{{ item.url }}" class="btn btn-xs" target="_blank">
                            Details <i class="fa fa-external-link"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% empty %}
                    <h3 class="text-center">No products found yet.</h3>
                    {% if error %}
                    <br />
                    <h4 class="text-center">
                      <b>Error: {{error}}</b>
                    </h4>
                    {% endif %}
                  {% endfor %}
                </div>

                {% if paginator.show %}
                <div class="row">
                  <nav class="text-center">
                    <ul class="pagination pagination-lg">
                      {% if paginator.current_page > 2 %}
                      <li><a href="{% url_replace 'page' 1 %}"> &laquo; First </a></li>
                      {% endif %}
                      {% if paginator.previous_page > 0 %}
                      <li><a href="{% url_replace 'page' paginator.previous_page %}"> &larr; Previous </a></li>
                      {% endif %}
                      <li><a href="{% url_replace 'page' paginator.next_page %}"> Next &rarr; </a></li>
                    </ul>
                  </nav>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% include "alibaba/partials/import_products_modal.html" %}
{% include "alibaba/partials/import_by_url_modal.html" %}
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static 'alibaba/js/alibaba_products.js' %}"></script>
{% endblock %}
