.field-wrapper {
    display: inline;
}
.chosen-choices .search-choice {
    display: none;
}
.unselect {
    font-size: 17px;
}
#vendor-autocomplete .popover {
    max-width: none !important;
}
.popover.bottom > .arrow::after {
    margin-left: -11px;
}
.popover > .arrow::after {
    border-width: 11px;
}

.icheckbox_square-blue {
    position: relative;
}
label.icheck {
    margin-right: 10px;
}
.dd-item {
    display: inline-block;
    margin: 0 5px;
}
.dd-placeholder {
    display: inline-block;
    height: 34px !important;
    line-height: 34px;
    margin: -13px 10px;
    min-height: 10px;
    min-width: 100px;
    padding: 0;
}
.dd-item .dd-handle {
    padding: 0 10px 0 7px;
    margin: 0 0 10px;
}
.dd-handle .icheck {
    font-weight: 400;
    margin: 0;
    max-width: none;
}
.dd-dragel {
    opacity: 0.7;
}
.dd.nestable {
    width: 100%;
    display: inline-block;
}
.dd.nestable .dd-list {
    float: left;
}

a.edit {
    line-height: 35px;
    padding: 0 10px 0 15px;
    outline: none;
}

.icheck.no-margin {
    margin: 0 20px 0 0;
}

.icheck.no-margin .icheckbox_square-blue {
    margin: 0;
}

#title {
    margin: 0; 
    line-height: 18px;
}

#product_price_min {
    position: relative;
}

#product_price_min::after {
    content: "To";
    position: absolute;
    top: 8px;
    right: -6px;
}

.product-title-clone {
    display: none;
}

#order-export-products .product-item {
    padding: 6px 4px 6px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

#order-export-products .product-item:hover {
    background-color: #eff9fd;
}

#order-export-products .product-item .shopify-product:hover{
    cursor: pointer;
}

#order-export-products .product-item .product-thumb {
    width: 30px;
    padding-bottom: 30px;
    border: 1px solid #eee;
}

#order-export-products .product-item .product-thumb img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.btn.delete-found-product {
    margin-bottom: 0;
    color: #ed5565;
    -webkit-transition: color 0.4s;
            transition: color 0.4s;
}

.btn.delete-found-product:hover {
    color: #ad1525;
}

.marg {
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0 60px;
}

.marg span.add-new-block {
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 40px;
    font-size: 10px;
    letter-spacing: 1px;
    color: #c1c1c1;
    background: #fff;
    z-index: 10;
    position: relative;
}

.marg .line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #e9e9e9;
}

.invite-subuser {
    padding: 3px 6px;
}
