.dl-horizontal.col-md-4 dt {
    width: 100px;
}

.dl-horizontal.col-md-4 dd {
    margin-left: 112px;
}

.dl-horizontal .shipping-item {
    float: left;
    width: 50%;
}

.table.line-items thead tr > *{
    white-space: nowrap;
}

.table tbody .order-export-row > td {
    border-top: 1px solid black;
}

.table thead tr > th {
    border-bottom: 1px solid black;
}

.table tbody .order-export-row .collapse-info,
.table thead tr .collapse-info {
    height: 31px;
    line-height: 31px;
    outline: 0 none;
    padding: 0 5px;
}

.table thead tr .collapse-info {
    height: 18px;
    line-height: 18px;
}

.table tbody .order-info {
    padding: 0;
}

.table tbody .order-info .order-info-wrapper {
    padding: 8px;
}

.line-items tr th:nth-child(7) {
    width: 250px;
}

#pagination-limit {
  list-style-type: none;
}

#pagination-limit li {
  float: left;
  display: inline-block;
  margin: 2px 2px 0;
}

#pagination-limit li label {
  display: inline-block;
  padding: 7px 7px 3px;
}

#pagination-limit li a,
#pagination-limit li input {
  display: inline-block;
  padding: 7px 7px 3px;
  border: 1px solid #93c47d;
  color: #93c47d;
  border-radius: 3px;
  max-width: 80px;
  text-align: center;
  -webkit-transition: color 0.4s, background-color 0.4s;
          transition: color 0.4s, background-color 0.4s;
}

#pagination-limit li a:hover {
  background-color: #699a53;
  color: #fff;
}

#pagination-limit li.active a {
  background-color: #699a53;
  color: #fff;
}

#pagination-limit li input {
  color: #396a23;
}

.input-group.tracking-number input.form-control {
    min-width: 150px;
}
