<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-toggle">
            <div class="panel-heading">
                Bundles
            </div>
            <div class="panel-body hidden">
                {% if bundles %}
                    You have the following Bundles:

                    <ul class="list-group">
                    {% for item in bundles %}
                        {% if not item.hidden_from_user %}
                        <li class="list-group-item" style="border:0 none">
                            <b>{{item.title}}</b>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    You don't have any bundle.
                {% endif %}
            </div>
        </div>
    </div>
</div>
