<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Plan
            </div>
            <div class="panel-body">
                <p style="margin:0">Your current Plan:</p>
                <ul class="list-group">
                    <li class="list-group-item" style="border:0 none">
                        <b>
                    {{ user.profile.plan.get_description }}
                    {% if user.profile.plan.is_free %}
                    (<span class="badge badge-primary">Free</span>
                    {% endif %}
                </b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
