<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <p class="title">Your Current Plan:</p>
                <ul class="list-unstyled">
                    <li class="list-group-item" style="border:0 none">
                        <span>
                            {{ user.profile.plan.get_description }}
                            {% if user.profile.plan.is_free %}
                            <span class="badge badge-primary">Free</span>
                            {% endif %}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
