<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Plan
            </div>
            <div class="panel-body">
                <p style="margin:0">You are Subscribed to:</p>
                <ul class="list-unstyled">
                    <li class="list-group-item" style="border:0 none">
                        <b>
                        {{ current_plan.get_description }}
                        </b>

                        {% if not user.profile.plan.is_free %}
                        <button class="btn
                                       btn-success
                                       btn-outline
                                       btn-xs
                                       itooltip
                                       pull-right
                                       m-r-sm
                                       continue-cancel
                                       cancel-shopify-sub-btn"
                            {% if item.plan.is_build or item.plan.is_plod %}
                            data-steps="#modal-keep-my-plan-shopify,#modal-lifetime-use-shopify,#modal-pause-plan-shopify"
                            {% else %}
                            data-steps="#modal-on-grandfathered-plan-shopify,#modal-lifetime-use-shopify,#modal-pause-plan-shopify"
                            {% endif %}
                            title="Cancel Your Subscription"
                            >Cancel</button>
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
