<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Plan
            </div>
            <div class="panel-body">
                <p style="margin:0">You are Subscribed to:</p>
                <ul class="list-unstyled">
                    <li class="list-group-item" style="border:0 none">
                        <b>
                        {{ current_plan.get_description }}
                        </b>

                        {% if not user.profile.plan.is_free %}
                        <button class="btn
                                       btn-success
                                       btn-outline
                                       btn-xs
                                       itooltip
                                       pull-right
                                       m-r-sm
                                       continue-cancel
                                       cancel-shopify-sub-btn"
                            {% if user.profile.plan.is_basic_import or user.profile.plan.is_private_label or user.profile.plan.is_black %}
                            data-steps="#modal-shopify-cancel-call-schedule,#modal-shopify-on-lose-benefit-plan,#modal-shopify-on-free-import-plan,#modal-shopify-delete-data-plan"
                            {% elif user.profile.plan.is_active_free %}
                            data-steps="#modal-shopify-cancel-call-schedule,#modal-shopify-delete-data-plan"
                            {% elif user.profile.plan.is_paused %}
                            data-steps="#modal-shopify-cancel-call-schedule,#modal-shopify-on-grandfathered-plan,#modal-shopify-on-free-import-plan,#modal-shopify-delete-data-plan"
                            {% else %}
                            data-steps="#modal-shopify-cancel-call-schedule,#modal-shopify-on-grandfathered-plan,#modal-shopify-downgrade-to-import-plan,#modal-shopify-on-free-import-plan,#modal-shopify-delete-data-plan"
                            {% endif %}
                            title="Cancel Your Subscription"
                            >Cancel</button>
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
