<div class="row">
    <div class="col-md-12">
        <div class="panel" style="border-radius:8px;">
            <div class="panel-body">
                <p class="title">Your Current Plan:</p>
                <ul class="list-unstyled">
                    {% for item in user.stripesubscription_set.all %}
                        {% with status=item.get_status %}

                        <li class="list-group-item subscription-item" style="border:0 none">
                            {{ item.plan.get_description }}
                                {% if item.is_active %}
                                    <span class="badge badge-primary" style="float: none;">
                                        {{ status.status_str }}
                                    </span>

                                    {% with coupon=user.stripe_customer.get_coupon %}
                                        {% if coupon %}
                                            <span class="badge badge-success" style="float: none;">{{ coupon }}</span>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <span class="badge badge-warning" style="float: none;">
                                        {{ status.status_str }}
                                    </span>
                                {% endif %}

                                {% if status.cancel_at_period_end %}
                                    <span class="badge badge-warning">
                                    Canceled
                                    {% include 'partial/help_tooltip.html' with help="You have canceled your subscription, but it will stay active until the end of the billing period.<br>You will not be billed at the period end." nostyle=True %}
                                    </span>
                                {% endif %}

                            {% if item.can_cancel and not item.plan.is_free and not item.plan.has_installments and not item.plan.is_lifetime_free %}
                            <button class="btn
                                           btn-danger
                                           btn-outline
                                           pull-right
                                           cancel-sub-btn
                                           continue-cancel
                                           itooltip"
                                    data-steps="#modal-cancel-plan-options,#modal-cancel-confirm"
                                    title="Cancel Your Subscription"
                                    data-subscription="{{item.id}}"
                                    data-status="{{status.status}}"
                                    data-period-end="{{item.period_end|date:'SHORT_DATE_FORMAT'}}"
                                    data-plan="{{item.plan.get_description}}"
                                    data-baremetrics="{{ baremetrics_form_enabled }}"
                                    style="margin-top:-15px;">
                                Cancel
                            </button>
                            {% endif %}

                            {% if status.cancel_at_period_end %}
                                <button class="btn btn-success btn-xs pull-right reactivate-sub-btn itooltip"
                                        title="Re-Activate Your Subscription"
                                        data-subscription="{{item.id}}"
                                        data-status="{{status.status}}"
                                        data-period-end="{{item.period_end|date:'SHORT_DATE_FORMAT'}}"
                                        data-plan="{{item.plan.get_description}}">
                                    Activate Subscription
                                </button>
                            {% endif %}
                        </li>
                        {% endwith %}
                    {% endfor %}
                </ul>

                {% if current_plan.is_paused %}
                    <p>To resume your paused account, select a plan from below plans list.</p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
