<div class="row">
    <div class="col-md-12">
        <div style=";">
                <p style="">You're currently logged in as Sub User of:
                    <strong class="m-l">{{ user.profile.subuser_parent.email }}</strong>
                </p>
            <div class="row">
                <div class="col-md-9 col-xs-12 col-sm-12">
                    If you're not an employee of this user and wish to have your own Dropified account without feature limitations please <a href="#">contact support</a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-12">
                    <button class="btn btn-success">Contact Support</button>
                </div>
            </div>
        </div>
    </div>
</div>
