{% load static %}
{% load perms_helper %}
{% load cache %}

<style type="text/css">
    .metismenu i {
        width: 14px;
    }

    .metismenu > li {
        border-left: 4px solid transparent;
    }
</style>


<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="profile-element" style="padding:12px 5px 11px 5px;text-align:center;">
                <a href="{% url 'gkart:index' %}"><img src="{% static 'dropified-logo-white-s.png' %}" style="height:40px" /></a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <strong class="font-bold">{{user.get_full_name|default:'Profile'}}</strong>
                    </a>
                </div>
            </li>
            {% endif %}

            {% if request.user.is_superuser or request.user.is_staff %}
            <li {% if 'acp' in page %}class="active"{% endif %}>
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span class="nav-label">Admin</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
                    <li class="divider"></li>
                    {% endif %}
                    <li {% if page == 'acp_users_list' %}class="active"{% endif %}>
                        <a href="#" onclick="javascript:setTimeout(
                                function(){
                                    var q=prompt('Query Dropified Users');
                                    if(q.length) {
                                        window.location.href='{% url 'acp_users_list' %}?q=' + encodeURIComponent(q.trim());
                                    }
                                }, 10);
                                return false;">Users</a>
                    </li>

                    <li {% if page == 'acp_groups' %}class="active"{% endif %}><a href="{% url 'acp_groups' %}">Plans</a></li>
                    {% if request.user.is_superuser %}
                    <li {% if page == 'acp_graph' %}class="active"{% endif %}><a href="{% url 'acp_graph' %}">Analytics</a></li>
                    <li {% if page == 'acp_pages' %}class="active"{% endif %}><a href="/pages/">Pages</a></li>
                    <li><a href="/admin/article/sidebarlink/">Sidebar Links</a></li>
                    <li><a href="/admin/leadgalaxy/featurebundle/">Bundles</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            <li {% if 'business:' in selected_menu %}class="active"{% endif %}>
                <a href="{% url 'index' %}">
                    <i class="fa fa-line-chart"></i>
                    <span class="nav-label">Manage Business</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level {% if 'business:' not in selected_menu %}collapse{% endif %}">
                    <li {% if selected_menu == 'business:overview' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:dashboard' %}">
                            <!-- <i class="fa fa-briefcase"></i> -->
                            <span class="nav-label">Business Overview</span>
                        </a>
                    </li>

                    {% if request.user|can:'profit_dashboard.view' and request.user|can:'view_profit_dashboard.sub' %}
                    <li {% if selected_menu == 'business:profit_dashboard' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:profits' %}" class="">
                            <!-- <i class="fa fa-calculator"></i> -->
                            <span class="nav-label">Profit Dashboard</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>

            <li {% if 'tools:' in selected_menu %}class="active"{% endif %}>
                <a href="{% url 'gkart:index' %}">
                    <i class="fa fa-file-text-o"></i>
                    <span class="nav-label">Business Tools</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level {% if 'tools:' not in selected_menu %}collapse{% endif %}">
                    <li {% if selected_menu == 'tools:product_feeds' %}class="active"{% endif %}>
                        <a href="{% url 'product_feeds' store_type='gkart' %}">
                            <!-- <i class="fa fa-gift"></i> -->
                            <span class="nav-label">Product Feeds</span>
                        </a>
                    </li>

                    {% if user|can:'phone_automation.use'  %}
                    <li {% if selected_menu == 'tools:phone_automation' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:phone_automation_index' %}">
                            <!-- <i class="fa fa-phone"></i> -->
                            <span class="nav-label">CallFlex</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user|can:'youtube_ads.use' %}
                    <li {% if 'tools:youtube:' in selected_menu %}class="active"{% endif %}>
                        <a href="{% url 'gkart:youtube_ads.views.index' %}">
                            <!-- <i class="fa fa-shopping-cart"></i> -->
                            <span class="nav-label">TubeHunt</span>
                            <span class="fa arrow"></span>
                        </a>

                        <ul class="nav nav-third-level {% if 'youtube' not in selected_menu %}collapse{% endif %}">
                            <li {% if selected_menu == 'tools:youtube:search' %}class="active"{% endif %}>
                                <a href="{% url 'gkart:youtube_ads.views.index' %}">
                                    <!-- <i class="fa fa-search"></i> -->
                                    <span class="nav-label">Search</span>
                                </a>
                            </li>

                            <li {% if selected_menu == 'tools:youtube:related' %}class="active"{% endif %}>
                                <a href="{% url 'gkart:youtube_ads.views.index' %}?r">
                                    <!-- <i class="fa fa-link"></i> -->
                                    <span class="nav-label">Related</span>
                                </a>
                            </li>

                            <li {% if selected_menu == 'tools:youtube:channels' %}class="active"{% endif %}>
                                <a href="{% url 'gkart:youtube_ads.views.channels' %}?r">
                                    <!-- <i class="fa fa-users"></i> -->
                                    <span class="nav-label">Channels</span>
                                </a>
                            </li>

                            <li {% if selected_menu == 'tools:youtube:lists' %}class="active"{% endif %}>
                                <a href="{% url 'gkart:youtube_ads.views.lists' %}?r">
                                    <!-- <i class="fa fa-list"></i> -->
                                    <span class="nav-label">Lists</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                    <li {% if selected_menu == 'tools:product_review' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:article-content-page' slug_article='tools-product-review' %}">
                            <!-- <i class="fa fa-star-half-o"></i> -->
                            <span class="nav-label">Product Reviews</span>
                        </a>
                    </li>

                    <li {% if selected_menu == 'tools:product_bundles' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:article-content-page' slug_article='tools-product-bundles' %}">
                            <!-- <i class="fa fa-cubes"></i> -->
                            <span class="nav-label">Product Bundles</span>
                        </a>
                    </li>

                    <li {% if selected_menu == 'tools:captcha_solver' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:article-content-page' slug_article='tools-captcha-solver' %}">
                            <!-- <i class="fa fa-chain-broken"></i> -->
                            <span class="nav-label">Captcha Solver</span>
                        </a>
                    </li>

                    <li {% if selected_menu == 'tools:image_editor' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:article-content-page' slug_article='tools-image-editor' %}">
                            <!-- <i class="fa fa-file-image-o"></i> -->
                            <span class="nav-label">Image Editor</span>
                        </a>
                    </li>

                    {% if user|can:'aliextractor.use'  %}
                    <li {% if selected_menu == 'tools:aliextractor' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:aliextractor_index' %}">
                            <span class="nav-label">AliExtractor</span> &nbsp;
                            <span class="label  label-default float-right">NEW</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>

            <li {% if 'source:' in selected_menu %}class="active"{% endif %}>
                <a href="{% url 'gkart:index' %}">
                    <i class="fa fa-tag"></i>
                    <span class="nav-label">Source Products</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level {% if 'source:' not in selected_menu %}collapse{% endif %}">
                    <li {% if selected_menu == 'source:full_automation' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:article-content-page' slug_article='source-full-automation' %}">
                            <!-- <i class="fa fa-truck"></i> -->
                            <span class="nav-label">Full Automation Suppliers</span>
                        </a>
                    </li>

                    <li {% if selected_menu == 'source:one_click_support' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:article-content-page' slug_article='source-one-click-support' %}">
                            <!-- <i class="fa fa-magic"></i> -->
                            <span class="nav-label">One Click Supported Websites</span>
                        </a>
                    </li>

                    <li {% if selected_menu == 'source:collections-us' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:products_collections' collection='us' %}">
                            <span class="nav-label">Aliexpress Products in the USA</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li {% if 'products:' in selected_menu %}class="active"{% endif %}>
                <a href="{% url 'gkart:products_list' %}">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-label">Manage Products</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level {% if 'products:' not in selected_menu %}collapse{% endif %}">
                    <li {% if selected_menu == 'products:all' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:products_list' %}">
                            <!-- <i class="fa fa-list"></i> -->
                            <span class="nav-label">All Products</span>
                        </a>
                    </li>

                    {% if user|can:'view_product_boards.sub' %}
                    <li {% if selected_menu == 'products:boards' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:boards_list' %}">
                            <!-- <i class="fa fa-edit"></i> -->
                            <span class="nav-label">Product Boards</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user|can:'price_changes.use' %}
                    <li {% if selected_menu == 'products:alerts' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:product_alerts' %}">
                            <span class="nav-label">Product Alerts</span>
                            {% cache 1800 alert_info user.id %}
                            {% with user.profile.get_new_alerts as alerts %}
                                {% if alerts %}
                                <span class="label label-info pull-right">{{alerts}}</span>
                                {% endif %}
                            {% endwith %}
                            {% endcache %}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>

            <li {% if 'orders:' in selected_menu %}class="active"{% endif %}>
                <a href="{% url 'gkart:orders_list' %}">
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">Manage Orders</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level {% if 'orders:' not in selected_menu %}collapse{% endif %}">
                    {% if request.user|can:'orders.view' %}
                    <li {% if selected_menu == 'orders:all' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:orders_list' %}" class="">
                            <!-- <i class="fa fa-calendar-check-o"></i> -->
                            <span class="nav-label">View Orders</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user|can:'orders.view' %}
                    <li {% if selected_menu == 'orders:tracking' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:orders_track' %}" class="">
                            <!-- <i class="fa fa-truck"></i> -->
                            <span class="nav-label">Manage Tracking</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>

            <li {% if 'account:' in selected_menu %}class="active"{% endif %}>
                <a href="{% url 'gkart:index' %}">
                    <i class="fa fa-institution"></i>
                    <span class="nav-label">Manage Account</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level {% if 'account:' not in selected_menu %}collapse{% endif %}">
                    <li {% if selected_menu == 'account:stores' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:index' %}">
                            <span class="nav-label">Your Stores</span>
                        </a>
                    </li>

                    {% if user|can:'sub_users.use' and not user.is_subuser %}
                    <li {% if selected_menu == 'account:subusers' %}class="active"{% endif %}>
                        <a href="{% url 'gkart:subusers' %}">
                            <span class="nav-label">Users</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li id="menu-profile" {% if selected_menu == 'account:profile' %}class="profile-submenus active"{% endif %}>
                        <a href="{% url 'gkart:user_profile' %}">
                            <span class="nav-label">Profile</span>
                        </a>
                    </li>
                    <li id="profile-billing" class="profile-submenus">
                        <a href="{% url 'gkart:user_profile' %}#billing">
                            <span class="nav-label">Billing</span>
                        </a>
                    </li>
                    <li id="profile-plans" class="profile-submenus">
                        <a href="{% url 'gkart:user_profile' %}#plan">
                            <span class="nav-label">Plans</span>
                        </a>
                    </li>
                    <li id="profile-invoices" class="profile-submenus">
                        <a href="{% url 'gkart:user_profile' %}#invoices">
                            <span class="nav-label">Invoices</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>

            <li {% if 'support:' in selected_menu %}class="active"{% endif %}>
                <a href="{% url 'gkart:index' %}">
                    <i class="fa fa-picture-o"></i>
                    <span class="nav-label">Learn &amp; Get Support</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level {% if 'support:' not in selected_menu %}collapse{% endif %}">
                    <li>
                        <a id="product-update-fx" href="#">
                            <!-- <i class="fa fa-lightbulb-o"></i> -->
                            <span class="nav-label">What’s New?</span>
                        </a>
                    </li>

                    <li {% if selected_menu == 'support:training' %}class="active"{% endif %}>
                        <a href="https://academy.dropified.com/training/">
                            <span class="nav-label">Training Videos</span>
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://chrome.google.com/webstore/detail/dropified-formerly-shopif/aogkkekoinpipjlolpcicigndjlcpdcn">
                            <span class="nav-label">Install Extension</span>
                        </a>
                    </li>

                    <li>
                        <a href="#support">
                            <span class="nav-label">Start Support Chat</span>
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://academy.dropified.com/">
                            <span class="nav-label">Dropified Academy</span>
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://academy.dropified.com/my-dropified-academy-forums/">
                            <span class="nav-label">Forums</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
