{% load perms_helper addons %}
{% load addons_helper %}

<div class="col-lg-4">
    <div class="ibox">
        <a href="{%  url 'addons.details_view' slug=item.slug %}">
            <img class="img-responsive addon-image" width="100%"
                 {% if item.banner_url %}
                    src="{{ item.banner_url }}"
                 {% else %}
                    src="https://via.placeholder.com/400x150?text={{ item.title }}"
                 {% endif %}
                 alt="{{ item.title }}">
        </a>
        <!-- Uncomment when discount code is added
            {% if item.discounted_price %}
            <span class="sale-badge">SALE</span>
            {% endif %}
        -->
        {% if user|can:'addons_edit.use' %}
        <div class="col-md-12 staff-edit-btn">
            <a href="{% url 'addons.edit_view' item.slug %}" class="btn btn-sm btn-outline btn-default">Admin Edit <i class="fa fa-edit"></i> </a>
        </div>
    {% endif %}
        <div class="card-body add-on-color">
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3 class="m-b-none m-t-lg addon-h3">{{ item.title }}</h5>
                    <p class="addon-h4 m-b-heigh m-t-xs">{{ item.short_description|safe }}</p>
                </div>
            </div>

            {% with billing=item.billings|for_user:user|first %}
            <div class="row m-t-md">
                <div class="col-xs-6 text-left">
                    {% if billing.user_price.price_descriptor %}
                    <span class="addon-price">{{ billing.user_price.price_descriptor }}</span>
                    {% else %}
                    <span class="addon-price">{{ billing.user_price.price_prefix }}</span>
                    <span class="addon-unit">{{ billing.user_price.price_sufix }}</span>
                    {% endif %}
                </div>
                <div class="col-xs-6 text-right">
                    <a href="{%  url 'addons.details_view' slug=item.slug %}">
                        <span class="trial-days addon-h4">Add-on Now</span>
                    </a>
                </div>
            </div>
            {% if billing.trial_days_left %}
            <div class="row">
                <div class="col-md-6 text-left compare-at-color">
                   <!-- Uncomment When discount code is added <span class="addon-price">${{ item.monthly_price }}</span><span class="addon-unit">/mo</span>-->
                </div>
                {% if item|trial_days_left:user %}
                <div class="col-md-6 text-right">
                    <p class="m-t-xs addon-h4">{{ billing.trial_days_left }}-Day Free Trial</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
</div>
</div>
