<div class="container">
    <div class="row">
        {% for obj in object.get_key_benefits %}
            <div class="col-md-4 col-xs-12">
                {% if obj.banner %}
                <img class="img-resposive addon-image" src="{{ obj.banner }}" width="100%" alt="{{ obj.title }}" />
                {% endif %}
                <div class=" add-on-color text-center">
                    <p class="key-title">{{ obj.title }}</p>
                    <p class="key-description">{{ obj.description}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
