{% if not user.is_authenticated %}
<div id="addon-choose-plan" class="row text-center">
    <div class="col-md-8">
        <h2><strong>Choose Your Plan!</strong></h2>

        <p class="thin-font">
            Whether you choose our Import Plan or Private Label On Demand plan,
            you'll have the tools to get you started building your eCommerce business.
        </p>

        <a href="https://dropified.com/pricing/" target="_self">
            <span>GET STARTED NOW</span>
        </a>
    </div>
</div>
{% endif %}
