<div class="row">
{#    <div class="form-group col-md-3 text-right">#}
{#        <label for="product-title" style="margin-top:9px">Title</label>#}
{#    </div>#}
    <div class="form-group col-md-12">
        <input class="form-control" id="addon-key-title-{{ benefit_num }}" value="{{ benefit.title|default:'' }}" placeholder="Title"/>
    </div>
</div>

<div class="row">
{#    <div class="form-group col-md-3 text-right">#}
{#        <label for="product-title" style="margin-top:9px">Description</label>#}
{#    </div>#}

    <div class="form-group col-md-12">
        <textarea class="form-control" id="addon-key-description-{{ benefit_num }}" placeholder="Description">{{ benefit.description|default:'' }}</textarea>
    </div>
</div>

<div class="row">
{#    <div class="form-group col-md-3 text-right">#}
{#        <label for="product-title" style="margin-top:9px">Banner</label>#}
{#    </div>#}

    {% if benefit.banner %}
    <div class="m-b-xs m-l">
      Click to see
      <i><a href="{{ benefit.banner }}" target="_blank">current Key Benefit Banner.</a></i>
    </div>
    {% endif %}
    <div class="form-group col-md-12">
        <input type="file" class="form-control" id="addon-key-banner-{{ benefit_num }}" placeholder="Banner" accept="image/gif, image/jpeg, image/jpg, image/png" />
    </div>
</div>
