{% extends "base.html" %}

{% load static %}
{% load perms_helper %}
{% load compress %}

{% block nav %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'addons.list_view' %}">
                    <img style="max-width:125px" src="{% static 'dropified-logo-d.png' %}" alt="Dropified">
                </a>
            </div>
            <a class="btn btn-success btn-rounded navbar-btn navbar-right m-l" href="https://app.dropified.com/">
                {% if user.is_authenticated %}
                My Account
                {% else %}
                Login
                {% endif %}
            </a>
            {% if user|can:'addons_edit.use' %}
            <a href="{% url 'admin:addons_core_addon_add' %}" class="btn btn-success btn-rounded navbar-btn navbar-right"><i class="fa fa-plus"></i> Add Addon</a>
            {% endif %}
            <form class="navbar-form navbar-right" action="{% url 'addons.list_view' %}">
                <div class="form-group">
                    <div class="add-on-color">
                        <input name="title" type="text" id="nav-addon-search" class="form-control" placeholder="Search Addons" value="{{ request.GET.title|default:'' }}">
                       <span class="search-icon fa fa-search"></span>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                {% if user.is_authenticated %}
                <a href="{% url 'myaddons' %} ">My Addons</a>
                {% else %}
                <a href="https://www.dropified.com/">DROPIFIED.COM</a>
                {% endif %}
                </li>
                <li class="dropdown addon-category-dropdown">
                    <a class="btn dropdown-toggle" data-toggle="dropdown">Categories
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for category in active_categories %}
                        <li>
                            <a href="{%  url 'addons.category_view' slug=category.slug %}" class="add-on-color addon-h4" aria-haspopup="true" aria-expanded="false">{{ category.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="http://help.dropified.com/en/articles/4325529-addon-store-faq" target="_blank">FAQs</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block breadcrumb-area %} {% endblock %}
{% block main-nav %}{% endblock %}

{% block page-wrapper-div %}id="page-wrapper" class="white-bg" style="margin: initial"{% endblock %}
{% block extracss %}
{{ block.super }}
<link rel='stylesheet' id='flatsome-googlefonts-css' href='//fonts.googleapis.com/css?family=Poppins%3Aregular%2C700%2Cregular%2C500%7CRoboto%3Aregular%2Cregular&#038;display=swap&#038;ver=3.9' type='text/css' media='all'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css" integrity="sha512-LhZScx/m/WBAAHyiPnM+5hcsmCMjDDOgOqoT9wyIcs/QUPm6YxVNGZjQG5iP8dhWMWQAcUUTE3BkshtrlGbv2Q==" crossorigin="anonymous" />
{% compress css %}
<link href="{% static 'addons/css/addons.css' %}" rel="stylesheet">
{% endcompress %}
<style>
body {
    font-family: Poppins !important;
}
</style>
{% endblock %}
