{% extends "addons/addons_base.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block main-container %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:15px;margin-bottom:30px">
                <h1 class="text-bold">
                    {{category.title}}
                </h1>
                <p>{{category.short_description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                    {% for item in addon_list %}
                        {% include 'addons/partials/addon_card.html' %}
                        {% if forloop.counter|divisibleby:"3" %}
                        </div>
                        <div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>

{% endblock %}


{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha512-aDa+VOyQu6doCaYbMFcBBZ1z5zro7l/aur7DgYpt7KzNS9bjuQeowEX0JyTTeBTcRd0wwN7dfg5OThSKIWYj3A==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'addons/js/addons.js' %}"></script>
{% endblock %}
