{% extends "addons/addons_base.html" %}
{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}
{% load addons_helper %}
{% load widget_tweaks %}

{% block main-container %}

<!--- Hero Section starts here-->
<header class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-container">
                {% if object.categories.all %}
                <div>
                {% for category in object.categories.all %}
                {% if category.is_visible %}
                <a href={% url 'addons.category_view' slug=category.slug %} class="addon-category-list"><span>{{ category.title }}</span></a>
                {% if not forloop.last %}<span>&nbsp;&#124;&nbsp;</span>{% endif %}
                {% endif %}
                {% endfor %}
                </div>
                {% endif %}
                <h1 class="m-b-none add-on-title add-on-color">{{ object.title }}</h1>
                <p class="m-t-xs addon-desc add-on-color">{{ object.short_description }}</p>
                {% with billing=object.billings.active.first|for_user:user|first %}
                <p id="addon-billing"
                   class="add-on-color price-container"
                   data-billing="{{ billing.id }}"
                   data-trial-days="{{ billing.trial_days_left }}"
                   data-billing-title="{{ billing.user_price.get_price_title }}">
                    {% if billing.user_price.price_descriptor %}
                    <span class="addon-price">{{ billing.user_price.price_descriptor }}</span>
                    {% else %}
                    <span class="addon-price">{{ billing.user_price.price_prefix }}</span>
                    <span class="addon-unit">{{ billing.user_price.price_sufix }}</span>
                    {% endif %}
                </p>

                <div>
                    {% if object.id in user_addon_ids and not billing.cancel_at_period_end %}
                    <button class="btn btn-white btn-rounded addon-uninstall btn-width m-b"
                            id="addon-uninstall"
                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Uninstalling"
                            data-title="{{ object.title }}"
                            data-endpoint='{"name": "Uninstall Addon", "target": "uninstall"}'
                            data-addon="{{ object.id }}"
                            data-price="{{ object.monthly_price}}"
                            data-trial="{{object.trial_period_days}}"
                            >
                        <i class="fa fa-minus"></i> Uninstall
                    </button>
                    <p class="m-t-xs heading--3"></p>

                    {% else %}
                        {% if object.action_url %}
                        <a class="btn
                                  btn-outline
                                  btn-default
                                  addon-install
                                  add-on-color"
                           href="{{ object.action_url }}"
                           target="_blank">
                            {{ object.action_name }}
                        </a>
                        {% elif object.limit_addon and not billing.cancel_at_period_end %}
                        <button class="btn-xs addon-install add-on-color"
                                {% if billing.cancel_at_period_end %}
                                id="addon-reinstall"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Re-Activating"
                                {% else %}
                                id="addon-install"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Installing"
                                {% endif %}
                                data-title="{{ object.title }}"
                                data-endpoint='{"name": "Install Addon", "target": "install"}'>
                                <i class="fa fa-plus"></i>
                                {% if billing.cancel_at_period_end %}
                                Re-activate
                                {% else %}
                                {{ object.action_name }}
                                {% endif %}
                        </button>
                        {% elif permission_count == object.permissions.count and not billing.cancel_at_period_end %}
                        <div class="addon-free-trial" style="color: #94c77f">This Addon is already included in your plan</div>
                        {% elif not user.is_authenticated %}
                        <button class="btn-xs
                                  addon-install
                                  add-on-color"
                            data-toggle="modal"
                            data-target="#register"
                            href="#"
                            target="_blank">
                            {{ object.action_name }}
                        </button>
                        {% else %}
                        <button class="addon-install add-on-color"
                                {% if billing.cancel_at_period_end %}
                                id="addon-reinstall"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Re-Activating"
                                {% else %}
                                id="addon-install"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Installing"
                                {% endif %}
                                data-title="{{ object.title }}"
                                data-endpoint='{"name": "Install Addon", "target": "install"}'>
                            <i class="fa fa-plus"></i>
                            {% if billing.cancel_at_period_end %}
                            Re-activate
                            {% else %}
                            {{ object.action_name }}
                            {% endif %}
                        </button>
                        <div width="100%" id="free-trial" class="hidden addon-free-trial add-on-color">Try it for FREE with our <span></span>-Day Free Trial</div>
                        {% if billing.cancel_at_period_end %}
                        <div class="m-t-md">
                          <p id="active-until">
                              Active until {{ billing.cancel_at_period_end.next_billing }}. <a href="#">Undo Cancellation</a>
                          </p>
                        </div>
                        {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if user|can:'addons_edit.use' %}
                    <div class="addon-edit m-t-lg">

                        <a href="{% url 'admin:addons_core_addon_change' object.id %}"
                           class="btn btn-outline btn-default btn-lg btn-block">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </div>
                    {% endif %}

                    <div class="m-t-lg add-on-color addon-supported-platforms">
                        {% if object.store_types %}
                            <p class="addon-support-div">
                                This Addon supports the following store types:
                            </p>
                            {% for store in object.store_types_as_list %}
                                <span class="btn supported-platforms btn-xs">{{ store }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endwith %}
            </div>
            {% if object.youtube_url %}
            <div class="col-md-6 m-t-lg right-container">
                <iframe class="addon-videos" width="555"
                        height="312"
                        src="{{ object.youtube_url }}"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            {% endif %}
            {% if object.vimeo_url %}
            <div class="col-md-6 m-t-lg right-container">
                <iframe class="addon-videos" width="462"
                        height="260"
                        src="{{ object.vimeo_url }}"
                        frameborder="0"
                        allow="autoplay; fullscreen"
                        allowfullscreen>
                </iframe>
            </div>
            {% endif %}
        </div>
    </div>
</header>

<!-- Key Features Section starts here --->
{% include "addons/partials/addon_key_features.html" with item=object %}

<!-- Tab section starts here-->
{% include "addons/partials/addon_tabs.html" with item=object %}

{% include 'addons/partials/bottom_banner.html' %}

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog middle-box" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div>
                        <div>
                            <h1 class="logo-name" style="font-size: 16px">
                                <img src="{% static 'dropified-logo.png' %}" style="width:220px">
                            </h1>
                        </div>

                        <h3 class="welcome-title">Welcome to Dropified!</h3>
                        <p class="welcome-text">It’s time to start automating your drop shipping business and experience how great drop shipping can be.</p>
                        <h5 class="welcome-subtitle font-alt color-green">Login to see it in action!</h5>
                        <form method="POST" class="m-t" role="form" action="{% url 'login' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{% url 'addons.details_view' pk=object.id slug=object.slug %}" />

                            <div class="form-group">
                                {% render_field login_form.username class+="form-control new input-lg" placeholder="Email" type="email" required="" %}
                            </div>
                            <div class="form-group">
                                {% render_field login_form.password class+="form-control new input-lg" placeholder="Password" required="" %}
                            </div>
                            <div style="text-align:center;">
                                <button type="submit" class="big-btn btn btn-primary m-b">Login</button>
                            </div>

                            <a href="/accounts/password/reset/" class="forgot-password">Forgot password?</a>
                            <p class="text-muted text-center no-account">Don't have an account yet?</p>
                            <a class="big-btn btn btn-info" href="{% url 'register' %}">Create an account</a>
                        </form>
                        <div class="m-t copyright"><img src="{% static 'dropified-logo.png' %}" style="width:110px"> &copy; {% now "Y" %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha512-aDa+VOyQu6doCaYbMFcBBZ1z5zro7l/aur7DgYpt7KzNS9bjuQeowEX0JyTTeBTcRd0wwN7dfg5OThSKIWYj3A==" crossorigin="anonymous"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'addons/js/addons.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block extracss %}
{{ block.super }}
<style type="text/css">
.middle-box {
  padding-top: 0;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 8px;
}
.middle-box .logo-name {
  text-align: center;
  margin-top: 0;
}
.middle-box .welcome-title {
  color: #93c47d;
  font-weight: normal;
  font-size: 20px;
  margin: 11px 0 8px 0;
}
.middle-box .welcome-subtitle {
  font-size: 18px;
  margin: 12px 0 20px 0;
}
.middle-box .forgot-password {
  color: #7dabc4;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 11px;
  display: inline-block;
}
.middle-box .forgot-password:hover {
  color: #5b8aa3;
}
.middle-box .no-account {
  color: #575758;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 20px;
}
.middle-box form .form-group input.form-control {
  max-width: 300px;
  margin: 0 auto;
}
.middle-box .copyright {
  margin-top: 18px;
  color: #808080;
}
.middle-box .copyright img {
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}
</style>
{% endblock %}
