{% extends "addons/addons_base.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block main-container %}
    <div class="row gray-bg" style="min-height: 300px">
        <div class="col-md-12 hero-banner">
            <h1>We Created The Foundation.</h1>
            <h1>What Do You Want to Add On Next?</h1>
            <h3>Try any of our add-ons for free with our 7-day free trial!</h3>
        </div>
       {% include 'addons/partials/search_form.html' %}
    </div>

    {% if search and search_results.count %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 m-b-lg m-t" >
                <div class="pull-left">
                    <h2 class="text-bold m-b-none">Search Results</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    {% for result in search_results %}
                        {% if not result.hidden and forloop.counter < 4 %}
                            {% include 'addons/partials/addon_card.html' with item=result %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {% if search %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12 m-b-lg m-t" >
                    <div class="pull-left">
                        <h2 class="text-bold m-b-none">No Results Found</h2>
                    </div>
                </div>
            </div>
        {% endif %}
        {% for category in addon_category %}
            {% if category.addons.all %}
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12 m-b-lg m-t">
                        <div class="pull-left">
                            <h2 class="text-bold m-b-none">{{ category.title }}</h2>
                        </div>
                        <div class="pull-right">
                            <a class="border-box" href="{%  url 'addons.category_view' slug=category.slug %}">
                            SEE MORE
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            {% for item in category.addons.all %}
                                {% if not item.hidden and forloop.counter < 4 %}
                                    {% include 'addons/partials/addon_card.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}


{% endblock %}


{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha512-aDa+VOyQu6doCaYbMFcBBZ1z5zro7l/aur7DgYpt7KzNS9bjuQeowEX0JyTTeBTcRd0wwN7dfg5OThSKIWYj3A==" crossorigin="anonymous"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'addons/js/addons.js' %}"></script>
    {% endcompress %}
{% endblock %}
