{% extends "addons/addons_base.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block main-container %}
<header class="gray-bg header-section">
    <div class="container">
        <div class="row" style="min-height: 300px">
            <div class="col-md-12 hero-banner add-on-color">
                <p>We Created The Foundation.</p>
                <p>What Do You Want to Add On Next?</p>
            </div>
        {% include 'addons/partials/search_form.html' %}
        </div>
    </div>
</header>
<div class="container">
    <!-- Search section starts here -->
    {% if search and search_results.count %}
        <div class="row">
            <div class="col-md-10 col-xs-12 m-b-lg m-t" >
                <div class="pull-left">
                    <h2 class="heading__category m-b-none add-on-color">Search Results</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="row">
                    {% for result in search_results %}
                        {% if not result.hidden %}
                            {% include 'addons/partials/addon_card.html' with item=result %}
                            {% if forloop.counter|divisibleby:"3" %}
                            </div>
                            <div class="row m-t-xl">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {% if search %}
            <div class="row">
                <div class="col-md-12 col-xs-12 m-b-lg m-t" >
                    <div class="">
                        <h2 class="add-on-color m-b-none">No Results were found for your search term. </h2>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Category Main Section starts here-->

        {% for category in addon_category %}
            {% if category.visible_addon|length %}
            <div class="category-container">
                <div class="row add-on-color">
                    <div class="col-md-6">
                        <h2 class="heading__category m-b-none add-on-color">{{ category.title }}</h2>
                    </div>

                    <div class="col-md-6 pull-right text-right">
                        <a class="border-box" href="{%  url 'addons.category_view' slug=category.slug %}">
                        SEE MORE
                        </a>
                    </div>
                    {% if category.short_description %}
                    <div class="col-md-12 addon-h3">{{ category.short_description }}</div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="row m-t-xl">
                    {% for item in category.visible_addon %}
                        {% include 'addons/partials/addon_card.html' %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% include 'addons/partials/bottom_banner.html' %}
</div>
{% endblock %}


{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha512-aDa+VOyQu6doCaYbMFcBBZ1z5zro7l/aur7DgYpt7KzNS9bjuQeowEX0JyTTeBTcRd0wwN7dfg5OThSKIWYj3A==" crossorigin="anonymous"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'addons/js/addons.js' %}"></script>
    {% endcompress %}
{% endblock %}
