{% extends "addons/addons_base.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block main-container %}
    <div class="row m-b-xl">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="text-bold">Edit <a href="{% url 'addons.details_view' slug=object.slug %}">{{ object.title }}</a> Addon</h1>
        </div>
    </div>

    <input id="addon-id" type="hidden" value="{{ object.id }}" />
    <div class="row">
        <div class="form-group col-md-8 col-md-offset-2">
            <label for="addon-title">Title</label>
            <input class="form-control" id="addon-title" value="{{ object.title|default:'' }}" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-8 col-md-offset-2">
            <label for="product-title">Short Description</label>
            <textarea class="form-control" id="addon-short">{{ object.short_description|default:'' }}</textarea>
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <label for="product-title">Full Description</label>
            <textarea class="form-control" id="addon-description" name="addon-description">{{ object.description|default:'' }}</textarea>
        </div>
    </div>

    <div class="row m-t-xl">
        <div class="form-group col-md-8 col-md-offset-2">
            <label>FAQ</label>
            <textarea class="form-control" name="addon-faq" id="addon-faq">{{ object.faq|default:'' }}</textarea>
        </div>
    </div>

    <div class="row m-t-xl">
        <div class="form-group col-md-8 col-md-offset-2">
            <label for="product-title">Key Benfits</label>
        </div>

    <div class="row">
        {% for benifit in object.get_key_benfits %}
            <div class="form-group {% if forloop.first %}col-md-3 col-md-offset-2{% else %}col-md-3{% endif %}">
                {% include 'addons/partials/key_benifit.html' with benifit=benifit benifit_num=forloop.counter0 only %}
            </div>
        {% endfor %}
    </div>

    <div class="row m-t-xl">
        <div class="form-group col-md-4 col-md-offset-2">
            <label for="addon-icon">Icon URL</label>
            {% if object.icon_url %}
            <div class="m-b-xs">
              Click to see
              <i><a href="{{ object.icon_url }}" target="_blank">current Icon.</a></i>
            </div>
            {% endif %}
            <input type="file" class="form-control" id="addon-icon" accept="image/gif, image/jpeg, image/jpg, image/png" />
        </div>

        <div class="form-group col-md-4">
            <label for="addon-banner">Banner Image URL</label>
            {% if object.banner_url %}
            <div class="m-b-xs">
              Click to see
              <i><a href="{{ object.banner_url }}" target="_blank">current Banner.</a></i>
            </div>
            {% endif %}
            <input type="file" class="form-control" id="addon-banner" accept="image/gif, image/jpeg, image/jpg, image/png" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-8 col-md-offset-2">
            <label for="addon-youtube">Youtube URL</label>
            <input class="form-control" id="addon-youtube" value="{{ object.youtube_url|default:'' }}" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-8 col-md-offset-2">
            <label for="addon-vimeo">Vimeo URL</label>
            <input class="form-control" id="addon-vimeo" value="{{ object.vimeo_url|default:'' }}" />
        </div>
    </div>

    <div class="row m-t-xl">
        <div class="form-group col-md-8 col-md-offset-2">
            <label for="addon-categories">Categories</label>
            <select id="addon-categories" class="form-control" multiple>
                {% for category in addon_category %}
                <option value="{{ category.id }}" {% if category in object.categories.all %}selected{% endif %}>{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3 col-md-offset-2">
            <label for="addon-price">Price</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control" id="addon-price" value="{{ object.monthly_price|default:'' }}" />
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="addon-trial-days">Trial Period Days</label>
            <input class="form-control" id="addon-trial-days" value="{{ object.trial_period_days }}" />
        </div>
        <div class="form-group col-md-3">
            <label for="addon-status">Status</label>
            <select id="addon-status" class="form-control">
                <option value="published" {% if not object.hidden %}selected{% endif %}>Published</option>
                <option value="draft" {% if object.hidden %}selected{% endif %}>Draft</option>
            </select>
        </div>
    </div>

    <div class="row m-t-xl">
        <div class="form-group col-md-1 col-md-offset-2">
            <a id="addon-edit-save" href="#" class="btn btn-success btn-lg btn-block">
                <i class="fa fa-save "></i> Save
            </a>
        </div>
    </div>

{% endblock %}


{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha512-aDa+VOyQu6doCaYbMFcBBZ1z5zro7l/aur7DgYpt7KzNS9bjuQeowEX0JyTTeBTcRd0wwN7dfg5OThSKIWYj3A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/ckeditor.js"></script>
    <script type="text/javascript" src="{% static 'addons/js/addons.js' %}"></script>

    <script>
        $(function () {
            setup_full_editor('addon-description');
            setup_full_editor('addon-faq');
        });
    </script>
{% endblock %}
