{% extends "addons/addons_base.html" %}
{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}
{% load addons_helper %}

{% block main-container %}

<!--- Hero Section starts here-->
<header class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-container">
                {% if object.categories.all %}
                <div>
                {% for category in object.categories.all %}
                {% if category.is_visible %}
                <a href={% url 'addons.category_view' slug=category.slug %} target="_blank" class="addon-category-list"><span>{{ category.title }}</span></a>
                {% if not forloop.last %}<span>&nbsp;&#124;&nbsp;</span>{% endif %}
                {% endif %}
                {% endfor %}
                </div>
                {% endif %}
                <h1 class="m-b-none add-on-title add-on-color">{{ object.title }}</h1>
                <p class="m-t-xs addon-desc add-on-color">{{ object.short_description }}</p>
                {% for billing in object.billings|for_user:user %}
                <p id="addon-billing"
                   class="add-on-color price-container"
                   data-billing="{{ billing.id }}"
                   data-trial-days="{{ billing.trial_days_left }}"
                   data-billing-title="{{ billing.user_price.get_price_title }}">
                    {% if billing.user_price.price_descriptor %}
                    <span class="addon-price">{{ billing.user_price.price_descriptor }}</span>
                    {% else %}
                    <span class="addon-price">{{ billing.user_price.price_prefix }}</span>
                    <span class="addon-unit">{{ billing.user_price.price_sufix }}</span>
                    {% endif %}
                </p>
                {% endfor %}
                <div>
                    {% if object.id in user_addon_ids %}
                    <button class="btn {% if details %} btn-lg btn-block {% else %}btn-white btn-rounded{% endif %} {% if xs %}btn-xs{% endif %} addon-uninstall btn-width m-b"
                            id="addon-uninstall"
                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Uninstalling"
                            data-title="{{ object.title }}"
                            data-endpoint='{"name": "Uninstall Addon", "target": "uninstall"}'
                            data-addon="{{ object.id }}"
                            data-price="{{ object.monthly_price}}"
                            data-trial="{{object.trial_period_days}}"
                            >
                        <i class="fa fa-minus {% if not details %}text-danger{% endif %}"></i> Uninstall
                    </button>
                    <p class="m-t-xs heading--3"></p>

                    {% else %}
                        {% if object.action_url %}
                        <a class="btn
                                  btn-outline
                                  btn-default
                                  addon-install
                                  add-on-color"
                           href="{{ object.action_url }}"
                           target="_blank">
                            {{ object.action_name }}
                        </a>
                        {% elif permission_count == object.permissions.count %}
                        <div class="addon-free-trial text-danger">This Addon is already included in your plan</div>
                        {% else %}
                        <button class="{% if xs %}btn-xs{% endif %} addon-install add-on-color"
                                id="addon-install"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Installing"
                                data-title="{{ object.title }}"
                                data-endpoint='{"name": "Install Addon", "target": "install"}'>
                            <i class="fa fa-plus {% if not details %}{% endif %}"></i> {{ object.action_name }}
                        </button>
                        <div width="100%" id="free-trial" class="hidden addon-free-trial add-on-color">Try it for FREE with our <span></span>-Day Free Trial</div>
                        {% endif %}
                    {% endif %}

                    {% if user|can:'addons_edit.use' %}
                    <div class="addon-edit m-t-lg">
                        <a href="{% url 'addons.edit_view' slug=object.slug %}"
                           class="btn btn-outline btn-default btn-lg btn-block">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if object.youtube_url %}
            <div class="col-md-6 m-t-lg right-container">
                <iframe class="addon-videos" width="555"
                        height="312"
                        src="{{ object.youtube_url }}"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            {% endif %}
            {% if object.vimeo_url %}
            <div class="col-md-6 m-t-lg right-container">
                <iframe class="addon-videos" width="462"
                        height="260"
                        src="{{ object.vimeo_url }}"
                        frameborder="0"
                        allow="autoplay; fullscreen"
                        allowfullscreen>
                </iframe>
            </div>
            {% endif %}
        </div>
    </div>
</header>

<!-- Key Features Section starts here --->
{% include "addons/partials/addon_key_features.html" with item=object %}

<!-- Tab section starts here-->
{% include "addons/partials/addon_tabs.html" with item=object %}

{% endblock %}


{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha512-aDa+VOyQu6doCaYbMFcBBZ1z5zro7l/aur7DgYpt7KzNS9bjuQeowEX0JyTTeBTcRd0wwN7dfg5OThSKIWYj3A==" crossorigin="anonymous"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'addons/js/addons.js' %}"></script>
    {% endcompress %}
{% endblock %}
