{% extends "addons/addons_base.html" %}
{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block main-container %}

<!--- Hero Section starts here-->
<header class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-container">
                <h1 class="m-b-none add-on-title add-on-color">{{ object.title }}</h1>
                <p class="m-t-xs addon-desc add-on-color">{{ object.short_description }}</p>
                <p class="add-on-color price-container"><span class="addon-price">${{ object.monthly_price }}</span><span class="addon-unit">/mo</span></p>
                <div>
                    {% include "addons/partials/install_button.html" with item=object details=True %}
                    {% if user|can:'addons_edit.use' %}
                        <div class="addon-edit m-t-lg">
                            <a href={% url 'addons.edit_view' slug=object.slug %}
                                class="btn btn-outline btn-default btn-lg btn-block">
                                <i class="fa fa-pencil "></i> Edit
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if object.youtube_url %}
            <div class="col-md-6 m-t-lg right-container">
                <iframe class="addon-videos" width="555"
                        height="312"
                        src="{{ object.youtube_url }}"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            {% endif %}
            {% if object.vimeo_url %}
            <div class="col-md-6 m-t-lg right-container">
                <iframe class="addon-videos" width="462"
                        height="260"
                        src="{{ object.vimeo_url }}"
                        frameborder="0"
                        allow="autoplay; fullscreen"
                        allowfullscreen>
                </iframe>
            </div>
            {% endif %}
        </div>
    </div>
</header>

<!-- Key Features Section starts here --->
{% include "addons/partials/addon_key_features.html" with item=object %}

<!-- Tab section starts here-->
{% include "addons/partials/addon_tabs.html" with item=object %}

{% endblock %}


{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha512-aDa+VOyQu6doCaYbMFcBBZ1z5zro7l/aur7DgYpt7KzNS9bjuQeowEX0JyTTeBTcRd0wwN7dfg5OThSKIWYj3A==" crossorigin="anonymous"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'addons/js/addons.js' %}"></script>
    {% endcompress %}
{% endblock %}
