{% extends "addons/addons_base.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block main-container %}
<div class="container">
    <div class="row">
        <div class="col-md-12 m-t m-b-lg add-on-color">
            <h1 class="heading__category">My Addons</h1>
            {% if my_addons_count %}
                <p class="addon-h3">Found {{ my_addons_count }}</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for item in user_addons %}
            <div class="col-lg-4">
                <div class="ibox">
                    <a href="{%  url 'addons.details_view' pk=item.id slug=item.slug %}">
                        <img class="img-responsive addon-image" width="100%"
                                {% if item.banner_url %}
                                src="{{ item.banner_url }}"
                                {% else %}
                                src="https://via.placeholder.com/400x150?text={{ item.title }}"
                                {% endif %}
                                alt="{{ item.title }}">
                    </a>
                    <div class="card-body add-on-color">
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <h3 class="m-b-none m-t-lg addon-h3">{{ item.title }}</h5>
                                <p class="addon-h4 m-b-heigh m-t-xs">{{ item.short_description | safe }}</p>
                                <p class="addon-h4">Last Billed at:<strong>
                                    {{ item.addonusage_set.last.billed_at|default:'N/A' }}
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:"3" %}
        </div>
        <div class="row">
        {% endif %}
        {% empty %}
        <h2>No Addons found. Click <a href="{% url 'addons.list_view' %}">here to explore</a></h2>
    {% endfor %}
    </div>
</div>

{% endblock %}

{% block extrajs %}
    {% compress js %}
    <script type="text/javascript" src="{% static 'addons/js/addons.js' %}"></script>
    {% endcompress %}
{% endblock %}
