{% extends "base.html" %}

{% load static %}
{% load template_helper %}
{% load compress %}
{% load url_tools %}

{% block main-container %}
<div class="tab-container separated-tabs">
    {% include "home/partial/tabs/find_products.html" %}

    <ul class="actions">
      <form method="get">
        <li class="hidden-form">
            <a href="javascript:;" class="text-default">
              Filter by
              <span class="dropified-icons di-arrow-down"></span>
            </a>

            <div class="form" style="width: 300px;">
              <input type="hidden" name="f" value="1">
              <div class="form-group">
                <label>Currency</label>
                <select name="currency" class="form-control" id="aliexpress_product_currency">
                  <option {% if request.GET.currency == "USD" or request.GET.currency == "" %} selected {% endif %} value="USD">USD (US Dollar)</option>
                  <option {% if request.GET.currency == "GBP" %} selected {% endif %} value="GBP">GBP (British Pound)</option>
                  <option {% if request.GET.currency == "CAD" %} selected {% endif %} value="CAD">CAD (Canadian Dollar)</option>
                  <option {% if request.GET.currency == "EUR" %} selected {% endif %} value="EUR">EUR (Euro)</option>
                  <option {% if request.GET.currency == "UAH" %} selected {% endif %} value="UAH">UAH (Ukrainian Hryvnia)</option>
                  <option {% if request.GET.currency == "MXN" %} selected {% endif %} value="MXN">MXN (Mexican Peso)</option>
                  <option {% if request.GET.currency == "TRY" %} selected {% endif %} value="TRY">TRY (Turkish Lira)</option>
                  <option {% if request.GET.currency == "RUB" %} selected {% endif %} value="RUB">RUB (Russian Ruble)</option>
                  <option {% if request.GET.currency == "BRL" %} selected {% endif %} value="BRL">BRL (Brazilian Real)</option>
                  <option {% if request.GET.currency == "AUD" %} selected {% endif %} value="AUD">AUD (Australian Dollar)</option>
                  <option {% if request.GET.currency == "INR" %} selected {% endif %} value="INR">INR (Indian Rupee)</option>
                  <option {% if request.GET.currency == "JPY" %} selected {% endif %} value="JPY">JPY (Japanese Yen)</option>
                  <option {% if request.GET.currency == "IDR" %} selected {% endif %} value="IDR">IDR (Indonesian Rupiah)</option>
                  <option {% if request.GET.currency == "SEK" %} selected {% endif %} value="SEK">SEK (Swedish Krona)</option>
                  <option {% if request.GET.currency == "KRW" %} selected {% endif %} value="KRW">KRW (South Korean Won)</option>
                </select>
              </div>
              {% if search_query %}
              <div class="form-group">
                <label style="width: 100%;">Price (USD cent)</label>
                <input name="price_min" type="text" class="form-control" value="{{request.GET.price_min}}" placeholder="Min." style="width: 49%;">
                <input name="price_max" type="text" class="form-control" value="{{request.GET.price_max}}" placeholder="Max." style="width: 49%; margin-left: 2%;">
              </div>
              {% endif %}

              <button class="btn btn-primary m-t pull-right">Apply</button>
            </div>
        </li>
        <li class="hidden-form">
          <a href="javascript:;" class="text-default">
            Sort by
            <span class="dropified-icons di-arrow-down"></span>
          </a>

          <div class="form" style="width: 300px;">
            <div class="form-group">
              <select name="sort" class="form-control">
                <option {% if request.GET.sort == "-order_count" or request.GET.sort == "" %} selected {% endif %} value="-order_count">Orders</option>
                <option {% if request.GET.sort == "order_count" %} selected {% endif %} value="order_count">Fewest Orders</option>
                <option {% if request.GET.sort == "-price" %} selected {% endif %} value="-price">Highest Price</option>
                <option {% if request.GET.sort == "price" %} selected {% endif %} value="price">Lowest Price</option>
              </select>
            </div>
            <button class="btn btn-primary m-t pull-right">Apply</button>
          </div>
        </li>
        <li class="pull-right group border-left">
          <input type="text" class="form-control m-l-sm" value="{{search_query}}"
              name="q" placeholder="Search by name">
          <button type="submit" class="btn btn-primary btn-icon">
            <i class="fa fa-search"></i>
          </button>
        </li>
      </form>
      <li class="pull-right">
        <button type="button" class="btn btn-default"
          data-toggle="modal" data-target="#modal-aliexpress-import-by-url">Import from URL or ID</button>
      </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active">
            <div class="panel-body no-background p-none m-t">
                <div class="row">
                  <div class="col-md-6">
                    <h3 class="aliexpress-category-header">{{category.name}} ({{total_results}} items)</h3>
                  </div>
                </div>
                <div class="find-products-container">
                  <input type="hidden" id="aliexpress_product_id" name="aliexpress_product_id" value="">
                  {% for item in products %}
                  <div class="card" product-id="{{item.id}}">

                    <div class="card-image">
                      <input class="aliexpress-product-select new-layout-hidden" id="product_{{item.id}}" name="product" value="{{item.id}}" type="checkbox"/>
                      <a href="{{ item.original_url }}" target="_blank">
                        <img class="no-img unveil" src="{% static 'img/blank.gif' %}" data-src="{{item.images|force_https}}">
                      </a>
                    </div>
                    <div class="image-overlay">
                      {% if not item.compare_at_price == item.price %}
                      <div class="product-price-compare-at">
                        <span>{% money_format item.compare_at_price currency=item.currency %}</span>
                      </div>
                      <div class="product-price-discount">
                        <span>{{ item.discount }} off</span>
                      </div>
                      {% endif %}
                    </div>
                    <div class="card-content">
                      <a href="{{ item.original_url }}" class="card-title" target="_blank"> {{item.title}}</a>
                      <span class="card-price">{% money_format item.price currency=item.currency %}</span> </br>
                      <span class="card-reviews" data-rating="{{ item.rating }}"></span>
                      <div class="card-orders m-t-xs">
                        <span>Orders</span>
                        <div class="orders-count"> {{item.order_count}}</div>
                      </div>
                      <div class="m-t row">
                        <div class="col-md-4">
                          <button class="btn btn-xs btn-primary aliexpress-import-btn"
                          data-product-id="{{item.id}}" data-category-id="{{category.aliexpress_id}}"
                          data-title="{{item.title}}" data-original-url={{item.original_url}}
                          data-price="{{item.price}}" data-compare-at={{item.compare_at_price}}
                          data-toggle="modal" data-target="#modal-aliexpress-import-products"> Import </button>
                        </div>
                        <div class="col-md-8 text-right">
                          <a href="{{ item.details_url }}" class="btn btn-xs" target="_blank">
                            Details <i class="fa fa-external-link"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% empty %}
                    <h3 class="text-center">No products found yet.</h3>
                    {% if error %}
                    <br />
                    <h4 class="text-center">
                      <b>Error: {{error}}</b>
                    </h4>
                    {% endif %}
                  {% endfor %}
                </div>

                {% if paginator.show %}
                <div class="row">
                  <nav class="text-center">
                    <ul class="pagination pagination-lg">
                      {% if paginator.current_page > 2 %}
                      <li><a href="{% url_replace 'page' 1 %}"> &laquo; First </a></li>
                      {% endif %}
                      {% if paginator.previous_page > 0 %}
                      <li><a href="{% url_replace 'page' paginator.previous_page %}"> &larr; Previous </a></li>
                      {% endif %}
                      <li><a href="{% url_replace 'page' paginator.next_page %}"> Next &rarr; </a></li>
                    </ul>
                  </nav>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% include "aliexpress/partials/import_products_modal.html" %}
{% include "aliexpress/partials/import_by_url_modal.html" %}
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static 'aliexpress/js/aliexpress_products.js' %}"></script>
{% endblock %}
