{% extends "base.html" %}
{% load static %}
{% load template_helper %}
{% load url_tools %}

{% block title %}
    Find Products &middot; AliExpress | Dropified

{% endblock %}

{% block main-container %}
<div class="tab-container separated-tabs">
    {% include "home/partial/tabs/find_products.html" %}

    <ul class="actions">
      <form method="get">
        <li class="hidden-form new-layout-hidden">
            <a href="javascript:;" class="text-default">
              Filter by
              <span class="dropified-icons di-arrow-down"></span>
            </a>
        </li>
        <li class="hidden-form new-layout-hidden">
          <a href="javascript:;" class="text-default">
            Sort by
            <span class="dropified-icons di-arrow-down"></span>
          </a>
        </li>
      </form>
      <li class="pull-right group border-left">
        <form method="get">
          <input type="text" class="form-control m-l-sm" value="{{search_query}}"
              name="q" placeholder="Search by name">
          <button type="submit" class="btn btn-primary btn-icon">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </li>
      <li class="pull-right">
        <button type="button" class="btn btn-default"
          data-toggle="modal" data-target="#modal-aliexpress-import-by-url">Import from URL or ID</button>
      </li>
    </ul>

    <div class="row m-none">
        {% for category in categories %}
        {% if forloop.counter < 18 %}
        <a class="col-lg-2 col-md-4 col-sm-6 col-xs-12 aliexpress-category-menu
            {% if forloop.counter == 1 %}top-left-border{% endif %}
            {% if forloop.counter == 6 %}top-right-border{% endif %}
            {% if forloop.counter == 13 %}bottom-left-border{% endif %}"
            href="{% url 'aliexpress:category_products' category.id %}"
        >
          <span>{{category.name}}</span>
        </a>
        {% elif forloop.counter == 18 %}
        <div class="aliexpress-category-dropdown">
            <a class="col-lg-2 col-md-4 col-sm-6 col-xs-12 aliexpress-category-menu bottom-right-border"
                href="#" data-toggle="dropdown" aria-expanded="false">
                <span>More Categories</span>
            </a>
            <ul class="dropdown-menu">
        {% else %}
            <li>
                <a href="{% url 'aliexpress:category_products' category.id %}">{{category.name}}</a>
            </li>
        {% endif %}
        {% if forloop.last %}
            </ul>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="row m-t">
      <div class="col-md-6">
        <h3 class="aliexpress-category-header">{{total_results}} items</h3>
      </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active">
            <div class="panel-body no-background p-none m-t">
                <div class="find-products-container">
                  <input type="hidden" id="aliexpress_product_id" name="aliexpress_product_id" value="">
                  {% for item in products %}
                  <div class="card" product-id="{{item.id}}">

                    <div class="card-image">
                      <input class="aliexpress-product-select new-layout-hidden" id="product_{{item.id}}" name="product" value="{{item.id}}" type="checkbox"/>
                      <a href="{{ item.original_url }}" target="_blank">
                        <img class="no-img unveil" src="{% static 'img/blank.gif' %}" data-src="{{item.images|force_https}}">
                      </a>
                    </div>
                    <div class="image-overlay">
                      {% if not item.compare_at_price == item.price %}
                      <div class="product-price-compare-at">
                        <span>{% money_format item.compare_at_price %}</span>
                      </div>
                      <div class="product-price-discount">
                        <span>{{ item.discount }} off</span>
                      </div>
                      {% endif %}
                    </div>
                    <div class="card-content">
                      <a href="{{ item.original_url }}" class="card-title" target="_blank"> {{item.title}}</a>
                      <span class="card-price">{% money_format item.price %}</span> </br>
                      <span class="card-reviews" data-rating="{{ item.rating }}"></span>
                      <div class="card-orders m-t-xs">
                        <span>Orders</span>
                        <div class="orders-count"> {{item.orders_placed}}</div>
                      </div>
                      <div class="row m-t">
                        <div class="col-md-4">
                          <button class="btn btn-xs btn-primary aliexpress-import-btn"
                          data-product-id="{{item.id}}" data-category-id="{{item.aliexpress_category_id}}"
                          data-title="{{item.title}}" data-original-url={{item.original_url}}
                          data-price="{{item.price}}" data-compare-at={{item.compare_at_price}}
                          data-toggle="modal" data-target="#modal-aliexpress-import-products"> Import </button>
                        </div>
                        <div class="col-md-8 text-right">
                          <a href="{{ item.details_url }}" class="btn btn-xs" target="_blank">
                            Details <i class="fa fa-external-link"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% empty %}
                    <h3 class="text-center">No products found yet.</h3>
                    {% if error %}
                    <br />
                    <h4 class="text-center">
                      <b>Error: {{error}}</b>
                    </h4>
                    {% endif %}
                  {% endfor %}
                </div>

                {% if paginator.show %}
                <div class="row">
                  <nav class="text-center">
                    <ul class="pagination pagination-lg">
                      {% if paginator.current_page > 2 %}
                      <li><a href="{% url_replace 'page' 1 %}"> &laquo; First </a></li>
                      {% endif %}
                      {% if paginator.previous_page > 0 %}
                      <li><a href="{% url_replace 'page' paginator.previous_page %}"> &larr; Previous </a></li>
                      {% endif %}
                      <li><a href="{% url_replace 'page' paginator.next_page %}"> Next &rarr; </a></li>
                    </ul>
                  </nav>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% include "aliexpress/partials/import_products_modal.html" %}
{% include "aliexpress/partials/import_by_url_modal.html" %}
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static 'aliexpress/js/aliexpress_products.js' %}"></script>
{% endblock %}
