.tooltip {
  left: 120px !important;
}

.table > tbody > tr > td {
  padding: 10px 8px !important;
}

.table > tbody > tr > td.other-costs {
  padding: 2px 8px !important;
}

.table > tbody > tr.odd {
  background-color: #f9f9f9;
}

.table > tbody > tr td.actions a.open-dates,
.table > tbody > tr td.actions a.close-dates {
  padding: 11px;
}

.table > tbody > tr .other-costs-value {
  display: none;
}

.table > tbody > tr.closed .other-costs-form,
.table > tbody > tr.closed .details-link {
  display: none;
}

.table > tbody > tr.closed .other-costs-value {
  display: inline;
}

#details .profit-detail {
  transition: background-color 0.2s;
}

#data-view,
#pagination-limit {
  list-style-type: none;
}

#data-view li,
#pagination-limit li {
  float: left;
  display: inline-block;
  margin: 2px 2px 0;
}

#data-view li label,
#pagination-limit li label {
  display: inline-block;
  padding: 7px 7px 3px;
}

#pagination-limit li a,
#pagination-limit li input {
  display: inline-block;
  padding: 7px 7px 3px;
  border: 1px solid #93c47d;
  color: #93c47d;
  border-radius: 3px;
  max-width: 80px;
  text-align: center;
  -webkit-transition: color 0.4s, background-color 0.4s;
          transition: color 0.4s, background-color 0.4s;
}

#pagination-limit li a:hover {
  background-color: #699a53;
  color: #fff;
}

#pagination-limit li.active a {
  background-color: #699a53;
  color: #fff;
}

#pagination-limit li input {
  color: #396a23;
}

.table.totals {
  margin-bottom: 0;
}

.table.totals td {
  border: none;
}

#facebook-connections .row .facebook-account {
  margin: 0 15px 0 0;
  display: inline-block;
  width: 100%;
}
#facebook-connections .row .facebook-account p {
  display: inline-block;
  margin: 0;
  float: left;
  line-height: 22px;
}
#facebook-connections .row .facebook-account a {
  float: left;
}
#facebook-connections .panel-heading {
  padding: 0;
}
#facebook-connections .panel-heading h5 a {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
}
#facebook-sync button {
  margin-left: 15px;
}
#facebook-connections .panel-heading {
  padding: 0;
}
#facebook-connections .panel-heading h5 a {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
}

#totals-profit,
#totals-other-costs,
#totals-total-costs {
  /*margin-left: -3px;*/
}

.pagination .active span {
  background-color: #eee;
}

.clients-list .tab-pane {
  height: auto;
}

.chart ul.toggle-menu {
  list-style-type: none;
  padding: 0;
}

.chart ul.toggle-menu li {
  float: left;
}

.chart ul.toggle-menu li + li {
  margin-left: 10px;
}

.chart ul.toggle-menu li .toggle-data:hover,
.chart ul.toggle-menu li .toggle-data.active {
  border-color: green;
}

.chart ul.toggle-menu li .toggle-data.active i.fa-check-square-o {
  color: green;
}

.chart ul.toggle-menu li .toggle-data.active i.fa-square-o,
.chart ul.toggle-menu li .toggle-data i.fa-check-square-o {
  display: none;
}

.chart ul.toggle-menu li .toggle-data.active i.fa-check-square-o {
  display: inline-block;
}

#fb-account-select-modal .list-group .list-group-item,
#fb-campaign-select-modal .list-group .list-group-item {
  padding: 0;
}
#fb-account-select-modal .list-group .list-group-item label {
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 0;
  width: 100%;
}
#fb-campaign-select-modal .list-group .list-group-item label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 0;
}
#fb-campaign-select-modal .list-group .list-group-item input[type=checkbox] {
  margin: 0;
}
#fb-campaign-select-modal .list-group .list-group-item .facebook-campaign-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
  margin-right: auto;
}
#fb-campaign-select-modal .list-group .list-group-item .badge {
  min-width: auto;
}

#facebook-sync {
  margin-top: 6px;
}

#details .products span {
  float: left;
  clear: left;
  max-width: 420px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 1px 0;
}

#details-table-wrapper {
  position: relative;
}

#details-loading {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  bottom: 0;
}

#details-loading .sk-spinner {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 25px);
}

.expandable .well {
  /*padding-bottom: 0;*/
}

.expandable .well hr {
  border-top: 1px solid #ccc;
  margin: 3px 0 10px;
}

.expandable .well h3 span {
  border-bottom: 2px dotted #c4cdd5;
  color: #000;
}

.expandable .well .main-value {
  color: #000;
  font-size: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.expandable .well dl {
  margin: 0;
}

.expandable .well dl dt {
  text-align: left !important;
}

.expandable .well dl dd {
  text-align: right !important;
}

.expandable .well .totals-detail {
  height: 160px;
}
