{% extends "base.html" %}

{% load static %}
{% load compress %}

{% block main-container %}
{% with plan_tab=request.GET.plan %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="{% if not plan_tab %}active{% endif %}">
                    <a data-toggle="tab" href="#tab-1" aria-expanded="true">Profile</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#tab-2" aria-expanded="false">Email &amp; Password</a>
                </li>
                {% if not user.is_subuser %}
                <li class="{% if plan_tab %}active{% endif %}">
                    <a data-toggle="tab" href="#tab-3" aria-expanded="false">Plan &amp; Bundles</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane {% if not plan_tab %}active{% endif %}">
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-md-offset-0 ">
                                <form id="user-profile" method="get" class="form-horizontal">
                                    <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control" placeholder="First Name">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-sm-2 control-label">Country</label>
                                        <div class="col-sm-10">
                                            <select id="country" name="country" current="{{user.profile.timezone}}" style="width:350px;">
                                                <option value=""></option>
                                                {% for item in countries %}
                                                <option value="{{item.0}}"
                                                    {% if user.profile.country == item.0 %}selected="selected"{% endif %}
                                                    >{{item.1}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-sm-2 control-label">Time Zone</label>
                                        <div class="col-sm-10">
                                            <select id="timezone" name="timezone" style="width:350px;">
                                                <option value=""></option>
                                                {% for item in timezones %}
                                                <option value="{{item.0}}"
                                                    {% if user.profile.timezone == item.0 %}selected="selected"{% endif %}
                                                    >{{item.1}}</option>
                                                {% endfor %}
                                            </select>
                                            <span>
                                               <i>(Now: {{ now|date:'DATETIME_FORMAT' }})</i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                </form>
                            </div>

                            <div class=" col-md-10 col-md-offset-1 ">
                                  <button id="save-profile" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-md-offset-0 ">
                                <form id="user-email" method="get" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Current Password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" name="password">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-4">
                                            <input type="email" name="email" value="{{ user.email }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">New Password</label>

                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" name="password1">
                                        </div>
                                        <span class="help-block ">(Leave blank if you don't want to change it)</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Confirm Password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" name="password2">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                </form>

                                <div class=" col-md-10 col-md-offset-1 ">
                                      <button id="save-email" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not user.is_subuser %}
                <div id="tab-3" class="tab-pane {% if plan_tab %}active{% endif %}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Plan
                                    </div>
                                    <div class="panel-body">
                                        <p>Your current Plan:</p>
                                        <ul class="list-group">
                                            <li class="list-group-item" style="border:0 none"><b>
                                                {{ user.profile.plan.description|default:user.profile.plan.title }}
                                            </b></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Bundles
                                    </div>
                                    <div class="panel-body">
                                        {% if bundles %}
                                            You have the following Bundles:

                                            <ul class="list-group">
                                            {% for item in bundles %}
                                                {% if not item.hidden_from_user %}
                                                <li class="list-group-item" style="border:0 none">
                                                    <b>{{item.title}}</b>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        {% else %}
                                            You don't have any bundle.
                                        {% endif %}

                                        {% for item in extra_bundles %}
                                            <div class="row">
                                                <div class="col-md-3 m-t-sm">
                                                    <a class="btn btn-default btn-outline btn-sm btn-block text-right" href="{{item.url}}"
                                                       style="background-color:#B95F29;color:#fff;border-color:#AA6B41" target="_blank">
                                                        <i class="fa fa-plus"></i> {{item.title}}
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endwith %}
{% endblock %}


{% block extracss %}
    <link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
{% compress js %}
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'shopified/js/profile.js' %}" type="text/javascript"></script>
{% endcompress %}
{% endblock %}

