{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load template_helper %}
{% load perms_helper %}

{% block main-container %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1" data-auto-hash="" aria-expanded="true">Profile</a>
                </li>
                <li class="email-tab">
                    <a data-toggle="tab" href="#tab-2" data-auto-hash="email" data-auto-click="true" aria-expanded="false">Email &amp; Password</a>
                </li>
                {% if not user.is_subuser %}
                <li class="plan-tab">
                    <a data-toggle="tab" href="#tab-3" data-auto-hash="plan" data-auto-click="true" aria-expanded="false">
                        Plan &amp;
                        {% if stripe_customer %}
                            Subscriptions
                        {% else %}
                            Bundles
                        {% endif %}
                    </a>
                </li>
                {% endif %}

                <li class="billing-tab">
                    <a data-toggle="tab" href="#tab-4" data-auto-hash="billing" data-auto-click="true" aria-expanded="false">Billing</a>
                </li>

                <li class="invoices-tab">
                    <a data-toggle="tab" href="#tab-5" data-auto-hash="invoices" data-auto-click="true" aria-expanded="false">Invoices</a>
                </li>

                {% if request.user|can:'dropwow.use' %}
                <li class="integration-tab">
                    <a data-toggle="tab" href="#tab-6" data-auto-hash="integration" data-auto-click="true" aria-expanded="false">Integrations</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-md-offset-0 ">
                                <form id="user-profile" method="get" class="form-horizontal">
                                    <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control" placeholder="First Name">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-sm-2 control-label">Country</label>
                                        <div class="col-sm-10">
                                            <select id="country" name="country" current="{{user.profile.timezone}}" style="width:350px;">
                                                <option value=""></option>
                                                {% for item in countries %}
                                                <option value="{{item.0}}"
                                                    {% if user.profile.country == item.0 %}selected="selected"{% endif %}
                                                    >{{item.1}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-sm-2 control-label">Time Zone</label>
                                        <div class="col-sm-10">
                                            <select id="timezone" name="timezone" style="width:350px;">
                                                <option value=""></option>
                                                {% for item in timezones %}
                                                <option value="{{item.0}}"
                                                    {% if user.profile.timezone == item.0 %}selected="selected"{% endif %}
                                                    >{{item.1}}</option>
                                                {% endfor %}
                                            </select>
                                            <span>
                                               <i>(Now: {{ now|date:'DATETIME_FORMAT' }})</i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <h4>Company</h4>
                                    <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="company_name" value="{{ user.profile.company.name }}" class="form-control" placeholder="Company Name">
                                        </div>
                                        <div class="col-sm-4">

                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="company_address_line1" value="{{ user.profile.company.address_line1 }}" class="form-control" placeholder="Address line 1">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="company_address_line2" value="{{ user.profile.company.address_line2 }}" class="form-control" placeholder="Address line 2">
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-4">
                                            <input type="text" name="company_city" value="{{ user.profile.company.city }}" class="form-control" placeholder="City">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="company_state" value="{{ user.profile.company.state }}" class="form-control" placeholder="State or Province">
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-4">
                                            <input type="text" name="company_zip_code" value="{{ user.profile.company.zip_code }}" class="form-control" placeholder="Zip or Postal">
                                        </div>
                                        <div class="col-sm-6">
                                            <select id="company_country" name="company_country" current="{{user.profile.timezone}}" style="width:350px;">
                                                <option value=""></option>
                                                {% for item in countries %}
                                                <option value="{{item.0}}"
                                                    {% if user.profile.company.country == item.0 %}selected="selected"{% endif %}
                                                    >{{item.1}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">VAT</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="vat" value="{{ user.profile.company.vat }}" class="form-control" placeholder="VAT Number">
                                        </div>
                                        <div class="col-sm-4">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-sm-6">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="invoice_to_company" {% if user.profile.get_config.invoice_to_company %}checked{% endif %}>Send invoice to company</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                </form>
                            </div>

                            <div class=" col-md-10 col-md-offset-1 ">
                                  <button id="save-profile" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-md-offset-0 ">
                                <form id="user-email" method="get" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Current Password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" name="password">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-4">
                                            <input type="email" name="email" value="{{ user.email }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">New Password</label>

                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" name="password1">
                                        </div>
                                        <span class="help-block ">(Leave blank if you don't want to change it)</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Confirm Password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" name="password2">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                </form>

                                <div class=" col-md-10 col-md-offset-1 ">
                                      <button id="save-email" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not user.is_subuser %}
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% if shopify_apps_customer %}
                                    {% include "partial/plans/shopify.html" with current_plan=user.profile.plan %}
                                {% elif user.stripesubscription_set.exists %}
                                    {% include "partial/plans/stripe.html" with current_plan=user.profile.plan %}
                                {% else %}
                                    {% include "partial/plans/lifetime.html" with current_plan=user.profile.plan %}
                                {% endif %}
                            </div>
                        </div>

                        {% if bundles %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Bundles
                                    </div>
                                    <div class="panel-body">
                                        {% if bundles %}
                                            You have the following Bundles:

                                            <ul class="list-group">
                                            {% for item in bundles %}
                                                {% if not item.hidden_from_user %}
                                                <li class="list-group-item" style="border:0 none">
                                                    <b>{{item.title}}</b>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        {% else %}
                                            You don't have any bundle.
                                        {% endif %}

                                        {% for item in extra_bundles %}
                                            <div class="row">
                                                <div class="col-md-3 m-t-sm">
                                                    <a class="btn btn-default btn-outline btn-sm btn-block text-right" href="{{item.url}}"
                                                       style="background-color:#B95F29;color:#fff;border-color:#AA6B41" target="_blank">
                                                        <i class="fa fa-plus"></i> {{item.title}}
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if shopify_apps_customer %}
                            {% include "partial/plans/shopify_subscription.html" with current_plan=user.profile.plan %}
                        {% elif stripe_customer %}
                            {% include "partial/plans/stripe_subscription.html" with current_plan=user.profile.plan %}
                        {% endif %}

                        {% if user|can:'clippingmagic.use' %}
                            {% include "payments/clippingmagic_plans.html" %}
                        {% endif %}

                        {% if user|can:'aliexpress_captcha.use' %}
                            {% include "payments/captchacredit_plans.html" %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                        {% with source=user.stripe_customer.source %}
                            {% if source %}
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Credit Card</div>
                                        <div class="panel-body">
                                            <p>This account is billed to:
                                                <i class="fa fa-lg fa-cc-{{source.brand|lower}}"></i>
                                                <b>{{source.brand}}</b> ending in <b>{{source.last4}}</b></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 col-md-offset-2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Billing Address</div>
                                        <div class="panel-body">
                                            {{source.name}}<br>
                                            {{source.address_line1}}<br>
                                            {% if source.address_line2 %}
                                                {{source.address_line2}}<br>
                                            {% endif %}
                                            {{source.address_zip}},
                                            {{source.address_state}},
                                            {{source.address_country}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-md-offset-2">
                                    <button class="btn btn-primary add-cc-btn"><i class="fa fa-edit"></i> Update Credit Card</button>
                                </div>

                                <div class="col-md-3 col-md-offset-2 text-right">
                                    <button class="btn btn-danger delete-cc-btn"><i class="fa fa-times"></i> Delete Credit Card</button>
                                </div>
                            </div>
                            {% else %}
                                <p>This account does not have a credit card.</p>
                                {% if extra_bundle.message %}
                                <p>{{extra_bundle.message|safe}}</p>
                                {% endif %}

                                <button class="btn btn-primary add-cc-btn"><i class="fa fa-plus"></i> Add Credit Card</button>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>

                <div id="tab-5" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="invoice-table">Loading invoices...</div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if request.user|can:'dropwow.use' %}
                <div id="tab-6" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-md-offset-0 ">
                                <form id="dropwow-integration" method="get" class="form-horizontal">
                                    <div class="hr-line-dashed"></div>

                                    <h4>Dropwow Account</h4>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-4">
                                            <input type="email" name="dropwow_account_email" value="{{ user.dropwow_account.email }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Api Key</label>

                                        <div class="col-sm-4">
                                            <input type="password" name="dropwow_account_api_key" value="{{ user.dropwow_account.api_key }}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                </form>

                                <div class=" col-md-10 col-md-offset-1 ">
                                      <button id="save-dropwow-integration" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'payments/billing_modal.html' %}
{% include 'payments/pay_now_modal.html' %}
{% include 'payments/subscription_cancel.html' %}

{% endblock %}

{% block extracss %}
{% compress css %}
    <link href="{% static 'shopified/css/payment.css' %}" rel="stylesheet">
    <style type="text/css">
        .sa-placeholder {
            background-image: url("{% static 'dropified-icon.png' %}") !important;
            background-size: 100% !important;
            background-repeat: no-repeat !important;
            background-color: #fff !important;
            border: none !important;
        }
    </style>
{% endcompress %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
    var config = {
        'customer_source': '{% url "stripe_subscription.views.customer_source" %}',
        'customer_source_delete': '{% url "stripe_subscription.views.customer_source_delete" %}',
        'subscription_trial': '{% url "stripe_subscription.views.subscription_trial" %}',
        'subscription_plan': '{% url "stripe_subscription.views.subscription_plan" %}',
        'subscription_cancel': '{% url "stripe_subscription.views.subscription_cancel" %}',

        'shopify_plan': '{% url "shopify_subscription.views.subscription_plan" %}',

        'stripe': '{% app_setting "STRIPE_PUBLIC_KEY" %}',
    };
</script>

{% compress js %}
    <script src="{% static 'libs/bower_components/jquery.payment/lib/jquery.payment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'shopified/js/profile.js' %}" type="text/javascript"></script>
    <script src="{% static 'shopified/js/payment.js' %}" type="text/javascript"></script>
    <script src="{% static 'shopified/js/invoices.js' %}" type="text/javascript"></script>
{% endcompress %}

{% endblock %}
