<div class="_ibox-content leftnav">
  <h5 class="content-tittle">Numbers</h5>
  <div>
    <a href="{% url template_config.url.namespace|add:'phone_automation_index' %}"
      class="btn btn-default btn-adjust {% if 'phone_automation_index' in page %}btn-selected-adjust{% endif %}">
      My Numbers
    </a>
  </div>

  <div>
    <a href="{% url template_config.url.namespace|add:'phone_automations_index' %}"
      class="btn btn-default btn-adjust {% if 'phone_automations_index' in page %}btn-selected-adjust{% endif %}">
      My CallFlows
    </a>
  </div>

  <h5 class="content-tittle">Activity</h5>
  <div>
    <a href="{% url template_config.url.namespace|add:'phone_automation_call_logs' %}"
      class="btn btn-default btn-adjust {% if 'phone_automation_call_logs' in page %}btn-selected-adjust{% endif %}">
      Call Logs
    </a>
  </div>

  <h5 class="content-tittle">Reports</h5>
  <div>
    <a href="{% url template_config.url.namespace|add:'phone_automation_reports_numbers' %}"
      class="btn btn-default btn-adjust {% if 'phone_automation_reports_numbers' in page %}btn-selected-adjust{% endif %}">
      USAGE BY NUMBER
    </a>
  </div>

  <div>
    <a href="{% url template_config.url.namespace|add:'phone_automation_reports_companies' %}"
      class="btn btn-default btn-adjust {% if 'phone_automation_reports_companies' in page %}btn-selected-adjust{% endif %}">
      USAGE BY COMPANY
    </a>
  </div>

	<h5 class="content-tittle">Notifications</h5>
  <div>
    <a href="{% url template_config.url.namespace|add:'phone_automation_notifications_alerts' %}"
      class="btn btn-default btn-adjust {% if 'phone_automation_notifications_alerts' in page %}btn-selected-adjust{% endif %}">
      Alerts
    </a>
  </div>

  <div>
    <a href="{% url template_config.url.namespace|add:'phone_automation_notifications_summaries' %}"
      class="btn btn-default btn-adjust {% if 'phone_automation_notifications_summaries' in page %}btn-selected-adjust{% endif %}">
      Summaries
    </a>
  </div>

  <h5 class="content-tittle">Account</h5>
  <div>
    <a href="{% url template_config.url.namespace|add:'phone_automation_companies_index' %}"
      class="btn btn-default btn-adjust {% if 'phone_automation_companies_index' in page %}btn-selected-adjust{% endif %}">
      My Companies
    </a>
  </div>

  <div>
    <a href="{% url template_config.url.namespace|add:'subusers' %}"
      class="btn btn-default btn-adjust {% if 'subusers' in page %}btn-selected-adjust{% endif %}">
      Users
    </a>
  </div>

  <div>
    <a href="{% url template_config.url.namespace|add:'user_profile' %}?callflex_anchor#plan"
      class="btn btn-default btn-adjust ">
      Billing
    </a>
  </div>

</div>
