{% extends 'email_base.html' %}

{% block email-content %}
    <p><strong>A request has been received to change the password for your Dropified account.</strong></p>

    <p class="text-center"><a href="https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="box-sizing: border-box; border-color: #348eda; font-weight: 400; text-decoration: none; display: inline-block; margin: 0; color: #ffffff; background-color: #348eda; border: solid 1px #348eda; border-radius: 2px; cursor: pointer; font-size: 14px; padding: 12px 45px;" moz-do-not-send="true">Reset Password</a></p>

    <p>If you did not initiate this request, please contact us immediately at support@dropified.com. </p>

{% endblock %}
