
<div class="comment-box">
    <div class="header">
        <!--
        <div class="title">
            <h4><?=$comment['comment_title'];?></h4>
        </div>
        -->

        <div class="container-fluid info">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    بواسطة
                    <span class="sender">
                        <a herf="">{{ comment.author.username }}</a>
                    </span>

                    <span class="date">{{ article.created_at|date:"Y/m/d H:i" }}</span>

                </div>

                <div class="col-xs-4 col-md-6 text-left">
                    {% if user.is_staff %}
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-remove"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        {{ comment.body|safe }}



        <div class="points">
            {% if comment.votes > 0 %}
            <span class="vote-value label label-success" comment-id="{{ comment.pk }}" article-id="{{ comment.article.pk }}">{{ comment.votes }}+</span>
            {% elif comment.votes < 0 %}
            <span class="vote-value label label-warning" comment-id="{{ comment.pk }}" article-id="{{ comment.article.pk }}">{{ comment.votes }}</span>
            {% else %}
            <span class="vote-value label label-default" comment-id="{{ comment.pk }}" article-id="{{ comment.article.pk }}">{{ comment.votes }}</span>
            {% endif %}

            <span class="vote vote-up glyphicon glyphicon-chevron-up" comment-id="{{ comment.pk }}" article-id="{{ comment.article.pk }}"></span>
            <span class="vote vote-down glyphicon glyphicon-chevron-down" comment-id="{{ comment.pk }}" article-id="{{ comment.article.pk }}"></span>

            <a  href="#comment_replay" class="btn btn-default btn-xs comment_replay" comment-id="{{ comment.pk }}">
                <i class="fa fa-share"></i> رد
            </a>
        </div>
    </div>

    {% for child in comment.childs %}
    <div class="replay">
        {% with comment=child template_name="comment/view.html" %}
            {% include template_name %}
        {% endwith %}
    </div>
    {% endfor %}
</div>
