{% extends "product_common/tab_view_base.html" %}

{% block tab_content %}

<div class="row">
  {% for product in products %}
  <div class="col-xs-12 col-md-3">
    <div class="ibox">
      <div class="ibox-content product-box" product-id="{{product.id}}" product-title="{{product.title}}">
        <div class="product-imitation pls">
          <a href="#">
            <img src="{{ product.thumbnail }}">
          </a>
        </div>
        <div class="product-desc">
          <span class="product-price">${{ product.cost_price }}</span>
          <small class="text-muted">{{ product.category }}</small>
          <a href="#" class="product-name">{{ product.title }}</a>
          <div class="small m-t-xs">{{ product.description_short }}</div>
          <div class="m-t row">
            <div class="col-md-4">
              <a href="{{ product.get_url }}" class="btn btn-xs btn-outline btn-primary"> View <i class="fa fa-long-arrow-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
</div>
<div>No products yet. Add <a href="{{ add_new_product_url }}">new</a>.</div>
{% endfor %}

{% endblock %}
