{% load static %}

<div id="modal-billing" class="modal fade inspectlet-sensitive" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enter your payment information</h4>
            </div>
            <div class="modal-body">
                {% with source=user.stripe_customer.source %}
                <form role="form" id="billing-details-form" method="POST">
                    <h3>Payment Info</h3>
                    {% include 'payments/credit_card_form.html' %}

                    <h3>Billing Address</h3>
                    {% include 'payments/billing_address_form.html' %}
                </form>
                {% endwith %}
            </div>
            <div class="modal-footer">
                <img src="{% static 'img/stripe-powered.svg' %}" alt="Powered by Stripe" class="pull-left">
                <button type="button" class="btn btn-outline btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i> Cancel</button>

                <button class="btn btn-primary save-details" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Saving">
                    <i class="fa fa-save"></i> Save Details</button>
              </div>
        </div>
    </div>
</div>
