{% load template_helper %}
{% load perms_helper %}

<div class="panel panel-default callflex-anchor">
    <div class="panel-heading">
        Manage CallFlex Subscriptions
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3" >
                <span class="">
                    <b>CallFlex Minutes Usage:</b>
                </span>
            </div>

            <div class="col-md-3" >

                <span>
                    <b>{{ callflex_month_totals_tollfree|default:0|sec_to_min }}</b>  /
                    {% if callflex_month_limit_tollfree is False %}
                        <span>Unlimited Minutes</span>
                    {% else %}
                       <b>{{ callflex_month_limit_tollfree|default:0|sec_to_min }}</b> mm:ss
                    {% endif %}

                </span> <b>( Toll-Free )</b> <br>

                <span>
                    <b>{{ callflex_month_totals_local|default:0|sec_to_min }}</b>  /
                    {% if callflex_month_limit_local is False %}
                        <span>Unlimited Minutes</span>
                    {% else %}
                       <b>{{ callflex_month_limit_local|default:0|sec_to_min }}</b> mm:ss
                    {% endif %}

                </span> <b>( Local )</b>
            </div>

            <div class="col-md-3" >
                <span class="">
                    <b>Phone Number Usage:</b>
                </span>
            </div>

            <div class="col-md-3" >

                <span>
                    <b>
                        {{callflex_phonenumber_usage_tollfree.used}}
                            /
                        {% if callflex_phonenumber_usage_tollfree.total is False %}
                            <span>Unlimited</span>
                        {% else %}
                            {{ callflex_phonenumber_usage_tollfree.total}}
                        {%  endif %}
                    </b>
                </span> <b>( Toll-Free )</b> <br>

                <span>
                    <b>
                        {{callflex_phonenumber_usage_local.used}}
                            /
                        {% if callflex_phonenumber_usage_local.total is False %}
                            <span>Unlimited</span>
                        {% else %}
                            {{ callflex_phonenumber_usage_local.total}}
                        {%  endif %}
                    </b> <b>( Local )</b>

                </span> <br>
            </div>

        </div>

        {% comment %}
        <div class="row m-t flex-group">
            <div class="col-md-3 ">
                <label for="callflexcredit_plan">Purchase Minutes (one-time):</label>
            </div>

            <div class="col-md-3">
                <select class="form-control" id="callflexcredit_plan"
                        name="callflexcredit_plan">
                    <option value="">Select Product</option>
                    {% for item in callflexcredit_plans %}
                        <option value="{{item.id}}" data-amount="{% money_format item.amount %}"
                                data-credits="{{item.allowed_credits}}">
                            {{item.allowed_credits}} Minutes / {% money_format item.amount %}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2" >
                <button class="btn btn-primary" id="renew_callflexcredit"
                        data-title="CallFlex Credits" data-cc="{{user.have_billing_info|lower}}"
                        data-shopify="{{shopify_apps_customer|lower}}">Purchase</button>
            </div>

            <div class="col-md-4">
                Extra minutes ara aplying to current month only.
            </div>
        </div>


        <div class="row m-t flex-group">
            <div class="col-md-3 ">
                <label for="callflexcredit_plan">Purchase/Switch Callflex :</label>
            </div>

            <div class="col-md-3">
                <select class="form-control" id="callflexnumber_plan"
                        name="callflexnumber_plan">
                    <option value="">Select Product</option>
                    {% for item in callflexnumber_plans %}
                        <option value="{{item.id}}" data-amount="{% money_format item.amount %}"
                                data-credits="{{item.credits}}">
                            {{item.name}} ( {% money_format item.amount %} / month )
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2" >
                <button class="btn btn-primary" id="renew_callflexnumber"
                        data-title="CallFlex Phone Number" data-cc="{{user.have_billing_info|lower}}"
                        data-shopify="{{shopify_apps_customer|lower}}">Purchase</button>
            </div>

            <div class="col-md-4">
                Each extra number includes {{ callflexnumber_minutes }} minutes per month
            </div>
        </div>
        {% endcomment %}
        {% if callflex_extranumber_subscriptions.count > 0 %}
            <br>
            <p style="margin:0">Your Current CallFlex Subscriptions:</p>

            <ul class="list-unstyled">
                {% for item in callflex_extranumber_subscriptions %}
                    {% with status=item.get_status %}

                    <li class="list-group-item" style="border:0 none">
                        <b>
                        {{ item.custom_plan.name }}
                            {% if item.is_active %}
                                <span class="badge badge-primary">
                                    {{status.status_str}}
                                </span>
                            {% else %}
                                <span class="badge badge-warning">
                                    {{status.status_str}}
                                </span>
                            {% endif %}

                            {% if status.cancel_at_period_end %}
                                <span class="badge badge-warning">
                                Cancelled
                                {% include 'partial/help_tooltip.html' with help="You have canceled your subscription, but it will stay active until the end of the billing period.<br>You will not be billed at the period end." nostyle=True %}
                                </span>
                            {% endif %}
                        </b>

                        {% if status.status == 'active' or status.status == 'trialing' or status.status == 'past_due' and not item.is_free %}
                        <button class="btn btn-danger btn-outline btn-xs pull-right cancel-sub-btn itooltip"
                                title="Cancel This Subscription"
                                data-subscription="{{item.id}}"
                                data-subscription-type="custom"
                                data-status="{{status.status}}"
                                data-period-end="{{item.period_end|date:'SHORT_DATE_FORMAT'}}"
                                data-plan="{{item.custom_plan.name}}">
                            {# <i class="fa fa-times"></i>  #}
                            Cancel
                        </button>
                        {% endif %}
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        {% else %}
            <br>
            <p style="margin:0">You do not have any CallFlex Subscriptions:</p>
        {%  endif %}



        {% include "payments/callflex_plans_selection.html" %}






    </div>
</div>
}