{% load template_helper %}

<div class="panel panel-default">
    <div class="panel-heading">
        Manage ClippingMagic Credits
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3" >
                <span class="">
                    <b>Remaining Credits:</b>
                </span>
            </div>

            <div class="col-md-3" >
                <span>
                    <b>{{clippingmagic.remaining_credits|default:"0"}}</b>
                    Credit{{ clippingmagic.remaining_credits|pluralize }}
                </span>
            </div>
        </div>

        <div class="row m-t flex-group">
            <div class="col-md-3">
                <label for="clippingmagic_plan">Purchase Credits:</label>
            </div>

            <div class="col-md-3">
                <select class="form-control" id="clippingmagic_plan"
                        name="clippingmagic_plan">
                    <option value="">Select Credits</option>
                    {% for item in clippingmagic_plans %}
                        <option value="{{item.id}}" data-amount="{% money_format item.amount %}"
                                data-credits="{{item.allowed_credits}}">
                            {{item.allowed_credits}} Credits / {% money_format item.amount %}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2" >
                <button class="btn btn-primary" id="renew_clippingmagic"
                        data-title="ClippingMagic Credits" data-cc="{{user.have_billing_info|lower}}"
                        data-shopify="{{shopify_apps_customer|lower}}">Purchase</button>
            </div>
        </div>
    </div>
</div>
