{% if invoices %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="invoice-table-body">
        {% for invoice in invoices %}
            {% if invoice.total %}
                <tr>
                    <td  style="width: 70%">
                        <a href="{% url 'user_invoices' invoice.id %}">
                            {{ invoice.date|date:'M. d, Y' }}
                        </a>

                        [<a href="{% url 'user_invoices_download' invoice.id %}"
                           title="Download invoice">PDF</a>]
                    </td>
                    <td style="white-space: nowrap: width: 10%">
                        ${{ invoice.total }}
                    </td>
                    <td style="white-space: nowrap: width: 10%" class="text-left">
                        {% if invoice.paid %}
                            <i class="text-success fa fa-fw fa-check"></i> Paid
                        {% elif not invoice.attempted %}
                            <i class="fa fa-fw fa-clock-o"></i> Pending
                        {% else %}
                            <i class="text-danger fa fa-fw fa-close"></i> Past Due
                        {% endif %}
                    </td>
                    <td style="white-space: nowrap">
                        {% if not invoice.paid and not invoice.closed and invoice.attempted %}
                        <a
                            class="btn btn-default btn-outline btn-xs pay-invoice-link"
                            data-invoice-pay-url="{% url 'invoice_pay' invoice.id %}"
                        >Pay Now</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tbody>
    </table>
    <p class="text-center">
        <a id="more-invoices"></a>
    </p>
{% endif %}
