<div id="modal-pause-account-shopify" class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pause your account</h4>
            </div>
            <div class="modal-body" style="padding:10px">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            If you need to pause your Dropified account temporarily, we can save your data and keep all of your stores and accounts connected for <b>$12/month</b>.
                            You can select a new plan at any time to activate your account again.
                        </p>

                        <p>
                            When you choose the Pause Plan, you will still have access to:
                            <ul>
                                <li>All of your store data, so it will be kept safe for when you’re ready to re-start your Dropified account again…</li>
                                <li>The Dropified Academy where you can learn everything you need for running a successful drop shipping business…</li>
                                <li>The AliExtractor software where you can search for hot new products to sell…</li>
                                <li>The ability to add up to 1000 products to Dropified (although there will be no auto order feature or store connection)… allowing you to have products ready to sell when you decide to go live again…</li>
                                <li>Up to 50 Product Boards so you can organize your products as you research them…</li>
                                <li>The CallFlex phone system so you can organize your support call systems for when you're ready to re-launch your store again…</li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-success pull-left" data-dismiss="modal">
                    No, keep my account active</button>

                <button type="button" class="btn btn-outline btn-default btn-danger confirm-pause-btn-shopify" data-plan="{{shopify_paused_plan.id}}">
                    Yes, pause my account</button>
              </div>
        </div>
    </div>
</div>
