{% if last_charges %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Refunded / Dispute</th>
            <th>Status</th>
            <th>Invoice</th>
            <th>Receipt</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for i in last_charges %}
            <tr
                    {% if i.status == 'succeeded' and not i.dispute %}
                        {% if i.amount_refunded %}
                            style="color: #172386"
                        {% else %}
                            style="color: #28901d"
                        {% endif %}
                    {% endif %}
                            {% if i.status == 'failed' %}style="color: #af3a3a"{% endif %}
            >
                <td><span class="itooltip" title="{{ i.date }}">{{ i.date_str }}</span></td>
                <td>{{ i.amount }}</td>
                <td>
                    {{ i.amount_refunded|default:'' }}
                </td>
                <td>
                    {{ i.status|title }}

                    {% if i.failure_message %}
                        - Reason: {{ i.failure_message|title }}
                    {% endif %}

                    {% if i.dispute %}
                        - Dispute: {{ i.dispute.status }}
                    {% endif %}

                </td>
                <td>
                    <a href="{{ i.invoice.url }}" target="_blank">{{ i.invoice.id }}</a>
                </td>
                <td>
                    {% if i.receipt_url %}
                        <a href="{{ i.receipt_url }}" target="_blank">{{ i.receipt_number|default:'View Receipt' }}</a>
                    {% endif %}
                </td>
                <td>
                    <a href="#" class="btn btn-xs btn-warning refund-charge-btn"
                       {% if i.amount == i.amount_refunded %}disabled{% endif %}
                       user-id="{{ target_user.id }}"
                       charge-id="{{ i.id }}"
                       refund-amount="{{ i.amount }}"
                       refunded-amount="{{ i.amount_refunded }}">
                        Refund
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
