{% extends "base.html" %}

{% load static %}
{% load perms_helper %}
{% load compress %}

{% block extrajs %}
    <script type="text/javascript">
        window.foundProducts = {{ found_products|safe }};
    </script>

    {% compress js %}
    <script type="text/javascript" src="{% static 'libs/bower_components/nestable-fork/dist/jquery.nestable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bower_components/clockpicker/dist/bootstrap-clockpicker.min.js?1' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bower_components/moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bower_components/handlebars/handlebars.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shopified/js/shopify_product_selector.js' %}"></script>
    <script type="text/javascript" src="{% static 'order_exports/js/fields.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block extracss %}
    <link href="{% static 'libs/bower_components/clockpicker/dist/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'order_exports/css/fields.css' %}" rel="stylesheet">
{% endblock %}


{% block main-container %}
<form method="post" class="well-box form form-horizontal" role="form" action="{% url 'order_exports_edit' order_export_id=order_export.pk %}">
    {% csrf_token %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 id="title">Exports<small></small></h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="ibox-content">

            <div class="form-group">
                <label for="store" class="col-sm-2 control-label">Step 1: Choose your store</label>
                <div class="col-sm-10">
                    <select class="form-control" name="store" autocomplete="off">
                        {% for item in user.profile.get_shopify_stores %}
                        <option value="{{ item.id }}"{% if order_export.store.id == item.id %} selected="selected"{% endif %}>{{ item.title }}</option>
                        {% endfor %}
                    </select>
                    <p class="help-block">Choose the store you would like to export orders from.</p>
                </div>
            </div>

            <div class="form-group{% if form.schedule.errors %} has-error{% endif %}">
                <label for="schedule" class="col-sm-2 control-label">Step 2: Select export time</label>
                <div id="schedule" class="col-sm-10">
                    <div class="checkbox" style="padding: 0;">
                        <label class="icheck" style="padding: 0;">
                            <input type="checkbox" name="previous_day"{% if form.previous_day.value %} checked="checked"{% endif %} autocomplete="off">
                            Only previous day orders
                        </label>
                    </div>

                    <div class="daily"{% if not form.previous_day.value %} style="display: none;"{% endif %}>
                        <div class="input-group clock">
                            <input type="text" class="form-control" name="schedule" value="{{ order_export.schedule|date:"H:i" }}" autocomplete="off">
                            <span class="input-group-addon">
                                <span class="fa fa-clock-o"></span>
                            </span>
                        </div>
                        <p class="help-block">What time would you like the export notification to be sent?</p>
                    
                        {% for error in form.schedule.errors %}
                        <p class="help-block">
                            {{ error }}
                        </p>
                        {% endfor %}
                    </div>

                    <div class="range"{% if form.previous_day.value %} style="display: none;"{% endif %}>
                        <input class="form-control" type="text" name="daterange" autocomplete="off" placeholder="Select date range"{% if order_export.filters.created_at_min %} value="{{ order_export.filters.created_at_min|date:'m/d/Y' }} - {{ order_export.filters.created_at_max|date:'m/d/Y' }}"{% endif %} />
                        <p class="help-block">Chose the created date for the orders being exported.</p>
                        {% for error in form.daterange.errors %}
                        <p class="help-block">
                            {{ error }}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group{% if form.starting_at.errors %} has-error{% endif %}"{% if not form.previous_day.value %} style="display: none;"{% endif %}>
                <label for="email" class="col-sm-2 control-label">Starting At</label>
                <div class="col-sm-10">
                    <div class="starting-at-input{% if not form.starting_at.value %} hidden{% endif %}">
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control" name="starting_at" value="{{ form.starting_at.value|date:"m/d/Y"|default:"" }}">
                        </div>
                    </div>
                    <div class="checkbox" style="padding: 0;">
                        <label class="icheck" style="padding: 0;">
                            <input type="checkbox" name="starting_at_boolean"{% if not form.starting_at.value %} checked="checked"{% endif %} autocomplete="off">
                            Get orders created at the time this order export was created.
                        </label>
                    </div>
                    {% for error in form.starting_at.errors %}
                    <p class="help-block">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group{% if form.receiver.errors %} has-error{% endif %}"{% if not form.previous_day.value %} style="display: none;"{% endif %}>
                <label for="email" class="col-sm-2 control-label">Receiver E-mail(s)</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="Enter email" class="form-control" name="receiver" value="{{ order_export.receiver }}">
                    <div class="checkbox" style="padding: 0;">
                        <label class="icheck" style="padding: 0;">
                            <input type="checkbox" name="copy_me"{% if form.copy_me.value %} checked="checked"{% endif %} autocomplete="off">
                            Copy me on order export notification emails.
                        </label>
                    </div>
                    <p class="help-block">For more than one e-mail separate them using comma (,).</p>
                    {% for error in form.receiver.errors %}
                    <p class="help-block">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea name="description" class="form-control">{{ order_export.description }}</textarea>
                </div>
            </div>

            <fieldset>
                <legend>Headers</legend>
                <div class="fields-selection-wrapper">
                    <div class="form-group{% if form.fields.errors %} has-error{% endif %}">
                        <label for="fields" class="col-sm-2 control-label">Fields</label>
                        <div id="fields" class="col-sm-10 fields">
                            <div class="dd nestable">
                                <ol class="dd-list">
                                    {% for field in fields_choices %}
                                    <li data-id="fields_{{ field.0 }}" class="dd-item">
                                        <div class="dd-handle">
                                            <label class="icheck">
                                                <input type="checkbox" class="selectable" name="fields_{{ field.0 }}" checked="checked" autocomplete="off"> {{ field.1 }}
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <a class="pull-right edit" href="#"><i class="fa fa-edit"></i> Edit</a>
                                </ol>
                            </div>
                            <input type="hidden" class="output" id="fields-output" name="fields" value="">
                            
                            {% for field in order_fields %}
                            <div class="field-wrapper" data-name="fields_{{ field.0 }}">
                                {% if field.0 not in selected_fields %}
                                <label class="icheck">
                                    <input type="checkbox" class="selectable" name="fields_{{ field.0 }}" autocomplete="off"> {{ field.1 }}
                                </label>
                                {% endif %}
                            </div>
                            {% endfor %}

                            {% for error in form.fields.errors %}
                            <p class="help-block">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="fields-selection-wrapper">
                    <div class="form-group{% if form.shipping_address.errors %} has-error{% endif %}">
                        <label for="shipping_address" class="col-sm-2 control-label">Shipping Address Fields</label>
                        <div id="shipping_address" class="col-sm-10 fields">
                            <div class="dd nestable" id="shipping-address-nestable">
                                <ol class="dd-list">
                                    {% for field in shipping_address_choices %}
                                    <li data-id="shipping_address_{{ field.0 }}" class="dd-item">
                                        <div class="dd-handle">
                                            <label class="icheck">
                                                <input type="checkbox" class="selectable" name="shipping_address_{{ field.0 }}" checked="checked" autocomplete="off"> {{ field.1 }}
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <a class="pull-right edit" href="#"><i class="fa fa-edit"></i> Edit</a>
                                </ol>
                            </div>
                            <input type="hidden" class="output" id="shipping-address-nestable-output" name="shipping_address" value="">
                            {% for field in order_shipping_address %}
                            <div class="field-wrapper" data-name="shipping_address_{{ field.0 }}">
                                {% if field.0 not in selected_shipping_address %}
                                <label class="icheck">
                                    <input type="checkbox" class="selectable" name="shipping_address_{{ field.0 }}" autocomplete="off"> {{ field.1 }}
                                </label>
                                {% endif %}
                            </div>
                            {% endfor %}

                            {% for error in form.shipping_address.errors %}
                            <p class="help-block">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="fields-selection-wrapper">
                    <div class="form-group{% if form.line_fields.errors %} has-error{% endif %}">
                        <label for="line_fields" class="col-sm-2 control-label">Line Fields</label>
                        <div id="line_fields" class="col-sm-10 fields">
                            <div class="dd nestable" id="line-fields-nestable">
                                <ol class="dd-list">
                                    {% for field in line_fields_choices %}
                                    <li data-id="line_fields_{{ field.0 }}" class="dd-item">
                                        <div class="dd-handle">
                                            <label class="icheck">
                                                <input type="checkbox" class="selectable" name="line_fields_{{ field.0 }}" checked="checked" autocomplete="off"> {{ field.1 }}
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <a class="pull-right edit" href="#"><i class="fa fa-edit"></i> Edit</a>
                                </ol>
                            </div>
                            <input type="hidden" class="output" id="line-fields-nestable-output" name="line_fields" value="">

                            {% for field in order_line_fields %}
                            <div class="field-wrapper" data-name="line_fields_{{ field.0 }}">
                                {% if field.0 not in selected_line_fields %}
                                <label class="icheck">
                                    <input type="checkbox" class="selectable" name="line_fields_{{ field.0 }}" autocomplete="off"> {{ field.1 }}
                                </label>
                                {% endif %}
                            </div>
                            {% endfor %}

                            {% for error in form.line_fields.errors %}
                            <p class="help-block">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Order Filters</legend>

                <div id="vendor-autocomplete" class="form-group">
                    <label for="vendor" class="col-sm-2 control-label">Vendor</label>
                    <div class="col-sm-4">
                        <input type="text" name="vendor" class="form-control" placeholder="Enter vendor name" value="{{ order_export.vendor }}">
                        <p class="help-block">Write down the vendor full or partial name used in <a id="shopify-products-popover" href="#">shopify</a>.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-4">
                        <select data-placeholder="Choose the order status" name="status" class="form-control m-b" autocomplete="off">
                            {% for status in order_status %}
                            <option value="{{ status.0 }}"{% if status.0 in order_export.filters.status %} selected="selected"{% endif %}>{{ status.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fulfillment_status" class="col-sm-2 control-label">Fulfillment Status</label>
                    <div class="col-sm-4">
                        <select data-placeholder="Choose the fulfillment status of the order" name="fulfillment_status" class="form-control m-b" autocomplete="off">
                            {% for status in order_fulfillment_status %}
                            <option value="{{ status.0 }}"{% if status.0 in order_export.filters.fulfillment_status %} selected="selected"{% endif %}>{{ status.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="financial_status" class="col-sm-2 control-label">Financial Status</label>
                    <div class="col-sm-4">
                        <select data-placeholder="Choose the financial status of the order" name="financial_status" class="form-control m-b" autocomplete="off">
                            {% for status in order_financial_status %}
                            <option value="{{ status.0 }}"{% if status.0 in order_export.filters.financial_status %} selected="selected"{% endif %}>{{ status.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Product Filters</legend>

                <div class="form-group{% if form.product_price_min.errors or form.product_price_max.errors %} has-error{% endif %}">
                    <label for="product_price_min" class="col-sm-2 control-label">Product Price Range</label>
                    <div class="col-sm-2" id="product_price_min">
                        <input type="number" name="product_price_min" class="form-control" placeholder="Min" autocomplete="off" value="{{ form.product_price_min.value|default:"" }}" step="0.01" min="0">
                        {% for error in form.product_price_min.errors %}
                        <p class="help-block">
                            {{ error }}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-2">
                        <input type="number" name="product_price_max" class="form-control" placeholder="Max" autocomplete="off" value="{{ form.product_price_max.value|default:"" }}" step="0.01" min="0">
                        {% for error in form.product_price_max.errors %}
                        <p class="help-block">
                            {{ error }}
                        </p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="marg col-sm-6">
                        <span class="add-new-block" href="#">And</span>
                        <div class="line"></div>
                    </div>
                </div>

                <div class="col-sm-offset-2 col-sm-10">
                    <p class="help-block">
                        Enter a title that can match several products or 
                        <a href="#" class="find-shopify-product">search for a specific one.</a>
                    </p>
                </div>

                <div id="product-title-contains">
                    <div class="form-group product-title product-title-clone">
                        <label for="product_title" class="col-sm-2 control-label">Or Contains</label>
                        <div class="col-sm-4">
                            <input type="text" name="product_title_clone" class="form-control" placeholder="Enter another possible title" autocomplete="off">
                        </div>
                        <div class="col-sm-1">
                            <a class="btn btn-danger remove-product-title" href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                {% for product_title in product_titles %}
                    {% if forloop.first %}
                    <div class="form-group">
                        <label for="product_title" class="col-sm-2 control-label">Product Title Contains</label>
                        <div class="col-sm-4">
                            <input type="text" name="product_title" class="form-control" placeholder="Enter product title" autocomplete="off" value="{{ product_title }}">
                        </div>
                        <div class="col-sm-1">
                            <a class="btn btn-primary add-product-title" href="#">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="form-group product-title">
                        <label for="product_title" class="col-sm-2 control-label">Or Contains</label>
                        <div class="col-sm-4">
                            <input type="text" name="product_title" class="form-control" placeholder="Enter another possible title" autocomplete="off" value="{{ product_title }}">
                        </div>
                        <div class="col-sm-1">
                            <a class="btn btn-danger remove-product-title" href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>

                <div class="col-sm-12">
                    <div class="marg col-sm-6">
                        <span class="add-new-block" href="#">Or</span>
                        <div class="line"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="product_title" class="col-sm-2 control-label" style="padding-top: 12px;">
                        <a href="#" class="find-shopify-product">Find Exact Products</a>
                    </label>
                    <input type="hidden" name="found_products">
                    <div id="order-export-products" class="col-sm-6">
                        <div class="container-fluid shopify-products"></div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="vendor-login"{% if not form.previous_day.value %} style="display: none;"{% endif %}>
                <legend>
                    Vendor Login
                    <a href="#" class="btn btn-success invite-subuser pull-right">
                        <i class="fa fa-user-plus"></i> Add User
                    </a>
                </legend>

                {% if order_export.vendor_user %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Current User</label>
                    <div class="col-sm-10">
                        <p class="p-xxs border-right">
                            <span class="label label-success">E-mail</span>
                            <spam>{{ order_export.vendor_user.user.email }}</spam>
                        </p>
                    </div>
                </div>
                {% endif %}

                {% if vendor_users.count > 0 %}
                <div class="form-group{% if form.vendor_user.errors %} has-error{% endif %}">
                    <label for="vendor_user" class="col-sm-2 control-label">Select User</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="vendor_user" autocomplete="off">
                            <option></option>
                            {% for vendor_user in vendor_users %}
                            <option value="{{ vendor_user.id }}"{% if vendor_user.id == form.vendor_user.value %} selected="selected"{% endif %}>{{ vendor_user.email }}</option>
                            {% endfor %}
                        </select>

                        <p class="help-block">Choose a login to access the page with the exported orders or create a new one below.</p>
                        {% for error in form.vendor_user.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </fieldset>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% include "partial/shopify_product_selector.html" %}

{% verbatim %}

<script id="product-found-template" type="text/x-handlebars-template">
    <div class="product-item row">
        <div class="col-md-1">
            <a class="btn delete-found-product" data-product-id="{{product.product_id}}">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="product-thumb col-md-1">
            <a class="shopify-product" href="#">
                <img src="{{product.image_url}}">
            </a>
        </div>
        <div class="col-md-10">
            <span class="shopify-product">{{product.title}}</span>
        </div>
    </div>
</script>

{% endverbatim %}
{% endblock %}
