{% extends "base.html" %}

{% load static %}
{% load url_tools %}
{% load template_helper %}
{% load perms_helper %}
{% load compress %}

{% block main-container %}
<div class="row">
    <div class="col-md-12">
        <div class="ibox collapsed border-bottom">
            <div class="ibox-title">
                <h5>Product Feeds</h5>
            </div>
            <div class="ibox-content" style="display:block">
                <p>
                    Use the Feeds below to create your Facebook Products Catalogs for use with Facebook Dynamic Products Ads.
                </p>
                <p>
                    <span>Learn how to setup Facebook Dynamic Product Ads</span>
                    <a class="btn btn-default btn-outline btn-xs" href="/pages/view/setting-up-facebook-dynamic-product-ads" target="_blank">READ MORE</a>
                </p>

                <p>
                </p>

                <table class="table table-bordered m-t-lg">
                    <thead>
                        {% with pos_at='top center' pos_my='bottom center' %}
                        <tr>
                            <th style="width:15%">Store</th>
                            <th>Feed URL</th>
                            <th style="width:12%">
                                All Variants
                                {% include 'partial/help_tooltip.html' with help="Turn this off to remove variants from showing in the product feed." %}
                            </th>
                            <th style="width:12%">
                                Include Variants IDs
                                {% include 'partial/help_tooltip.html' with help="For each product, use both Variant and Product ID" %}
                            </th>
                            <th style="width:15%">
                                Default Category
                                {% include 'partial/help_tooltip.html' with help="The Default Category that will be used for google_product_category if Product Type is not set" %}
                            </th>
                            <th style="width:15%">
                                Last Update
                                {% include 'partial/help_tooltip.html' with help="This shows the date & time when the product feed was last updated." %}
                            </th>
                            <th style="width:10%">
                                FB Access Date
                                {% include 'partial/help_tooltip.html' with help="This shows the date when the product feed was last accessed by Facebook." %}
                            </th>
                            <th style="">Options</th>
                        </tr>
                        {% endwith %}
                    </thead>
                    <tbody>
                        {% for item in feeds %}
                        <tr data-store="{{item.store.id}}" data-feed="{{item.id}}">
                            <td>{{item.store.title}}</td>
                            <td>
                                <a class="btn btn-sm"
                                    href="{% build_absolute_uri 'get_product_feed' True store_id=item.store.get_short_hash %}/2"
                                    target="_blank">
                                    <i class="fa fa-external-link itooltip"></i> Facebook Feed
                                </a>

                                {% if user|can:"google_product_feed.use" %}
                                <a class="btn btn-sm"
                                    href="{% build_absolute_uri 'get_product_feed' True store_id=item.store.get_short_hash %}/3"
                                    target="_blank">
                                    <i class="fa fa-external-link itooltip"></i> Google Product Feed
                                </a>
                                {% endif%}
                            </td>
                            <td><input type="checkbox" class="js-switch all-variants-switch" {% if item.all_variants %}checked{% endif %} /></td>
                            <td><input type="checkbox" class="js-switch include-variants-id" {% if item.include_variants_id %}checked{% endif %} /></td>
                            <td>
                                <input name="type" type="text" class="form-control default-product-category" value="{{item.default_product_category|default:''}}" placeholder="">
                            </td>
                            <td>
                                {% if item.status == 2 %}
                                    Updating...
                                {% elif item.updated_at %}
                                    {% date_humanize item.updated_at %}
                                {% else %}
                                    Pending
                                {% endif %}
                            </td>
                            <td>
                                {% if item.fb_access_at %}
                                    {% date_humanize item.fb_access_at %}
                                {% else %}
                                    Pending
                                {% endif %}
                            </td>
                            <td>
                                {% if user|can:"google_product_feed.use" %}
                                <button title="Update this store feed" class="btn btn-outline btn-sm btn-default itooltip google-feed-btn">
                                    <i class="fa fa-cog"></i> Google Feed
                                </button>
                                {% endif %}

                                <button title="Update this store feed" class="btn btn-outline btn-sm btn-default itooltip update-feed-btn" data-loading-text="<i class='fa fa-refresh fa-spin'></i>">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-9 text-right">
                        <a class="itooltip" title="If you are using the old feed format, it will continue to work but we are now recommending to use the updated format" href="#">Using Old Feeds?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-google-feed-settings" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Google Product Feed</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="m-r-sm" style="width: 95px">Brand Name</label>
                            <input id="g-brand-name" class="form-control" value="" placeholder="Default: Your Store Title">
                        </div>
                    </div>

                    <div class="col-md-12 m-t-xs">
                        <div class="form-group" style="width: 100%">
                            <label class="m-r-sm" style="width: 95px">Gender</label>
                            <select id="g-gender" class="form-control">
                                <option value="Unisex">Unisex</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 m-t-xs">
                        <div class="form-group" style="width: 100%">
                            <label class="m-r-sm" style="width: 95px">Age Group</label>
                            <select id="g-age-group" class="form-control">
                                <option value="Adult">Adult</option>
                                <option value="Newborn">Newborn</option>
                                <option value="Infant">Infant</option>
                                <option value="Toddler">Toddler</option>
                                <option value="Kids">Kids</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-5 col-md-offset-8 m-t-md">
                        <button id="save-google-feed-settings-btn" class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extracss %}
    <link href="{% static 'libs/bower_components/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <style type="text/css">
        table td {
            vertical-align: middle !important;
        }
        table th {
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block extrajs %}
{% compress js %}
<script src="{% static 'libs/bower_components/clipboard/dist/clipboard.min.js' %}"></script>
<script src="{% static 'libs/bower_components/switchery/dist/switchery.min.js' %}"></script>

<script type="text/javascript">
    $(function () {
        $('.copy-feed-url').each(function (i, el) {
            var url = $(el).attr('data-clipboard-text').replace('http://', 'https://');

            $(el).attr('data-clipboard-text', url);
            $(el).parent().find('input').val(url);
        });

        new Clipboard('.copy-feed-url', {
            target: function(trigger) {
                return trigger;
            }
        })
        .on('success', function(e) {
            toastr.success('Copied!');
        });

        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function(html) {
            var switchery = new Switchery(html, {
                color: '#93c47d',
                size: 'small'
            });
        });


        $('.all-variants-switch').on('change', function (e) {
            $.ajax({
                type: 'POST',
                data: {feed: $(this).parents('tr').data('feed'), all_variants: this.checked},
                context: {el: $(this)},
                success: function (data) {
                    toastr.success('Settings will be applied in the next feed update.', 'Feed Settings Changed', 'success');
                },
                error: function (data) {
                    displayAjaxError('Feed Settings', data);
                }
            });
        });

        $('.include-variants-id').on('change', function (e) {
            $.ajax({
                type: 'POST',
                data: {
                    feed: $(this).parents('tr').data('feed'),
                    include_variants_id: this.checked
                },
                context: {el: $(this)},
                success: function (data) {
                    toastr.success('Settings will be applied in the next feed update.', 'Feed Settings Changed', 'success');
                },
                error: function (data) {
                    displayAjaxError('Feed Settings', data);
                }
            });
        });

        $('.default-product-category').autocomplete({
            serviceUrl: '/autocomplete/types',
            minChars: 1,
            deferRequestBy: 1000,
            onSelect: function(suggestion) {
                $.ajax({
                    type: 'POST',
                    data: {
                        feed: $(this).parents('tr').data('feed'),
                        default_product_category: suggestion.value
                    },
                    success: function (data) {
                        toastr.success('Settings will be applied in the next feed update.', 'Feed Settings Changed', 'success');
                    },
                    error: function (data) {
                        displayAjaxError('Feed Settings', data);
                    }
                });
            }
        }).on('keypress' ,function (e) {
            if (e.keyCode == 13) {
                $.ajax({
                    type: 'POST',
                    data: {
                        feed: $(this).parents('tr').data('feed'),
                        default_product_category: ($('.default-product-category').val() || ' ')
                    },
                    success: function (data) {
                        toastr.success('Settings will be applied in the next feed update.', 'Feed Settings Changed', 'success');
                    },
                    error: function (data) {
                        displayAjaxError('Feed Settings', data);
                    }
                });
            }
        });

        $('.update-feed-btn').on('click', function (e) {
            $(this).button('loading');

            $.ajax({
                type: 'POST',
                data: {feed: $(this).parents('tr').data('feed'), update_feed: true},
                context: {el: $(this)},
                success: function (data) {
                    toastr.success('Feed Update Started, reload the page to see the progress', 'Update Feed', 'success');
                },
                error: function (data) {
                    displayAjaxError('Update Feed', data);
                },
                complete: function() {
                    this.el.button('reset');
                }
            });
        });

        $('.google-feed-btn').on('click', function (e) {
            var feed = $(this).parents('tr').data('feed');
            $.ajax({
                type: 'GET',
                data: {feed: feed, type: 'google-feed-settings'},
                context: {el: $(this), feed: feed},
                success: function (data) {
                    $('#g-brand-name').val(data.brand_name);
                    $('#g-gender').val(data.gender);
                    $('#g-age-group').val(data.age_group);

                    $('#save-google-feed-settings-btn').attr('feed', this.feed);

                    $('#modal-google-feed-settings').modal('show');
                },
                error: function (data) {
                    displayAjaxError('Google Feed Settings', data);
                }
            });
        });

        $('#save-google-feed-settings-btn').on('click', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                data: {
                    feed: $(this).attr('feed'),
                    type: 'google-feed-settings',
                    settings: JSON.stringify({
                        'brand_name': $('#g-brand-name').val(),
                        'gender': $('#g-gender').val(),
                        'age_group': $('#g-age-group').val(),
                    })},
                context: {el: $(this)},
                success: function (data) {
                    $('#modal-google-feed-settings').modal('hide');
                },
                error: function (data) {
                    displayAjaxError('Google Feed Settings', data);
                }
            });

        });
    });
</script>
{% endcompress %}

{% endblock %}
