{% extends "base.html" %}

{% load static %}
{% load url_tools %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block main-container %}
    <div class="tabs-container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                {% if not product.active %}
                <div class="row">
                    <div class="col-md-11">
                        <p class="alert alert-danger">This Product is Offline</p>
                    </div>
                </div>
                {% endif %}
                <div class="row product-wrapper" product-id="{{product.id}}" product-title="{{product.title}}">
                    <div class="col-md-3">
                        <div id='product-image' class='slider'>
                        {% for item in product.images %}
                            <img class="media-object" src="https://drrak0mvje5ie.cloudfront.net?url={{item.path|urlencode}}" alt="">
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>{{product.title}}</h2>
                        <p>{{product.category.label_path}}</p>
                        <h3>Price: <span id='product-price'></span></h3>
                        <h3>Availability: <span id='product-quantity'></span></h3>
                        {% for option_id, option in product.options.items %}
                        <div class="form-group">
                            <label for="option_{{option.option_id}}">{{option.option_name}}:</label>
                            <select id='option_{{option.option_id}}' class="form-control dropwow-product-option" data-option="{{option.option_id}}" style='width: 200px; display: inline-block; margin-left: 10px;'>
                            {% for variant in option.variants %}
                                <option value='{{variant.variant_id}}'>{{variant.variant_name}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label>Vendor:</label>
                            <span>{{product.vendor}}</span>
                        </div>
                        <p>
                            {{product.description|linebreaks}}
                        </p>
                        <div class="m-t">
                            <button class="btn btn-primary btn-rounded save-for-later-btn" product-id="{{product.id}}">Save</button>&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success btn-rounded import-btn" product-id="{{product.id}}">Add To Store</button>
                            </button>
                        </div>
                    </div>
                </div>
                </div><!-- div.panel-body -->
            </div> <!-- div.tab-pane -->
        </div> <!-- div.tab-content -->
    </div> <!-- div.tabs-container -->

{% include 'partial/shopify_send_modal.html' %}

{% endblock %}

{% block extracss %}
    <style type="text/css">
        #product-image {
            max-width: 280px;
        }
        #product-image img {
            width: 100%;
        }
        #product-image .slick-prev:before, #product-image .slick-next:before {
            color: #93c47d;
        }
    </style>
     <link href="{% static 'libs/bower_components/slick-carousel/slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bower_components/slick-carousel/slick/slick-theme.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        var dropwow_products = [{% json_dumps product %}];
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/ckeditor.js"></script>
{% compress js %}
    <script src="{% static 'libs/bower_components/handlebars/handlebars.min.js' %}" type="text/javascript" ></script>
    <script src="{% static 'libs/bower_components/slick-carousel/slick/slick.min.js' %}" type="text/javascript" ></script>
    <script type="text/javascript" src="{% static 'shopified/js/shopify_send_modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'marketplace/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'marketplace/js/dropwow_product.js' %}"></script>
{% endcompress %}
{% endblock %}
