{% extends template_config.base|default:'base.html' %}

{% load static %}
{% load compress %}
{% block main-container %}

<div id="call-flow" class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Call Flow<small></small></h5>
    </div>
    <div class="ibox-content" id="call-flow">
        <div class="form-group row">
            <label for="q" class="col-sm-3 control-label">
                CallFlow Name <span class="required">*</span>
            </label>
            <div class="col-sm-6">
                <input id="title" v-model="title" required="true" class="form-control" placeholder="Your CallFlow Title" />
            </div>
        </div>
        <ul class="dd-list">
            <li class="dd-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-play"></i>
                        Begin Call: When an incoming call is received, follow these steps:
                    </div>
                </div>
                <ul class="dd-list">
                    <add-new-block v-bind:position="0" v-bind:parent="0" :bus="bus"></add-new-block>
                    <template v-for="(data, key) in getAvailableChildren">
                        <item class="item" v-bind:model="data" :bus="bus" :key="data.step"></item>
                        <add-new-block v-if="data.config.have_next" v-bind:position="key + 1" v-bind:parent="0" :bus="bus"></add-new-block>
                    </template>
                </ul>
            </li>
            <li class="dd-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-stop"></i>
                        End the Call
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="btn btn-primary" @click="save">Save Call Flow</a>
    </div>
</div>

{% include 'phone_automation/partial/automate_vue_base.html' %}
{% include 'phone_automation/partial/automate_vue_blocks.html' %}

{% endblock %}

{% block extracss %}
    <link href="{% static 'phone_automation/css/automate.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        var nodeCount = {{ automation.last_step|default:0 }};
        var data = {{ automation.json_data|default:"[]" | safe }};
        var title = '{{ automation.title|default:"" }}';

        {% if automation %}
        var uploadUrl = "{% url template_config.url.namespace|add:'phone_automation_upload' twilio_automation_id=automation.pk %}";
        var save = {
            url: "{% url template_config.url.namespace|add:'phone_automation_save_automation' twilio_automation_id=automation.pk %}",
            redirect: "{% url template_config.url.namespace|add:'phone_automations_index' %}"
        };
        {% else %}
        var uploadUrl = "{% url template_config.url.namespace|add:'phone_automation_upload'  %}";
        var save = {
            url: "{% url template_config.url.namespace|add:'phone_automation_create_automation'  %}",
            redirect: "{% url template_config.url.namespace|add:'phone_automations_index' %}"
        };
        {% endif %}
    </script>

    {% compress js %}
    <script src="{% static 'libs/bower_components/vue/dist/vue.min.js' %}"></script>
    <script src="{% static 'phone_automation/js/automate.js' %}"></script>
    {% endcompress %}
{% endblock %}
