{% extends template_config.base|default:'base.html' %}

{% load static %}
{% load perms_helper %}
{% load widget_tweaks %}
{% load template_helper %}
{% load phone_numbers %}
{% load compress %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title ibox-title-adjust">
                <h5 class="content-tittle">Your CallFlex CallFlows<small></small></h5>
                <div class="ibox-tools">
                    <a class="btn-sm btn-primary " href="{% url template_config.url.namespace|add:'phone_automation_automate_create'  %}">
                        <i class="fa fa-cogs"></i> &nbsp; Add New CallFlow</a>
                </div>
            </div>
            <div class="ibox-content ibox-content-adjust">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        {% include 'phone_automation/partial/sub_nav.html' %}
                    </div>
                    <div class="col-md-10 col-xs-12">
                        {% if twilio_automations|length %}
                        <div class="grey-cont">
                            <table class="table table-bordered dataTables" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th style="">Title</th>
                                        <th style="width:15%;">Total Numbers</th>
                                        <th>Updated</th>
                                        <th style="width:150px;">Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for twilio_automation in twilio_automations %}
                                    <tr class="board-box">
                                        <td class="text-center">
                                            {{twilio_automation.title|default:"Untitled Callflow" }}
                                        </td>
                                        <td class="numbers-count text-center">
                                            {{twilio_automation.phones.all|length}}
                                        </td>
                                        <td class="text-center">{{twilio_automation.updated_at|date}}</td>
                                        <td class="text-center">
                                            <a href="{% url template_config.url.namespace|add:'phone_automation_automate' twilio_automation_id=twilio_automation.pk %}" class="btn btn-xs btn-info board-edit btn-circled-adjust" title="Edit"><i class="fa fa-edit"></i></a>
                                            <a data-twilio-automation-id={{ twilio_automation.pk }} _href="{% url template_config.url.namespace|add:'phone_automation_delete_automation' twilio_automation_id=twilio_automation.pk %}" class="btn btn-xs btn-danger remove-automation btn-circled-adjust" title="Delete"><i class="fa fa-times"></i> </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="">
                            <h2>You do not have an any CallFlows yet.</h2>
                            <div>
                                <br />
                                <a class="btn btn-primary  invite-subuser" href="{% url template_config.url.namespace|add:'phone_automation_automate_create' %}">
                                    <i class="fa fa-phone"></i> &nbsp; Create new CallFlow</a>
                                <br />&nbsp;
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "phone_automation/partial/banner.html" %}
{% endblock %}

{% block extracss %}
    <style type="text/css">
        .color-red {
            color:#880000;
        }

        #company_id {
            margin-top:-7px;
        }

        .widget {
            padding: 10px 15px;
            margin-top:10px;
        }

        .widget h2 {
            font-size: 20px !important;
            margin-top: 0;
        }

        .setup-automation {
            margin-right:10px;
        }

        .phone-nummber-cont {
            margin-bottom:20px;
        }

        .sms-command {
            color:#1ab394;
        }

        .ibox-title {
            border: none;
        }

        .ibox-content {
            padding: 14px 15px 7px;
        }

        .blink-button {
          border-radius: 3px;
          animation: glowing 1500ms infinite;
        }

        @keyframes glowing {
            0% {
                box-shadow: 0 0 1px #ed5565;
            }

            50% {
                box-shadow: 0 0 20px #ed5565;
            }

            100% {
                box-shadow: 0 0 1px #ed5565;
            }
        }
    </style>

    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">
    <link href="{% static 'phone_automation/css/phone_automation_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="{% static 'libs/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('.dataTables').dataTable({
                responsive: true,
                dom: 'T<"clear">lfrtip',
                buttons: [],
                bLengthChange: true,
                iDisplayLength: 50,
                order: [],
            });

            $('.remove-provision').click(function(e) {
                var href = $(this).attr('_href');
                swal({
                        title: "Delete Phone Number?",
                        text: "This will delete your incoming phone number. \n\nYou will not be able to use this number again. \n\nAre you sure you want to continue?",
                        type: "warning",
                        showCancelButton: true,
                        closeOnCancel: true,
                        closeOnConfirm: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete my number",
                        cancelButtonText: "No, keep my number"
                    },
                    function(isConfirmed) {
                        if (isConfirmed) {
                            window.location.href = href;
                        }
                    });
            });



            $('.remove-automation').click(function(e) {
                var href = $(this).attr('_href');
                swal({
                        title: "Delete CallFlow?",
                        text: "This will delete your callflow settings. . \n\nAre you sure you want to continue?",
                        type: "warning",
                        showCancelButton: true,
                        closeOnCancel: true,
                        closeOnConfirm: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete my CallFlow",
                        cancelButtonText: "No, keep my CallFlow"
                    },
                    function(isConfirmed) {
                        if (isConfirmed) {
                            window.location.href = href;
                        }
                    });
            });

            function update_tables_filter() {
                var company = $("#company_id").val();

                if (company == "") {
                    $('.table-item').show();
                } else {
                    $('.table-item').hide();
                    $('.table-item[data-company-id=' + company + ']').show();
                }
            }

            $("#company_id").change(function() {
                update_tables_filter()
            });

            update_tables_filter();
        });
    </script>
    <script>ChurnZero.push(['setModule', 'CallFlex']);</script>
{% endblock %}
