{% extends template_config.base|default:'base.html' %}

{% load static %}
{% load perms_helper %}
{% load widget_tweaks %}
{% load template_helper %}

{% block main-container %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row m-b-none p-none">
            <div class="col-md-12">

              <div class="col-md-6">
                <h3>Manage Sub Users<small></small></h3>
              </div>

              {% if user|can:'sub_users.use' %}
              <table class="table table-bordered dataTables">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Join Date</th>
                          <th>Last Activity</th>
                          <th>Status</th>
                          <th style="width:150px">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for item in sub_users %}
                      <tr>
                        {% if not item.is_invite %}
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.date_joined|date:'n/j/Y'}}</td>
                        <td>{% date_humanize item.last_seen %}</td>
                        <td></td>
                        <td>
                            <button class="btn btn-primary btn-icon btn-outline btn-xs action-btn edit-user-prems itooltip" user-id="{{item.id}}" href="#" title="Change Permissions">
                                <i class="dropified-icons di-perms"></i></button>
                            <button class="btn btn-danger btn-xs btn-icon btn-outline action-btn itooltip delete-sub-user" title="Remove" user-id="{{item.id}}" user-name="{{item.username}}">
                                <i class="dropified-icons di-trash"></i>
                            </button>
                        </td>
                        {% elif item.is_invite %}
                        <td>{{item.name}}</td>
                        <td>{{item.email|urlize}}</td>
                        <td>{{item.created_at|date:'n/j/Y'}}</td>
                        <td></td>
                        <td>
                            {% if not item.expired %}
                                 Awaiting User Registration
                             {% else %}
                                 User Doesn't have access to any store
                             {% endif %}
                         </td>
                        <td>
                            {% if not item.expired %}
                                <a class="btn btn-success btn-icon btn-outline btn-xs action-btn itooltip" href="{% app_link 'accounts/register' item.register_hash %}" target="_blank" title="Registration Link">
                                    <i class="dropified-icons di-link"></i></a>

                                <a class="btn btn-primary btn-icon btn-outline btn-xs action-btn email-link-btn itooltip" title="Email Link"
                                    href="mailto:{{item.email}}?subject=Invitation to join Dropified&body=Hello%2C%0D%0AYou%20can%20register%20at%20Dropified%20using%20this%20link%3A%0D%0A{% app_link 'accounts/register' item.register_hash %}">
                                    <i class="dropified-icons di-mail"></i></a>

                                <button class="btn btn-danger btn-icon btn-outline btn-xs action-btn itooltip cancel-invitation-user"
                                        invite-id="{{item.id}}" title="Cancel This Invitation">
                                    <i class="dropified-icons di-trash"></i>
                                </button>
                            {% else %}
                                <a class="btn btn-primary btn-icon btn-outline btn-xs action-btn edit-user-prems itooltip" user-id="{{item.user.id}}" href="#" title="Change Permissions">
                                    <i class="dropified-icons di-perms"></i></a>
                            {% endif %}
                        </td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>

              <button class="btn btn-primary invite-subuser" data-extra={{ extra_subusers|lower }} data-cost="{{ extra_user_cost }}">
                 Add User <i class="fa fa-user-plus"></i>
              </button>
              {% else %}
              {% include "subusers/subusers_upsell.html" %}
              {% include "common/partial/upsell.html" with message="Add Sub Users to your Plan" only %}
              {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="modal-subuser-prems" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Change Permissions</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="model-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">
    <link href="{% static 'subusers/css/subusers.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.tableTools.min.js' %}"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $('.dataTables').on('draw.dt', function(e) {
                $('.dataTables tr').each(function(i, el) {
                    var info = $(el).find('td');

                    if (info.length == 1) {
                        $(el).find('td').last().text('No Pending Invitations Found.').addClass('text-center');
                        return;
                    }
                });
            });

            var table = $('.dataTables').dataTable({
                responsive: true,
                dom: 'T<"clear">lfrtip',
                bLengthChange: false,
                iDisplayLength: 10,
                order: [],
                tableTools: {
                    aButtons: [],
                },
                language: {
                  search: "_INPUT_",            // Removes the 'Search' field label
                  searchPlaceholder: "Search by Name or Email"   // Placeholder for the search box
                },
                search: {
                  addClass: 'form-control input-lg col-xs-12'
                },
                pagingType: "simple_numbers",
            });
        });

        $('.edit-user-prems').click(function(e) {
            e.preventDefault();

            $('#modal-subuser-prems .model-content').html('<p>Loading content...</p>')
                .load('{{ template_config.url.prefix }}/subusers/permissions/' + $(this).attr('user-id'),
                    function(response, status, xhr) {
                        if(status == 'error') {
                            $('#modal-subuser-prems').modal('hide');
                            displayAjaxError('User Permissions', JSON.parse(response));
                        }
                    });
            $('#modal-subuser-prems').modal('show');
        });

        $('.delete-sub-user').click(function (e) {
            var subuser_name = $(this).attr('user-name');
            var subuser_id = $(this).attr('user-id');

            swal({
                title: "Delete <span style='color:#7a0f13'>" + subuser_name + "</span> Account",
                text: "This will remove the <b>" + subuser_name + "</b> permanently. Are you sure you want to remove this sub user?",
                html: true,
                showCancelButton: true,
                closeOnCancel: true,
                closeOnConfirm: false,
                confirmButtonColor: "#DE1C22",
                confirmButtonText: "Remove Permanently",
                cancelButtonText: "Cancel"
            },
            function(isConfirmed) {
                if (isConfirmed) {
                    $.ajax({
                        url: '/api/subusers/delete',
                        type: 'POST',
                        data: {
                            subuser: subuser_id,
                        },
                        success: function(data) {
                            swal("Delete Sub User", "User has been deleted.");

                            setTimeout(function() {
                                window.location.reload();
                            }, 1000);
                        },
                        error: function(data) {
                            swal('Delete Sub User', getAjaxError(data));
                        }
                    });
                }
            });
        });

        $('.cancel-invitation-user').click(function (e) {
            var invite_id = $(this).attr('invite-id');

            swal({
                title: "Cancel Sub User Invitation?",
                text: "This will Cancel the Invitation link. \nAre you sure you want to continue?",
                showCancelButton: true,
                closeOnCancel: true,
                closeOnConfirm: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Cancel Invite",
                cancelButtonText: "No, Keep Invite"
            },
            function(isConfirmed) {
                if (isConfirmed) {
                    $.ajax({
                        url: '/api/subusers/invite?' + $.param({invite: invite_id}),
                        type: 'DELETE',
                        success: function(data) {
                            swal("Cancel Invitation", "Invitation has been Canceled.");

                            setTimeout(function() {
                                window.location.reload();
                            }, 1000);
                        },
                        error: function(data) {
                            swal('Cancel Invitation', getAjaxError(data));
                        }
                    });
                }
            });
        });

        $('.invite-subuser').click(function () {
            var btn = $(this);
            var add_extra_user = btn.data('extra');
            var extra_user_cost = btn.data('cost');
            var text = 'Add new sub user to your account';
            if (add_extra_user) {
                text = "<p>You are about to add an additional user to your plan for <b>$" + extra_user_cost + "/month</b>. Would you like to continue?</p>";
            }
            swal({
                title: "Add Sub User?",
                text: text,
                type: "input",
                html: true,
                showCancelButton: true,
                closeOnConfirm: false,
                closeOnCancel: true,
                animation: "slide-from-top",
                inputPlaceholder: "Email address",
                showLoaderOnConfirm: true,
                confirmButtonText: "Yes, Add This Sub User",
                confirmButtonColor: "#6BAA55",
            }, function(inputValue) {
                if (inputValue === false) {
                    return;
                }

                if (inputValue === '' || inputValue.trim() === '') {
                    swal.showInputError("Email is required");
                    return false;
                }

                $.ajax({
                    url: '/api/subusers/invite',
                    type: 'POST',
                    data: {
                        'email': inputValue
                    },
                    context: {btn: btn},
                    success: function (data) {
                        if (data.status == 'ok') {
                            var link = app_link(['accounts/register', data.hash]);
                            var msg = 'An email has been sent to the entered address with the following registration link:<br/>'+
                                      '<a href="'+link+'" style="word-wrap: break-word">'+link+'</a>';

                            swal({
                                title: 'Invitation Sent',
                                text: msg,
                                html: true,
                                confirmButtonColor: "#6BAA55",
                            }, function(r) {
                                setTimeout(function() {
                                    window.location.reload();
                                }, 500);
                            });
                        } else {
                            swal.showInputError(getAjaxError(data));
                        }
                    },
                    error: function (data) {
                        swal.showInputError(getAjaxError(data));
                    },
                    complete: function () {
                    }
                });
            });
        });
    </script>
{% endblock %}
