{% extends "base.html" %}
{% load url_tools static compress template_helper %}

{% block main-container %}
<div class="tabs-container">
    <ul class="nav nav-tabs" style="padding:0;border:0 none;"></ul>
    <ul class="actions" style="border-radius: 8px;border-top-width:1px;">
        <li class="pull-right border-left group">
            <form method="get">
                <input type="text" class="form-control m-l-sm" name="search" value="{{request.GET.search}}" placeholder="Search">
                <button type="submit" class="btn btn-primary btn-icon">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </li>
    </ul>

    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <table class="table table-condensed xtable-hover">
                  <thead>
                    <tr>
                      <th><a href="{% url_toggle 'sort' '-store_order_number,store_order_number' %}">Order {% sort_icon 'sort' 'store_order_number' %}</a></th>
                      <th><a href="{% url_toggle 'sort' '-paid_at,paid_at' %}">Paid</a></th>
                      <th><a href="{% url_toggle 'sort' '-carrier,carrier' %}">Carrier</a></th>
                      <th><a href="{% url_toggle 'sort' '-service,service' %}">Service</a></th>
                      <th><a href="{% url_toggle 'sort' '-weight,weight' %}">Weight</a></th>
                      <th><a href="{% url_toggle 'sort' '-shipment_cost,shipment_cost' %}">Cost</a></th>
                      <th><a href="{% url_toggle 'sort' '-warehouse__name,warehouse__name' %}">From {% sort_icon 'sort' 'warehouse__name' %}</a></th>
                      <th><a href="{% url_toggle 'sort' '-to_address,to_address' %}">To {% sort_icon 'sort' 'to_address' %}</a></th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{{ order.store_order_url }}">{{ order.store_order_number }}</a>
                        </td>
                        <td>{% date_humanize order.paid_at %}</td>
                        <td>{{ order.carrier }}</td>
                        <td>{{ order.service }}</td>
                        <td>{{ order.weight }}</td>
                        <td>${{ order.shipment_cost }}</td>
                        <td>{{ order.warehouse.get_full_name }}</td>
                        <td>
                            <div class="multi-line-text-overflow">
                            {% with to_address=order.get_address %}
                            <img class="shipping-country-code" shipping-country-code="{{to_address.country_code|lower}}"
                                 style="width: 28px; margin-bottom: 4px;" title="{{to_address.country}}" src="//cdn.dropified.com/static/flags/{{to_address.country_code|lower}}.svg">
                            {{ to_address.address1 }} - {{ to_address.province }} - {{ to_address.city }}
                            {% endwith %}
                            </div>
                        </td>
                        <td>
                            {% if order.can_refund %}
                            <div class="btn-group">
                                {% if order.source_label_url %}
                                <a class="btn btn-primary btn-xs" href="{{ order.label_url }}" download="{{ order.label_url }}" target="_blank">
                                    <i class="fa fa-download"></i>
                                    Download
                                </a>
                                {% endif %}
                                <button type="button" class="btn btn-primary btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-left" style="left:auto;right:0;">
                                    <li>
                                        <a href="#" class="order-refund" data-id="{{ order.id }}">
                                            <i class="dropified-icons di-trash color-danger"></i>
                                            {{ order.get_refund_status_display|default:"Refund" }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            {% else %}
                            {% if order.source_label_url %}
                            <a class="btn btn-primary btn-xs" href="{{ order.label_url }}" download="{{ order.label_url }}" target="_blank">
                                <i class="fa fa-download"></i>
                                Download
                            </a>
                            {% endif %}
                            {% endif %}

                            {% if order.refund_status %}
                            <label class="label label-danger">{{ order.get_refund_status_display }}</label>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="text-center" colspan="8">
                            No orders found.
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>

              {% include "partial/paginator.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
{% compress js %}
<script type="text/javascript" src="{% static 'logistics/js/orders.js' %}"></script>
{% endcompress %}
{% endblock %}
