{% extends "supplements/tab_view_admin.html" %}
{% load static compress widget_tweaks %}

{% block tab_content %}

{% if show_alert %}
<div class="alert alert-success alert-dismissable">
  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
  Your label has been submitted for approval, and you can follow its status
  on this page. You will receive an email if any action is needed.
</div>
{% endif %}

<div class='label-title'>
  <h3>Labels</h3>
</div>

<hr />

<div>
  <form role="form" autocomplete="off">
    {% include "supplements/partials/label_filter_form.html" %}

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group {% if all_label_form.user_id.errors %}has-error{% endif %}">
          <label class="control-label">User:</label>
          {{ all_label_form.user_id|add_class:"form-control" }}
          {% render_field all_label_form.label_user_name class="form-control" placeholder='Name, Email, ID' %}
          {% for error in all_label_form.label_user_id.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group {% if all_label_form.product_sku.errors %}has-error{% endif %}">
          <label class="control-label">Supplement SKU:</label>
          {{ all_label_form.product_sku|add_class:"form-control" }}
          {% for error in all_label_form.product_sku.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group {% if all_label_form.title.errors %}has-error{% endif %}">
          <label class="control-label">Supplement Title:</label>
          {{ all_label_form.title|add_class:"form-control" }}
          {% for error in all_label_form.title.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group {% if all_label_form.product_sku.errors %}has-error{% endif %}">
          <label class="control-label">Sort By:</label>
          {{ all_label_form.sort|add_class:"form-control" }}
          {% for error in all_label_form.title.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Filter & Sort" />
    <input type="button" class="btn btn-default pls-reset-btn" value="Clear" />
  </form>
</div>

<div class='label-count'>
  <strong>Found {{ label_count }}</strong>
</div>

<table class='table table-striped'>
  <thead>
    <th>Status</th>
    <th>Supplement SKU</th>
    <th>Supplement</th>
    <th>Label SKU</th>
    <th>User</th>
    <th>Date</th>
    <th>Comments</th>
    <th>View</th>
    <th>Download</th>
  </thead>
  <tbody>
    {% for label in labels %}
    <tr>
      <td>
        <span class='label
        {% if label.status == "approved" %}
        label-primary
        {% elif label.status == "awaiting" %}
        label-warning
        {% elif label.status == "rejected" %}
        label-danger
        {% endif %}'>
          {{ label.status_string }}
        </span>
      </td>
      <td>{{ label.user_supplement.pl_supplement.shipstation_sku }}</td>
      <td>{{ label.user_supplement.pl_supplement.title }}</td>
      <td>{{ label.sku }}</td>
      <td>{{ label.user_supplement.user.get_full_name }}</td>
      <td>{{ label.updated_at|date:"m.d.Y h:iA" }}</td>
      <td><i class="fa fa-envelope"></i>&nbsp;{{ label.comment_count }}</td>
      <td><a href="{% url 'pls:label_detail' label_id=label.id %}" class="btn btn-default btn-outline btn-xs">View</a></td>
      <td><a href="{{ label.url }}" target="_blank" class="btn btn-default btn-outline btn-xs">Download</a></td>
    {% empty %}
      <td colspan="8">No labels found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "supplements/partials/paging.html" %}

{% endblock %}

{% block extra_pls_css %}
{% compress css %}
<link href="{% static 'libs/bower_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
<style type="text/css">
    .select2.select2-container.select2-container--default {
        width: 100% !important;
    }
    .select2-dropdown .select2-results__option.select2-results__message:hover {
        background-color: #5897fb;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
</style>
{% endcompress %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'libs/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script type='application/javascript'>
  $("#id_date").datepicker();
</script>
{% endblock %}
