{% extends "supplements/tab_view_base.html" %}

{% load static compress %}

{% block tab_content %}

<div class="row">
  {% include "supplements/partials/supplement_filter_form.html" %}
</div>

<div class="row">
  {% for supplement in supplements %}
  <div class="col-xs-12 col-md-3">
    {% include "supplements/partials/product.html" with item=supplement %}
  </div>

  {% if forloop.counter|divisibleby:"4" %}
  </div><div class="row">
  {% endif %}

  {% empty %}
    <div>No products yet.</div>
  {% endfor %}
</div>

{% include "product_common/partials/paging.html" %}
{% include "supplements/partials/limit_reached_modal.html" with title="Product" %}
{% include "supplements/partials/product_review_modal.html" %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  var limitReached = {{ limit_reached|lower }};
</script>

{% compress js %}
<script type="text/javascript" src="{% static 'pls/js/limit_reached.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/review_modal.js' %}"></script>
{% endcompress %}
{% endblock %}
