{% extends "supplements/tab_view_admin.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block tab_content %}

{% if not label.current_label_of %}
<div class="alert alert-info alert-dismissable">
  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
  There is a newer version of this label.
  <u><a href="{{ new_version_url }}">View newer version</a></u>
</div>
{% endif %}

<div class="row animated fadeInRight label-detail">
  <div class="col-md-4">
    {% include "supplements/partials/label_detail_image.html" %}
  </div>
  <div class="col-md-8">
    {% include "supplements/partials/label_detail_comments.html" %}
  </div>
</div>

{% include "supplements/partials/send_to_store_modal.html" %}
{% include "supplements/partials/label_upload_modal.html" %}

{% endblock %}

{% block extracss %}
{{ block.super }}
<link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/plupload/2.1.9/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $.fn.bootstrapBtn = $.fn.button.noConflict();
</script>

<script type="text/javascript" src="{% static 'pls/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/send_to_store.js' %}"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/plupload/2.1.9/plupload.full.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/plupload/2.1.9/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/ckeditor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pusher/3.2.4/pusher.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdf.js/2.3.200/pdf.min.js"></script>

<script type="text/javascript">
var apiData = {{ api_data|safe }};
var storeData = {{ store_data|safe }};

{% if aws_available %}
$("#uploader").plupload({
    runtimes : 'html5,flash',
    flash_swf_url : '//cdnjs.cloudflare.com/ajax/libs/plupload/2.1.9/Moxie.swf',
    url : "https://{% app_setting 'AWS_STORAGE_BUCKET_NAME' %}.s3.amazonaws.com:443/",
    file_name_name: false,
    multipart: true,
    multipart_params : {
      filename: 'filename',
      utf8: true,
      AWSAccessKeyId: "{% app_setting 'AWS_ACCESS_KEY_ID' %}",
      acl: "public-read",
      policy: "{{aws_policy|escapejs}}",
      signature: "{{aws_signature|escapejs}}",
      key: "uploads/u{{user.id}}/${filename}",
      'Content-Type': 'application/pdf',
    },
    filters : {
        max_file_size : '20mb',
        mime_types: [
            {title : "Label files", extensions : "pdf"}
        ]
    },
    views: {
        list: true,
        thumbs: true,
        active: 'thumbs'
    },
    sortable: true,
    dragdrop: true,
    init: {
        BeforeUpload: function(up, file) {
            var params = up.settings.multipart_params;
            params['Content-Type'] = file.type;

            var name = Math.round(Math.random() * 100) + file.name;
            params.key = "uploads/u{{user.id}}/" + name;
        },
        FileUploaded: function(up, file, info) {
            var key = up.settings.multipart_params.key;
            var url = "https://{% app_setting 'AWS_STORAGE_BUCKET_NAME' %}.s3.amazonaws.com/" + key;
            var form = document.getElementById('comment_form');
            form.upload_url.value = url;
            $('.custom-file-label').html(file.name);
            getImageUrl(form, file.getNative(), submit=false);
        },
        UploadComplete: function(up, files){
            $('#modal-upload-image').modal('hide');
        }
    }
});
{% endif %}

</script>
{% endblock %}
