{% extends "supplements/tab_view_admin.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}

{% block tab_content %}

{% if not label.current_label_of %}
<div class="alert alert-info alert-dismissable">
  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
  There is a newer version of this label.
  <u><a href="{{ new_version_url }}">View newer version</a></u>
</div>
{% endif %}

<div class="row animated fadeInRight label-detail">
  <div class="col-md-4">
    {% include "supplements/partials/label_detail_image.html" %}
  </div>
  <div class="col-md-8">
    {% include "supplements/partials/label_detail_comments.html" %}
  </div>
</div>

{% include "supplements/partials/send_to_store_modal.html" %}
{% include "supplements/partials/mockup_images_modal.html" with label_url=label.url %}
{% endblock %}

{% block extracss %}
{{ block.super }}
<link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/plupload/2.3.6/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $.fn.bootstrapBtn = $.fn.button.noConflict();
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/plupload/2.3.6/plupload.full.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/plupload/2.3.6/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/ckeditor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pusher/3.2.4/pusher.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdf.js/2.3.200/pdf.min.js"></script>

<script type="text/javascript">
var apiData = {{ api_data|safe }};
var storeData = {{ store_data|safe }};
var mockupLayers = {% json_dumps mockup_layers %};

{% if aws_available %}
window.plupload_Config = {
  url: "https://{% app_setting 'AWS_STORAGE_BUCKET_NAME' %}.s3.amazonaws.com/",
  uploadedUrl: "http://{% app_setting 'AWS_STORAGE_BUCKET_NAME' %}.s3.amazonaws.com/",
  AWSAccessKeyId: "{% app_setting 'AWS_ACCESS_KEY_ID' %}",
  policy: "{{aws_policy|escapejs}}",
  signature: "{{aws_signature|escapejs}}",
  key: "uploads/u{{user.id}}/${filename}",
  imgPolicy: "{{aws_images.aws_policy|escapejs}}",
  imgSignature: "{{aws_images.aws_signature|escapejs}}",
  saveFormID: '#comment_form',
};
{% endif %}
</script>

{% compress js %}
<script type="text/javascript" src="{% static 'libs/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/send_to_store.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/supplement.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/mockup_editor.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/label_detail.js' %}"></script>
{% endcompress %}
{% endblock %}
