{% extends "supplements/tab_view_base.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}
{% load cache %}

{% block tab_content %}

<div class="row">
  <div class="col-md-8 col-sm-8">
    <span class="h2">Receipt for Payment #{{ order.stripe_transaction_id }}</span>
  </div>
  <div class="col-md-4 col-sm-4 text-right">
    <span class="h3">Shipping Address</span>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <span class="h5">A summary of your order is shown below.</span>
  </div>
  <div class="col-md-6 col-sm-6 text-right">
    <p><b>Order #</b>{{ order.order_number }}</p>
    <span class="h5"><b>{{ shipping_address|key_value:'first_name' }} {{ shipping_address|key_value:'last_name' }}</b></span>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6 text-right">
    <span>{{ shipping_address|key_value:'address1' }}</span>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6 text-right">
    <span>{{ shipping_address|key_value:'city' }}, {{ shipping_address|key_value:'province' }}, {{ shipping_address|key_value:'zip' }}</span>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6 text-right">
    <span>{{ shipping_address|key_value:'country' }}</span>
  </div>
</div>

<table class='table table-striped' >
  <thead>
    <th>Item</th>
    <th>Title</th>
    <th>Sku</th>
    <th>Price</th>
    <th>Total</th>
  </thead>
  <tbody>
    {% for item in line_items %}
    <tr>
      <td>
        {% for url in item.supplement.image_urls %}
          <img class="product-image" src="{{ url }}" alt="line_item" />
        {% endfor %}
      </td>
      <td class="product-cell">{{ item.supplement.title }}</td>
      <td class="product-cell">{{ item.sku }}</td>
      <td class="product-cell">{{ item.quantity }} &times; ${{ item.supplement.cost_price }}</td>
      <td class="product-cell">{{ item.line_total }}</td>
    {% endfor %}
  </tbody>
</table>

<div class="row">
  <div class="col-md-2 col-md-offset-10 text-right m-b">
    {% if order.refund %}
    <span class="label label-warning">Refunded</span>
    {% else %}
    {{ order.status_string }}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-9 text-right">
    <span class="h5"><b>Sub Total</b>:</span>
  </div>
  <div class="col-md-1 text-right">
    {{ order.item_total }}
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-9 text-right">
    <span class="h5"><b>Shipping Cost</b>:</span>
  </div>
  <div class="col-md-1 text-right">
    {{ order.shipping_price_string }}
  </div>
</div>
{% if order.refund %}
<div class="row m-t">
  <div class="col-md-2 col-md-offset-9 text-right">
    <span class="h5"><b>Refund</b>:
      <i class="fa fa-fw fa-question-circle"
        qtip-tooltip="Amount to be refunded: <b>{{ order.refund_without_fee_string }}</b>"
        qtip-my="bottom right"
        qtip-at="top right"
      ></i></span>
  </div>
  <div class="col-md-1 text-right">
    {{ order.refund_amount_string }}
  </div>
</div>
{% endif %}
<br>
<div class="row">
  <div class="col-md-2 col-md-offset-9 text-right">
    <span class="h4"><b>Total Cost</b>:</span>
  </div>
  <div class="col-md-1 text-right">
    <span class="h4">{{ order.amount_string }}</span>
  </div>
</div>


{% endblock %}

{% block extracss %}
{{ block.super }}
  <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/plupload/2.3.6/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet">
{% endblock %}
