{% extends "supplements/tab_view_base.html" %}
{% load static %}

{% block extra_pls_css %}
<link href="{% static 'libs/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet">
{% endblock %}

{% block tab_content %}

<div>
  {% include "supplements/partials/filter_form.html" %}
</div>

<hr />

<h1>Orders</h1>
<table class='table table-striped' >
  <thead>
    <th>Order ID</th>
    <th>Authorize.net Payment ID</th>
    <th>Customer</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Status</th>
    <th id="payout-column">Payout</th>
    <th>Print</th>
  </thead>
  <tbody>
    {% for pls_order in object_list %}
    <tr>
      <td>
        <a title='Edit'
           href="{% url 'admin:supplements_plsorder_change' pls_order.id %}">
          {{ pls_order.order_number }}
        </a>
      </td>
      <td>{{ pls_order.stripe_transaction_id }}</td>
      <td>{{ pls_order.user.email }}</td>
      <td>{{ pls_order.amount_string }}</td>
      <td>{{ pls_order.created_at_string }}</td>
      <td>{{ pls_order.status_string }}</td>
      <td>
        <div class='order-payout-wrapper' data-order-id="{{ pls_order.id }}">
          <input
            class='order-payout'
            type='text'
            value="{{ pls_order.payout.reference_number }}" />
        </span>
      </td>
      <td>
        <a href="{% url 'pls:orderitem_list' %}?order_number={{ pls_order.order_number }}">
          View
        </a>
      </td>
    {% empty %}
      <td colspan="8">No orders yet.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "supplements/partials/paging.html" %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'libs/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/pls_payment.js' %}"></script>
<script type='application/javascript'>
  $("#id_date").datepicker();
</script>
{% endblock %}
