{% extends "supplements/tab_view_admin.html" %}
{% load static compress template_helper widget_tweaks perms_helper %}

{% block extra_pls_css %}
<link href="{% static 'libs/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet">
{% endblock %}

{% block tab_content %}

<div>
  <form role="form" autocomplete="off">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.order_number.errors }}
          <label class="control-label">Order ID:</label>
          {{ form.order_number|add_class:"form-control" }}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.line_status.errors }}
          <label class="control-label">Printed Status:</label>
          {{ form.line_status|add_class:"form-control" }}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.label_size.errors }}
          <label class="control-label">Label Size:</label>
          {{ form.label_size|add_class:"form-control" }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.email.errors }}
          <label class="control-label">Customer Email:</label>
          {{ form.email|add_class:"form-control" }}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.product_sku.errors }}
          <label class="control-label">Product SKU:</label>
          {{ form.product_sku|add_class:"form-control" }}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.label_sku.errors }}
          <label class="control-label">Label SKU:</label>
          {{ form.label_sku|add_class:"form-control" }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">Date Range:</label>
          <div id="date" class="form-control">
            <i class="fa fa-calendar m-r-xs"></i>
            <span>All Time</span>
            <b class="caret pull-right" style="position:relative;right:-7px;top:8px;"></b>
          </div>
          <input type="hidden" type="text" name="date" value="{{ date_range|default:'' }}" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.batch_number.errors }}
          <label class="control-label">Batch Number:</label>
          {{ form.batch_number|add_class:"form-control" }}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.shipstation_status.errors }}
          <label class="control-label">Fulfillment Status:</label>
          {{ form.shipstation_status|add_class:"form-control" }}
        </div>
      </div>
    </div>

    {% if request.user|can:'pls_admin.use' or request.user|can:'pls_staff.use' %}
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.supplier.errors }}
          <label class="control-label">Supplier:</label>
          {{ form.supplier|add_class:"form-control" }}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.cancelled.errors }}
          {{ form.cancelled }}
          <label class="control-label m-l-xs" for="id_cancelled">Hide Cancelled in ShipStation</label>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Filter" />
    <input type="button" class="btn btn-default pls-reset-btn" value="Clear" />
  </form>
</div>

<hr />

<div class="row">

  <div class="col-md-8">
    <h1 style="margin: 0px;">Order Line Items</h1>
    <div class='m-t'>
      <strong>Found {{ total_line_items }} item{{ total_line_items|pluralize }}</strong>
    </div>
  </div>

  <div class="col-md-2 m-t">
    <span id='print-message'></span>
  </div>

  <div class="col-md-2 m-t-xs">
    <div class="dropdown">
      <button class="btn btn-default btn-outline dropdown-toggle" type="button" id="dropdownMenu1" >
        Actions
        <span class="caret"></span>
      </button>
      <ul id="store-dropdown-menu" class="dropdown-menu" style="display: none;">
        <li><a href="#" id="print-all-labels">Print Labels</a></li>
        <li><a href="#" id="mark-all-labels">Mark as Printed</a></li>
        <li><a href="#" id="unmark-all-labels">Mark as Not Printed</a></li>
        <li><a href="{% url 'supplements:orderitem_list' %}?send_shipstation=1">Send to Shipstation</a></li>
      </ul>
    </div>

  </div>
</div>

<table class="table table-striped m-t">
  <thead>
    <th><input id="select-all-lines" type="checkbox" title="Select all" /></th>
    <th>Order ID</th>
    <th>Line Item SKU</th>
    {% if warehouse_account is None %}
      <th>ShipStation Account</th>
    {% endif %}
    <th>Label SKU</th>
    <th>Tracking</th>
    <th>Label Size</th>
    <th>Batch</th>
    <th>Fulfillment</th>
    <th>Quantity</th>
    <th>Date</th>
    <th>Status</th>
    <th>Shipping Method</th>
    <th>Paid</th>
    <th></th>
  </thead>
  <tbody>
    {% for line_item in object_list %}
    <tr>
      <td>
        <input class="line-checkbox"
               data-id="{{ line_item.id }}"
               type="checkbox" />
      </td>
      <td>
        {{ line_item.pls_order.shipstation_order_number }}
      </td>
      <td>{{ line_item.label.user_supplement.pl_supplement.shipstation_sku }}</td>
      {% if warehouse_account is None %}
        <td>{{ line_item.label.user_supplement.pl_supplement.shipstation_account }}</td>
      {% endif %}
      <td>
        <a href="{% url 'pls:admin_label_history' line_item.label.user_supplement.id %}"
            title="View History">
          {{ line_item.label.sku }}</a>
      </td>
      <td>{{ line_item.tracking_number }}</td>
      <td>{{ line_item.label.user_supplement.pl_supplement.label_size }}</td>
      <td>{{ line_item.pls_order.batch_number|default:'N/A' }}</td>
      <td>{{ line_item.fulfillment_status_string }}</td>
      <td>{{ line_item.quantity }}</td>
      <td>{{ line_item.created_at|user_date }}</td>
      <td class="label-status">{{ line_item.label_status_string }}</td>
      <td>{{ line_item.shipping_service }}</td>
      <td>
        {% if line_item.is_refunded %}
        <span class="badge badge-warning">Refunded</span>
        <i class="fa fa-fw fa-question-circle"
          qtip-tooltip="Refund Amount: <b>{{ line_item.refund_amount }}</b><br>Description: {{ line_item.pls_order.refund.description }}"
          qtip-my="bottom right"
          qtip-at="top right"
        ></i>
        {% else %}
        <span class="badge badge-primary">Paid</span>
        {% endif %}

      </td>
      <td>
        <a href="{% url 'pls:generate_label' line_item.id %}"
          class="download-order-item-label btn btn-success btn-xs m-l-xs"
          target="_blank"
          data-item-id="{{ line_item.id }}">
          Download
        </a>

        <a class="btn btn-info btn-xs m-l-xs sync-shipstation" data-button-loading="Syncing" data-order-id="{{ line_item.pls_order.shipstation_order_number }}" href="#">Sync Shipstation</a>

        {%  if line_item.label.need_barcode_fix %}
        <a href="{% url 'pls:generate_label' line_item.id %}?validate=1"
          class="btn btn-success btn-xs m-l-xs m-r-sm fix-barcode">
          Fix Barcode
        </a>
        {% endif %}
      </td>
    {% empty %}
      <td colspan="10">No orders yet.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="paging-supplement">
  {% include "supplements/partials/paging.html" %}
  <div class="dropdown">
    <button class="btn btn-default btn-outline dropdown-toggle" type="button" id="dropdownMenu2" >
      Page
      <span class="caret"></span>
    </button>
    <ul id="store-dropdown-menu-2" class="dropdown-menu" style="display: none;">
      <li><a>20</a></li>
      <li><a>50</a></li>
      <li><a>100</a></li>
    </ul>
  </div>
</div>


{% include "supplements/partials/current_label_info_modal.html" %}

<div id="modal-new-label-barcode" class="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Is this Barcode properly positioned?</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</a>
        <a href="" target="_blank" class="btn btn-primary renew">Yes, save it!</a>
      </div>
    </div>
  </div>
</div>

<div id="modal-label-history" class="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border: 0;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          Label History
        </h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block extracss %}
<style type="text/css">
  #modal-label-history tr td {
    vertical-align: middle;
  }

  #modal-label-history tr td img {
    max-width: 200px;
  }
</style>

{% compress css %}
<link href="{% static 'pls/css/pls.css' %}" rel="stylesheet">
<link href="{% static 'libs/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{% endcompress %}

{% endblock %}

{% block extrajs %}
{% compress js %}
<script type="text/javascript" src="{% static 'pls/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bower_components/moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/plsorderline_list.js' %}"></script>
{% endcompress %}

<script type='application/javascript'>
  setupDateRangePicker('#date', 'input[name="date"]');
</script>
{% endblock %}
