{% extends "supplements/tab_view_admin.html" %}
{% load static compress %}

{% block extra_pls_css %}
<link href="{% static 'libs/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet">
{% endblock %}

{% block tab_content %}

{% if error %}
<div class="alert alert-info alert-dismissable">
  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
  The transaction against this order has not yet settled. Please wait for this to get settled first.
</div>
{% endif %}

<div>
  {% include "supplements/partials/filter_form.html" %}
</div>

<hr />

<h1>Orders</h1>
<table class='table table-striped' >
  <thead>
    <th>Order ID</th>
    <th>Authorize.net Payment ID</th>
    <th>Customer</th>
    <th>Total Amount</th>
    <th>Shipping Cost</th>
    <th>Refund <br> (Amount - Restocking Fee)</th>
    <th>Date</th>
    <th>Status</th>
    <th id="edit-column">Payout</th>
    <th>Print</th>
  </thead>
  <tbody>
    {% for pls_order in object_list %}
    <tr>
      <td>
        <a title='Edit'
           href="{% url 'admin:supplements_plsorder_change' pls_order.id %}">
          {{ pls_order.shipstation_order_number }}
        </a>
      </td>
      <td><a href="{% url 'pls:my_order_detail' order_id=pls_order.id %}" >{{ pls_order.stripe_transaction_id }}</a></td>
      <td>{{ pls_order.user.email }}</td>
      <td>{{ pls_order.amount_string }}</td>
      <td>{{ pls_order.shipping_price_string }}</td>
      <td>
        {{ pls_order.refund_amount_string }}
        {% if pls_order.refund %}
        <i class="fa fa-fw fa-question-circle"
          qtip-tooltip="Restocking Fee: <b>{{ pls_order.refund_fee_string }}</b><br>Description: {{ pls_order.refund.description }}"
          qtip-my="bottom right"
          qtip-at="top right"
        ></i>
        {% endif %}
      </td>
      <td>{{ pls_order.created_at|date:"m.d.Y h:iA" }}</td>
      <td>{{ pls_order.status_string }}</td>
      <td>
        <div class="order-payout-wrapper editable-column-wrapper" data-order-id="{{ pls_order.id }}">
          <input
            class="order-payout editable-column"
            type="text"
            value="{{ pls_order.payout.reference_number }}" />
        </div>
      </td>
      <td>
        <a href="{% url 'pls:orderitem_list' %}?order_number={{ pls_order.shipstation_order_number }}">
          View
        </a>
      </td>
      <td>
        {% if not pls_order.refund %}
        <button class="btn btn-default btn-outline btn-xs make-refund" data-order-id="{{ pls_order.id }}"
          {% if refund_form.errors %} style="color:#ed5565;"{% endif %}>Refund</button>
        {% endif %}
      </td>
    {% empty %}
      <td colspan="8">No orders yet.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "supplements/partials/paging.html" %}
{% include "supplements/partials/orders_refund_modal.html" %}

{% endblock %}

{% block extracss %}

{% compress css %}
<link href="{% static 'libs/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{% endcompress %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'libs/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bower_components/handlebars/handlebars.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bower_components/moment/min/moment.min.js' %}"></script>

<script type="text/javascript" src="{% static 'pls/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/pls_payment.js' %}"></script>
<script type='application/javascript'>
  setupDateRangePicker('#date', 'input[name="date"]');
</script>
{% endblock %}
