{% extends "supplements/tab_view_admin.html" %}

{% load widget_tweaks %}
{% load static %}

{% block tab_content %}
<form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="row">
    <div class="form-group {{ form.title.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Name:</label>
      <div class="col-sm-5">
        {{ form.title|add_class:"form-control" }}
        {% for error in form.title.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.description.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Description:</label>
      <div class="col-sm-5">
        {{ form.description|add_class:"form-control" }}
        {% for error in form.description.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.category.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Category:</label>
      <div class="col-sm-5">
        {{ form.category|add_class:"form-control" }}
        {% for error in form.category.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.tags.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Tags:</label>
      <div class="col-sm-5">
        {{ form.tags|add_class:"form-control" }}
        {% for error in form.tags.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.shipstation_sku.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">SKU:</label>
      <div class="col-sm-5">
        {{ form.shipstation_sku|add_class:"form-control" }}
        {% for error in form.shipstation_sku.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.cost_price.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Cost Price:</label>
      <div class="col-sm-5">
        <div class='input-group'>
          <span class="input-group-addon">$</span>
          {{ form.cost_price|add_class:"form-control" }}
        </div>
        <i class="fa fa-fw fa-question-circle"
            qtip-tooltip="The price paid by the user."
            qtip-my="bottom center"
            qtip-at="top center"
            style="font-size:16px;color:#BBB;margin-top:7px;position: absolute;right: -15px;top: 0px;"
        ></i>
        {% for error in form.cost_price.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.wholesale_price.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Wholesale Price:</label>
      <div class="col-sm-5">
        <div class='input-group'>
          <span class="input-group-addon">$</span>
          {{ form.wholesale_price|add_class:"form-control" }}
        </div>
        <i class="fa fa-fw fa-question-circle"
        qtip-tooltip="The raw cost of the product to be paid to the supplier."
        qtip-my="bottom center"
        qtip-at="top center"
        style="font-size:16px;color:#BBB;margin-top:7px;position: absolute;right: -15px;top: 0px;"
        ></i>
        {% for error in form.wholesale_price.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.weight.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Weight (lb):</label>
      <div class="col-sm-5">
        <div class='input-group'>

          {{ form.weight|add_class:"form-control" }}
            <span class="input-group-addon">lb</span>
        </div>
        <i class="fa fa-fw fa-question-circle"
        qtip-tooltip="Weight of one item (lb)"
        qtip-my="bottom center"
        qtip-at="top center"
        style="font-size:16px;color:#BBB;margin-top:7px;position: absolute;right: -15px;top: 0px;"
        ></i>
        {% for error in form.weight.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.msrp.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">MSRP:</label>
      <div class="col-sm-5">
        <div class='input-group'>

          <span class="input-group-addon">$</span>
          {{ form.msrp|add_class:"form-control" }}
        </div>
        <i class="fa fa-fw fa-question-circle"
        qtip-tooltip="Suggested Retail Price of one item"
        qtip-my="bottom center"
        qtip-at="top center"
        style="font-size:16px;color:#BBB;margin-top:7px;position: absolute;right: -15px;top: 0px;"
        ></i>
        {% for error in form.msrp.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.shipping_countries.errors|yesno:'has-error,' }}">
      {{ form.inventory.errors }}
      <label class="col-sm-2 control-label">Inventory:</label>
      <div class="col-sm-5">
        {{ form.inventory|add_class:"form-control" }}
      </div>
    </div>

    <div class="form-group">
      {{ form.shipping_countries.errors }}

      <label class="col-sm-2 control-label">Shipping Countries:</label>
      <div class="col-sm-5">
        {{ form.shipping_countries|add_class:'form-control' }}
        {% for error in form.shipping_countries.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.label_size.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Label Size:</label>
      <div class="col-sm-5">
        {{ form.label_size|add_class:'form-control' }}
        {% for error in form.label_size.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.mockup_type.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Mockup Style:</label>
      <div class="col-sm-5">
        {{ form.mockup_type|add_class:'form-control' }}
        {% for error in form.mockup_type.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
    </div>
    </div>


    <div class="form-group {{ form.template.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Template:</label>
      <div class='col-sm-7'>
        <div class="custom-file">
          <input id="product-template" type="file" name="template" class="custom-file-input">
          <label for="product-template" class="custom-file-label" data-placeholder="Choose template file...">
            Choose template file...
          </label>
        </div>
        {% for error in form.template.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.thumbnail.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Thumbnail:</label>
      <div class='col-sm-7'>
        <div class="custom-file">
          <input id="product-thumbnail" type="file" name="thumbnail" class="custom-file-input">
          <label for="product-thumbnail" class="custom-file-label" data-placeholder="Choose thumbnail file...">
            Choose thumbnail file...
          </label>
        </div>
        {% for error in form.thumbnail.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.approvedlabel.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Pre-Approved Label:</label>
      <div class='col-sm-7'>
        <div class="custom-file">
          <input id="product-label-url" type="file" name="approvedlabel" class="custom-file-input">
          <label for="product-label-url" class="custom-file-label" data-placeholder="Choose file...">
            Choose file...
          </label>
        </div>
        {% for error in form.approvedlabel.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group {{ form.product_information.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Product Information:</label>
      <div class="col-sm-5">
        {{ form.product_information|add_class:"form-control" }}
        {% for error in form.product_information.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Active:</label>
      <div class="col-sm-5" style="padding-top: 7px;">
        {{ form.is_active }}
      </div>
    </div>

    <div class="form-group {{ form.authenticity_certificate.errors|yesno:'has-error,' }}">
      <label class="col-sm-2 control-label">Authenticity Certificate:</label>
      <div class='col-sm-7'>
        <div class="custom-file">
          <input id="product-certificate" type="file" name="authenticity_certificate" class="custom-file-input">
          <label for="product-certificate" class="custom-file-label" data-placeholder="Choose certificate file...">
            Choose certificate file...
          </label>
        </div>
        {% for error in form.authenticity_certificate.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="form-group" id="product-buttons">
      <div class="col-sm-offset-2 col-sm-7">
        <input type="submit" value="Save" class="btn btn-primary add-loader" data-loading-text="Saving...">
        <input type="reset" value="Reset" class="btn btn-default">
      </div>
    </div>

  </div>
</form>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'pls/js/common.js' %}"></script>
{% endblock %}
