{% extends "supplements/tab_view_base.html" %}

{% load static %}
{% load perms_helper %}
{% load template_helper %}
{% load compress %}
{% load widget_tweaks %}

{% block extra_pls_css %}
<link rel="stylesheet" type="text/css" href="{% static 'libs/slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'libs/slick/slick-theme.css' %}"/>
{% endblock %}

{% block tab_content %}
<div class="tabs-container">
  <ul class="nav nav-tabs scrolling-tabs">
    <li class="nav-item active">
      <a class="nav-link" data-toggle="tab" href="#edit">Edit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#info">Info</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active m-t" id="edit">
      <form id="user_supplement_form" name="user_supplement_form" method="POST" class="form-horizontal" role="form">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.action }}
          {{ form.upload_url }}
          {{ form.mockup_slug }}
          {{ form.label_presets }}
          <div class="row">
            <div class="col-md-8">
              {% include "supplements/partials/edit_form.html" %}
              {% block form_action %}
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-xs-12">
                  <input type="submit"
                         value="Create Supplement"
                         data-action="approve"
                         data-label-url="{{label_url}}"
                         class="btn btn-primary confirm-create"
                         data-loading-text="Please wait..."
                         >

                  <input type="submit"
                         value="Save for Later"
                         data-action="save"
                         class="btn btn-primary confirm-create"
                         data-loading-text="Please wait..."
                         >
                  {% if approved_label_url %}
                  <input type="submit"
                         value="Send Sample to Store"
                         id="sample_label"
                         data-action="preapproved"
                         class="btn btn-success"
                         data-loading-text="Please wait..."
                         data-label-url="{{ approved_label_url }}"
                         data-send-to-store="false"
                         data-post-url="{{request.path}}"
                         data-redirect-url="{% url 'pls:my_supplements' %}"
                         >
                  {% endif %}

                  <input type="reset" value="Reset" class="btn btn-default">
                </div>
              </div>
              {% endblock %}
            </div>
            <div class="col-md-4">
              {% include "supplements/partials/images.html" %}
            </div>
          </div>
        </form>
    </div>

    <div class="tab-pane fade m-t" id="info">
      <div class="row">
        <div class="col-md-10">
          <label class="col-sm-3 col-xs-12 control-label">Product Information:</label>
          <div class="col-sm-9 col-xs-12">
            {{ product_information }}
          </div>
        </div>
      </div>

      {% if authenticity_cert %}
      <div class="row m-t">
        <div class="col-md-10">
          <label class="col-sm-3 col-xs-12 control-label">Authenticity Certificate:</label>
          <div class="col-sm-9 col-xs-12">
            <div>
              <div class="image-imitation">
                <embed alt="image" class="img-fluid" src="{{ authenticity_cert }}" type='application/pdf' height="500px" width="100%" />
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block product_footer %}
<div class='row'>
  <div class='col-md-6 m-t'>
    <div class="panel panel-info label-banner">
      <div class="panel-heading label-banner">
        <h3>Label Requirements</h3>
      </div>
      <div class="panel-body">
        <p>
        Before you upload your label please read our guidelines to learn how to
        present your design and ensure it is approved.
        You can learn more about what you can include in our support portal.
       </p>
       <p><a href="https://help.dropified.com/en/articles/3824485-supplement-label-guidelines" target="_blank" role="button" class="btn btn-primary btn-md">Read Guidelines</a></p>
      </div>
    </div>
  </div>
</div>

{% include "supplements/partials/send_to_store_modal.html" %}
{% include "supplements/partials/mockup_images_modal.html" with label_url=label_url approved_label_url=approved_label_url %}
{% endblock %}

{% block extracss %}
{{ block.super }}
<link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/plupload/2.3.6/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $.fn.bootstrapBtn = $.fn.button.noConflict();
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/plupload/2.3.6/plupload.full.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/plupload/2.3.6/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/ckeditor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pusher/3.2.4/pusher.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdf.js/2.3.200/pdf.min.js"></script>

<script type="text/javascript">
var apiData = {{ api_data|safe }};
var storeData = {{ store_data|safe }}
var mockupLayers = {% json_dumps mockup_layers %};
setup_full_editor('id_description');

{% if aws_available %}
window.plupload_Config = {
  url: "https://{% app_setting 'AWS_STORAGE_BUCKET_NAME' %}.s3.amazonaws.com/",
  uploadedUrl: "http://{% app_setting 'AWS_STORAGE_BUCKET_NAME' %}.s3.amazonaws.com/",
  AWSAccessKeyId: "{% app_setting 'AWS_ACCESS_KEY_ID' %}",
  policy: "{{aws_policy|escapejs}}",
  signature: "{{aws_signature|escapejs}}",
  key: "uploads/u{{user.id}}/${filename}",
  imgPolicy: "{{aws_images.aws_policy|escapejs}}",
  imgSignature: "{{aws_images.aws_signature|escapejs}}",
  saveFormID: '#user_supplement_form',
};
{% endif %}
</script>

{% compress js %}
<script type="text/javascript" src="{% static 'libs/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/supplement.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/send_to_store.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/mockup_editor.js' %}"></script>
{% endcompress %}
{% endblock %}
