{% extends "supplements/base.html" %}

{% load static %}
{% load compress %}
{% load perms_helper %}

{% block main-container %}
{% url 'pls:admin_index' as pls_admin_index %}
{% url 'pls:all_user_supplements' as pls_all_user_supplements %}
{% url 'pls:product' as pls_product %}
{% url 'pls:order_list' as pls_orders %}
{% url 'pls:payout_list' as pls_payouts %}
{% url 'pls:orderitem_list' as pls_orderitems %}
{% url 'pls:upload_json' as pls_upload_json %}

{% with pls_admin=request.user|can:'pls_admin.use' pls_staff=request.user|can:'pls_staff.use' %}
<div class="tabs-container">
  <ul class="nav nav-tabs scrolling-tabs">
  {% if pls_staff or pls_admin %}
    {% if request.path ==  pls_all_user_supplements %}
    <li class="active"><a data-toggle="tab" href="#tab-1">User Supplements</a></li>
    {% else %}
    <li><a href="{% url 'pls:all_user_supplements' %}">User Supplements</a></li>
    {% endif %}

    {% if request.path == pls_orderitems %}
    <li class="active"><a data-toggle="tab" href="#tab-1">Order Items</a></li>
    {% else %}
    <li><a href="{% url 'pls:orderitem_list' %}">Order Items</a></li>
    {% endif %}

    {% if request.path == pls_payouts %}
    <li class="active"><a data-toggle="tab" href="#tab-1">Payouts</a></li>
    {% else %}
    <li><a href="{% url 'pls:payout_list' %}">Payouts</a></li>
    {% endif %}
  {% endif %}

  {% if pls_admin %}
    {% if request.path == pls_product %}
    <li class="active"><a data-toggle="tab" href="#tab-1">Add New Supplement</a></li>
    {% else %}
    <li><a href="{% url 'pls:product' %}">Add New Supplement</a></li>
    {% endif %}

    {% if request.path == pls_orders %}
    <li class="active"><a data-toggle="tab" href="#tab-1">Payments</a></li>
    {% else %}
    <li><a href="{% url 'pls:order_list' %}">Payments</a></li>
    {% endif %}

    {% if request.path == pls_upload_json %}
    <li class="active"><a data-toggle="tab" href="#tab-1">Import / Export</a></li>
    {% else %}
    <li><a href="{% url 'pls:upload_json' %}">Import / Export</a></li>
    {% endif %}
  {% endif %}
  </ul>

  <div class="tab-content">
    <div id="tab-1" class="tab-pane active">
      <div class="panel-body">
        {% block tab_notification %}{% endblock %}
        {% block tab_content %}{% endblock %}
      </div>
    </div>
  </div>

  {% block product_footer %}{% endblock %}
</div>
{% endwith %}
{% endblock %}
