{% extends "supplements/tab_view_base.html" %}

{% load static %}
{% load compress %}

{% block tab_content %}
{% include "supplements/partials/user_supplement_filter_form.html" %}

{% if count %}
<div class="supplement-count">
    <strong> Found {{ count }}</strong>
</div>
{% endif %}

{% for row in supplements %}
<div class="row">
  {% for supplement in row %}
  {% include "supplements/partials/userproduct.html" with item=supplement %}
  {% endfor %}
</div>
{% empty %}
  <div class="supplement-count">No supplements yet.</div>
{% endfor %}
{% endblock %}

{% block extrajs %}
{% compress js %}
<script type="text/javascript" src="{% static 'product_common/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'pls/js/common.js' %}"></script>
{% endcompress %}
{% endblock %}
