.no-padding {
    padding: 0 !important;
}
.filter-label {
    padding: 7px 12px;
    font-weight: bold;
    text-align: right;
}
.filter-label select {
    padding: 6px 8px !important;
}
.filter-order-status {
    /*width: 150px;*/
}
.filter-row {
    padding-bottom: 5px;
}
.filter-buttons {
    padding-right: 0;
    margin-right: 0;
}
.orders .row {
    margin: 0 !important;
}
.filter-form {
    background-color: rgb(243, 243, 244)
    border-radius: 5px;
    border: 1px solid rgb(215, 218, 215);
    box-shadow: rgb(215, 218, 215) 0px 0px 10px 0px;
    margin: 10px 5px 0px;
    padding: 15px 0px 20px 15px;
}
.orders {
    margin:  20px 5px;
}
.orders .order {
    border: 1px solid #eee;
    margin: 10px 0 30px 0;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgb(204, 204, 204);
}
.orders .order .header {
    padding: 15px 5px;
    border-bottom: 1px solid #eee;

}
.orders .order .details {
    padding: 0;
}
.orders .order .details .shipping-info {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.orders .order .details .line {
    padding: 0;
    margin: 0;
}
.orders .order .details .line.multi-lines {
    border-top: 1px solid #eee;
}
.orders .order .details .line .source-order {
    padding: 7px 0;
    border-bottom: 1px solid #eee;
}
.orders .order .details .line .item {
}
.orders .order .details .line .table{
    margin: 0;
}
.orders .order .details .line.excluded {
    opacity: 0.5;
}
.orders .order .details .panel {
    margin: 0;
}
.orders .order .details .panel .panel-heading {
    font-weight: bold;
    padding: 2px 0px 0px 5px;
    background: none;
    border-bottom: 0;
}
.orders .order .details .panel .panel-body {
    padding: 0px 0px 0px 5px;
}
.note-panel {
    cursor: pointer !important;
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    width: 300px !important;
    z-index: 999 !important;
    padding: 0 !important;
    margin-top: -11px !important;
    margin-right: -11px !important;
    border-bottom: 0px solid #eee !important;
    border-radius: 0 !important;
    border-color: #eee !important;
}
.note-panel .panel-body {
    border: 0px solid #eee !important;
}
.note-panel .edit-note{
    display: none;
}
.note-panel .edit-note .note {
    width: 99%;
    height: 250px;
    padding-bottom: 35px;
}
.note-panel .edit-note .note-edit-save {
    position: absolute;
    bottom: 7px;
    right: 25px;
    z-index: 1300;
}
.note-panel .edit-note .note-edit-cancel {
    position: absolute;
    bottom: 7px;
    right: 80px;
}

.order {
    background-color: white !important;
}
.gray-panel {
    background-color: #f3f3f4 !important;
}

.icheckbox_square-blue {
    position: relative !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    width: 125px !important;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #989898 !important;
}
.order-status span {
    width: 15px;
    height: 15px;
}
.table > thead > tr > td {
    vertical-align: middle;
    padding: 5px;
}
.table > thead > tr > th {
    text-align: center;
    white-space: nowrap;
}
.table > thead > tr > td:first-child {
    padding: 3px 3px 3px 5px;
    width:64px;
}
.table > thead > tr > td:first-child > img {
    width:64px;
}
ul.shipping-method {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style: none;
    margin-top: 5px;
    font-weight: bold;
}
.select2-results .select2-results__options .select2-results__option {
    min-height: 51px;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
.select2-results .select2-results__options .select2-results__option img {
    height: 50px;
    float: left;
    margin-right: 5px;
}
.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.bundle-items {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}
