.logo {
  margin: 35px 0 0 -10px;
  text-align: center;
}

.sidebar .profile {
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.sidebar .account {
  margin: 20px;
  margin-top: 0;
  font-family: Lato;
  font-size: 12px;
  color: rgb(167, 177, 194);
  margin-left: 30px;
}

.sidebar .profile .name {
  font-family: Lato;
  font-size: 15px;
  color: white;
  margin-left: 10px;
}

.sidebar .profile .name a,
.sidebar .account a {
  color: inherit;
}

.sidebar .profile .icon {
  font-family: Lato;
  font-size: 15px;
  color: white;
}

.sidebar ul {
  margin-top: 25px;
  list-style: none;
  padding-left: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.sidebar ul a {
  color: inherit;
  display: block;
}

.sidebar .section {
  margin-top: 10px;
}

.sidebar .section .icon {
  color: #8bb670;
}

.sidebar .section span.item-title,
.sidebar .item,
.sidebar .section-no-icon {
  margin-left: 10px;
  transition: all .15s ease;
}

.sidebar .item:hover,
.sidebar span.item-link:hover,
.sidebar .section-no-icon:hover,
.sidebar .active,
.sidebar .active span.item-title {
  color: white;
  opacity: 1;
}

.sidebar .section span.item-title:hover {
  cursor: default;
}

.sidebar .spacer {
  margin-top: 60px;
}

.sidebar ul li {
  margin-top: 2px;
}

.sidebar ul .item {
  padding-left: 30px;
  transition: all .15s ease;
}

.sidebar ul .section .section-header {
  display: flex;
}

/*.sidebar ul .section div {*/
/*  height: 21px;*/
/*  width: 21px;*/
/*}*/

#academy-span {
  font-weight: 600;
}

.new .logo, .new .logo-mini {
  padding: 15px 75px 15px 24px;
  height: fit-content;
  margin: 0;
  margin-left: 50px;
}

.new .logo img, .new .logo-mini img {
  height: 34px;
}

.fixed-sidebar.mini-navbar .new .logo-mini, .fixed-sidebar .new .logo, .fixed-sidebar.body-small .new .logo-mini {
  display: block;
}

.fixed-sidebar.mini-navbar .new .logo, .fixed-sidebar .new .logo-mini, .fixed-sidebar.body-small .new .logo {
  display: none;
}

.plan-badge-wrapper {
  display: flex;
  align-items: center;
  border-left: 1px solid #E8E8E8;
}

.fixed-sidebar .plan-badge-wrapper {
  margin-left: 230px;
}

.fixed-sidebar.mini-navbar .plan-badge-wrapper, .fixed-sidebar.body-small .plan-badge-wrapper {
  margin-left: 78px;
}

.new.sidebar ul {
  padding-top: 16px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
}

.new.sidebar .navfooter {
  margin-top: 0;
  padding: 20px 16px;
}

.new.sidebar .navfooter a {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #969696;
}

.new.sidebar .navfooter a:hover {
  color: #6BAA55;
}

.new li.item .item-icon, .new .section-no-icon .item-icon {
  height: 20px;
}

.new .section-no-icon:hover .item-icon, .new .section-no-icon.active .item-icon,
.new li:hover.item .item-icon, .new li.item.active .item-icon {
  filter: none;
}

.new.sidebar ul .section .section-header .section-header-content .item-icon,
.new .section-no-icon .item-icon, .new .item .item-icon {
  filter: invert(1);
}

.new.sidebar ul .section div {
  height: auto;
  width: auto;
}
