{% load perms_helper %}

<button class="btn btn-primary pull-right itooltip aliexpress-sync-btn" data-store="{{store.id}}"
title="Click Sync with Supplier to fetch order updates from AliExpress & eBay.">
    Sync with Supplier <i class="dropified-icons di-user-check" style="color: #fff;"></i></a></button>

<div class="btn-group pull-right">
    <button data-toggle="dropdown" class="btn btn-default btn-outline btn-rounded btn-sm dropdown-toggle" style="background-color: #F7F7F7; color: #1C1C1C;" aria-expanded="false">
        Bulk Actions <i class="dropified-icons di-bolt" style="color: #969696;"></i></button>
    <ul class="dropdown-menu">
        <li>
            <a class="btn-success btn-outline sync-selected-btn" store-id="{{store.id}}">
                <i class="fa fa-refresh"></i> Sync Selected Orders
            </a>
        </li>
        {% if not use_aliexpress_api %}
        <li>
            <a class="btn-success btn-outline quick-sync-selected-btn" id="quick-sync-selected-orders" store-id="{{store.id}}">
                <i class="fa fa-refresh"></i> Sync Selected Orders with API
            </a>
        </li>
        {% endif %}
        <li>
            <a class="archive-selected-orders-btn" store-id="{{store.id}}">
                <i class="fa fa-archive"></i> Archive Orders
            </a>
        </li>
        <li>
            <a class="btn-danger btn-outline delete-order-id-btn" store-id="{{store.id}}">
                <i class="fa fa-times"></i> Delete Order IDs
            </a>
        </li>
    </ul>
</div>

{% if show_export_btn and not request.user.is_subuser %}
<a class="btn btn-outline btn-default btn-rounded btn-sm itooltip export-tracked-orders pull-right" style="background-color: #F7F7F7; color: #1C1C1C;"
    title="Clicking Export will export this page with Tracking numbers to a CSV file" data-store="{{ store.id }}"><i class="fa fa-upload"></i> Export </a>
{% endif %}

{% if request.user|can:'order_imports.use' %}
<a class="btn btn-outline btn-default btn-rounded btn-sm itooltip pull-right"
    title="Import Tracking IDs"
    href="{% url 'order_imports_index' %}"
    style="background-color: #F7F7F7; color: #1C1C1C;"><i class="fa fa-download"></i> Import</a>
{% endif %}
