<ul class="actions">
    <li>
        <a href="javascript:;" class="text-default filter-btn">
            Filter by
            <span class="dropified-icons di-arrow-down"></span>
        </a>
    </li>

    <li class="pull-right group">
        <input name="query" value="{{request.GET.query|default:''}}" class="form-control" placeholder="Order ID or Tracking number">
        <button type="submit" class="btn btn-primary btn-icon">
          <i class="fa fa-search"></i>
        </button>
    </li>

    {% if not paginator.is_infinte %}
    <li class="pull-right border-right">
        <span class="text-default">{{paginator.count}} Item(s)</span>
    </li>
    {% endif %}
</ul>

<div id="filter-form" class="hidden-form {% if request.COOKIES.orders_filter == 'true' %}active{% endif %}" data-hidden-link=".filter-btn">
    <form method="get" class="form" style="position: relative;">
        {% if request.GET.store %}<input type="hidden" name="store" value="{{ request.GET.store }}">{% endif %}
        {% if request.GET.sort %}<input type="hidden" name="sort" value="{{ request.GET.sort }}">{% endif %}
        <div class="row">
            {% if show_date_range %}
            <div class="col-md-4">
                <label>Date Range</label>
                <div id="date" class="form-control">
                    <i class="fa fa-calendar m-r-xs"></i>
                    <span>All Time</span>
                    <b class="caret pull-right" style="position:relative;right:-7px;top:8px;"></b>
                </div>
                <div class="datepicker-placeholder"></div>
                <input type="hidden" type="text" name="date" value="{{ date|default:'' }}" />
                <span class="help-block"></span>
            </div>
            {% endif %}
            <div class="col-md-4">
                <label>Tracking #</label>
                <select name="tracking" class="form-control">
                    <option {% if request.GET.tracking != '0' and  request.GET.tracking != '1' %}selected="selected"{% endif %} value="">Any</option>
                    <option {% if request.GET.tracking == '1' %}selected="selected"{% endif %} value="1">Has Tracking #</option>
                    <option {% if request.GET.tracking == '0' %}selected="selected"{% endif %} value="0">No Tracking #</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>{{ platform }} Status:</label>
                <select name="fulfillment" class="form-control">
                    <option {% if not request.GET.fulfillment  or request.GET.fulfillment == '2' %}selected="selected"{% endif %} value="2">Any</option>
                    <option {% if request.GET.fulfillment == '1' %}selected="selected"{% endif %} value="1">Fulfilled</option>
                    <option {% if request.GET.fulfillment == '0' %}selected="selected"{% endif %} value="0">Not Fulfilled</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Supplier Status:</label>
                <select name="reason" class="form-control" data-placeholder="Any">
                    <option value=""></option>
                    <optgroup label="Order Status">
                        <option {% if reason == '_PLACE_ORDER_SUCCESS' %}selected="selected"{% endif %} value="_PLACE_ORDER_SUCCESS">Awaiting Payment</option>
                        <option {% if reason == '_IN_CANCEL' %}selected="selected"{% endif %} value="_IN_CANCEL">Awaiting Cancellation</option>
                        <option {% if reason == '_WAIT_SELLER_SEND_GOODS' %}selected="selected"{% endif %} value="_WAIT_SELLER_SEND_GOODS">Awaiting Shipment</option>
                        <option {% if reason == '_SELLER_PART_SEND_GOODS' %}selected="selected"{% endif %} value="_SELLER_PART_SEND_GOODS">Partial Shipment</option>
                        <option {% if reason == '_WAIT_BUYER_ACCEPT_GOODS' %}selected="selected"{% endif %} value="_WAIT_BUYER_ACCEPT_GOODS">Awaiting delivery</option>
                        <option {% if reason == '_WAIT_GROUP_SUCCESS' %}selected="selected"{% endif %} value="_WAIT_GROUP_SUCCESS">Pending operation success</option>
                        <option {% if reason == '_FINISH' %}selected="selected"{% endif %} value="_FINISH">Order Completed</option>
                        <option {% if reason == '_IN_ISSUE' %}selected="selected"{% endif %} value="_IN_ISSUE">Dispute Orders</option>
                        <option {% if reason == '_IN_FROZEN' %}selected="selected"{% endif %} value="_IN_FROZEN">Frozen Orders</option>
                        <option {% if reason == '_WAIT_SELLER_EXAMINE_MONEY' %}selected="selected"{% endif %} value="_WAIT_SELLER_EXAMINE_MONEY">Payment not yet confirmed</option>
                        <option {% if reason == '_RISK_CONTROL' %}selected="selected"{% endif %} value="_RISK_CONTROL">Payment being verified</option>
                        <option {% if reason == '_IN_PRESELL_PROMOTION' %}selected="selected"{% endif %} value="_IN_PRESELL_PROMOTION">Promotion is on</option>
                        <option {% if reason == '_FUND_PROCESSING' %}selected="selected"{% endif %} value="_FUND_PROCESSING">Fund Processing</option>
                    </optgroup>

                    <optgroup label="Order Cancellation Reason">
                        {% for key, value in rejected_status.items %}
                        <option {% if reason == key %}selected="selected"{% endif %}
                                value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
            {% if show_order_errors %}
            <div class="col-md-4">
                <label>Order Errors:</label>
                <select name="errors" class="form-control" data-placeholder="Errors Filter" multiple>
                    <option value=""></option>
                    <option {% if 'none' in errors %}selected="selected"{% endif %} value="none">No Errors</option>
                    <option {% if 'any' in errors %}selected="selected"{% endif %} value="any">Any Errors</option>
                    <option {% if 'pending' in errors %}selected="selected"{% endif %} value="pending">Pending Errors Verification</option>
                    <option {% if '1' in errors %}selected="selected"{% endif %} value="1">Customer Name</option>
                    <option {% if '2' in errors %}selected="selected"{% endif %} value="2">Customer City</option>
                    <option {% if '4' in errors %}selected="selected"{% endif %} value="4">Customer Country</option>
                </select>
            </div>
            {% endif %}

            <div class="col-md-4">
                <label>Archived:</label>
                <select name="hidden" class="form-control">
                    <option {% if request.GET.hidden == '2' %}selected="selected"{% endif %} value="2">Any</option>
                    <option {% if not request.GET.hidden or request.GET.hidden == '0' %}selected="selected"{% endif %} value="0">Not Archived</option>
                    <option {% if request.GET.hidden == '1' %}selected="selected"{% endif %} value="1">Archived</option>
                </select>
            </div>

            {% if show_days_passed %}
            <div class="col-md-4">
                <label>Number of Days Passed:</label>
                <input name="days_passed" type="number" max="360" value="{{request.GET.days_passed|default:''}}" class="form-control" placeholder="Number of Days Passed">
            </div>
            {% endif %}

            <div class="col-md-4">
                <label>Sort by:</label>
                <select name="sort" class="form-control">
                    <option value="">Select an option</option>
                    <option {% if request.GET.sort in "-order,order" %} selected {% endif %} value="order">{{ platform }} Order</option>
                    <option {% if request.GET.sort in "-source,source" %} selected {% endif %} value="source">Supplier Order</option>
                    <option {% if request.GET.sort in "-status,status" %} selected {% endif %} value="status">Supplier Status</option>
                    <option {% if request.GET.sort in "-tracking,tracking" %} selected {% endif %} value="tracking">Tracking Number</option>
                    <option {% if request.GET.sort in "-add,add" %} selected {% endif %} value="add">Order Date</option>
                    <option {% if request.GET.sort|default:"-update" in "-update,update" %} selected {% endif %} value="update">Updated</option>
                </select>
                <label for="sort-desc" class="control-label">
                    <input type="checkbox" name="desc" value="true" class="icheck"
                           {% if '-' in request.GET.sort|default:'-update' or request.GET.desc %}checked{% endif %}>
                    Descending
                </label>
            </div>

            <div class="col-md-12">
                <button class="btn btn-primary">Apply</button>
            </div>
        </div>
    </li>
</form>
