{% load cache %}

<script src="//fast.appcues.com/20262.js"></script>
<script src="//fast.appcues.com/widget-bundle.js"></script>

<script>
    {% if user.is_authenticated and not DEBUG %}

        {% with plan=user.profile.plan %}
        var dataLayer = [{
            userPlan: '{{plan.title}}',
            monthlyPlan: {{plan.is_stripe|lower}},
            pageCategory: 'webapp',

            user_id: {{ user.id }},
            name: "{{ user.get_full_name|default:user.username|escapejs }}",
            email: "{{ user.email }}",
            created_at: {{ user.date_joined|date:"U" }},
            extension_version: '{{user.profile.get_config.extension_version}}',
        }];
        {% endwith %}

        var currentUser = {
            id: {{ user.id }},
            username: '{{ user.username }}',
            email: '{{ user.email }}'
        };

        {% if not request.session.is_hijacked_user %}
            window.intercomSettings = {
                app_id: "{{INTERCOM_APP_ID}}",
                user_id: {{ user.id }},
                {% if INTERCOM_USER_HASH %}user_hash: '{{INTERCOM_USER_HASH}}',{% endif %}
                name: dataLayer[0].name,
                email: dataLayer[0].email,
                created_at: dataLayer[0].created_at,
                plan: dataLayer[0].userPlan,
                extension_version: dataLayer[0].extension_version,

                stores_count: {{user.profile.get_shopify_stores.count}},

                {% cache 604800 total_orders user.id %}
                total_orders: {{user.models_user.shopifyorder_set.count}},
                {% endcache %}

                {% if user.is_subuser %}
                parent_plan: '{{user.models_user.profile.plan.title}}',
                {% endif %}


                {% if not user.is_recurring_customer %}
                bundles: '{{user.profile.bundles_list|join:","}}',
                {% endif %}

                widget: {
                activator: '.navbar-default a[href="#support"]',
                }
            };
        {% endif %}
    {% endif %}

    // Google Tag Manager
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TPLKSQ');

    //Intercom
    if(typeof(window.intercomSettings)!=="undefined"){(function(){var c=window;
    var a=c.Intercom;if(typeof a==="function"){a("reattach_activator");
    a("update",intercomSettings)}else{var f=document;var e=function(){e.c(arguments)
    };e.q=[];e.c=function(d){e.q.push(d)};c.Intercom=e;
    function b(){var g=f.createElement("script");g.type="text/javascript";
    g.async=true;g.src="https://widget.intercom.io/widget/k9cb5frr";
    var d=f.getElementsByTagName("script")[0];d.parentNode.insertBefore(g,d)
    }if(c.attachEvent){c.attachEvent("onload",b)}else{c.addEventListener("load",b,false)
    }}})()};


    // AppCuse
    if(typeof(intercomSettings) !== 'undefined') {
        if (typeof(Appcues) !== 'undefined') {
            Appcues.identify(intercomSettings.user_id, {
                name: intercomSettings.name,
                email: intercomSettings.email,
                created_at: intercomSettings.created_at,
                plan: intercomSettings.plan,
                extension_version: intercomSettings.extension_version

            });
        }

        if (typeof(AppcuesWidget) !== 'undefined') {
            var widget = AppcuesWidget(Appcues.user());
            widget.init("#notification-bell", {
                position: "left",
                filterBy: "page"
            });
        }
    }

    {% if FACEBOOK_PIXEL_ID %}
        // Facebook Pixel
        <!-- Facebook Pixel Code -->
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ FACEBOOK_PIXEL_ID }}'); // Insert your pixel ID here.
        fbq('track', 'PageView');
        <!-- End Facebook Pixel Code -->
    {% endif %}

    {% if not DEBUG %}
        // Google Analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-16566267-6', 'auto');
        ga('send', 'pageview');

        // Mixpanel
        (function(s,v){if(!v.__SV){var u=window;try{var t,f,p,o=u.location,r=o.hash;
        t=function(e,c){return(f=e.match(RegExp(c+"=([^&]*)")))?f[1]:null
        };r&&t(r,"state")&&(p=JSON.parse(decodeURIComponent(t(r,"state"))),"mpeditor"===p.action&&
            (u.sessionStorage.setItem("_mpcehash",r),history.replaceState(p.desiredHash||"",s.title,o.pathname+o.search)))
        }catch(d){}var n,q;window.mixpanel=v;v._i=[];v.init=function(a,j,g){function h(e,k){var l=k.split(".");
        2==l.length&&(e=e[l[0]],k=l[1]);e[k]=function(){e.push([k].concat(Array.prototype.slice.call(arguments,0)))
        }}var i=v;"undefined"!==typeof g?i=v[g]=[]:g="mixpanel";i.people=i.people||[];
        i.toString=function(c){var e="mixpanel";"mixpanel"!==g&&(e+="."+g);
        c||(e+=" (stub)");return e};i.people.toString=function(){return i.toString(1)+".people (stub)"
        };n=("disable time_event track track_pageview track_links track_forms register register_once alias unregister " +
        "identify name_tag set_config reset people.set people.set_once people.increment people.append people.union " +
        "people.track_charge people.clear_charges people.delete_user").split(" ");
        for(q=0;q<n.length;q++){h(i,n[q])}v._i.push([a,j,g])};v.__SV=1.2;
        u=s.createElement("script");u.type="text/javascript";u.async=!0;
        u.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===s.location.protocol&&
        "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":
        "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
        t=s.getElementsByTagName("script")[0];t.parentNode.insertBefore(u,t)
        }})(document,window.mixpanel||[]);mixpanel.init("22f721367f7e162facd5c15efaea2ce2");

    {% else %}
        // Google Analytics debug mode
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics_debug.js','ga');

        ga('create', 'UA-16566267-6', 'auto');
        ga('send', 'pageview');

        // Mixpanel debug mode
        (function(s,v){if(!v.__SV){var u=window;try{var t,f,p,o=u.location,r=o.hash;
        t=function(e,c){return(f=e.match(RegExp(c+"=([^&]*)")))?f[1]:null
        };r&&t(r,"state")&&(p=JSON.parse(decodeURIComponent(t(r,"state"))),"mpeditor"===p.action&&
            (u.sessionStorage.setItem("_mpcehash",r),history.replaceState(p.desiredHash||"",s.title,o.pathname+o.search)))
        }catch(d){}var n,q;window.mixpanel=v;v._i=[];v.init=function(a,j,g){function h(e,k){var l=k.split(".");
        2==l.length&&(e=e[l[0]],k=l[1]);e[k]=function(){e.push([k].concat(Array.prototype.slice.call(arguments,0)))
        }}var i=v;"undefined"!==typeof g?i=v[g]=[]:g="mixpanel";i.people=i.people||[];
        i.toString=function(c){var e="mixpanel";"mixpanel"!==g&&(e+="."+g);
        c||(e+=" (stub)");return e};i.people.toString=function(){return i.toString(1)+".people (stub)"
        };n=("disable time_event track track_pageview track_links track_forms register register_once alias unregister " +
        "identify name_tag set_config reset people.set people.set_once people.increment people.append people.union " +
        "people.track_charge people.clear_charges people.delete_user").split(" ");
        for(q=0;q<n.length;q++){h(i,n[q])}v._i.push([a,j,g])};v.__SV=1.2;
        u=s.createElement("script");u.type="text/javascript";u.async=!0;
        u.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===s.location.protocol&&
        "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":
        "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
        t=s.getElementsByTagName("script")[0];t.parentNode.insertBefore(u,t)
        }})(document,window.mixpanel||[]);mixpanel.init("22f721367f7e162facd5c15efaea2ce2",{debug:true});
    {% endif %}

</script>
