<div id="modal-filter" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Filter</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="product-filter-form" class="form-inline" method="get">
                        <input type="hidden" name="f" value="1">
                        <input type="hidden" name="ppp" value="{{request.GET.ppp}}">
                        <input type="hidden" name="store" value="{{request.GET.store}}">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">Product Title</label>
                                <input name="title" type="text" class="form-control" value="{{request.GET.title}}" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12 m-t-xs">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">Price</label>
                                <input name="price_min" type="text" class="form-control" value="{{request.GET.price_min}}" style="width: 80px;padding: 0 5px" placeholder="Min.">
                                <input name="price_max" type="text" class="form-control" value="{{request.GET.price_max}}" style="width: 80px;padding: 0 5px" placeholder="Max.">
                            </div>
                        </div>
                        <div class="col-md-12 m-t-xs">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">{{filter_product_type|default:'Product Type'}}</label>
                                <input id="filter-type" name="type" type="text" class="form-control" value="{{request.GET.type}}" placeholder="">
                            </div>
                        </div>

                        {% if not filter_no_tag %}
                        <div class="col-md-12 m-t-xs">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">Product Tag</label>
                                <input id="filter-tag" name="tag" type="text" class="form-control" value="{{request.GET.tag}}" placeholder="">
                            </div>
                        </div>
                        {% endif %}

                        <div class="col-md-12 m-t-xs">
                            <div class="form-group">
                                <label class="m-r-sm" style="width: 95px">Supplier</label>
                                <input id="filter-vendor" name="vendor" type="text" class="form-control" value="{{request.GET.vendor}}" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-12 m-t-xs">
                            <div class="form-group" style="width: 100%">
                                <label class="m-r-sm" style="width: 95px">Sort</label>
                                <select name="sort" class="form-control">
                                    <option value="">Select an option</option>
                                    <option {% if request.GET.sort == "title" %} selected {% endif %} value="title">Product Title (asc)</option>
                                    <option {% if request.GET.sort == "-title" %} selected {% endif %} value="-title">Product Title (desc)</option>
                                    <option {% if request.GET.sort == "price" %} selected {% endif %} value="price">Price (asc)</option>
                                    <option {% if request.GET.sort == "-price" %} selected {% endif %} value="-price">Price (desc)</option>
                                    <option {% if request.GET.sort == "date" %} selected {% endif %} value="date">Date (asc)</option>
                                    <option {% if request.GET.sort == "-date" %} selected {% endif %} value="-date">Date (desc)</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 m-t-xs">
                            <div class="form-group" style="width: 100%">
                                <label class="m-r-sm" style="width: 95px">Products on Board</label>
                                <select name="product_board" class="form-control">
                                    <option selected disabled value="">Select an option</option>
                                    <option {% if request.GET.product_board == "all" %} selected {% endif %} value="all">All Products</option>
                                    <option {% if request.GET.product_board == "added" %} selected {% endif %} value="added">Added on Board</option>
                                    <option {% if request.GET.product_board == "not_added" %} selected {% endif %} value="not_added">Not Added on Board</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-5 col-md-offset-8 m-t-md">
                            <button id="product-filter-form-btn" class="btn btn-primary">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>