<div id="modal-fulfillment" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    {% with pos_my='top center' pos_at='bottom center' %}
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Fulfill Order
                        {% include 'partial/help_tooltip.html' with help="Partially fulfill a single line item in this order" %}
                        </h3>
                        <span title="Testing QTip2" class="qtip"> <i class="fa fa-question-circle"></i> TEsting </span>
                        <form role="form">
                            <div class="form-group">
                                <label for="fulfill-traking-number">Tracking Number
                                {% include 'partial/help_tooltip.html' with help="If you don't have a Tracking Number, leave this field blank" %}
                                </label>
                                <input type="text" id="fulfill-traking-number" name="fulfill-traking-number" class="form-control" style="width:200px">
                            </div>

                            {% if notify %}
                            <div class="form-group">
                                <label for="fulfill-notify-customer">
                                    Send shipping confirmation email to the customer
                                    {% include 'partial/help_tooltip.html' with help="Select <b>Default</b> in confirmation email to notify the customer If All items from this order have been shipped." %}
                                </label>
                                <select class="form-control" name="fulfill-notify-customer" id="fulfill-notify-customer" style="width:100px">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                    <option value="default">Default</option>
                                </select>
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="fulfill-notify-customer">
                                    Order Tracking Link
                                    {% include 'partial/help_tooltip.html' with help="Which Tracking link will be sent to the customer.<br><b>AfterShip:</b> Track the Order with <a href='aftership.com'>aftership.com</a><br><b>USPS:</b> Track Order in USPS website, Select this option for ePacket (US customers only)" %}
                                </label>
                                <select class="form-control" name="fulfill-tarcking-link" id="fulfill-notify-customer" style="width:120px">
                                    <option value="aftership">AfterShip</option>
                                    <option value="usps">USPS</option>
                                </select>
                            </div>

                            <div>
                                <input type="hidden" id="fulfill-order-id" name="fulfill-order-id" class="form-control">
                                <input type="hidden" id="fulfill-line-id" name="fulfill-line-id" class="form-control">
                                <input type="hidden" id="fulfill-store" name="fulfill-store" class="form-control">

                                <button id="fullfill-order-btn" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Fulfill Order</strong></button>
                            </div>
                        </form>
                    </div>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>