<div id="modal-fulfillment" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Fulfill Order</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% with pos_my='top center' pos_at='bottom center' locations=store.get_locations %}
                    <div class="col-sm-12">
                        <form role="form">
                            {% if locations|length > 1 %}
                            <div class="form-group">
                                <label for="fulfill-location-id">
                                    Location
                                </label>
                                <select class="form-control" name="fulfill-location-id" id="fulfill-location-id" style="width:60%">
                                    {% for location in store.get_locations %}
                                        <option value="{{location.id}}" {% if location.id == store.get_primary_location %}selected{% endif %}>{{location.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="fulfill-traking-number">Tracking Number
                                {% include 'partial/help_tooltip.html' with help="If you don't have a Tracking Number, leave this field blank" %}
                                </label>
                                <input type="text" id="fulfill-traking-number" name="fulfill-traking-number" class="form-control" style="width:200px">
                            </div>

                            {% if notify %}
                            <div class="form-group">
                                <label for="fulfill-notify-customer">
                                    Send shipping confirmation email to the customer
                                </label>
                                <select class="form-control" name="fulfill-notify-customer" id="fulfill-notify-customer" style="width:100px">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="fulfill-notify-customer">
                                    Order Tracking Link
                                    {% include 'partial/help_tooltip.html' with help="Which tracking link would you like to send to the customer?<br><b>AfterShip:</b> Track the Order with <a href='aftership.com'>aftership.com</a><br><b>USPS:</b> Track Order in USPS website, Select this option for ePacket (US customers only)" %}
                                </label>
                                <select class="form-control" name="fulfill-tarcking-link" id="fulfill-notify-customer" style="width:120px">
                                    {% if shipping_carriers %}
                                        {% for carrier in shipping_carriers %}
                                            <option value="{{carrier.id}}">{{carrier.title}}</option>
                                        {% endfor %}
                                    {% else %}
                                    <option value="aftership">AfterShip</option>
                                    <option value="usps">USPS</option>
                                    {% endif %}
                                </select>
                            </div>

                            <div>
                                <input type="hidden" id="fulfill-order-id" name="fulfill-order-id" class="form-control">
                                <input type="hidden" id="fulfill-line-id" name="fulfill-line-id" class="form-control">
                                <input type="hidden" id="fulfill-store" name="fulfill-store" class="form-control">

                                <button id="fullfill-order-btn" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Fulfill Order</strong></button>
                            </div>
                        </form>
                    </div>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>