<div id="modal-fulfillment" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8 b-r"><h3 class="m-t-none m-b">Change Fulfillment Status</h3>

                        <form role="form">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input type="text" id="fulfill-quantity" name="fulfill-quantity" class="form-control" style="width:100px">
                            </div>

                            <div class="form-group">
                                <label>Tracking Number</label>
                                <input type="text" id="fulfill-traking-number" name="fulfill-traking-number" class="form-control">
                            </div>

                            {% if notify %}
                            <div class="form-group">
                                <label for="fulfill-notify-customer">
                                    Send shipping confirmation email to the customer:
                                </label>
                                <select class="form-control" name="fulfill-notify-customer" id="fulfill-notify-customer" style="width:100px">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                    <option value="default">Default</option>
                                </select>
                            </div>
                            {% endif %}

                            <div>
                                <input type="hidden" id="fulfill-order-id" name="fulfill-order-id" class="form-control">
                                <input type="hidden" id="fulfill-line-id" name="fulfill-line-id" class="form-control">
                                <input type="hidden" id="fulfill-store" name="fulfill-store" class="form-control">

                                <button id="fullfill-order-btn" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Fulfill Order</strong></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <h4>Fulfill order</h4>
                        <p class="">
                            Partially fulfill a single line item by explicitly specifying the line item and quantity to be fulfilled.
                        </p>
                        <p>If you don't have a Tracking Number, leave that field blank.</p>

                        {% if notify %}
                        <p>
                            Select <b>Default</b> in confirmation email to notify the customer
                            If All items from this order have been shipped.
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>