{% if user.is_authenticated and not DEBUG and not request.session.is_hijacked_user  %}
    <script>
        window.hsConversationsSettings = {
            identificationEmail: currentUser.email,
            loadImmediately: false,
        };
    </script>

    <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/9267974.js"></script>
    <script>
        var hbLoadedInterval = null;

        $.post(api_url('verify', 'hubspot')).done(function(data) {
            window.hsConversationsSettings = {
                identificationEmail: data.email,
                identificationToken: data.token
            };

            hbLoadedInterval = setInterval(function() {
                if (window.HubSpotConversations.widget) {
                    clearInterval(hbLoadedInterval);
                    window.HubSpotConversations.widget.load();
                }
            }, 500);
        });
    </script>
{% endif %}
