<div order-data-id="{{ item.order_data_id }}" class="payment-btn-wrapper">
    <ul class="supplement-items hidden">
    {% if item.is_bundle %}
        {% for bundle in item.bundles %}
        <li line-title="{{ bundle.product.title }}"
            line-quantity="{{ bundle.quantity }}"
            line-price="{{ bundle.supplier.user_supplement.cost_price }}"
            weight="{{ bundle.weight }}"
            is-deleted="{{ bundle.supplier.is_supplement_deleted|lower }}"
            is-approved="{{ bundle.supplier.is_label_approved|lower }}"
            pl-supplement-title="{{  bundle.supplier.user_supplement.pl_supplement }}"></li>
        {% endfor %}
    {% else %}
        <li line-title="{{ item.title }}"
            line-quantity="{{ item.quantity }}"
            line-price="{{ item.supplier.user_supplement.cost_price }}"
            weight="{{ item.weight }}"
            is-deleted="{{ item.supplier.is_supplement_deleted|lower }}"
            is-approved="{{ item.supplier.is_label_approved|lower }}"
            pl-supplement-title="{{  item.supplier.user_supplement.pl_supplement }}"></li>
    {% endif %}
    </ul>
    <button class="btn btn-xs dropdown-toggle pay-for-supplement {% if item.refunded %}btn-danger{% else %}btn-success{% endif %}">
       Make Payment
       {% if item.refunded %}
          {% include 'partial/help_tooltip.html' with help="This Item was Refunded" qtipstyle="color:#fff" qtipicon="exclamation-triangle" %}
       {% endif %}
    </button>
</div>
