{% load perms_helper %}
{% if request.user|can:'order_audit.use' %}
<a id="orders-audit" class="btn btn-outline btn-default btn-rounded btn-sm itooltip"
   title="Audit" href="#audit"><i class="fa fa-search"></i> Audit</a>

<div id="orders-audit-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Aliexpress Orders Audit</h4>
            </div>
            <div class="modal-body">
                <iframe></iframe>
            </div>
        </div>
    </div>
</div>
{% endif %}
