{% load template_helper %}

{% if original %}
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" aria-expanded="false">
            Place Order
            <span class="caret"></span></button>

        <ul class="dropdown-menu">
            <li><a href="{{item.original_url}}" target="_blank">Manual Order</a></li>

            {% if item.order_data %}
            <li><a href="{{item.original_url}}?SAPlaceOrder={% encode_order item.order_data False|urlencode  %}" target="_blank">Step By Step Order</a></li>
            <li><a href="{{item.original_url}}?SAPlaceOrder={% encode_order item.order_data True|urlencode  %}" target="_blank">Auto Place Order</a></li>
            {% endif %}
        </ul>
    </div>
{% else %}
    <span class="label label-warning">Not Tracked</span>
{% endif %}