{% load template_helper %}

{% if original %}
    <div class="btn-group dropup order-line-group"
        order-id="{{order.id}}"
        line-id="{{item.id}}"
        order-data-id="{{ item.order_data_id }}"
        order-number="{{order.name}}"
        line-title="{{item.title}}"

        {% if item.shipping_method %}
            style="display:flex"
        {% endif %}
    >
    {% if item.shipping_method and not order.pending_payment %}
        <a type="button" class="btn btn-success btn-xs itooltip place-order-btn queue-order-btn" data-container="body" data-html="true"
            title="Ship to <b>{{item.shipping_method.country_name}}</b> using <br><b>{{item.shipping_method.method_name}}</b>"
            data-href="{% app_link 'orders/place' product=item.supplier.short_product_url SAPlaceOrder=item.order_data_id SACompany=item.shipping_method.method SACountry=item.shipping_method.country %}"
            style="border-right:1px solid #66a8cc;max-width: 100px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" href="#"
            >
            {{item.shipping_method.method_name}}
        </a>
        <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>

    {% else %}
        <button data-toggle="dropdown" class="btn {% if item.refunded or order.pending_payment %}btn-danger{% else %}btn-success{% endif %} btn-xs dropdown-toggle" aria-expanded="false">
            Place Order
            {% if item.refunded %}
                {% include 'partial/help_tooltip.html' with help="This Item was Refunded" qtipstyle="color:#fff" qtipicon="exclamation-triangle" %}
            {% endif %}

            {% if order.pending_payment %}
                {% include 'partial/help_tooltip.html' with help="Auto Fulfill is disabled because payment is still pending" qtipstyle="color:#fff" qtipicon="exclamation-triangle" %}
            {% endif %}

            <span class="caret"></span></button>
    {% endif %}

        <ul class="dropdown-menu pull-right">
            {% if item.shopify_order %}
            <li><a class="placed-order-details" href="#" order-id="{{order.id}}" source-order-id="{{item.shopify_order.source_id}}"
                   order-date="{{item.shopify_order.created_at|date:'N j, Y, P'}}" line-id="{{item.id}}"
                   >Order Details</a></li>
            {% else %}
            <li><a class="mark-as-ordered" href="#" store="{{order.store.id}}" order-id="{{order.id}}" line-id="{{item.id}}">Mark as Ordered</a></li>
            {% endif %}

            <li><a href="{{item.supplier.short_product_url}}" target="_blank">Manual Order</a></li>

            {% if item.order_data_id and item.supplier.support_auto_fulfill %}
            <li class="divider"></li>
            <li><a class="place-order-btn queue-order-btn" href="#" order-id="{{order.id}}" line-id="{{item.id}}"
                    data-href="{% app_link 'orders/place' product=item.supplier.short_product_url SAPlaceOrder=item.order_data_id SAStep=True %}"
                   >Step By Step Order</a></li>
               <li><a class="place-order-btn queue-order-btn add-to-cart" order-id="{{order.id}}" line-id="{{item.id}}" style="display:none"
                    href="{% app_link 'orders/place' product=item.supplier.short_product_url SAPlaceOrder=item.order_data_id SAStep=True SACart=True SACompany=item.shipping_method.method SACountry=item.shipping_method.country %}"
                   >Add To Cart</a></li>
            <li><a class="place-order-btn queue-order-btn" href="#" order-id="{{order.id}}" line-id="{{item.id}}"
                    data-href="{% app_link 'orders/place' product=item.supplier.short_product_url SAPlaceOrder=item.order_data_id %}"
                   >Auto Place Order</a></li>
            <li><a class="place-order-btn auto-shipping-btn" href="#"
                    order-id="{{order.id}}" line-id="{{item.id}}"
                    product-id="{{item.product.id}}" original-id="{{item.supplier.get_source_id}}" country-code="{{order.shipping_address.country_code}}"
                    data-href="{% app_link 'orders/place' product=item.supplier.short_product_url %}"
                    data-order="{{ item.order_data_id|urlencode }}"
                >Auto - Choose Shipping</a></li>
            {% endif %}
        </ul>
    </div>

{% elif item.product_id %}
    <button class="btn btn-xs btn-info add-supplier-btn"
            store-id="{{store.id}}" shopify-product="{{item.product_id}}">
        <i class="fa fa-plus"></i> Add Supplier
    </button>

{% else %}
    <span class="label label-warning">Not Tracked</span>
{% endif %}
