{% load template_helper %}

<div id="modal-shopify-image-randomize" class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Randomizing Images URLs</h4>
            </div>
            <div class="modal-body">
                <div class="text-danger error"></div>
                <div class="row progress-row">
                    <div class="col-sm-12">
                        <div class="progress progress-striped active">
                            <div style="width: 0%" class="progress-bar progress-bar-danger">
                                    <span class="sr-only">0% Complete (danger)</span>
                                </div>
                            <div style="width: 0%;" class="progress-bar progress-bar-success">
                                <span class="sr-only">0% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
