{% load template_helper %}

<div id="modal-shopify-send" class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sending To Shopify</h4>
            </div>
            <div class="modal-body">
                <div class="product-details" style='display: none;'>
                    <div class=" row">
                        <div class="form-group col-xs-12">
                            <label for="product-title">Title</label>
                            <textarea class="form-control" id="product-title" placeholder="Product Title"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <label for="product-price">Price</label>
                            <div class="input-group">
                                <span class="input-group-addon">{% money_format %}</span>
                                <input type="text" class="form-control" id="product-price">
                            </div>
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="product-compare-at">Compare at price</label>
                            <div class="input-group">
                                <span class="input-group-addon">{% money_format %}</span>
                                <input type="text" class="form-control" id="product-compare-at">
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="product-weight" style="display: block">Weight</label>
                            <input type="text" class="form-control" id="product-weight" style="display: inline;width: 40%;">

                            <select name="product-weight-unit" id="product-weight-unit" class="form-control" style="display: inline;width: 25%;">
                                <option value="g">g</option>
                                <option value="kg">kg</option>
                                <option value="oz">oz</option>
                                <option value="lb">lb</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="product-type">Type</label>
                            <input type="text" class="form-control" id="product-type" placeholder="Product Type">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="product-tag">Tags</label>
                            <input type="text" class="form-control tag-it" id="product-tag" placeholder="Product Tags">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="product-vendor">Vendor</label>
                            <input type="text" class="form-control" id="product-vendor" placeholder="Product Vendor">
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row selection-row">
                    <div class="col-sm-12">
                        <label for="send-select-store">Store:</label>
                        <select class="form-control" name="send-select-store" id="send-select-store" style="display: inline-block; width: 191px; ">
                            {% for item in user.profile.get_shopify_stores %}
                            <option value="{{item.id}}">{{item.title}}</option>
                            {% endfor %}
                        </select>

                        <div class="form-group col-xs-12" style="margin-top:20px;margin-left:25px">
                            <label for="send-product-visible">
                                <input type="checkbox" name="send-product-visible" id="send-product-visible">
                                Make Products Visible
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row progress-row">
                    <div class="col-sm-12">
                        <div class="progress progress-striped active" style="margin-top: 20px;display:none;width: 100%;">
                            <div style="width: 0%" class="progress-bar progress-bar-danger">
                                    <span class="sr-only">0% Complete (danger)</span>
                                </div>
                            <div style="width: 0%;" class="progress-bar progress-bar-success">
                                <span class="sr-only">0% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 progress-table-row" style="display:none;height:300px;max-height:300px;overflow:auto;">
                        <table class="table progress-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="">
                <button id="shopify-send-btn" class="btn btn-primary"
                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Sending">Send</button>
                <button id="shopify-close-btn" style='display:none;' class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>
{% verbatim %}
<script id="product-send-template" type="text/x-handlebars-template">
    <tr>
        <td>
            {{#if success}}
                <i class="fa fa-check-circle text-success"></i>
            {{else}}
                <i class="fa fa-times-circle text-danger"></i>
            {{/if}}
        </td>
        <td>
            <a href="/product/{{product.id}}" target="_blank">{{product.title}}</a>
        </td>
        <td>{{status}}</td>
    </tr>
</script>
{% endverbatim %}