{% load static %}

<div id="modal-ui-update" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width: 740px;">
        <div class="modal-content">
            <div class="modal-body" style="padding: 20px 50px;">
                <div class="m-b-sm" style="display: flex; justify-content: center;">
                    <h4 style="font-size: 24px;">Announcing Your New Dropified Flow! &#127881;</h4>
                </div>
                <div class="m-b-md" style="display: flex; justify-content: center;">
                    <img src="{% static 'new-ui-screen.png' %}" style="width: 500px;">
                </div>
                <div class="m-b-sm">
                    <p>When it comes to Dropified there are a lot of features and services, it can be overwhelming. We solved this for <strong>you</strong> with an easy to follow sidebar and application tab. Find any feature or application in seconds across your plan!</p>
                    <p>If you have any questions please contact our <a id="open-support-chat">customer service team</a> for help.</p>
                    <p>Happy selling!</p>
                </div>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <button id="update-ui-btn" class="btn btn-primary" style="padding: 8px 30px; font-size: 14px; margin: 0 15px;">Let's Go!</button>
                    <a style="font-size: 12px; margin: 0 15px; color: #9A9A9A; text-decoration: underline;" data-dismiss="modal">Stay on current version</a>
                </div>
            </div>
        </div>
    </div>
</div>
