{% load static template_helper %}

<div class="col-lg-4 expandable">
  <div class="well open">
    <img src="{% static 'img/thumbs-up.png' %}">
    <h4 class="dropdown-toggle" data-toggle-id="profit-briefing">Profit<i class="dropified-icons di-arrow-up pull-right"></i></h4>
    <div class="totals-detail dropdown-menu not-floating">
      <dl class="dl-horizontal">
        <dt>Revenue</dt>
        <dd id="total-revenue">{% money_format totals.revenue store True %}</dd>
        <dt>Refunds</dt>
        <dd id="total-refunds">{% money_format totals.refunds store True %}</dd>
        <dt>Fulfillment Costs</dt>
        <dd id="totals-fulfillment-cost">{% money_format totals.fulfillment_cost store True %}</dd>
        <dt>Ads Spend</dt>
        <dd>{% money_format totals.ads_spend store True %}</dd>
        <dt>Other Costs</dt>
        <dd id="totals-other-costs">{% money_format totals.other_costs store True %}</dd>
      </dl>
    </div>
    <span class="totals-profit main-value">
      <span class="pull-left">
        <span class="totals-profit">{% money_format totals.profit store True %}</span>
        <span class="margin-span">
          (Margin <span id="totals-profit-margin">{{ totals.profit_margin }}</span>)
        </span>
      </span>
      <canvas id="amounts-chart-mini"></canvas>
    </span>
  </div>
</div>
<div class="col-lg-4 expandable">
  <div class="well open">
    <img src="{% static 'img/globe.png' %}">
    <h4 class="dropdown-toggle" data-toggle-id="profit-orders">Orders<i class="dropified-icons di-arrow-up pull-right"></i></h4>
    <div class="totals-detail dropdown-menu not-floating">
      <dl class="dl-horizontal">
        <dt>Orders per day</dt>
        <dd>{{ totals.orders_per_day|floatformat:"-2" }}</dd>
        <dt>Fulfillments</dt>
        <dd>{{ totals.fulfillments_count }}</dd>
        <dt>Fulfillments per day</dt>
        <dd>{{ totals.fulfillments_per_day }}</dd>
      </dl>
    </div>
    <span class="main-value">
      {{ totals.orders_count }}
      <canvas id="counts-chart-mini"></canvas>
    </span>
  </div>
</div>
<div class="col-lg-4 expandable">
  <div class="well open">
    <img src="{% static 'img/notepad.png' %}">
    <h4 class="dropdown-toggle" data-toggle-id="profit-averages">Average Order<i class="dropified-icons di-arrow-up pull-right"></i></h4>
    <div class="totals-detail dropdown-menu not-floating">
      <dl class="dl-horizontal">
        <dt>Revenue</dt>
        <dd id="average-total-revenue">{% money_format totals.average_revenue store True %}</dd>
        <dt>Profit</dt>
        <dd id="average-totals-profit" data-original-amount="{{ totals.profit|default:'0'|floatformat:2 }}">
          {% money_format totals.average_profit store True %}
        </dd>
      </dl>
    </div>
    <span class="main-value">
      {% money_format totals.average_revenue store True %}
      <canvas id="averages-chart-mini"></canvas>
    </span>
  </div>
</div>
