h3 {
  font-size: 20px;
}

.table.dataTable {
  border: none;
}

.table.dataTable > thead > tr > th,
.table.dataTable > tbody > tr > td {
  border-bottom: 1px solid #e6ebef;
  border-left: none;
  border-right: none;
  padding: 18px 0 18px 18px;
}

.table.dataTable > thead > tr > th {
  color: #A7B1C2;
  font-weight: 500;
}

.dataTables_filter > label > input.form-control {
  width: 437px;
  height: 35px;
  border-radius: 8px;
}

.pagination > li > a {
  margin: 0 0 0 10px;
  height: 34px;
  width: 34px;
  padding: 6px 0 0 12px;
  border: 1px solid #A7B1C2;
  border-radius: 8px;
}

.pagination > li:first-child > a {
  visibility: hidden;
  margin-right: -4px;
}

.pagination > li:first-child > a:before {
  visibility: visible;
  content: "\f053";  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  top: -1px;
  left: -5px;
  height: 34px;
  width: 34px;
  padding: 9px 11px;
  border: 1px solid #A7B1C2;
  border-radius: 8px;
  background: #fff;
}

.pagination > li:last-child > a {
  visibility: hidden;
  margin-left: 14px;
}

.pagination > li:last-child > a:before {
  visibility: visible;
  content: "\f054";  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: -5px;
  height: 34px;
  width: 34px;
  padding: 9px 13px;
  border: 1px solid #A7B1C2;
  border-radius: 8px;
  background: #fff;
}

.pagination > .active > a {
  background: #6bAA55;
  border-color: #6bAA55;
  color: #ffffff;
}

.action-btn {
  padding: 6px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin: 0px 5px;
  font-size: 14px;
}

.action-btn:focus {
  color: #FFFFFF;
}

.modal-header {
  margin: 20px 20px 0;
}

.model-content h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.form-group ul li label:last-child {
  font-size: 16px;
  font-weight: normal;
}

.user-profile-btn {
    margin-right: 5px;
}

#id_subuser_stores, #id_subuser_chq_stores {
    padding: 0 0 0 20px;
}

#id_subuser_stores li, #id_subuser_chq_stores li {
    list-style: none;
}

#id_subuser_stores, #id_subuser_woo_stores {
    padding: 0 0 0 20px;
}

#id_subuser_stores li, #id_subuser_woo_stores li {
    list-style: none;
}

#id_subuser_stores, #id_subuser_gkart_stores {
    padding: 0 0 0 20px;
}

#id_subuser_stores li, #id_subuser_gkart_stores li {
    list-style: none;
}

#id_subuser_stores, #id_subuser_bigcommerce_stores {
    padding: 0 0 0 20px;
}

#id_subuser_stores li, #id_subuser_bigcommerce_stores li {
    list-style: none;
}

#id_subuser_stores, #id_subuser_fb_stores {
    padding: 0 0 0 20px;
}

#id_subuser_stores li, #id_subuser_fb_stores li {
    list-style: none;
}
