{% extends "base_commercehq_core.html" %}

{% load static %}
{% load compress %}

{% block main-container %}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">

             <div class="ibox-title">
                <h5>Boards<small></small></h5>
            </div>

            <div class="ibox-content">
                <table class="table table-bordered dataTables">
                    <thead>
                        <tr>
                            <th style="width:50%">Title</th>
                            <th>Products</th>
                            <th>Updated</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in boards %}
                        <tr id="board-row-{{item.id}}" class="board-box">
                            <td>
                                <a class="edit-user-premsc" board-id="{{item.id}}" href="/boards/{{item.id}}">
                                    {{item.title}}
                                </a>
                            </td>
                            <td class="products-count">
                                <a href="/boards/{{item.id}}?store=n" class="btn btn-outline btn-xs btn-default"><span class="product-count">{{ item.saved_count|default:'0' }}</span> Saved</a>
                                <a href="/boards/{{item.id}}?store=c" class="btn btn-outline btn-xs btn-default"><span class="product-count">{{ item.connected_count|default:'0' }}</span> Connected</a>
                            </td>
                            <td>{{item.updated_at|date}}</td>
                            <td>
                                <button
                                    data-board-update-url="{% url 'chq:board_update' item.id %}"
                                    class="btn btn-xs btn-primary board-edit chq-edit-board-btn">
                                    <i class="fa fa-edit"></i>Edit
                                </button>
                                <button
                                    data-board-id="{{item.id}}"
                                    data-board-empty-url="{% url 'chq:board_empty' item.id %}"
                                    class="btn btn-xs btn-warning board-empty chq-empty-board-btn">
                                    <i class="fa fa-eraser"></i> Empty
                                </button>
                                <button
                                    data-board-id="{{item.id}}"
                                    data-board-delete-url="{% url 'chq:board_delete' item.id %}"
                                    class="btn btn-xs btn-danger board-delete chq-delete-board-btn">
                                    <i class="fa fa-times"></i> Delete
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <button class="btn btn-success chq-add-board-btn">
                    <i class="fa fa-plus"></i> Add Board
                </button>
            </div>
        </div>
    </div>
</div>

<div id="smartboard-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Edit Board</h3>
                        <form role="form">
                            <div class="form-group">
                                <label for="">Board Title:</label>
                                <input type="text" id="board-title" class="form-control">
                            </div>

                            <h3 class="m-t-none m-b">Smart Board</h3>
                            <p class="m-t-none m-b" style="padding: 0; margin: 0">Add products to this board if (separate values with comma):</p>
                            <input type="hidden" id="smartboard-board">

                            <div class="form-group">
                                <label for="">Product Title contains:</label>
                                <input type="text" id="smartboard-product-title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Product Tags contains:</label>
                                <input type="text" id="smartboard-product-tags" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Product Type contains:</label>
                                <input type="text" id="smartboard-product-type" class="form-control">
                            </div>
                            <div>
                                <button id="smartboard-save-changes" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>Save</strong>
                                </button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
    <!-- Data Tables -->
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">

    <style type="text/css">
    tbody td {
        padding: 0px;
        margin: 0px;
    }
    </style>
{% endblock %}

{% block extrajs %}
    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.tableTools.min.js' %}"></script>

    {% compress js %}
        <script src="{% static 'libs/bower_components/jquery-form/jquery.form.js' %}"></script>
        <script type="text/javascript" src="{% static 'commercehq/js/boards.js' %}"></script>
    {% endcompress %}

{% endblock %}

{% block modal-board-add %}
    <div id="chq-modal-board-add" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="m-t-none m-b">Add new board</h3>
                            <form
                                id="chq-new-board-add-form"
                                action="{% url 'chq:board_create' %}"
                                method="post"
                                role="form">
                                {% include 'commercehq/board_create_form.html' %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chq-modal-board-update" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="m-t-none m-b">Update board</h3>
                            <form id="chq-board-update-form" method="post" role="form">
                                {% include 'commercehq/board_update_form.html' %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock modal-board-add %}

{% block store-switch %}
    {% with shopify_view_name='boards_list' chq_view_name=request.resolver_match.view_name %}
        {% include 'store_switch.html' %}
    {% endwith %}
{% endblock %}
