{% extends "base_commercehq_core.html" %}

{% load static %}
{% load cache %}
{% load compress %}

{% block main-container %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>CommerceHQ Stores<small></small></h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-ligthborder store-tables">
                      <thead>
                        <tr>
                          <th style="">Name</th>
                          <th class="hidden-xs" style="width:13%">Products</th>
                          <th class="hidden-xs" style="width:13%">Orders</th>
                        {% if not user.is_subuser %}
                            <th class="hidden-sm hidden-xs"></th>
                        {% endif %}
                        </tr>
                      </thead>
                      <tbody id="stores-table-body">
                            {% for store in stores %}
                            <tr id="store-row-{{store.id}}" class="store-store" >
                                <td class="drag-show">
                                    <i class="fa fa-bars order-handle" style="color:#ccc;font-size:12px;margin-right:5px;cursor:move;display:none"></i>
                                    <a href="{{ store.api_url }}">{{store.title|default:store.api_url}}</a>
                                </td>
                                <td></td>
                                <td></td>
                                {% if not user.is_subuser %}
                                <td style="white-space:nowrap" class="hidden-sm hidden-xs">
                                    <div class="btn-group ">
                                        <button data-toggle="dropdown" class="btn btn-default btn-outline btn-xs dropdown-toggle" aria-expanded="false">
                                            <i class="fa fa-cog"></i> <span class=""></span></button>
                                        <ul class="dropdown-menu">

                                            <li>
                                                <a class="visit-store " href="{{ store.api_url }}/admin" target="_blank">
                                                    <i class="fa fa-external-link"></i> Visit Store
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a class="edit-store" data-store-id="{{ store.id }}">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                            </li>

                                            <li>
                                                <a class="delete-store btn-danger btn-outline" data-store-id="{{ store.id }}">
                                                    <i class="fa fa-times"></i> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No store found.</td>
                            </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                    {% if not user.is_subuser %}
                        <a class="add-store-btn btn btn-primary btn-sm" href="#" data-extra="{{extra_stores|lower}}">
                            Add Store
                        </a>
                    {% endif %}

                    <a href="https://chrome.google.com/webstore/detail/shopified-app/aogkkekoinpipjlolpcicigndjlcpdcn"
                       class="btn btn-default btn-outline btn-xs pull-right extension-link hidden-sm hidden-xs" target="_blank">Install Chrome Extension</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'commercehq/store_create_modal.html' %}
    {% include 'commercehq/store_update_modal.html' %}
{% endblock main-container %}

{% block extrajs %}
    {% compress js %}
        <script src="{% static 'libs/bower_components/jquery-form/jquery.form.js' %}"></script>
        <script type="text/javascript" src="{% static 'commercehq/js/index.js' %}"></script>
    {% endcompress %}
{% endblock extrajs%}
