{% extends "base.html" %}

{% load static %}
{% load template_helper %}
{% load compress %}

{% block main-container %}

<div class="row m-b">
    <div class="tabs-container col-md-offset-1 col-md-10">
       <ul class="nav nav-tabs">
            <li>
                <a href="{% url 'chq:product_mapping' product.id %}"><i class="fa fa-chain"></i> Variants Mapping</a>
            </li>

            <li>
                <a href="{% url 'chq:mapping_supplier' product.id %}"><i class="fa fa-sitemap"></i> Advanced Mapping</a>
            </li>

            <li class="active">
                <a data-toggle="tab" href="#tab-1"><i class="fa fa-database"></i> Bundle Mapping</a>
            </li>
       </ul>
       <div class="tab-content">
           <div id="tab-1" class="tab-pane active">
               <div class="panel-body">
                    <div id="bundle-mapping-entry">
                        <bundle-mapping-table :variants="variants"></bundle-mapping-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "commercehq/partial/mapping_bundle_vue.html" %}
{% include "commercehq/partial/commercehq_product_selector.html" %}

{% endblock %}

{% block extracss %}
<link href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" rel="stylesheet">

{% compress css %}
<link href="{% static 'css/jquery.tagit.min.css' %}" rel="stylesheet">
<link href="{% static 'libs/bower_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'shopified/css/mapping_bundle.css' %}" rel="stylesheet">
{% endcompress %}

{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    var bootstrapButton = $.fn.button.noConflict();
    $.fn.bootstrapBtn = bootstrapButton;

    var bootstrapTooltip = $.fn.tooltip.noConflict();
    $.fn.bootstrapTooltip = bootstrapTooltip;

    var product_id = {{product.id}};
    var store_id = {{product.store.id}};
    var commercehq_product = {% json_dumps commercehq_product %};
    var bundle_mapping = {% json_dumps bundle_mapping %};

</script>

<script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

{% compress js %}
<script type="text/javascript" src="{% static 'libs/bower_components/vue/dist/vue.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bower_components/handlebars/handlebars.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tag-it.min.js' %}"></script>
<script type="text/javascript" src="{% static 'commercehq/js/commercehq_product_selector.js' %}"></script>
<script type="text/javascript" src="{% static 'commercehq/js/mapping_bundle.js' %}"></script>

{% endcompress %}

{% endblock %}

