<div id="chq-modal-board-add" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Add new board</h3>
                        <form id="chq-new-board-add-form" method="post" role="form">
                            <div class="form-group">
                                <input
                                    type="text"
                                    name="title"
                                    placeholder="New Board Name"
                                    class="form-control" />
                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                    <strong>Add</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
