{% extends "base_commercehq_core.html" %}

{% load static %}
{% load template_helper %}
{% load perms_helper %}
{% load url_tools %}
{% load compress %}
{% load cache %}

{% block main-container %}

    <div class="tabs-container">
        <ul class="nav nav-tabs">
            {% for item in user.profile.get_chq_stores %}
                {% if store == item or item.id|stringformat:"i" == request.GET.store %}
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">{{item.title}}</a></li>
                {% else %}
                    <li class=""><a href="{% url 'chq:orders_list' %}?store={{item.id}}" aria-expanded="false">{{item.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body gray-panel" style="padding:20px 0 0 0;border:none">
                    <div class="row" style="padding:0px 5px">
                        <div class="col-md-4">
                            <button class="btn btn-success btn-rounded btn-sm filter-btn">Filter &amp; Sort</button>
                            <span class="btn btn-white btn-rounded btn-sm">Orders count: {{paginator.count}}</span>
                        </div>
                        <div class="col-md-8 text-right">
                            {% if request.user|can:'orders_export.use' %}
                            <a class="btn btn-outline btn-default btn-rounded btn-sm itooltip"
                                title="Export Orders"
                                href="{% url 'order_exports_index' %}"><i class="fa fa-upload"></i> Export</a>
                            {% endif %}
                            {% if not store_sync_enabled %}
                            <button class="btn btn-primary btn-rounded btn-sm hide-non-connected-btn">Hide Non Connected</button>
                            <button class="btn btn-primary btn-rounded btn-sm hide-ordered-btn">Hide Ordered</button>
                            {% endif %}
                        </div>
                    </div>
                    <form method="get" class="filter-form m-b-sm m-t-sm"
                    {% if request.COOKIES.orders_filter != 'true' %}
                          style="display:none"
                    {% endif %}
                    >
                    <div class="row filter-row">
                        <div class="col-md-offset-1 col-md-1 filter-label">
                            <span>Order</span>
                        </div>
                        <div class="col-md-4">
                            <input name="query" value="{{request.GET.query|default:''}}" class="form-control" placeholder="Order name or ID">
                        </div>
                    </div>

                    {% if not store_sync_enabled %}
                    <div class="row filter-row">
                        <div class="col-md-offset-1 col-md-1 filter-label">
                            <span>Sort</span>
                        </div>
                        <div class="col-md-3">
                            <select name="sort" class="form-control">
                                <option {% if sort == '!order_date' %}selected="selected"{% endif %} value="!order_date">Newest orders first</option>
                                <option {% if sort == 'order_date' %}selected="selected"{% endif %} value="order_date">Oldest orders first</option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    <!--
                    <div class="row filter-row m-t-md">
                        <div class="col-md-2  filter-label filter-order-status">
                            <span>Order Status</span>
                        </div>
                        <div class="col-md-3">
                            <select name="status" class="form-control help-select">
                                <option {% if status == 'open' %}selected="selected"{% endif %} value="open">All open orders</option>
                                <option {% if status == 'closed' %}selected="selected"{% endif %} value="closed">Show only closed orders</option>
                                <option {% if status == 'cancelled' %}selected="selected"{% endif %} value="cancelled">Show only canceled orders</option>
                                <option {% if status == 'any' %}selected="selected"{% endif %} value="any">Any order status</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="">
                            <span class="help-block "></span>
                        </div>
                    </div>
                    -->
                    <div class="row filter-row">
                        <div class="col-md-2  filter-label filter-order-status">
                            <span>Fulfillment Status</span>
                        </div>
                        <div class="col-md-3">
                            <select name="fulfillment" class="form-control help-select">
                                <option {% if not fulfillment or fulfillment == '0,1,2,4' %}selected="selected"{% endif %} value="0,1,2,4">Unfulfilled / Partially fulfilled</option>
                                <option {% if fulfillment == '3' %}selected="selected"{% endif %} value="3">Sent to fulfillment</option>
                                <option {% if fulfillment == '4' %}selected="selected"{% endif %} value="4">Partially shipped</option>
                                <option {% if fulfillment == '5' %}selected="selected"{% endif %} value="5">Shipped</option>
                                <option {% if fulfillment == 'any' %}selected="selected"{% endif %} value="any">Any</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="">
                            <span class="help-block "></span>
                        </div>
                    </div>
                    <div class="row filter-row">
                        <div class="col-md-2 filter-label filter-order-status">
                            <span>Financial Status</span>
                        </div>
                        <div class="col-md-3">
                            <select name="financial" class="form-control help-select">
                                <option value="1" {% if not financial or financial == '1' %}selected="selected"{% endif %}>Paid</option>
                                <option value="-1" {% if financial == '-1' %}selected="selected"{% endif %}>Partially refunded</option>
                                <option value="-2" {% if financial == '-2' %}selected="selected"{% endif %}>Fully refunded</option>
                                <option value="0" {% if financial == '0' %}selected="selected"{% endif %}>Not Paid</option>
                                <option value="any" {% if financial == 'any' %}selected="selected"{% endif %}>Any</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="">
                            <span class="help-block "></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-2 filter-buttons">
                            {% if request.GET.store %}
                            <input type="hidden" name="store" value="{{ request.GET.store }}">
                            {% endif %}
                        <button class="btn btn-primary"><i class="fa fa-filter"></i> Apply</button>
                        </div>

                        <div class="col-md-5 col-md-offset-2 text-right">
                            <a href="#" class="btn btn-success save-filter-btn">
                                <i class="fa fa-save"></i> Save Filter
                            </a>

                            <a href="/chq/orders?store={{store.id}}&reset=1" class="btn btn-default reset-filter-btn">
                                <i class="fa fa-eraser"></i> Reset Filter
                            </a>
                        </div>

                    </div>
                    </form>

                    <div class="orders">
                        {% for order in orders %}
                        <div class="order" order-id="{{order.id}}" connected="{{order.connected_lines}}">
                            <div class="header">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <b>Order <a href="{{order.order_url}}" target="_blank">#{{order.id}}</a></b>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge badge-default" style="background-color:#fff;color:#888;border:1px solid #eee;border-radius: 3px;">
                                        {% date_humanize order.date %}
                                        </span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge badge-{% if order.financial_status|lower != 'paid' %}warning{% else %}primary{% endif %}">
                                            {{order.financial_status|title}}
                                        </span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge badge-{% if not order.fulfillment_status or order.status == 0 %}warning{% else %}primary{% endif %}">
                                            {{order.fulfillment_status|default:"Unfulfilled"|title}}
                                        </span>
                                    </div>
                                    <div class="col-xs-2 order-status">
                                        {% if order.status == 0 %}
                                            <span class="badge badge-danger primary">&nbsp;</span>
                                            No Products Ordered
                                        {% elif order.status < 3 %}
                                            <span class="badge badge-warning primary">&nbsp;</span>
                                            Partially Ordered
                                        {% else %}
                                            <span class="badge badge-primary completed-order">&nbsp;</span>
                                            Order Complete
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-2">
                                        {% if order.lines_count %}
                                            <div class="btn-group pull-right" style="display:flex">
                                                <button class="btn btn-success btn-xs order-all" order-id="{{order.id}}"
                                                        type="button" style="border-right:1px solid #66a8cc">
                                                    Order All
                                                </button>

                                                <button type="button" class="btn btn-success btn-xs dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu pull-right">
                                                    <li><a class="order-seleted-lines" href="#">Order Selected</a></li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="details container-fluid">
                                <div class="row shipping-info">
                                    <div class="col-md-3 col-xs-6" style="padding-left:5px">
                                        {{order.customer_address.first_name|default:''}} {{order.customer_address.last_name|default:''}}
                                        {% if order.customer_address.company %}
                                            - {{order.customer_address.company}}
                                        {% endif %}
                                        <br>
                                        {{order.customer_address.address1}}<br>

                                        {% if order.customer_address.address2 %}
                                        {{order.customer_address.address2}}<br>
                                        {% endif %}

                                        {{order.customer_address.city}},
                                            {{order.customer_address.province_code|default:''}}
                                            {{order.customer_address.zip}}

                                        {% if order.customer_address.phone %}
                                        <br> {{order.customer_address.phone}}
                                        {% endif %}

                                        <br> <b>{{order.customer_address.country}}</b>
                                    </div>
                                    <div class="col-md-1 col-xs-1">
                                        {% if order.customer_address.country_code %}
                                        <img class="itooltip" style="width: 16px"
                                             title="{{order.customer_address.country}}"
                                             src="//d2kadg5e284yn4.cloudfront.net/static/flags/{{order.customer_address.country_code|lower}}.svg">
                                        <br />
                                        {% endif %}

                                        {% if order.customer.email %}
                                            <a href="mailto:{{order.customer.email}}" class="itooltip" title="Send Email To The Customer">
                                                <i class="fa fa-envelope-o fa-lg"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        <b>{% money_format order.total store %}</b>
                                        <div>
                                            {% if shipping_method_filter_enabled %}
                                                {% if order.shipping_lines %}
                                                <ul class="shipping-method">
                                                    {% for shipping_line in order.shipping_lines %}
                                                        <li>{{ shipping_line.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-md-offset-3">
                                        <div class="note-panel panel panel-default hidden-sm hidden-xs">
                                            <div class="panel-heading">
                                                Order Notes
                                            </div>
                                            <div class="panel-body">
                                                <div class="note-preview">
                                                    <span class="note-text">{{order.notes|default:''|truncatewords:10 }}</span>
                                                </div>
                                                <div class="edit-note">
                                                    <textarea class="note">{{order.notes|default:''}}</textarea>
                                                    <button class="btn btn-primary btn-xs note-edit-save"
                                                            order-id="{{order.id}}" store-id="{{store.id}}">
                                                        <i class="fa fa-save"></i> Save
                                                    </button>
                                                    <button class="btn btn-default btn-xs note-edit-cancel">
                                                        <i class="fa fa-times"></i> Cancel
                                                    </button>
                                                </div>
                                            </div>

                                            <i class="fa fa-edit" style="position:absolute;bottom:0px;right:5px;z-index:1200"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    {% for item in order.items %}
                                    {% with original=item.product.get_original_info %}

                                    <div class="line container-fluid {% if not forloop.first %}multi-lines{% endif %}"
                                        line-id="{{item.id}}"
                                        order-id="{{order.id}}"
                                        order-data-id="{{ item.order_data_id }}"
                                        order-number="{{order.id}}"
                                        line-title="{{item.title}}"
                                        line-data="{{item.order_data_id|default:''}}"
                                        line-track="{{item.order_track.id|default:''}}"
                                        fulfillment-status="{{item.fulfillment_status}}"
                                        store-type="chq">
                                        <div class="row source-order">

                                            <div class="col-xs-3 no-wrap">
                                                <span>Supplier:</span>
                                                {% if item.supplier %}
                                                    <a {% if supplier.url %}
                                                        href="{{item.supplier.supplier_url|default:'#'}}" target="_blank"
                                                    {% else %}
                                                        href="#"
                                                    {% endif %}

                                                    {% if user.id == 883 and item.order_track %}
                                                        class="order-supplier-store"
                                                        source-order-id="{{item.order_track.source_id}}"
                                                    {% endif %}

                                                    >{{item.supplier.supplier_name|truncatechars:25}}</a>
                                                {% else %}
                                                    N/A
                                                {% endif %}
                                            </div>

                                            <div class="col-xs-3 line-order-id">
                                                Order ID:
                                                {% if item.order_track %}
                                                    <a class="placed-order-details" href="#" order-id="{{order.id}}"
                                                        source-order-id="{{item.order_track.source_id}}"
                                                        order-date="{{item.order_track.created_at|date:'N j, Y, P'}}"
                                                        line-id="{{item.id}}"
                                                        title="View Order Details">#{{item.order_track.get_source_ids}}</a>
                                                {% else %}
                                                    <a class="mark-as-ordered" href="#" store="{{order.store.id}}" order-id="{{order.id}}" line-id="{{item.id}}">Add</a>
                                                {% endif %}
                                            </div>
                                            <div class="col-xs-3 line-ordered">
                                                <span class="badge badge-{% if item.order_track or item.status.fulfilled or item.status.shipped %}primary{% else %}danger{% endif %}" style="width:15px;height:15px">&nbsp;</span>
                                                {% if item.order_track %}
                                                    <span class="ordered-status"
                                                    {% if item.order_track.source_id %}
                                                        title="{{original.source|title}} Order ID: #{{item.order_track.source_id}}"
                                                    {% endif %}
                                                        >Order Placed

                                                        {% if item.order_track.created_at %}
                                                        <span class="badge badge-default" style="background-color:#fff;color:#888;border:1px solid #eee;border-radius: 3px;">
                                                            {% date_humanize item.order_track.created_at %}
                                                        </span>
                                                        {% endif %}
                                                    </span>
                                                {% elif item.status.shipped %}
                                                    <span class="ordered-status">Shipped</span>
                                                {% elif item.status.fulfilled %}
                                                    <span class="ordered-status">Sent to Fulfillment</span>
                                                {% else %}
                                                    <span class="ordered-status">Not ordered</span>
                                                {% endif %}
                                            </div>
                                            <div class="col-xs-3 line-tracking">
                                                {% if item.order_track %}
                                                    <span class="badge badge-{{ item.order_track.get_source_status_color }}" style="width:15px;height:15px">&nbsp;</span>
                                                    {{item.order_track.get_source_status|default:'No Tracking Status'}}
                                                {% elif item.fulfillment_status != 'fulfilled' %}
                                                    <span class="badge badge-default" style="width:15px;height:15px">&nbsp;</span>
                                                    Not Tracked
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="row item">
                                            <div class="col-md-12 no-padding">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td class="product-preview">
                                                            {% if not item.is_bundle %}
                                                            <input class="line-checkbox" type="checkbox" style="position: absolute; top: 0px; left: 5px; ">

                                                            <img class="product-img cached-img no-img no-img-sm unveil"
                                                                store="{{store.id}}" product="{{image.product}}" variant="{{image.variant}}"
                                                                src="{% static 'img/blank.gif' %}"
                                                                {% if item.image %}
                                                                data-src="{{item.image}}"
                                                                {% endif %}
                                                                />

                                                            {% endif %}

                                                         </td>
                                                        <td>
                                                            {% if item.product %}
                                                            <a href="/chq/product/{{item.product.id}}" target="_blank" title="{{item.title}}">
                                                                {{item.title|truncatewords:9}}
                                                            </a>
                                                            {% else %}
                                                            <span title="{{item.title}}">
                                                                {{item.title|truncatewords:9}}
                                                            </span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center no-wrap" style="width:10%">
                                                            <a href="{{item.variant_link}}" target="_blank">{{item.variant.variant|join:" / "|default:'&lt;Default&gt;'}}</a>
                                                        </td>
                                                        <td class="text-center no-wrap" style="width:10%">
                                                            <span style="font-weight:bolder;{% if item.quantity > 1 %}color:blue{% endif %}">
                                                                {{item.quantity}}
                                                            </span>
                                                            &times;
                                                            <b>{% money_format item.price store %}</b>
                                                        </td>
                                                        <td class="text-center no-wrap" style="width:10%">
                                                            {% if item.is_bundle %}
                                                                <span class="badge badge-primary">Bundle</span>
                                                            {% elif item.dropwow_status and item.dropwow_status.error_message %}
                                                                <a class="place-order btn btn-warning btn-xs" href="#" store="{{store.id}}" order-id="{{order.id}}" line-id="{{item.id}}">Retry Auto Order</a>
                                                            {% else %}
                                                                {% include 'commercehq/partial/place_order_btn.html' %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center no-wrap" style="width:10%">
                                                            {% if item.shipped %}
                                                                <span class="badge badge-info">
                                                                    Shipped
                                                                </span>
                                                            {% elif item.fulfilled %}
                                                                <span class="badge badge-info">
                                                                    Fulfilled
                                                                </span>
                                                            {% else %}
                                                                <div class="btn-group dropup">
                                                                    <button data-toggle="dropdown" class="btn btn-success btn-outline btn-xs dropdown-toggle" aria-expanded="false">
                                                                        Unfulfilled
                                                                        <span class="caret"></span></button>

                                                                        <ul class="dropdown-menu pull-right">
                                                                            <li><a class="fulfill-btn" quantity="{{item.quantity}}" order-id="{{order.id}}" line-id="{{item.id}}" store="{{order.store.id}}" tracking-number="{{item.order_track.source_tracking}}">Fulfill in CommerceHQ</a></li>
                                                                        </ul>
                                                                    </div>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center no-wrap" style="width:10%">
                                                            {% if item.order_track and item.order_track.source_tracking %}
                                                            <a href="{{item.order_track.get_tracking_link}}" target="_blank">
                                                                {{item.order_track.source_tracking}}
                                                            </a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </thead>
                                            </table>
                                            {% if item.is_bundle %}
                                            <div class="well bundle-items" style="position: relative;">
                                                {% for bundle in item.bundles %}
                                                <div class="m-t-xs" style="display:flex">
                                                    <div>
                                                        <img class="product-img cached-img no-img no-img-sm unveil"
                                                            store="{{store.id}}" product="{{image.product}}" variant="{{image.variant}}"

                                                            {% if bundle.data.variant_image %}
                                                                src="{% shopify_image_thumb bundle.data.variant_image '32x32' 'center' %}"
                                                            {% elif bundle.data.image %}
                                                                src="{% shopify_image_thumb bundle.data.image '32x32' 'center' %}"
                                                            {% endif %} style="max-width: 32px;"/>
                                                    </div>

                                                    <div>
                                                        <a href="/product/{{bundle.product.id}}" target="_blank" title="{{bundle.product.title}}">
                                                            {{bundle.product.title|truncatewords:9}}
                                                        </a>
                                                    </div>

                                                    <div class="m-l">
                                                        <span class="badge">{{bundle.quantity}} &times; {{bundle.data.variant_title}}</span>
                                                    </div>

                                                    <div class="m-l">
                                                        <span class="badge badge-white">
                                                            <a {% if bundle.supplier.supplier_url %}
                                                                href="{{bundle.supplier.supplier_url|default:'#'}}" target="_blank"
                                                            {% else %}
                                                                href="#"
                                                            {% endif %}

                                                            >{{bundle.supplier.supplier_name|truncatechars:25}}</a>
                                                        </span>
                                                    </div>
                                                </div>
                                                {% endfor %}

                                                <button class="btn btn-success btn-xs order-bundle-btn"
                                                        store-type="chq"
                                                        style="position:absolute;right:25px;top:6px;"
                                                        >Order Bundle</button>
                                            </div>
                                            {% endif %}

                                            </div>
                                        </div>
                                    </div>

                                    {% endwith %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% empty %}

                        {% if api_error %}
                            <p class="text-center">CommerceHQ Error: {{api_error}}</p>
                            <p class="text-center">Please Try again in a few seconds by reloading the page.</p>
                        {% else %}
                            <h3 class="text-center">
                                No orders found.
                            </h3>
                            <p class="text-center">
                                Try adjusting your <a class="filter-btn" href="#">Filters</a> or
                                <a href="{% url_multi_replace status='any' fulfillment='any' financial='any' connected='false' awaiting_order='false' %}">
                                    {% if request.GET.query or query_order or request.GET.query_customer or request.GET.query_address %}
                                        Search in
                                    {% else %}
                                        View
                                    {% endif %}
                                    all Orders
                                </a>
                            </p>
                        {% endif %}
                        {% endfor %}
                    </div>

                    {% include "partial/paginator.html" %}
                </div>
            </div>
        </div>
    </div>

    {% cache 600 chq_shipping_carriers2 store.id %}
    {% include 'partial/fulfillment_modal.html' with notify=True shipping_carriers=shipping_carriers only %}
    {% endcache %}

<div id="shipping-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="m-t-none modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Choose Shipping Method</h4>
            </div>
            <div class="modal-body">
                <div class="shipping-info"></div>
            </div>
        </div>
    </div>
</div>

{% include "commercehq/partial/commercehq_product_selector.html" %}

{% endblock %}


{% block extracss %}

{% compress css %}
    <link href="{% static 'commercehq/css/orders_list.css' %}" rel="stylesheet">
{% endcompress %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">

    var user_filter = {
        sort: '{{ user_filter.sort }}',
        fulfillment: '{{ user_filter.fulfillment }}',
        financial: '{{ user_filter.financial }}',
    };

    var sub_conf = {
        key: "{% app_setting 'PUSHER_KEY' %}",
        channel: "{{store.pusher_channel}}",
    };
</script>

    <script src="//js.pusher.com/3.2/pusher.min.js"></script>

{% compress js %}
    <script src="{% static 'libs/bower_components/handlebars/handlebars.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'commercehq/js/commercehq_product_selector.js' %}"></script>
    <script type="text/javascript" src="{% static 'commercehq/js/orders_list.js' %}"></script>
{% endcompress %}

{% endblock %}

