{% load template_helper %}

<form id="top-search-form" role="search" class="navbar-form-custom" method="get"
    {% if searchable %}
        action="{{request.path}}"
    {% else %}
        action="{% url 'chq:products_list' %}"
    {% endif %}
>
    <div class="form-group">
        <div class="input-group">
            <a href="#" class="input-group-addon old-layout-hidden">
                <i class="fa fa-search"></i>
            </a>
            <input type="text" placeholder="{% if request.GET.store == 'c' %}Search connected products{% else %}Search imported products{% endif %}" class="form-control" name="title" id="top-search"
            {% if request.GET.title and request.GET.f %}
                   value="{% base64_decode_params request.GET.title %}"
            {% endif %}
            >
        </div>
        <input type="hidden" name="f" value="1">

        {% if request.GET.store %}
        <input type="hidden" name="store" value="{{request.GET.store}}">
        {% endif %}
    </div>
</form>

<script type="text/javascript">
    document.querySelector('#top-search-form .input-group-addon').addEventListener('click', function() {
        var inputGroup = document.querySelector('#top-search-form .input-group');
        var inputGroupClasses = inputGroup.className.split(' ');
        var openIndex = inputGroupClasses.indexOf('open');
        if (openIndex > -1) {
            inputGroupClasses.splice(openIndex, 1);
        } else {
            inputGroupClasses.push('open');
        }
        inputGroup.className = inputGroupClasses.join(' ');
    });
</script>
