{{ form.non_field_errors }}
<div class="form-group">
    <label>Title</label>
    {% if form.title.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.title.errors %}
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}<br />
            {% endfor %}
        </div>
    {% endif %}
    <input
        type="text"
        name="title"
        placeholder="Store name (optional)"
        class="form-control"
        value="{{ form.title.value }}" />
</div>
<div class="form-group">
    <label>API URL</label>
    {% if form.api_url.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.api_url.errors %}
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}<br />
            {% endfor %}
        </div>
    {% endif %}
    <input
        type="text"
        name="api_url"
        placeholder="your-shop-url.commercehq.com"
        class="form-control"
        value="{{ form.api_url.value }}" />
</div>
<div class="form-group">
    <label>API Key</label>
    {% if form.api_key.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.api_key.errors %}
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}<br />
            {% endfor %}
        </div>
    {% endif %}
    <input
        type="text"
        name="api_key"
        class="form-control"
        value="{{ form.api_key.value }}" />
</div>
<div class="form-group">
    <label>API Password</label>
    {% if form.api_password.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.api_password.errors %}
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}<br />
            {% endfor %}
        </div>
    {% endif %}
    <input
        type="text"
        name="api_password"
        class="form-control"
        value="{{ form.api_password.value }}" />
</div>
<div>
    <button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
        <strong>Add store</strong>
    </button>
</div>
